body.loading {
  background: radial-gradient(#ffffff, #e8ddcb, #e8ddcb);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.circle {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0px;
  margin: auto;
  border: 12px solid #212e4b;
  border-radius: 50%;
}
#vertical {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation: spin 4s linear infinite,pulse 0.47s linear infinite alternate;
  animation: spin 4s linear infinite,pulse 0.47s linear infinite alternate;
}
.circle:not(#vertical) {
  -webkit-animation: spin2 4s linear infinite,pulse 0.45s linear infinite alternate;
  animation: spin2 4s linear infinite,pulse 0.45s linear infinite alternate;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
@-webkit-keyframes spin2 {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
@keyframes spin2 {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes pulse {
  0% {
    width: 10px;
    height: 400px;
  }
  100% {
    width: 300px;
    height: 10px;
  }
  0% {
    width: 10px;
    height: 400px;
  }
}
@keyframes pulse {
  0% {
    width: 10px;
    height: 400px;
  }
  100% {
    width: 100px;
    height: 10px;
  }
  0% {
    width: 10px;
    height: 400px;
  }
}

.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0px;
  margin: auto;


  width: 100px;
  height: 100px;

}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}