.table-striped.green-table > tbody > tr:nth-child(2n+1) > td,
.table-striped.green-table > tbody > tr:nth-child(2n+1) > th {
  background:#dff0d8;
}

table.simulator {
    width: 100%;
    border-collapse: collapse;
}

table.simulator,
table.simulator > th {
    border: 1px solid black;
    font-size: 11px;
}

.no-border {
    border: 0px;
    border-right: 1px solid black;
}

.border-title {
    border-left: 1px solid black;
}

.tbl-bg {
    background: #F5F5F5 !important;
    -webkit-print-color-adjust: exact;
}

.bg-green {
    background: #85C82B !important;
    -webkit-print-color-adjust: exact;
}

md-switch.md-checked.md-primary .md-thumb {
    background-color: rgb(65, 140, 228)!important;
}

md-switch.md-checked.md-primary .md-bar {
    background-color: rgba(65, 140, 228, 0.5)!important;
}

.table-xstriped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(232, 232, 232, 0.75);
}

#table-list>thead>tr>th.filter {
    padding: 3px;
}

.sst-comment {
    //border: solid 2px rgba(0, 0, 0, 0.18);
    //padding: 8px;
    // background: rgba(100, 190, 216, 0.06);
}

.barred {
    text-decoration: line-through;
}

span.badge {
    border: 0px!important;
}


/*#tbody-list>tr {
    transition: background 2s;
}*/

[list-justify] {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

[no-click] {
    pointer-events: none
}

.sticky-footer {
    position: fixed;
    padding-top: 2px;
    z-index: 1000;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    height: 40px;
    bottom: 0;
    background-color: white;
    width: 100%;
}

.flash {
    background: rgba(125, 255, 125, 0.48)!important;
}

.hide-sidebar {}

.spacer,
.spacer-md {
    height: 0.5cm;
}

.rotate {
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.rotate-90 {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.spacer-lg {
    height: 0.7cm;
}

.spacer-xl {
    height: 1cm;
}

body {
    zoom: 100%!important;
}

.spacer-sm {
    height: 0.3cm;
}

.spacer-xs {
    height: 0.2cm;
}

.spacer-xxs {
    height: 0.1cm;
}

.spacer-xxxs {
    height: 0.05cm;
}

[strong] {
    font-weight: bold;
}

.display-block {
    display: block;
}

[inline-block] {
    display: inline-block;
}

[bold] {
    font-weight: bold;
}

[center] {
    text-align: center
}

[no-margin] {
    margin: 0px!important;
}

[align-right] {
    text-align: right!important;
}

[align-left] {
    text-align: left!important;
}

[underlined] {
    text-decoration: underline;
}

[left] {
    float: left;
}

[right] {
    float: right;
}

[text-xxxxs] {
    font-size: 8px!important;
}

[text-xxxs] {
    font-size: 10px!important;
}

[text-xxs] {
    font-size: 11px!important;
}

[text-xs] {
    font-size: 12px!important;
}

[text-sm] {
    font-size: 13px!important;
}

[text-md] {
    font-size: 14px!important;
}

[text-lg] {
    font-size: 15px!important;
}

[text-bg] {
    font-size: 16px!important;
}

[text-xl] {
    font-size: 17px!important;
}

[text-xxl] {
    font-size: 18px!important;
}

[text-xxxl] {
    font-size: 19px!important;
}

[text-xxxl] {
    font-size: 20px!important;
}

[text-xxxxl] {
    font-size: 25px!important;
}

.content-wrapper {
    padding: 64px 0px 0px!important;
}

.listeInterventions {
    overflow: hidden;
    padding: 12px;
    padding-bottom: 21px;
    min-height: 400px;
}

.shadow-box {
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.bold {
    font-weight: bold;
}

.textWhite {
    color: white!important;
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    max-width: ##;
}

@media only screen and (max-width: 1350px) {
    .container.intervention {
        max-width: 900px!important;
    }
}

.container.intervention {
    max-width: 12000px;
}


/*.autocompletedemoCustomTemplate .autocomplete-custom-template>li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
}

.autocompletedemoCustomTemplate .autocomplete-custom-template>li:last-child {
    border-bottom-width: 0;
}

.autocompletedemoCustomTemplate .autocomplete-custom-template>li>.item-title,
.autocompletedemoCustomTemplate .autocomplete-custom-template>li> .item-metadata {
    display: block;
    line-height: 2;
}

.autocompletedemoCustomTemplate .autocomplete-custom-template>li> .item-title md-icon {
    height: 18px;
    width: 18px;
}

.md-autocomplete-suggestions {
    display: block!important;
}
*/

.deleted {
    display: none;
}

.dropdown__menu--is-dropped {
    z-index: 999999;
}

md-content.autocomplete {
    position: absolute;
    background: transparent;
    z-index: 75;
    height: 100%;
    pointer-events: none;
}

md-autocomplete {
    pointer-events: all;
}

md-autocomplete > ul {
    pointer-events: all;
}

#content-wrapper {
    padding: 0px 18px 18px!important;
}

md-autocomplete.searchBar {
    margin-top: 3px;
    margin-right: 40px;
    -webkit-transition: width .18s ease-in;
    -moz-transition: width .18s ease-in;
    -o-transition: width .18s ease-in;
    transition: width .18s ease-in;
}

#static-map:hover {
    -webkit-filter: brightness(0.3)
}

#static-map {
    transition: -webkit-filter 0.1s linear;
}

td {
    padding-left: 5px;
    padding-right: 5px;
    width: 1px;
    white-space: nowrap;
}

td[variable-length] {
    text-align: left;
    width: auto;
    padding: 0;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select-style.text-field {
    padding-top: 12px!important;
    margin: 0;
    top: -9px;
    border: 0px solid #ccc;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff url("/img/arrowdown.gif") no-repeat 90% 73%;
}

.select-style select {
    cursor: pointer;
    padding: 5px 0px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style > label {
    position: absolute;
    color: rgba(0, 0, 0, 0.56);
    top: 19px!important;
    pointer-events: none;
}

.select-style > label.selected {
    font-size: 9px;
    top: 0px!important;
}

.date-picker > label {
    font-size: 9px;
    color: rgba(0, 0, 0, .26);
    pointer-events: none;
}

.date-picker {
    padding-top: 17px!important;
}

.date-picker > input {
    height: 100%;
    margin-bottom: 8px;
    border: none;
    width: 100%;
    cursor: pointer;
}

md-checkbox {
    margin: 0px!important;
    padding-top: 11px;
}

md-checkbox:focus .md-label:not(:empty) {
    border: none;
}

.notification {
    left: 24px!important;
    right: initial!important;
}

input,
select,
textarea {
    font-weight: 500!important;
    font-size: 15px!important;
}

span[md-highlight-text] {
    position: relative!important;
    right: 0!important;
    bottom: 0!important;
    left: 0!important;
}

.info-ext>p {
    white-space: normal;
}

tr.products>td {
    white-space: normal;
}

div.pad-paragraph {
    padding-left: 33px;
    padding-right: 33px;
}

ul>presentation {
    margin-left: 0px!important;
}

.editable-click,
a.editable-click {
    border-bottom: 0!important;
}

.card__actions>text-field::before {
    display: none!important;
}

.card {
    overflow: visible!importan;
}

.md-dialog: {
    opacity: 1!important;
}

.lx-select {
    margin-top: 8px!important;
}

md-checkbox.md-default-theme.md-checked .md-icon {
    background: rgba(33, 150, 243, 1)
}

.select-style-neutral > select {
    cursor: pointer;
    padding: 5px 0px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

label.text-field__label,
.text-field>label {
    color: rgba(0, 0, 0, 0.56);
}

.tc-black-2 {
    color: rgba(0, 0, 0, 0.66)!important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(232, 232, 232, 0.75)!important;
}

.text-field {
    padding-top: 0px!important;
}

.text-field:not(.select-style)>label {
    top: -22px!important;
}

map.big-map {
    height: 500px!important;
}

#service-intervention>ul {
    margin-left: -19px;
}

.card.margin {
    margin-bottom: 21px;
}

small {
    font-size: 75%!important;
}

.greyed {
    background-color: #f9f9f9;
}

.contactSize.col-sm-4>div {
    height: 670px;
    overflow: scroll;
}

.menu-tabs {
    height: 45px;
    background: white;
    position: fixed;
    width: 86%;
    overflow: hidden;
    margin-left: -17px;
    margin-top: -12px;
    z-index: 999;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.39);
}

md-pagination-wrapper {
    position: absolute!important;
}

md-tab-item>a:active,
md-tab-item>a:hover,
md-tab-item>a:visited,
md-tab-item>a:link {
    text-decoration: none;
}

* {
    outline: none!important;
}

li>a:hover,
li>a:focus {
    text-decoration: none!important;
}

md-tab-item[aria-selected="true"] {
    background-color: rgba(177, 177, 177, 0.10);
}

ul.md-autocomplete-suggestions {
    z-index: 1000;
}

.switch__input:checked+.switch__label.switch_red:before {
    background-color: #ef9a9a;
}

.switch__input:checked+.switch__label.switch_red:after {
    /*     background-color: #009688;*/
    background-color: #f44336;
}

.md-autocomplete-suggestions {
    max-height: 480px !important;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown2-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown2:hover .dropdown2-content {
    display: block;
}
.dropdown2-hover:hover {
    background: #418CE4;
}

@media not all and (min-width:480px) {
    .page-header {
	padding-right: 0px;
    }
    
    #content-wrapper {
	margin-left:16px;
    }
    
    #main-menu ,#main-menu-bg {
	left:0;
	width:56px
    }
    #main-menu .menu-content,#main-menu .navigation>.mm-dropdown.open>ul,#main-menu .navigation>li>a>.badge,#main-menu .navigation>li>a>.label,#main-menu .navigation>li>a>.mm-text {display:none}
    #main-menu {
	height:auto;
	overflow:visible;
	position:absolute
    }
    #main-menu .navigation>li {width:auto}
    .mme #main-menu .navigation>li,.mme #main-menu-bg {width:240px}
    #main-menu .navigation>li>a {text-align:center}
    #main-menu .navigation>li>a>.menu-icon {margin:0}
    #main-menu .navigation>.mm-dropdown>a {padding-right:14px}
    #main-menu .navigation>.mm-dropdown>a:before {right:7px}
    .main-menu-right #main-menu .navigation>.mm-dropdown>a:before {
	content:"\f104";
	left:7px;
	right:auto
    }
    #main-menu .navigation>.mm-dropdown.open>a:before {
	-moz-transform:rotate(0);
	-o-transform:rotate(0);
	-webkit-transform:rotate(0);
	-ms-transform:rotate(0);
	transform:rotate(0)
    }
    .mme #main-menu {
	overflow:hidden;
	width:240px
    }
    .mme #main-menu .navigation>li>a {text-align:left}
    .mme #main-menu .navigation>li>a:before {right:14px}
    .mme #main-menu .navigation>li>a>.menu-icon {margin-right:5px}
    .mme #main-menu .navigation>li>a>.badge,.mme #main-menu .navigation>li>a>.label {display:block}
    .mme #main-menu .navigation>li>a>.mm-text {display:inline}
    .mme #main-menu .menu-content,.mme #main-menu .navigation>.mm-dropdown.open>ul {display:block}
    .mme #main-menu .navigation>.mm-dropdown>a {padding-right:30px}
    .mme #main-menu .navigation>.mm-dropdown.open>a:before {
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg)
    }
    .mme.main-menu-right #main-menu .navigation>.mm-dropdown>a:before {
	content:"\f105";
	left:auto;
	right:14px
    }
}