<head>
	<title>Test</title>
	<style type="text/css">
		body {
			text-align: justify;
			font-family: Helvetica, Sans-Serif;
			}
			.recap {
			    width: 60%;
    			margin-left: 20%;
				padding-top: 10px;
				padding-bottom: 10px;
				margin-top: 55%;
				text-align: center;
				font-weight: bold;
				font-size: 18px;
				border: solid 1px #000000;
				background-color: darkgrey;
			}
			.header {
				margin-top: -25px;
				height: 150px;
			}
			.footer {
				text-align: center;
				font-size: 12px;
				position: absolute;
				top: 98%;
				bottom: 0;
			    right: 0;
    			left: 0;
			}
			.logoImg{
				width: 350px;
				margin-top: -70px;
				float: left;
			}
			.barCodeImg{
				height: 90px;
				float: right;
				margin-right: 90px;
				margin-top: 30px;
			}
			.textHeader{
				position: absolute;
   				right: 200px;
    			font-size: 12px;
			    margin-top: 15px;
			}
		} 
	</style>
</head>
<body>
	<div class="header">
		<img class="logoImg" src="C:\Users\infor\Documents\EdisonServicesStage\HtmlToPDF\images\logo.png">
		<img class="barCodeImg" src="C:\Users\infor\Documents\EdisonServicesStage\HtmlToPDF\images\barCodeOnly.png">
		<div class="textHeader">$SST</div>
	</div>
	<div class="recap">Annexe° 3 : Tableau récapitulatif des ordres de services impayés</div><br><br>
	<footer class="footer">
		Siège social : 42, rue de Maubeuge 75009 Paris - 753 805 035 00064 - 4321A - FR88753805035 - Tél.0 805 690 720
	</footer>
</body>