<div id="expended" style="height:auto">
    <div class="row">
        <div class="col-sm-4 info-ext" ng-if="_model === 'intervention'||_model === 'devis'">
            <p bold text-xxl underlined>Coordonnées client</p>
            <p>{{client.civilite}} {{client.prenom}} {{client.nom}}</p>
            <p>{{client.address.n}} {{client.address.r}}, </p>
            <p>{{client.address.cp}} {{client.address.v}}</p>
            <p ng-if="_model === 'intervention'" strong>{{data.description}}</p>
            <p ng-if="_model === 'intervention'"><span strong>{{data.prixAnnonce.toFixed(2) || 0.00}} €<span ng-if="data.prixFinal"> -> {{data.prixFinal.toFixed(2)}} € </span></span>
                ({{data.reglementSurPlace ? 'Reglement sur place' : ' Reglement par facture'}} - {{data.modeReglement}})
            <p ng-if="_model === 'intervention'">
            </p>
            <p ng-if="_model === 'intervention' && !data.reglementSurPlace" bold text-xxl underlined>Coordonnées Facturation</p>
            <div ng-if="!data.reglementSurPlace && data.facture.nom && data.facture.address.r">
              <p>{{data.facture.prenom}} {{data.facture.nom}} ({{config.typePayeurObj[data.facture.payeur]}})</p>
              <p>{{data.facture.address.n}} {{data.facture.address.r}}, {{data.facture.address.cp}} {{data.facture.address.v}}</p>
            </div>
            <div ng-if="_model === 'intervention' && !data.reglementSurPlace && !data.facture.nom && !data.facture.r ">
              <p>FACTURE À FAIRE</p>
            </div>
            <div ng-if="_model === 'intervention' && data.aDemarcher">
              <br>
              <p>[A DEMARCHER]</p>
            </div>
            <p ng-if="_model === 'devis'">
              {{produits.flagship().title}} ({{produits.flagship().pu}} €)
            </p>
            <p ng-if="_model === 'devis'">
              {{data.produits.length}} Produits ( {{::produits.total()}} €)
            </p>
            <!--      <p ng-if="_model === 'intervention' && data.status === 'ANN' && data.ca "strong>Annulation:</strong> {{data.ca.long_name}}</p> -->
	    <br>
	    <p ng-if="numbers.n1" bold text-xxl underlined>Journal d'appel du: {{numbers.n1.number}}</p>
	    <info-ovh ng-if="numbers.n1" data="numbers.n1" embedded="true"></info-ovh>
        </div>
        <div ng-if="_model === 'intervention'" class="col-sm-4 info-ext">
          <div style="min-height: 147px;padding-top:3px">
                <p bold text-xxl underlined>Historique</p>
                <p ng-if="data.devisOrigine.id">Devis <a ng-click="Devis(data).devisPreview()">{{data.devisOrigine.id}}</a> ajouté le {{data.devisOrigine.date.ajout | date:"dd/MM/yy à HH'h'mm"}} par {{data.devisOrigine.login.ajout}}
                </p>
                <p>Ajouté le {{data.date.ajout | date:"dd/MM/yy à HH'h'mm"}} par {{data.login.ajout}}</p>
                <p ng-if="data.date.demarchage">Demarcher le {{data.date.demarchage | date:"dd/MM/yy à HH'h'mm"}} par {{data.login.demarchage}}</p>
                <p ng-if="data.date.envoi">Envoyé le {{data.date.envoi | date:"dd/MM/yy à HH'h'mm"}} par {{data.login.envoi}}</p>
                <p ng-if="data.date.intervention">Intervention le {{data.date.intervention | date:"dd/MM/yy à HH'h'mm"}} par <a href="/artisan/{{data.sst.id}}/recap">{{data.sst.nomSociete}}</a></p>
                <p ng-if="data.date.envoiFacture"><a ng-click="Intervention(data).facturePreview()">Facture</a> envoyé le {{data.date.envoiFacture | date:"dd/MM/yy à HH'h'mm"}} par {{data.login.envoiFacture || 'inconnu'}}</p>
                <p ng-if="data.date.verification">Verifié le {{data.date.verification | date:"dd/MM/yy à HH'h'mm"}} par {{data.login.verification || 'inconnu'}}</p>
		<p ng-if="data.fournfile">{{data.fournfile}} le {{data.fourndate | date:"dd/MM/yy à HH'h'mm"}} par {{data.fournpar || 'inconnu'}}</p>
                <p ng-if="data.compta.reglement.recu">Réglement encaissé le {{data.compta.reglement.date | date:"dd/MM/yy à HH'h'mm"}} par {{data.compta.reglement.login}}</p>
                <p ng-if="data.compta.paiement.effectue">Paiement éffectué le {{data.compta.paiement.date | date:"dd/MM/yy à HH'h'mm"}} par {{data.compta.paiement.login}}</p>
                <p ng-if="data.status === 'ANN' && data.date.annulation">Annulé le {{data.date.annulation | date:"dd/MM/yy à HH'h'mm"}} par {{data.login.annulation}} <i ng-if="data.causeAnnulation">({{config.getCauseAnnulation(data.causeAnnulation).long_name}})</i></p>
                <p ng-if="data.litige.opened">Litige Ouvert le {{data.litige.opened | date:"dd/MM/yy à HH'h'mm"}} par {{data.litige.openedBy}} <u text-xs>({{data.litige.description}})</u></p>
                <p ng-if="data.litige.closed">--> Fermé le {{data.litige.closed | date:"dd/MM/yy à HH'h'mm"}} par {{data.litige.closedBy}}</p>
                <button ng-if="data.recouvrement.level === 1" class="btn--no-conflicts btn--m yellow btn--raised" lx-ripple>Facture Recu</button>
                <button ng-if="data.recouvrement.level === 2" class="btn--no-conflicts btn--m red btn--raised" lx-ripple>Litige</button>
                <button ng-if="data.recouvrement.level === 3" class="btn--no-conflicts btn--m blue btn--raised" lx-ripple>Reglement Envoyé</button>
		<button ng-if="data.recouvrement.level === 4" class="btn--no-conflicts btn--m purple btn--raised" lx-ripple>Chèque Perdu</button>
		<p ng-repeat="elems in data.date.modifs">Modifié le {{elems.date | date:"dd/MM/yy à HH'h'mm"}} par {{elems.login}}</p>
    </div>
    <div ng-if="data.cache.f.i_avr == 1 && data.cache.s == 3" class="col-sm-4 info-ext">
        <p bold text-xxl underlined>Mise à jour</p>
        <p>par <a href="/artisan/{{data.sst.id}}/recap">{{data.sst.nomSociete}}</a></p>
        <p>contenu maj</p>
        <button>Oui</button>
        <button>Non</button>
    </div>
    <br>
	<p ng-if="numbers.n2" bold text-xxl underlined>Journal d'appel du: {{numbers.n2.number}}</p>
        <info-ovh ng-if="numbers.n2" data="numbers.n2" embedded="true"></info-ovh>
    </div>
        <div ng-if="_model === 'devis'" class="col-sm-4 info-ext">
            <div ng-init="hist_title = ['Ajouté', '1er Envoi', 'Relance n°1', 'Relance n°2']">
                <!--  <pre>
                  {{data.produits}}
                </pre> -->
                <p>
                    <strong> {{hist_title[0]}} </strong> le {{data.date.ajout|date:"dd/MM/yy à HH'h'mm"}} par {{data.login.ajout}}
                </p>
                <p ng-if="hist.length >= 1">
                    <strong> {{hist_title[1]}} </strong> le {{hist[0].date|date:"dd/MM/yy à HH'h'mm"}} par {{hist[0].login}}
                </p>
                <p ng-if="hist.length >= 2">
                    <strong> {{hist_title[2]}} </strong> le {{hist[1].date|date:"dd/MM/yy à HH'h'mm"}} par {{hist[1].login}}
                </p>
                <p ng-if="hist.length >= 3">
                    <strong> {{hist_title[3]}} </strong> le {{hist[2].date|date:"dd/MM/yy à HH'h'mm"}} par {{hist[2].login}}
                </p>
            </div>
	    <br>
            <p ng-if="numbers.n2" bold text-xxl underlined >Journal d'appel du: {{numbers.n2.number}}</p>
            <info-ovh ng-if="numbers.n2" data="numbers.n2" embedded="true"></info-ovh>
        </div>
        <div ng-if="_model === 'artisan'" class="col-sm-2">
            <div>
                <h4>Artisan</h4>
                <br>
                <div class="ct-chart" style="height:240"></div>
                <p ng-if="artisan.demandeFacturier.pending">
                    <strong>Demande de facturier</strong> par {{artisan.demandeFacturier.login}} le {{artisan.demandeFacturier.date| date:"MM/dd/yyyy 'à' HH'h'mm"}}
                </p>
            </div>
        </div>
        <div ng-if="_model === 'artisan'" class="col-sm-4">
            Gains depuis le {{artisan.date.ajout|date:"dd/MM/yyyy"}} (représente la totalité des paiement effectué) :
            <div class="md-display-2"> {{(vm.stats.paye.paye)|frnbr}} €</div>
            <br> Chiffre d’affaire (représente la totalité des montants:
            <div class="md-display-2"> {{(vm.stats.paye.final)|frnbr}} €</div>
        </div>
        <div ng-if="_model === 'artisan'" class="col-sm-3">
            <span class="label" style="width:100px;margin-top:5px;display:block" ng-class="{'green':artisan.document[file].ok, 'red':!artisan.document[file].ok}" ng-repeat="(k, file) in config.artisanFiles" ng-if="file == 'contrat' || file == 'kbis' || file == 'cni' || file == 'rib'">{{file}}</span> </span>
        </div>
        <div class="col-sm-4 hidden-sm hidden-xs hidden-md" ng-if="_model === 'devis' && data.produits.length">
	  <li style="white-space: normal;" ng-repeat="p in data.produits">{{p.ref}} - {{p.title}} : {{p.quantite}} x {{p.pu}}€
	  </li>
	</div>
        <div class="col-sm-4 hidden-sm hidden-xs hidden-md" ng-if="data.appels.length || data.conversations.length">
            <p ng-if="data.conversations.length" bold text-xxl underlined>Conversations Client</p>
            <li ng-repeat="v in data.conversations| orderBy:'_id'">{{v.poste}} - {{v._id|date:"dd/MM/yy à HH'h'mm"}} - {{v.duration}} Sec - {{v.status}}
                <br>
                <audio preload="none" style=";width: 90%;" controls ng-init="v.audioFile = '/api/conversation/' + v._id + '/get'">
                    <source ng-src="{{v.audioFile}}" type="audio/mpeg">
                </audio>
                <a target="_blank" href="{{v.audioFile}}" download> <i style="color:black" class="fa fa-2x fa-download"></i></a>
            </li>
            <p ng-if="data.appels.length" bold text-xxl underlined>Conversations Sous-traitants</p>
            <info-appel-sst ng-if="data.appels.length" data="data" embedded="true"></info-appel-sst>
	    <br>
            <p ng-if="numbers.n3" bold text-xxl underlined>Journal d'appel du: {{numbers.n3.number}}</p>
            <info-ovh ng-if="numbers.n3" data="numbers.n3" embedded="true"></info-ovh>
        </div>
	<div class="col-sm-4 hidden-sm hidden-xs hidden-md" ng-if="!(data.appels.length || data.conversations.length)">
          <p ng-if="numbers.n3" bold text-xxl underlined>Journal d'appel du: {{numbers.n3.number}}</p>
          <info-ovh ng-if="numbers.n3" data="numbers.n3" embedded="true"></info-ovh>
	</div>
        <div class="col-sm-3 hidden-sm hidden-xs hidden-md" ng-if="address && address.lt && !(data.appels.length || !data.appels.conversations)">
            <img style="height: auto;width: 411px;" ng-src="{{getStaticMap()}}" class="img-thumbnail" />
        </div>
    </div>
</div>
