<html>
  <head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
      <!--
span.cls_003{font-family:Arial,serif;font-size:15.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:15.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:15.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:15.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_002{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:12.5px;color:rgb(142,189,28);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:12.5px;color:rgb(142,189,28);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_010{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
	-->
    </style>
    <script type="text/javascript" src="CHEQUE IMPAYE SANS PROVISION_files/wz_jsgraphics.js"></script>
  </head>
  <body>
    <div style="position:absolute;left:50%;margin-left:-373px;top:0px;width:747px;height:1054px;overflow:hidden">
      <div style="position:absolute;left:0px;top:0px">
	<img src="https://www.dropbox.com/s/xoonix4cbseofux/Cheque%20sans%20provisions.jpg?raw=1" width=747 height=1054></div>
      <div style="position:absolute;left:69px;top:30px">
	<img src="https://www.dropbox.com/s/13czd5k4ggwkrk8/Logo%20EDISON.png?raw=1" width=151 height=115></div>
      <div style="position:absolute;left:473.55px;top:183.31px" class="cls_003"><span class="cls_003">{{client.civilite}} {{client.nom}} {{client.prenom}}</span></div>
      <div style="position:absolute;left:473.55px;top:197.76px" class="cls_003"><span class="cls_003">{{client.address.n}} {{client.address.r}}</span></div>
      <div style="position:absolute;left:473.55px;top:212.07px" class="cls_003"><span class="cls_003">{{client.address.cp}} {{client.address.v}}</span></div>
      <div style="position:absolute;left:473.55px;top:255.44px" class="cls_002"><span class="cls_002">A Clichy, le </span><span class="cls_003">{{date2}}</span></div>
      <div style="position:absolute;left:88.88px;top:358.64px" class="cls_004"><span class="cls_004">LETTRE RECOMMANDÉE AVEC AR</span></div>
      <div style="position:absolute;left:88.88px;top:404.57px" class="cls_002"><span class="cls_002">Objet : Mise en demeure</span></div>
      <div style="position:absolute;left:88.88px;top:476.71px" class="cls_002"><span class="cls_002">Madame Monsieur,</span></div>
      <div style="position:absolute;left:88.88px;top:505.48px" class="cls_002"><span class="cls_002">Nous vous informons avoir encaissé votre chèque en règlement de la facture n°</span><span class="cls_004">{{id}}</span><span class="cls_002"></span></div>
      <div style="position:absolute;left:88.88px;top:519.93px" class="cls_002"><span class="cls_002">pour un montant total de</span><span class="cls_004"> {{compta.reglement.montantTTC}} €</span><span class="cls_002">.</span></div>
      <div style="position:absolute;left:88.88px;top:549.00px" class="cls_002"><span class="cls_002">Cependant notre établissement financier nous informe par un avis de rejet, que votre chèque est</span></div>
      <div style="position:absolute;left:88.88px;top:563.31px" class="cls_002"><span class="cls_002">revenu pour défaut ou insuffisance de provisions</span></div>
      <div style="position:absolute;left:88.88px;top:592.25px" class="cls_002"><span class="cls_002">Nous vous mettons donc en demeure de bien vouloir nous recontacter sous 8 jours afin de déterminer</span></div>
      <div style="position:absolute;left:88.88px;top:606.70px" class="cls_002"><span class="cls_002">une nouvelle date d’encaissement.</span></div>
      <div style="position:absolute;left:88.88px;top:635.47px" class="cls_002"><span class="cls_002">Dans le cas de difficultés financières notre société autorise les paiements en 3 mensualités à répartir</span></div>
      <div style="position:absolute;left:88.88px;top:649.93px" class="cls_002"><span class="cls_002">sur une durée pouvant atteindre 3 mois. Dans cette hypothèse nous vous remercions de bien vouloir</span></div>
      <div style="position:absolute;left:88.88px;top:664.38px" class="cls_002"><span class="cls_002">nous renvoyer 3 chèques d'un montant total de la facture majorée de 25,60€ de frais d’impayée et de</span></div>
      <div style="position:absolute;left:88.88px;top:678.84px" class="cls_002"><span class="cls_002">gestion de dossier</span></div>
      <div style="position:absolute;left:88.88px;top:707.76px" class="cls_002"><span class="cls_002">Sans réponse de votre part, nous ne manquerons pas de ré-encaisser votre chèque sans provisions</span></div>
      <div style="position:absolute;left:88.88px;top:722.06px" class="cls_002"><span class="cls_002">afin de faire ficher votre compte en Banque De France. Nous vous rappelons que cette action aurait</span></div>
      <div style="position:absolute;left:88.88px;top:736.52px" class="cls_002"><span class="cls_002">pour but de faire valoir votre interdiction bancaire pendant une durée de 5 ans.</span></div>
      <div style="position:absolute;left:88.88px;top:765.44px" class="cls_002"><span class="cls_002">Nous vous prions d’agréer madame, monsieur, nos salutations distinguées.</span></div>
      <div style="position:absolute;left:72px;top:837.31px" class="cls_006"><span class="cls_006">SIEGE SOCIAL</span></div>
      <div style="position:absolute;left:43px;top:852.07px" class="cls_007"><span class="cls_007">32 rue Fernand Pelloutier</span></div>
      <div style="position:absolute;left:93px;top:865.32px" class="cls_007"><span class="cls_007">92110 CLICHY</span></div>
      <div style="position:absolute;left:473.55px;top:880.98px" class="cls_002"><span class="cls_002">Monsieur BARRIERE D.</span></div>
      <div style="position:absolute;left:102.89px;top:891.83px" class="cls_006"><span class="cls_006">CONTACT</span></div>
      <div style="position:absolute;left:473.55px;top:895.29px" class="cls_010"><span class="cls_010">Responsable recouvrement</span></div>
      <div style="position:absolute;left:64.31px;top:906.44px" class="cls_007"><span class="cls_007">Tél.</span></div>
      <div style="position:absolute;left:90.78px;top:906.44px" class="cls_007"><span class="cls_007">09.72.45.27.09</span></div>
      <div style="position:absolute;left:56.32px;top:919.69px" class="cls_007"><span class="cls_007">Fax.</span></div>
      <div style="position:absolute;left:90.75px;top:919.69px" class="cls_007"><span class="cls_007">09.72.39.33.46</span></div>
      <div style="position:absolute;left:40.5px;top:947.70px" class="cls_007"><span class="cls_007"> </span><A HREF="http://www.edison-services.fr/">www.edison-services.fr</A> </div>
      <div style="position:absolute;left:27.26px;top:960.95px" class="cls_007"><span class="cls_007">contact@edison-services.fr</span></div>
      <div style="position:absolute;left:650.57px;top:991.37px" class="cls_007"><span class="cls_007">Page 1 sur 1</span></div>
      <div style="position:absolute;left:32px;top:1000.56px" class="cls_008"><span class="cls_008">Edison Services S.A.R.L</span></div>
      <div style="position:absolute;left:32px;top:1013.96px" class="cls_009"><span class="cls_009">Capital social - 4 000 euros</span></div>
      <div style="position:absolute;left:7px;top:1025.56px" class="cls_009"><span class="cls_009">RCS PARIS- 753 805 035 00064</span></div>
    </div>

  </body>
</html>
