<html>
  <head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
      <!--
span.cls_003{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_002{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:12.5px;color:rgb(142,189,28);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:12.5px;color:rgb(142,189,28);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_015{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_015{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:12.5px;color:rgb(45,45,45);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:12.5px;color:rgb(45,45,45);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:12.5px;color:rgb(142,189,28);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_010{font-family:Arial,serif;font-size:12.5px;color:rgb(142,189,28);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_011{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_013{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_013{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_014{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_014{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
	-->
    </style>
    <script type="text/javascript" src="LETTRE PERDU SANS INFORMATIONS_files/wz_jsgraphics.js"></script>
  </head>
  <body>
    <div style="position:absolute;left:50%;margin-left:-377px;top:-3px;width:748px;height:1050px;border-style:outset;overflow:hidden">
      <div style="position:absolute;left:0px;top:0px">
	<img src="https://www.dropbox.com/s/5srs01wn68iumyh/page_001.jpg?raw=1" width=748 height=1050></div>
      <div style="position:absolute;left:102px;top:48px">
	<img src="https://www.dropbox.com/s/13czd5k4ggwkrk8/Logo%20EDISON.png?raw=1" width=151 height=115></div>
      <div style="position:absolute;left:372.06px;top:161.28px" class="cls_003"><span class="cls_003">{{client.civilite}} {{client.nom}} {{client.prenom}}</span></div>
      <div style="position:absolute;left:372.06px;top:175.53px" class="cls_003"><span class="cls_003">{{client.address.n}} {{client.address.r}}</span></div>
      <div style="position:absolute;left:372.06px;top:189.93px" class="cls_003"><span class="cls_003">{{client.address.cp}} {{client.address.v}}</span></div>
      <div style="position:absolute;left:372.06px;top:233.13px" class="cls_002"><span class="cls_002">A Clichy, le </span><span class="cls_003">{{date2}}</span></div>
      <div style="position:absolute;left:88.53px;top:333.63px" class="cls_009"><span class="cls_009">LETTRE RECOMMANDÉE AVEC AR</span></div>
      <div style="position:absolute;left:88.53px;top:420.06px" class="cls_002"><span class="cls_002">Madame, Monsieur,</span></div>
      <div style="position:absolute;left:88.53px;top:463.26px" class="cls_002"><span class="cls_002">Suite à notre intervention de {{test}}, vous avez adressé à la société EDISON services un chèque</span></div>
      <div style="position:absolute;left:88.53px;top:477.66px" class="cls_002"><span class="cls_002">d’un montant de {{compta.reglement.montantTTC}}, émis en paiement de la facture {{id}}.</span></div>
      <div style="position:absolute;left:88.53px;top:506.31px" class="cls_002"><span class="cls_002">En raison des difficultés rencontrées par les services postaux dans l’acheminement du courrier, nous</span></div>
      <div style="position:absolute;left:88.53px;top:520.71px" class="cls_002"><span class="cls_002">n’avons pas reçu votre chèque.</span></div>
      <div style="position:absolute;left:88.53px;top:549.51px" class="cls_002"><span class="cls_002">Afin que vous puissiez faire oppositions sur le précédent chèque, vous trouverez ci-joint une lettre de</span></div>
      <div style="position:absolute;left:88.53px;top:563.91px" class="cls_002"><span class="cls_002">désistement concernant la provision constituée par ce chèque.</span></div>
      <div style="position:absolute;left:88.53px;top:592.59px" class="cls_002"><span class="cls_002">Nous restons disponibles pour toutes demandes d’informations complémentaires et vous prions</span></div>
      <div style="position:absolute;left:88.53px;top:606.99px" class="cls_002"><span class="cls_002">d’agréer, Madame, Monsieur, nos salutations distinguées.</span></div>
      <div style="position:absolute;left:407.49px;top:794.94px" class="cls_002"><span class="cls_002">Monsieur BARRIERE D.</span></div>
      <div style="position:absolute;left:407.49px;top:809.34px" class="cls_010"><span class="cls_010">Responsable recouvrement</span></div>
      <div style="position:absolute;left:73px;top:832.64px" class="cls_010"><span class="cls_010">SIEGE SOCIAL</span></div>
      <div style="position:absolute;left:44.2px;top:847.32px" class="cls_011"><span class="cls_011">32 rue Fernand Pelloutier</span></div>
      <div style="position:absolute;left:95px;top:860.50px" class="cls_011"><span class="cls_011">92110 CLICHY</span></div>
      <div style="position:absolute;left:102.32px;top:886.85px" class="cls_010"><span class="cls_010">CONTACT</span></div>
      <div style="position:absolute;left:57.81px;top:901.38px" class="cls_011"><span class="cls_011">Tél.</span></div>
      <div style="position:absolute;left:90.40px;top:901.38px" class="cls_011"><span class="cls_011">01.84.16.93.55</span></div>
      <div style="position:absolute;left:56.01px;top:914.56px" class="cls_011"><span class="cls_011">Fax.</span></div>
      <div style="position:absolute;left:90.25px;top:914.56px" class="cls_011"><span class="cls_011">09.72.39.33.46</span></div>
      <div style="position:absolute;left:40.5px;top:942.41px" class="cls_011"><span class="cls_011"> </span><A HREF="http://www.edison-services.fr/">www.edison-services.fr</A> </div>
      <div style="position:absolute;left:27.11px;top:955.59px" class="cls_011"><span class="cls_011">contact@edison-services.fr</span></div>
      <div style="position:absolute;left:646.94px;top:985.84px" class="cls_011"><span class="cls_011">Page 2 sur 2</span></div>
      <div style="position:absolute;left:34px;top:994.98px" class="cls_013"><span class="cls_013">Edison Services S.A.R.L</span></div>
      <div style="position:absolute;left:30px;top:1008.30px" class="cls_014"><span class="cls_014">Capital social - 4 000 euros</span></div>
      <div style="position:absolute;left:39px;top:1019.84px" class="cls_014"><span class="cls_014">RCS PARIS- 753 805 035</span></div>
      </div>
    <div style="position:absolute;left:50%;margin-left:-374px;top:1050px;width:749px;height:1056px;overflow:hidden;">
      <div style="position:absolute;left:0px;top:0px">
	<img src="https://www.dropbox.com/s/q38vrc7jddsyq51/page_002.jpg?raw=1" width=749 height=1056></div>
      <div style="position:absolute;left:102px;top:48px">
	<img src="https://www.dropbox.com/s/13czd5k4ggwkrk8/Logo%20EDISON.png?raw=1" width=129 height=129></div>
      <div style="position:absolute;left:88.39px;top:211.04px" class="cls_008"><span class="cls_008">Pour rappel, vous disposez des modalités de règlement suivantes :</span></div>
      <div style="position:absolute;left:132.56px;top:276.33px" class="cls_008"><span class="cls_008">Par carte bancaire en nous appelant au 09 72 51 08 01.</span></div>
      <div style="position:absolute;left:132.56px;top:343.61px" class="cls_008"><span class="cls_008">Par virement bancaire en indiquant vos Nom, Prénom et numéro de facture :</span></div>
      <div style="position:absolute;left:176.74px;top:365.18px" class="cls_009"><span class="cls_009">RIB: 30004 01557 00010041423 30</span></div>
      <div style="position:absolute;left:176.74px;top:386.74px" class="cls_009"><span class="cls_009">IBAN: FR76 3000 4015 5700 0100 4142 330</span></div>
      <div style="position:absolute;left:176.74px;top:408.31px" class="cls_009"><span class="cls_009">BIC: BNPAFRPPPRG</span></div>
      <div style="position:absolute;left:132.56px;top:505.80px" class="cls_008"><span class="cls_008">Par chèque à envoyer à l’adresse suivante :</span></div>
      <div style="position:absolute;left:176.74px;top:527.37px" class="cls_009"><span class="cls_009">EDISON SERVICES</span></div>
      <div style="position:absolute;left:176.74px;top:543.99px" class="cls_009"><span class="cls_009">Service comptabilité</span></div>
      <div style="position:absolute;left:176.74px;top:560.46px" class="cls_009"><span class="cls_009">32 rue Fernand Pelloutier</span></div>
      <div style="position:absolute;left:176.74px;top:576.96px" class="cls_009"><span class="cls_009">92110 Clichy</span></div>
      <div style="position:absolute;left:73px;top:832.64px" class="cls_010"><span class="cls_010">SIEGE SOCIAL</span></div>
      <div style="position:absolute;left:36px;top:847.32px" class="cls_011"><span class="cls_011">32 rue Fernand Pelloutier</span></div>
      <div style="position:absolute;left:95px;top:860.50px" class="cls_011"><span class="cls_011">92110 CLICHY</span></div>
      <div style="position:absolute;left:102.32px;top:886.85px" class="cls_010"><span class="cls_010">CONTACT</span></div>
      <div style="position:absolute;left:57.81px;top:901.38px" class="cls_011"><span class="cls_011">Tél.</span></div>
      <div style="position:absolute;left:90.40px;top:901.38px" class="cls_011"><span class="cls_011">01.84.16.93.55</span></div>
      <div style="position:absolute;left:56.01px;top:914.56px" class="cls_011"><span class="cls_011">Fax.</span></div>
      <div style="position:absolute;left:90.25px;top:914.56px" class="cls_011"><span class="cls_011">09.72.39.33.46</span></div>
      <div style="position:absolute;left:40.5px;top:942.41px" class="cls_011"><span class="cls_011"> </span><A HREF="http://www.edison-services.fr/">www.edison-services.fr</A> </div>
      <div style="position:absolute;left:27.11px;top:955.59px" class="cls_011"><span class="cls_011">contact@edison-services.fr</span></div>
      <div style="position:absolute;left:646.94px;top:985.84px" class="cls_011"><span class="cls_011">Page 2 sur 3</span></div>
      <div style="position:absolute;left:34px;top:994.98px" class="cls_013"><span class="cls_013">Edison Services S.A.R.L</span></div>
      <div style="position:absolute;left:30px;top:1008.30px" class="cls_014"><span class="cls_014">Capital social - 4 000 euros</span></div>
      <div style="position:absolute;left:39px;top:1019.84px" class="cls_014"><span class="cls_014">RCS PARIS- 753 805 035</span></div>
    </div>
    <div style="position:absolute;left:50%;margin-left:-373px;top:2106px;width:748px;height:1055px;overflow:hidden">
      <div style="position:absolute;left:0px;top:0px">
	<img src="https://www.dropbox.com/s/0dvf12hdln6hp88/background.jpg?raw=1" width=748 height=1055></div>
      <div style="position:absolute;left:99px;top:48px">
	<img src="https://www.dropbox.com/s/13czd5k4ggwkrk8/Logo%20EDISON.png?raw=1" width=129 height=129></div>
      <div style="position:absolute;left:473.55px;top:183.31px" class="cls_003"><span class="cls_003">{{client.civilite}} {{client.nom}} {{client.prenom}}</span></div>
      <div style="position:absolute;left:473.55px;top:197.76px" class="cls_003"><span class="cls_003">{{client.address.n}} {{client.address.r}}</span></div>
      <div style="position:absolute;left:473.55px;top:212.07px" class="cls_003"><span class="cls_003">{{client.address.cp}} {{client.address.v}}</span></div>
      <div style="position:absolute;left:473.55px;top:255.44px" class="cls_002"><span class="cls_002">A Clichy, le </span><span class="cls_003">{{date2}}</span></div>
      <div style="position:absolute;left:248.66px;top:323px" class="cls_002"><span class="cls_002">LETTRE DE DESISTEMENT DE CHEQUES</span></div>
      <div style="position:absolute;left:88.60px;top:424.15px" class="cls_002"><span class="cls_002">Madame, Monsieur,</span></div>
      <div style="position:absolute;left:88.60px;top:467.24px" class="cls_002"><span class="cls_002">Je soussigné EDISON SERVICES, bénéficiaire du chèque n°</span><span class="cls_003">{{optionsC.numero}}</span><span class="cls_002">, émis le </span><span class="cls_003">{{optionsC.date}} par</span></div>
      <div style="position:absolute;left:88.60px;top:481.65px" class="cls_003"><span class="cls_002"></span><span class="cls_003">{{client.civilite}} {{client.nom}} {{client.prenom}}</span><span class="cls_002"> de la banque </span><span class="cls_003">{{optionsC.nom}}</span><span class="cls_002"> et d’un montant {{optionsC.montant}} €</span></div>
      <div style="position:absolute;left:88.60px;top:539.29px" class="cls_002"><span class="cls_002">Déclare me désister purement et simplement de tous mes droits sur la provision de ce chèque, et</span></div>
      <div style="position:absolute;left:88.60px;top:553.71px" class="cls_002"><span class="cls_002">à renoncer à tout recours contre la banque au sujet de ladite provision.</span></div>
      <div style="position:absolute;left:88.60px;top:582.55px" class="cls_002"><span class="cls_002">En outre, au cas où je rentrerais en possession du chèque en question, je m’engage à le remettre</span></div>
      <div style="position:absolute;left:88.60px;top:596.81px" class="cls_002"><span class="cls_002">à la banque, en y portant la mention « Frappé d’opposition ».</span></div>
      <div style="position:absolute;left:473.55px;top:847.70px" class="cls_002"><span class="cls_002">Monsieur QUEUDRAY.V</span></div>
      <div style="position:absolute;left:473.55px;top:862.01px" class="cls_015"><span class="cls_015">Responsable Comptable</span></div>
      <div style="position:absolute;left:73px;top:837.31px" class="cls_004"><span class="cls_004">SIEGE SOCIAL</span></div>
      <div style="position:absolute;left:45px;top:852.07px" class="cls_005"><span class="cls_005">32 rue Fernand Pelloutier</span></div>
      <div style="position:absolute;left:95px;top:865.32px" class="cls_005"><span class="cls_005">92110 CLICHY</span></div>
      <div style="position:absolute;left:102.89px;top:891.83px" class="cls_004"><span class="cls_004">CONTACT</span></div>
      <div style="position:absolute;left:58.13px;top:906.44px" class="cls_005"><span class="cls_005">Tél.</span></div>
      <div style="position:absolute;left:90.91px;top:906.44px" class="cls_005"><span class="cls_005">01.84.16.93.55</span></div>
      <div style="position:absolute;left:56.32px;top:919.69px" class="cls_005"><span class="cls_005">Fax.</span></div>
      <div style="position:absolute;left:90.75px;top:919.69px" class="cls_005"><span class="cls_005">09.72.39.33.46</span></div>
      <div style="position:absolute;left:40.5px;top:947.70px" class="cls_005"><span class="cls_005"> </span><A HREF="http://www.edison-services.fr/">www.edison-services.fr</A> </div>
      <div style="position:absolute;left:27.26px;top:960.95px" class="cls_005"><span class="cls_005">contact@edison-services.fr</span></div>
      <div style="position:absolute;left:650.57px;top:991.37px" class="cls_005"><span class="cls_005">Page 3 sur 3</span></div>
      <div style="position:absolute;left:32px;top:1000.56px" class="cls_006"><span class="cls_006">Edison Services S.A.R.L</span></div>
      <div style="position:absolute;left:30px;top:1013.96px" class="cls_007"><span class="cls_007">Capital social - 4 000 euros</span></div>
      <div style="position:absolute;left:39px;top:1025.56px" class="cls_007"><span class="cls_007">RCS PARIS- 753 805 035</span></div>
      </div>
  </body>
</html>
