<html>
  <head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
      <!--
span.cls_003{font-family:Arial,serif;font-size:15.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:15.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:15.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:15.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_002{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_021{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:bold;text-decoration: none}
div.cls_021{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:bold;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:12.5px;color:rgb(142,189,28);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:12.5px;color:rgb(142,189,28);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_016{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_016{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:12.4px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_010{font-family:Arial,serif;font-size:12.4px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:12.4px;color:rgb(142,189,28);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_011{font-family:Arial,serif;font-size:12.4px;color:rgb(142,189,28);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_012{font-family:Arial,serif;font-size:11.2px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_012{font-family:Arial,serif;font-size:11.2px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_014{font-family:Arial,serif;font-size:11.2px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_014{font-family:Arial,serif;font-size:11.2px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_015{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_015{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
	-->
    </style>
    <script type="text/javascript" src="CHEQUE IMPAYE OPPOSITION_files/wz_jsgraphics.js"></script>
  </head>
  <body>
    <div style="position:absolute;left:50%;margin-left:-372px;top:0px;width:744px;height:1050px;overflow:hidden">
      <div style="position:absolute;left:0px;top:0px">
	<img src="https://www.dropbox.com/s/eh0tvd8hnecp0u4/opposition1.jpg?raw=1" width=744 height=1050></div>
      <div style="position:absolute;left:67px;top:24px">
	<img src="https://www.dropbox.com/s/13czd5k4ggwkrk8/Logo%20EDISON.png?raw=1" width=151 height=115></div>
      <div style="position:absolute;left:473.55px;top:183.31px" class="cls_003"><span class="cls_003">{{client.civilite}} {{client.nom}} {{client.prenom}}</span></div>
      <div style="position:absolute;left:473.55px;top:197.76px" class="cls_003"><span class="cls_003">{{client.address.n}} {{client.address.r}}</span></div>
      <div style="position:absolute;left:473.55px;top:212.07px" class="cls_003"><span class="cls_003">{{client.address.cp}} {{client.address.v}}</span></div>
      <div style="position:absolute;left:473.55px;top:255.44px" class="cls_002"><span class="cls_002">A Clichy, le </span><span class="cls_003">{{date2}}</span></div>
      <div style="position:absolute;left:88.53px;top:357.21px" class="cls_004"><span class="cls_004">LETTRE RECOMMANDÉE AVEC AR</span></div>
      <div style="position:absolute;left:88.53px;top:402.96px" class="cls_002"><span class="cls_002">Objet : Mise en demeure</span></div>
      <div style="position:absolute;left:88.53px;top:474.81px" class="cls_002"><span class="cls_002">Madame Monsieur,</span></div>
      <div style="position:absolute;left:88.53px;top:503.46px" class="cls_002"><span class="cls_002">Nous vous informons avoir encaissé votre chèque en règlement de la facture n°</span><span class="cls_004">{{id}}</span><span class="cls_002"></span></div>
      <div style="position:absolute;left:88.53px;top:517.86px" class="cls_002"><span class="cls_002">pour un montant total de</span><span class="cls_004"> {{compta.reglement.montantTTC}} €</span><span class="cls_002">.</span></div>
      <div style="position:absolute;left:88.53px;top:546.81px" class="cls_002"><span class="cls_002">Cependant notre établissement financier nous informe par un avis de rejet, que votre chèque est</span></div>
      <div style="position:absolute;left:88.53px;top:561.06px" class="cls_002"><span class="cls_002">frappé d’opposition pour perte/vol.</span></div>
      <div style="position:absolute;left:88.53px;top:589.89px" class="cls_002"><span class="cls_002">En référence à l’article L.441-1 du code pénal et au code monétaire et financier, nous</span></div>
      <div style="position:absolute;left:88.53px;top:604.29px" class="cls_002"><span class="cls_002">vous rappelons que la déclaration frauduleuse d’un chèque perdu ou voler est punissable de<span class="cls_004"> 5 ans</span></span></div>
      <div style="position:absolute;left:88.53px;top:618.69px" class="cls_002"><span class="cls_002"><span class="cls_004">d’emprisonnement et d’une amende plafonnée à 375 000,00€</span>. Ainsi que la création d’une fiche au</span></div>
      <div style="position:absolute;left:88.53px;top:632.94px" class="cls_002"><span class="cls_002">répertoire de la Banque de France ayant pour conséquence l’interdiction bancaire.</span></div>
      <div style="position:absolute;left:88.53px;top:661.74px" class="cls_002"><span class="cls_002">Nous vous mettons donc en demeure de nous renvoyé sous 8 jours le montant total de votre chèque</span></div>
      <div style="position:absolute;left:88.53px;top:676.14px" class="cls_002"><span class="cls_002">en opposition majoré de 26,50€ de frais d’opposition et de frais de gestion.</span></div>
      <div style="position:absolute;left:88.53px;top:704.94px" class="cls_002"><span class="cls_002">Dans  l’éventualité  où  l’opposition  faisait  suite  à  la  perte  avéré  de  votre  chéquier,  nous  vous</span></div>
      <div style="position:absolute;left:88.53px;top:719.19px" class="cls_002"><span class="cls_002">remercions de bien vouloir nous contacter dans les plus brefs délais afin de stopper la procédure en</span></div>
      <div style="position:absolute;left:88.53px;top:733.59px" class="cls_002"><span class="cls_002">cours. Toutes réclamations tardives vous seront directement facturées.</span></div>
      <div style="position:absolute;left:88.53px;top:762.39px" class="cls_002"><span class="cls_002">Sans réponse de votre part, nous ne manquerons pas de ré-encaisser votre chèque en opposition afin</span></div>
      <div style="position:absolute;left:88.53px;top:776.79px" class="cls_002"><span class="cls_002">de vous faire inscrire dans le <span class="cls_004">fichier national de la Banque de France</span>.</span></div>
      <div style="position:absolute;left:88.53px;top:805.44px" class="cls_002"><span class="cls_002">Nous vous prions d’agréer, Madame, Monsieur, nos salutations distinguées.</span></div>
      <div style="position:absolute;left:74px;top:833.97px" class="cls_006"><span class="cls_006">SIEGE SOCIAL</span></div>
      <div style="position:absolute;left:45px;top:848.67px" class="cls_007"><span class="cls_007">32 rue Fernand Pelloutier</span></div>
      <div style="position:absolute;left:95px;top:861.88px" class="cls_007"><span class="cls_007">92110 CLICHY</span></div>
      <div style="position:absolute;left:102.48px;top:888.27px" class="cls_006"><span class="cls_006">CONTACT</span></div>
      <div style="position:absolute;left:473.55px;top:891.72px" class="cls_002"><span class="cls_002">Monsieur BARRIERE D.</span></div>
      <div style="position:absolute;left:64.05px;top:902.83px" class="cls_007"><span class="cls_007">Tél.</span></div>
      <div style="position:absolute;left:90.42px;top:902.83px" class="cls_007"><span class="cls_007">09.72.45.27.09</span></div>
      <div style="position:absolute;left:473.55px;top:906.13px" class="cls_016"><span class="cls_016">Responsable recouvrement</span></div>
      <div style="position:absolute;left:56.10px;top:916.03px" class="cls_007"><span class="cls_007">Fax.</span></div>
      <div style="position:absolute;left:90.39px;top:916.03px" class="cls_007"><span class="cls_007">09.72.39.33.46</span></div>
      <div style="position:absolute;left:41px;top:943.92px" class="cls_007"><span class="cls_007"> </span><A HREF="http://www.edison-services.fr/">www.edison-services.fr</A> </div>
      <div style="position:absolute;left:27.15px;top:957.12px" class="cls_007"><span class="cls_007">contact@edison-services.fr</span></div>
      <div style="position:absolute;left:647.97px;top:987.42px" class="cls_007"><span class="cls_007">Page 1 sur 2</span></div>
      <div style="position:absolute;left:31px;top:996.57px" class="cls_008"><span class="cls_008">Edison Services S.A.R.L</span></div>
      <div style="position:absolute;left:29px;top:1009.92px" class="cls_009"><span class="cls_009">Capital social - 4 000 euros</span></div>
      <div style="position:absolute;left:6px;top:1021.47px" class="cls_009"><span class="cls_009">RCS PARIS- 753 805 035 00064</span></div>
    </div>
    <div style="position:absolute;left:50%;margin-left:-370px;top:1050px;width:742px;height:1054px;overflow:hidden">
      <div style="position:absolute;left:0px;top:0px">
	<img src="https://www.dropbox.com/s/1tw1lxnhq1r7rnp/opposition2.jpg?raw=1" width=742 height=1054></div>
      <div style="position:absolute;left:67px;top:24px">
	<img src="https://www.dropbox.com/s/13czd5k4ggwkrk8/Logo%20EDISON.png?raw=1" width=151 height=115></div>
      <div style="position:absolute;left:202.99px;top:144px" class="cls_010"><span class="cls_010">CONDITION GENERALES D’OPPOSTION SUR CHEQUES</span></div>
      <div style="position:absolute;left:87.82px;top:200.90px" class="cls_010"><span class="cls_010">La loi n’admet d’opposition au paiement d’un chèque par le tireur qu’en cas de perte, vol, ou utilisation</span></div>
      <div style="position:absolute;left:87.82px;top:215.04px" class="cls_010"><span class="cls_010">frauduleuse du chèque et de redressement ou liquidation judiciaires du porteur (art. 32 du décret-loi</span></div>
      <div style="position:absolute;left:87.82px;top:229.33px" class="cls_010"><span class="cls_010">du 30/10/1935. Toute autre opposition expose son auteur aux sanctions prévues aux articles L. 163-2</span></div>
      <div style="position:absolute;left:87.82px;top:243.61px" class="cls_010"><span class="cls_010">et L.1636 de ce même code : emprisonnement de cinq ans et amende de 375 000 euros, interdiction</span></div>
      <div style="position:absolute;left:87.82px;top:257.90px" class="cls_010"><span class="cls_010">judiciaire d’émettre des chèques pour une durée de un à cinq ans du décret-loi précité.</span></div>
      <div style="position:absolute;left:87.82px;top:300.60px" class="cls_010"><span class="cls_010">Le tireur doit confirmer immédiatement par écrit son opposition si elle est faite par téléphone. En</span></div>
      <div style="position:absolute;left:87.82px;top:314.89px" class="cls_010"><span class="cls_010">l’absence de confirmation ou de motif valable, votre banque sera tenue de payer tout chèque opposé</span></div>
      <div style="position:absolute;left:87.82px;top:329.17px" class="cls_010"><span class="cls_010">qui serait représenté. Par ailleurs, votre banque est en droit de procéder au blocage de la provision du</span></div>
      <div style="position:absolute;left:87.82px;top:343.49px" class="cls_010"><span class="cls_010">chèque sur votre compte.</span></div>
      <div style="position:absolute;left:87.82px;top:386.20px" class="cls_010"><span class="cls_010">L’émetteur s’engage à prévenir immédiatement ca banque au cas où il rentrerait en possession des</span></div>
      <div style="position:absolute;left:87.82px;top:400.48px" class="cls_010"><span class="cls_010">chèques opposés. Il s’oblige à garantir ca banque de toutes les conséquences pouvant résulter du</span></div>
      <div style="position:absolute;left:87.82px;top:414.77px" class="cls_010"><span class="cls_010">refus de paiement de ces chèques et à la dédommager pour toute réclamation ou condamnation</span></div>
      <div style="position:absolute;left:87.82px;top:429.05px" class="cls_010"><span class="cls_010">découlant de ce refus.</span></div>
      <div style="position:absolute;left:87.82px;top:471.76px" class="cls_010"><span class="cls_010">Le client s’engage à n’élever aucune contestation à l’égard de ca Banque pour tout paiement de</span></div>
      <div style="position:absolute;left:87.82px;top:486.04px" class="cls_010"><span class="cls_010">chèques opposés qu’elle serait contrainte d’effectuer en vertu d’une décision de justice rendue</span></div>
      <div style="position:absolute;left:87.82px;top:500.33px" class="cls_010"><span class="cls_010">exécutoire, au profit d’un tiers présentateur. Il est entendu que le client garantit à ca banque contre les</span></div>
      <div style="position:absolute;left:87.82px;top:514.61px" class="cls_010"><span class="cls_010">conséquences d’une telle décision à son égard en principal, frais et intérrts.</span></div>
      <div style="position:absolute;left:87.82px;top:557.32px" class="cls_010"><span class="cls_010">Conformément à la législation, les coordonnées bancaires de votre compte et les numéros des</span></div>
      <div style="position:absolute;left:87.82px;top:571.60px" class="cls_010"><span class="cls_010">formules de chèques relatifs aux oppositions pour perte ou vol seront enregistrés dans les FNCI</span></div>
      <div style="position:absolute;left:87.82px;top:585.91px" class="cls_010"><span class="cls_010">(Fichier National des Chèques Irréguliers). Ce fichier peut être consulté par les commerçants, ainsi</span></div>
      <div style="position:absolute;left:87.82px;top:600.20px" class="cls_010"><span class="cls_010">que par les banques, la police ou la gendarmerie qui l’alimentent.</span></div>
      <div style="position:absolute;left:74px;top:833.97px" class="cls_006"><span class="cls_006">SIEGE SOCIAL</span></div>
      <div style="position:absolute;left:45px;top:848.67px" class="cls_007"><span class="cls_007">32 rue Fernand Pelloutier</span></div>
      <div style="position:absolute;left:95px;top:861.88px" class="cls_007"><span class="cls_007">92110 CLICHY</span></div>
      <div style="position:absolute;left:102.48px;top:888.27px" class="cls_006"><span class="cls_006">CONTACT</span></div>
      <div style="position:absolute;left:64.05px;top:902.83px" class="cls_007"><span class="cls_007">Tél.</span></div>
      <div style="position:absolute;left:90.42px;top:902.83px" class="cls_007"><span class="cls_007">09.72.45.27.09</span></div>
      <div style="position:absolute;left:56.10px;top:916.03px" class="cls_007"><span class="cls_007">Fax.</span></div>
      <div style="position:absolute;left:90.39px;top:916.03px" class="cls_007"><span class="cls_007">09.72.39.33.46</span></div>
      <div style="position:absolute;left:41px;top:943.92px" class="cls_007"><span class="cls_007"> </span><A HREF="http://www.edison-services.fr/">www.edison-services.fr</A> </div>
      <div style="position:absolute;left:27.15px;top:957.12px" class="cls_007"><span class="cls_007">contact@edison-services.fr</span></div>
      <div style="position:absolute;left:647.97px;top:987.42px" class="cls_007"><span class="cls_007">Page 1 sur 2</span></div>
      <div style="position:absolute;left:31px;top:996.57px" class="cls_008"><span class="cls_008">Edison Services S.A.R.L</span></div>
      <div style="position:absolute;left:29px;top:1009.92px" class="cls_009"><span class="cls_009">Capital social - 4 000 euros</span></div>
      <div style="position:absolute;left:6px;top:1021.47px" class="cls_009"><span class="cls_009">RCS PARIS- 753 805 035 00064</span></div>
          </div>

  </body>
</html>
