<html>
  <head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
      <!--
span.cls_003{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_002{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:12.5px;color:rgb(142,189,28);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:12.5px;color:rgb(142,189,28);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_015{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_015{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:12.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:12.5px;color:rgb(45,45,45);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:12.5px;color:rgb(45,45,45);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:12.5px;color:rgb(142,189,28);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_010{font-family:Arial,serif;font-size:12.5px;color:rgb(142,189,28);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_011{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_013{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_013{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_014{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_014{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
	-->
    </style>
    <script type="text/javascript" src="LETTRE PERDU SANS INFORMATIONS_files/wz_jsgraphics.js"></script>
  </head>
  <body>
    <div style="position:absolute;left:50%;margin-left:-376px;top:0px;width:742px;height:1050px;">
      <div style="position:absolute;left:0px;top:0px">
	<img src="https://www.dropbox.com/s/5srs01wn68iumyh/page_001.jpg?raw=1" width=747 height=1050></div>
      <div style="position:absolute;left:102px;top:48px">
	<img src="https://www.dropbox.com/s/13czd5k4ggwkrk8/Logo%20EDISON.png?raw=1" width=151 height=115></div>
      
      <div style="position:absolute;left:473.55px;top:183.31px" class="cls_003"><span class="cls_003">{{client.civilite}} {{client.nom}} {{client.prenom}}</span></div>
      <div style="position:absolute;left:473.55px;top:197.76px" class="cls_003"><span class="cls_003">{{client.address.n}} {{client.address.r}}</span></div>
      <div style="position:absolute;left:473.55px;top:212.07px" class="cls_003"><span class="cls_003">{{client.address.cp}} {{client.address.v}}</span></div>
      <div style="position:absolute;left:473.55px;top:255.44px" class="cls_002"><span class="cls_002">A Clichy, le </span><span class="cls_003">{{date2}}</span></div>
      <div style="position:absolute;left:88.88px;top:342.04px" class="cls_003"><span class="cls_003">LETTRE RECOMMANDÉE AVEC AR</span></div>
      <div style="position:absolute;left:88.88px;top:399.91px" class="cls_002"><span class="cls_002">Madame, Monsieur,</span></div>
      <div style="position:absolute;left:88.88px;top:457.43px" class="cls_002"><span class="cls_002">Suite à notre intervention de </span><span class="cls_003">{{test}}</span><span class="cls_002">, vous avez adressé à la société EDISON services un chèque</span></div>
      <div style="position:absolute;left:88.88px;top:471.89px" class="cls_002"><span class="cls_002">d’un montant de </span><span class="cls_003"> {{compta.reglement.montantTTC}} €</span><span class="cls_002">, émis en paiement de la facture </span><span class="cls_003">{{id}}</span><span class="cls_002">.</span></div>
      <div style="position:absolute;left:88.88px;top:500.96px" class="cls_002"><span class="cls_002">En raison des difficultés rencontrées par les services postaux dans l’acheminement du courrier à</span></div>
      <div style="position:absolute;left:88.88px;top:515.42px" class="cls_002"><span class="cls_002">l’organisme qui gère notre comptabilité, nous n’avons pas reçu votre chèque.</span></div>
      <div style="position:absolute;left:88.88px;top:544.18px" class="cls_002"><span class="cls_002">Nous vous remercions donc de bien vouloir en établir un nouveau à l’ordre d’Edison Service</span></div>
      <div style="position:absolute;left:88.88px;top:558.64px" class="cls_002"><span class="cls_002">comptabilité à l’adresse suivante :</span></div>-->
      <div style="position:absolute;left:316.02px;top:616.49px" class="cls_003"><span class="cls_003">EDISON SERVICES</span></div>
      <div style="position:absolute;left:312.86px;top:630.80px" class="cls_003"><span class="cls_003">Service Comptabilité</span></div>
      <div style="position:absolute;left:302.77px;top:645.26px" class="cls_003"><span class="cls_003">32 rue Fernand Pelloutier</span></div>
      <div style="position:absolute;left:331.23px;top:659.72px" class="cls_003"><span class="cls_003">92110 CLICHY</span></div>
      <div style="position:absolute;left:88.88px;top:731.85px" class="cls_002"><span class="cls_002">Nous restons disponibles pour toutes demandes d’informations complémentaires et vous prions</span></div>
      <div style="position:absolute;left:88.88px;top:746.31px" class="cls_002"><span class="cls_002">d’agréer, Madame, Monsieur, nos salutations distinguées.</span></div>
      <div style="position:absolute;left:73px;top:837.31px" class="cls_004"><span class="cls_004">SIEGE SOCIAL</span></div>
      <div style="position:absolute;left:473.55px;top:847.70px" class="cls_002"><span class="cls_002">Monsieur BARRIERE D.</span></div>
      <div style="position:absolute;left:45px;top:852.07px" class="cls_005"><span class="cls_005">32 rue Fernand Pelloutier</span></div>
      <div style="position:absolute;left:95px;top:865.32px" class="cls_005"><span class="cls_005">92110 CLICHY</span></div>
      <div style="position:absolute;left:473.55px;top:862.01px" class="cls_015"><span class="cls_015">Responsable recouvrement</span></div>
      <div style="position:absolute;left:102.89px;top:891.83px" class="cls_004"><span class="cls_004">CONTACT</span></div>
      <div style="position:absolute;left:58.13px;top:906.44px" class="cls_005"><span class="cls_005">Tél.</span></div>
      <div style="position:absolute;left:90.91px;top:906.44px" class="cls_005"><span class="cls_005">01.84.16.93.55</span></div>
      <div style="position:absolute;left:56.32px;top:919.69px" class="cls_005"><span class="cls_005">Fax.</span></div>
      <div style="position:absolute;left:90.75px;top:919.69px" class="cls_005"><span class="cls_005">09.72.39.33.46</span></div>
      <div style="position:absolute;left:40.5px;top:947.70px" class="cls_005"><span class="cls_005"> </span><A HREF="http://www.edison-services.fr/">www.edison-services.fr</A> </div>
      <div style="position:absolute;left:27.26px;top:960.95px" class="cls_005"><span class="cls_005">contact@edison-services.fr</span></div>
      <div style="position:absolute;left:650.57px;top:991.37px" class="cls_005"><span class="cls_005">Page 1 sur 2</span></div>
      <div style="position:absolute;left:32px;top:1000.56px" class="cls_006"><span class="cls_006">Edison Services S.A.R.L</span></div>
      <div style="position:absolute;left:30px;top:1013.96px" class="cls_007"><span class="cls_007">Capital social - 4 000 euros</span></div>
      <div style="position:absolute;left:39px;top:1025.56px" class="cls_007"><span class="cls_007">RCS PARIS- 753 805 035</span></div>
    </div>
    <div style="position:absolute;left:50%;margin-left:-371px;top:1050px;width:743px;height:1054px;overflow:hidden;">
      <div style="position:absolute;left:0px;top:0px">
	<img src="https://www.dropbox.com/s/q38vrc7jddsyq51/page_002.jpg?raw=1" width=743 height=1054></div>
      <div style="position:absolute;left:102px;top:48px">
	<img src="https://www.dropbox.com/s/13czd5k4ggwkrk8/Logo%20EDISON.png?raw=1" width=151 height=115></div>
      <div style="position:absolute;left:88.39px;top:211.04px" class="cls_008"><span class="cls_008">Pour rappel, vous disposez des modalités de règlement suivantes :</span></div>
      <div style="position:absolute;left:132.56px;top:276.33px" class="cls_008"><span class="cls_008">Par carte bancaire en nous appelant au 09 72 51 08 01.</span></div>
      <div style="position:absolute;left:132.56px;top:343.61px" class="cls_008"><span class="cls_008">Par virement bancaire en indiquant vos Nom, Prénom et numéro de facture :</span></div>
      <div style="position:absolute;left:176.74px;top:365.18px" class="cls_009"><span class="cls_009">RIB: 30004 01557 00010041423 30</span></div>
      <div style="position:absolute;left:176.74px;top:386.74px" class="cls_009"><span class="cls_009">IBAN: FR76 3000 4015 5700 0100 4142 330</span></div>
      <div style="position:absolute;left:176.74px;top:408.31px" class="cls_009"><span class="cls_009">BIC: BNPAFRPPPRG</span></div>
      <div style="position:absolute;left:132.56px;top:505.80px" class="cls_008"><span class="cls_008">Par chèque à envoyer à l’adresse suivante :</span></div>
      <div style="position:absolute;left:176.74px;top:527.37px" class="cls_009"><span class="cls_009">EDISON SERVICES</span></div>
      <div style="position:absolute;left:176.74px;top:543.99px" class="cls_009"><span class="cls_009">Service comptabilité</span></div>
      <div style="position:absolute;left:176.74px;top:560.46px" class="cls_009"><span class="cls_009">32 rue Fernand Pelloutier</span></div>
      <div style="position:absolute;left:176.74px;top:576.96px" class="cls_009"><span class="cls_009">92110 Clichy</span></div>
      <div style="position:absolute;left:73px;top:832.64px" class="cls_010"><span class="cls_010">SIEGE SOCIAL</span></div>
      <div style="position:absolute;left:36px;top:847.32px" class="cls_011"><span class="cls_011">32 rue Fernand Pelloutier</span></div>
      <div style="position:absolute;left:95px;top:860.50px" class="cls_011"><span class="cls_011">92110 CLICHY</span></div>
      <div style="position:absolute;left:102.32px;top:886.85px" class="cls_010"><span class="cls_010">CONTACT</span></div>
      <div style="position:absolute;left:57.81px;top:901.38px" class="cls_011"><span class="cls_011">Tél.</span></div>
      <div style="position:absolute;left:90.40px;top:901.38px" class="cls_011"><span class="cls_011">01.84.16.93.55</span></div>
      <div style="position:absolute;left:56.01px;top:914.56px" class="cls_011"><span class="cls_011">Fax.</span></div>
      <div style="position:absolute;left:90.25px;top:914.56px" class="cls_011"><span class="cls_011">09.72.39.33.46</span></div>
      <div style="position:absolute;left:40.5px;top:942.41px" class="cls_011"><span class="cls_011"> </span><A HREF="http://www.edison-services.fr/">www.edison-services.fr</A> </div>
      <div style="position:absolute;left:27.11px;top:955.59px" class="cls_011"><span class="cls_011">contact@edison-services.fr</span></div>
      <div style="position:absolute;left:646.94px;top:985.84px" class="cls_011"><span class="cls_011">Page 2 sur 2</span></div>
      <div style="position:absolute;left:34px;top:994.98px" class="cls_013"><span class="cls_013">Edison Services S.A.R.L</span></div>
      <div style="position:absolute;left:30px;top:1008.30px" class="cls_014"><span class="cls_014">Capital social - 4 000 euros</span></div>
      <div style="position:absolute;left:39px;top:1019.84px" class="cls_014"><span class="cls_014">RCS PARIS- 753 805 035</span></div>
    </div>

  </body>
</html>
