<!DOCTYPE html>
<html>
	<head>
		<title>Remise Cheque</title>
		<style type="text/css">
			body {
				width: 794px;
				height: 1123px;
			}

			#container {
				width: 100%;
				height: 100%;
				position: relative;
			}

			#listCheques1 {
				width: 343px;
				height: 550px;
				position: absolute;
				top: 220px;
				left: 50px;
			}

			#tableStyle1 {
				text-align: justify;
				vertical-align: middle;
				border-collapse: collapse;
				font-size: 13px;
				width: 100%;
				height: 100%;
				border: 2px solid black;
			}

			.styleCase1 {
				border-right: 2px solid black;
				border-bottom: 2px solid black;
			}

			.styleCase2 {
				border-bottom: 2px solid black;
			}

			#listCheques2 {
				width: 343px;
				height: 550px;
				position: absolute;
				top: 220px;
				right: 50px;
			}

			#tableStyle2 {
				text-align: justify;
				vertical-align: middle;
				border-collapse: collapse;
				font-size: 13px;
				width: 100%;
				height: 100%;
				border: 2px solid black;
			}

			#blockRef {
				position: absolute;
				bottom: 200px;
				right: 70px;
			}

			#nameRef {
				font-size: 13px;
				top: 18px;
				position: absolute;
				left: -150px;
			}

			#dataRef {
				width: 250px;
			}

			#blockMontant {
				position: absolute;
				bottom: 115px;
				left: 100px;
			}

			#nameMontant {
				position: absolute;
				font-size: 13px;
				top: -30px;
			}

			#blockNombre {
				position: absolute;
				bottom: 115px;
				left: 327px;
			}

			#nameNombre {
				width: 160px;
				position: absolute;
				font-size: 13px;
				top: -30px;
			}

			#dataNombre {
				min-width: 80px;
			}

			#blockCompte {
				position: absolute;
				bottom: 115px;
				right: 100px;
			}

			#nameCompte {
				position: absolute;
				font-size: 13px;
				top: -30px;
			}

			.borderSpan {
				min-width: 100px;
				font-size: 13px;
				text-align: center;
				border: 2px solid black;
				padding: 3px 3px 3px 3px;
			}
		</style>
	</head>
	<body>
		<% for (var index = 0; index < nbrRemises; index++) { %>
			<div id="container">
				<div id="listCheques1">
					<table id="tableStyle1">
						<thead>
							<tr>
								<th class="styleCase1">Num</th>
								<th class="styleCase1">Montant</th>
								<th class="styleCase1">OS</th>
								<th class="styleCase1">Emetteur</th>
								<th class="styleCase2">TVA</th>
							</tr>
						</thead>
						<tbody>
							<% for (var ind = 0; ind < 25; ind++) { %>
							<tr>
								<td class="styleCase1">{{ind + 1}}</td>
								<% if (cheques[index].tab1[ind]) { %>
									<td class="styleCase1">{{cheques[index].tab1[ind].montant}}</td>
									<td class="styleCase1">{{cheques[index].tab1[ind].os}}</td>
									<td class="styleCase1">{{cheques[index].tab1[ind].client}}</td>
									<td class="styleCase2">{{cheques[index].tab1[ind].tva}}</td>
								<% } else { %>
									<td class="styleCase1"></td>
									<td class="styleCase1"></td>
									<td class="styleCase1"></td>
									<td class="styleCase2"></td>
								<% } %>
							</tr>
							<% } %>
						</tbody>
					</table>
				</div>
				<div id="listCheques2">
					<table id="tableStyle2">
						<thead>
							<tr>
								<th class="styleCase1">Num</th>
								<th class="styleCase1">Montant</th>
								<th class="styleCase1">OS</th>
								<th class="styleCase1">Emetteur</th>
								<th class="styleCase2">TVA</th>
							</tr>
						</thead>
						<tbody>
							<% for (var ind = 0; ind < 25; ind++) { %>
							<tr>
								<td class="styleCase1">{{ind + 26}}</td>
								<% if (cheques[index].tab2[ind]) { %>
									<td class="styleCase1">{{cheques[index].tab2[ind].montant}}</td>
									<td class="styleCase1">{{cheques[index].tab2[ind].os}}</td>
									<td class="styleCase1">{{cheques[index].tab2[ind].client}}</td>
									<td class="styleCase2">{{cheques[index].tab2[ind].tva}}</td>
								<% } else { %>
									<td class="styleCase1"></td>
									<td class="styleCase1"></td>
									<td class="styleCase1"></td>
									<td class="styleCase2"></td>
								<% } %>
							</tr>
							<% } %>
						</tbody>
					</table>
				</div>
				<div id= "blockRef">
					<div id="nameRef">
						<span>REFERENCE</span>
					</div>
					<div id="dataRef">
						<p class="borderSpan" style="text-align: justify">SARL EDISON SERVICES<br>42 RUE DE MAUBEUGE<br>75009 PARIS<br>09 72 51 08 10</p>
					</div>
				</div>
				<div id= "blockMontant">
					<div id="nameMontant">
						<span>MONTANT</span>
					</div>
					<div id="dataMontant">
						<p class="borderSpan">{{cheques[index].total}}</p>
					</div>
				</div>
				<div id= "blockNombre">
					<div id="nameNombre">
						<span>NOMBRE DE CHEQUES</span>
					</div>
					<div id="dataNombre">
						<p class="borderSpan">{{cheques[index].nbrCheques}}</p>
					</div>
				</div>
				<div id= "blockCompte">
					<div id="nameCompte">
						<span>COMPTE</span>
					</div>
					<div id="dataCompte">
						<p class="borderSpan">30004   01557   00010041423</p>
					</div>
				</div>
			</div>
		<% } %>
	</body>
</html>