<div>
    <br>
    <div class="md-headline">ABSENT DU:</div>
    <br>
    <div class="row" ng-if="absence.start">
        <div class="col-md-6">
            <div class="text-field date-picker">
                <label class="selected">Date</label>
                <input type="text" pick-a-date="absence.start" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-field date-picker">
                <label class="selected">Heure</label>
                <input type="text" pick-a-time="absence.start" />
            </div>
        </div>
    </div>
    <br>
    <div class="md-headline">JUSQU'AU</div>
    <br>
    <div class="row" ng-if="absence.end">
        <div class="col-md-6">
            <div class="text-field date-picker">
                <label class="selected">Date</label>
                <input type="text" pick-a-date="absence.end" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-field date-picker">
                <label class="selected">Heure</label>
                <input type="text" pick-a-time="absence.end" />
            </div>
        </div>
    </div>
    <br>
    <button class="form-control btn btn-success" ng-click="save()" style="width:130px">Absence</button>
</div>
