<div class="panel panel-success widget-support-tickets" id="dashboard-support-tickets">
	<div class="panel-body tab-content-padding">
    	<div class="panel-padding no-padding-vr">
      		<div class="ticket" style="text-align: left;border-left: solid 4px grey" ng-repeat="h in hist" ng-if="h.type === 'comment'">
				<div class="row">
	  				<div class="col-sm-6">
	    				<span ng-class="ticket-info"><a href="#">{{h.login}}</a> le {{h.date|date:"dd/MM/yy à HH'h'mm"}} </span>
	  				</div>
	  				<div class="col-sm-6">
	    				<span class="md-subhead sst-comment">{{h.text}}</span>
	  				</div>
				</div>
      		</div>
      		<div class="ticket">
	  			<div class="col-sm-6 col-sm-offset-6">
	    			<input type="text" class="form-control" placeholder="Commentaire..." ng-model="comm" style="height:56px;" ng-enter="comment()">
	  			</div>
			</div>
    	</div>      
  	</div>
</div>

