<div>
    <md-content ng-if="hidesearch !== 'hide'" class="autocomplete" style="margin-left: {{!hidemap ? '20%' : '-7%'}};width: {{!hidemap ? '70%' : '100%'}};  margin-top: -36px;" layout-padding layout="column" md-input-container flex>
        <md-autocomplete class="address-autocomplete" md-selected-item-change="changeAddress(selectedAddress)" md-selected-item="selectedAddress" md-search-text-change="null" placeholder="{{ispro ? 'Addresse du prospect...' : 'Addresse du client...'}}" md-search-text="searchText" md-items="item in autocomplete.search(searchText)" md-item-text="item.description">
            <span md-highlight-text="searchText"> {{item.description}}</span>
        </md-autocomplete>
    </md-content>
    <br>
    <div class="row" ng-if="showAddress">
    <br>
        <div class="col-sm-2">
            <lx-text-field label="Numero">
                <input capitalize type="text" ng-model="client.address.n">
            </lx-text-field>
        </div>
        <div class="col-sm-4">
            <lx-text-field label="Addresse">
                <input capitalize type="text" ng-model="client.address.r">
            </lx-text-field>
        </div>
        <div class="col-sm-2">
            <lx-text-field label="Code Postal">
                <input capitalize type="text" ng-model="client.address.cp">
            </lx-text-field>
        </div>
        <div class="col-sm-4">
            <lx-text-field label="Ville">
                <input capitalize type="text" ng-model="client.address.v">
            </lx-text-field>
        </div>
    </div>
    <div ng-show="!hidemap">
      <div ng-if="!map.display && height === 'big'" style="height:400px;width:100%;overflow:hidden;">
	<img id="static-map" style="width:100%;top: -9999px;bottom: -9999px;left: -9999px;right: -9999px;margin: auto;" ng-click="map.show()" src="{{getStaticMap()}}" />
      </div>
      <map ng-if="height === 'small' && bigger === 'true'" zoom="{{map.zoom}}" pan-control="false" style="height:750px;" center="{{map.center.latLng}}">
	<directions ng-if="data.artisan" travel-mode="DRIVING" origin="{{data.artisan.address.lt}}, {{data.artisan.address.lg}}" destination="{{client.address.latLng}}">
	</directions>
	<marker ng-if="client.address.lt" position="{{client.address.lt}}, {{client.address.lg}}" color="grey"></marker>
	<marker ng-repeat="sst in xmarkers" ng-init="initCircles(sst)" title="{{sst.nomSociete ? sst.nomSociete : sst.ad}}" on-click="clickOnArtisanMarker(sst)" position="{{sst.address.lt}}, {{sst.address.lg}}" color="{{draw == 'true' ? 'test' : (sst.status === 'ACT' ? 'red' : 'blue')}}"></marker>
      </map>
      <map ng-if="height === 'small' && bigger !== 'true'" zoom="{{map.zoom}}" pan-control="false" style="height:315px;" center="{{map.center.latLng}}">
	<directions ng-if="data.artisan" travel-mode="DRIVING" origin="{{data.artisan.address.lt}}, {{data.artisan.address.lg}}" destination="{{client.address.latLng}}">
	</directions>
	<marker ng-if="client.address.lt" position="{{client.address.lt}}, {{client.address.lg}}" color="grey"></marker>
	<marker ng-repeat="sst in xmarkers" ng-init="initCircles(sst)" title="{{sst.nomSociete ? sst.nomSociete : sst.ad}}" on-click="clickOnArtisanMarker(sst)" position="{{sst.address.lt}}, {{sst.address.lg}}" color="{{draw == 'true' ? 'test' : (sst.status === 'ACT' ? 'red' : 'blue')}}"></marker>
	<marker ng-repeat="f in fourn" title="{{f.nom}}" position="{{f.address.lt}}, {{f.address.lg}}" on-click="showInfo(this, f)" color="glassMarker"></marker>
      </map>
      <map ng-if="map.display && height === 'big'" zoom="{{map.zoom}}" pan-control="false" style="height:400px" center="{{map.center.latLng}}">
	<directions ng-if="data.artisan" travel-mode="DRIVING" origin="{{data.artisan.address.lt}}, {{data.artisan.address.lg}}" destination="{{client.address.latLng}}">
	</directions>
	<marker ng-if="client.address.lt" position="{{client.address.lt}}, {{client.address.lg}}" color="grey"></marker>
	<marker ng-repeat="sst in xmarkers" title="{{sst.nomSociete}}" on-click="clickOnArtisanMarker(sst)" position="{{sst.address.lt}}, {{sst.address.lg}}" color="{{sst.status === 'POT' ? 'blue' : 'red'}}"></marker>
	<marker ng-repeat="f in fourn" title="{{f.nom}}" position="{{f.address.lt}}, {{f.address.lg}}" color="glassMarker"></marker>
      </map>
    </div>
</div>
