<div class="panel panel-success widget-support-tickets" id="dashboard-support-tickets">
    <div class="panel-heading" style="padding:0px 20px 20px 0px;">
        <div class="panel-heading-controls">
            <div class="panel-heading-text"><a href="#">{{hist.length}} Elements</a></div>
        </div>
    </div>
    <div class="panel-body tab-content-padding">
        <div class="panel-padding no-padding-vr">
            <div class="ticket" style="text-align: left;border-left: solid 4px grey" ng-repeat="h in hist" ng-if="h.type === 'calls'">
                <div class="row">
                    <div class="col-sm-6">
                        <span ng-class="ticket-info">À été contacté par <a href="#">{{h.login}}</a>
                le {{h.date|date:"dd/MM/yy à HH'h'mm"}} </span>
                    </div>
                    <div class="col-sm-4">
                        <textarea ng-disabled="h.ok" elastic class="form-control" ng-model="h.text" placeholder="Commentaire..."></textarea>
                    </div>
                    <div class="col-sm-2">
                        <span ng-if="h.ok" class="label label-warning ticket-label" ng-click="checkCall(h)">CHANGER</span>
                        <span ng-if="!h.ok" class="label label-success ticket-label" ng-click="checkCall(h)">CONFIRMER</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
