<style>
.tableClass {
    height: 34px;
    vertical-align: middle;
    text-align: center;
    background-color: #A50000;
    border: 1px solid black
}
</style>
<div>
    <div class="card margin" ng-if="displayDecaissement !== 'false'">
        <div class="p+" ng-click="showDecaissement = !showDecaissement;">
            <strong class="fs-headline display-block">Decaissement</strong>
        </div>
        <div class="p+" ng-if="showDecaissement">
            <table class="table" style="width: 75%; cursor: pointer; margin-top: 4%; margin-left: 10%">
                <caption style="color: black; text-align: center; font-size: 150%; font-weight: bold; background-color: #650000">DECAISSEMENT</caption>
                <thead>
                    <tr>
                        <th class="tableClass" style="width: 15%">N°CHQ</th>
                        <th class="tableClass" style="width: 20%">Date de saisie</th>
                        <th class="tableClass" style="width: 20%">Mode</th>
                        <th class="tableClass" style="width: 10%">Montant</th>
                        <th class="tableClass" style="width: 15%">Tx TVA</th>
                        <th class="tableClass" style="width: 20%">Motif</th>
                        <th class="tableClass" style="width: 1%">Sup</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cheque in data.compta.decaissement">
                        <td class="tableClass" style="width: 20%">
                            <input type="text" class="form-control" ng-model="cheque.num" disabled="true">
                        </td>
                        <td class="tableClass" style="width: 20%">
                            <input type="text" class="form-control" pick-a-date="cheque.dateSaisie" disabled="true">
                        </td>
                        <td class="tableClass" style="width: 15%">
                            <select class="form-control" ng-model="cheque.mode" disabled="true">
                                <option value="virement">Virement</option>
                                <option value="cheque">Chèque</option>
                                <option value="autre">Autre</option>
                            </select>
                        </td>
                        <td class="tableClass" style="width: 10%">
                            <input type="text" class="form-control" ng-model="cheque.montant" disabled="true">
                        </td>
                        <td class="tableClass" style="width: 15%">
                            <select class="form-control" ng-model="cheque.tva" disabled="true">
                                <option value="0">0%</option>
                                <option value="10">10%</option>
                                <option value="20">20%</option>
                            </select>
                        </td>
                        <td class="tableClass" style="width: 20%">
                            <select class="form-control" ng-model="cheque.motif" disabled="true">
                                <option value="opposition">Opposition</option>
                                <option value="sansProvision">Sans provision</option>
                                <option value="avoir">Avoir</option>
                                <option value="autre">Autre</option>
                            </select>
                        </td>
                        <td class="tableClass" style="width:1%">
                            <button class="btn--no-conflicts btn--l btn--red btn--icon" ng-click="remove(cheque)" disabled="true">
                                <i class="fa fa-remove"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>