<style>
.tableClass2 {
    height: 34px;
    vertical-align: middle;
    text-align: center;
    background-color: #008636;
    border: 1px solid black
}
</style>
<div>
    <div class="card margin" ng-if="displayEncaissement !== 'false'">
        <div class="p+" ng-click="showEncaissement = !showEncaissement;">
            <strong class="fs-headline display-block">Encaissement</strong>
        </div>
        <div class="p+" ng-if="showEncaissement">
            <table class="table" style="width: 80%; cursor: pointer; margin-top: 4%; margin-left: 10%">
                <caption style="color: black; text-align: center; font-size: 150%; font-weight: bold; background-color: #003816">ENCAISSEMENT</caption>
                <thead>
                    <tr>
                        <th class="tableClass2" style="width: 15%; border-bottom: 1px solid black">N°CHQ</th>
                        <th class="tableClass2" style="width: 20%; border-bottom: 1px solid black">Date de saisie</th>
                        <th class="tableClass2" style="width: 25%; border-bottom: 1px solid black">Date d'encaissement</th>
                        <th class="tableClass2" style="width: 20%; border-bottom: 1px solid black">Mode</th>
                        <th class="tableClass2" style="width: 10%; border-bottom: 1px solid black">Montant</th>
                        <th class="tableClass2" style="width: 15%; border-bottom: 1px solid black">Tx TVA</th>
                        <th class="tableClass2" style="width: 1%; border-bottom: 1px solid black">Multi</th>
                        <th class="tableClass2" style="width: 1%; border-bottom: 1px solid black">Sup</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cheque in data.compta.encaissement">
                        <td class="tableClass2" style="width: 15%">
                            <input type="text" class="form-control" ng-model="cheque.num" disabled="true">
                        </td>
                        <td class="tableClass2" style="width: 20%">
                            <input type="text" class="form-control" pick-a-date="cheque.dateSaisie" disabled="true">
                        </td>
                        <td class="tableClass2" style="width: 25%">
                            <input type="text" class="form-control" pick-a-date="cheque.dateEncaissement" disabled="true">
                        </td>
                        <td class="tableClass2" style="width: 15%">
                            <select class="form-control" ng-model="cheque.mode" disabled="true">
                                <option value="virement">Virement</option>
                                <option value="cheque">Chèque</option>
                                <option value="autre">Autre</option>
                            </select>
                        </td>
                        <td class="tableClass2" style="width: 10%">
                            <input type="text" class="form-control" ng-model="cheque.montant" disabled="true">
                        </td>
                        <td class="tableClass2" style="width: 15%">
                            <select class="form-control" ng-model="cheque.tva" disabled="true">
                                <option value="0">0%</option>
                                <option value="10">10%</option>
                                <option value="20">20%</option>
                            </select>
                        </td>
                        <td class="tableClass2" style="width:1%">
                            <input type="checkbox" class="form-control" ng-model="cheque.mult" disabled="true">
                        </td>
                        <td class="tableClass2" style="width:1%">
                            <button class="btn--no-conflicts btn--l btn--red btn--icon" ng-click="remove($index)" disabled="true">
                                <i class="fa fa-remove"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>