<div class="panel panel-success widget-support-tickets" id="dashboard-support-tickets">
    <div class="panel-heading">
        <span class="panel-title" ng-click="showSignalements = !showSignalements"><i class="panel-title-icon fa fa-bullhorn"></i>Signalement</span>
        <div class="panel-heading-controls">
            <div class="panel-heading-text"><a href="#">{{hist.length}} Elements</a></div>
        </div>
    </div>
    <div class="panel-padding no-padding-vr">
        <signalement exit="showSignalements = false" data="data" ng-if="showSignalements"></signalement>
    </div>
    <div class="panel-body tab-content-padding">
        <div class="panel-padding no-padding-vr">
            <div class="ticket" style="text-align: left;border-left: solid 5px {{h.ok ? '#4CAF50' : '#ff9800'}};" ng-repeat-start="h in hist" ng-if="h.type === 'signalement' && h.typeSig === 'artisanT'">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="/intervention/{{h.inter_id}}" title="" class="ticket-title">
                            <i ng-class="{'text-warning': h.level === '1', 'text-danger': h.level === '2'}" class="fa fa-warning "></i>{{h.nom}}<span>[#{{h.inter_id}}]</span> {{h.level}}
                        </a>
                        <span ng-class="ticket-info">Signalé par <a href="#">{{h.login.ajout}}</a>{{h._date|date:"dd/MM/yy à HH'h'mm"}}</span>
                        <br>
                        <span ng-if="h.ok && h.login.done" ng-class="ticket-info">Réglé par <a href="#">{{h.login.done}}</a>{{h.date.done|date:"dd/MM/yy à HH'h'mm"}}</span>
                    </div>
                    <div class="col-sm-4">
		      			<span class="md-subhead sst-comment" ng-if="h.raison">{{h.raison}}</span>
                      	<textarea ng-disabled="h.ok" elastic class="form-control" ng-model="h.text" placeholder="Commentaire..."></textarea>
                    </div>
                    <div class="col-sm-2">
                      	<span ng-if="h.ok" class="label label-success ticket-label" ng-click="check(h)">RESOLU</span>
		      			<span ng-if="!h.ok && h.level === '0'" class="label label-warning ticket-label" ng-click="check(h)">RESOUDRE</span>
                      	<span ng-if="!h.ok && h.level === '1'" class="label label-warning ticket-label" ng-click="check(h)">RESOUDRE</span>
                      	<span ng-if="!h.ok && h.level === '2'" class="label label-danger ticket-label" ng-click="check(h)">RESOUDRE</span>
                    </div>
                </div>
            </div>
	    	<div class="ticket" style="text-align: left;border-left: solid 5px green;" ng-if="h.type === 'activite'">
	      		<div class="ticket" style="text-align: left;">
					<div class="row">
		  				<div class="col-sm-6">
		    				<span ng-class="ticket-info"><a href="#">{{h.login}}</a>le {{h.date|date:"dd/MM/yy à HH'h'mm"}} </span>
		  				</div>
		  				<div class="col-sm-6">
		    				<span class="md-subhead sst-comment">{{h.text}}</span>
		  				</div >
					</div>
	      		</div>
	    	</div>
            <!--<div class="ticket" style="text-align: left;border-left: solid 4px grey" ng-if="h.type === 'comment'">
              <div class="row">
                <div class="col-sm-6">
                        <span ng-class="ticket-info"><a href="#">{{h.login}}</a>
                le {{h.date|date:"dd/MM/yy à HH'h'mm"}} </span>
                    </div>
                    <div class="col-sm-6">
                        <span class="md-subhead sst-comment">{{h.text}}</span>
                    </div>
                </div>
            </div>-->
            <div class="ticket" style="text-align: left;border-left: solid 4px grey" ng-if="h.type === 'ABSENCE'">
                <div class="row">
                    <div class="col-sm-6">
                        <span ng-class="ticket-info"><a href="#">{{h.login}}</a>
                le {{h.date|date:"dd/MM/yy à HH'h'mm"}} </span>
                    </div>
                    <div class="col-sm-6">
                      <span class="md-subhead sst-comment">Absence du {{h.start|date:"dd/MM/yy à HH'h'mm"}} au {{h.end|date:"dd/MM/yy à HH'h'mm"}}</span>
                    </div>
                </div>
            </div>
            <div class="ticket" style="text-align: left;border-left: solid 4px blue" ng-if="h.type === 'pack'" ng-repeat-end>
                <div class="row">
                    <div class="col-sm-6">
                        <span ng-class="ticket-info"><a href="#">{{h.login}}</a>
                le {{h.date|date:"dd/MM/yy à HH'h'mm"}} </span>
                    </div>
                    <div class="col-sm-6">
                        <span class="md-subhead">Envoi
                        <span ng-if="h.facturier">facturier</span>
                        <span ng-if="h.facturier && h.deviseur"> + </span>
                        <span ng-if="h.deviseur">deviseur</span>
                        </span>
                    </div>
                </div>
            </div>
           <!-- <div class="ticket">
                <div class="col-sm-6 col-sm-offset-6">
                    <input type="text" class="form-control" placeholder="Commentaire..." ng-model="comm" style="height:56px;" ng-enter="comment()">
                </div>
            </div>-->
        </div>
    </div>
</div>
