<div>
    <table class="table table-striper table-condensed table-bordered">
        <tbody>
            <tr ng-repeat-start="e in historiquePaiement|orderBy:'-timestamp'" class="grey lighten-1" text-xxxl bold
            ng-init="x = e.flushList.getList()[0].original.compta.paiement.historique">
                <td>{{x.loginFlush}}</td>
                <td>{{x.dateFlush|date:"dd/MM/yyyy"}}</td>
                <td>{{x.mode}}</td>
                <td colspan="3">{{getTotal(e.flushList.getList())}} €</td>
            </tr>
            <tr ng-repeat-end ng-repeat="intervention in e.flushList.getList()">
                <td><a href="/intervention/{{intervention.id}}">{{intervention.id}}</a></td>
                <td>{{intervention.original.client.civilite}} {{intervention.original.client.nom}}</td>
                <td>{{intervention.original.compta.paiement.historique._type}}</td>
                <td>{{intervention.original.compta.paiement.historique.base}} €</td>
                <td>{{intervention.original.compta.paiement.historique.montant}} €</td>
                <td>{{intervention.original.compta.paiement.historique.final}} €</td>
            </tr>
        </tbody>
    </table>
    <div class="panel-body tab-content-padding">
    </div>
</div>
