<div></div>
<div class="card margin" ng-if="!embedded">
    <div class="p+">
        <strong class="fs-headline display-block">Appels Ovh du: {{data.number}}</strong>
        <div class="paragraph fs-body-1 mt+">
            <table class="table table-bordered">
                <tbody>
                    <tr ng-repeat="(k, v) in data.info">
                        <td>{{v.callStart|date:"dd/MM/yy à HH'h'mm"}}</td>
                        <td>{{v.duration}}</td>
            		<td>{{v.serviceName}}</td>
            		<td>{{v.agent}}</td>
                        <td style="width:40%">
                          <audio style="width: 90%;" preload="none" ng-src="{{trustUrl(v.fileUrl)}}" controls></audio>
                          <a target="_blank" href="{{v.fileUrl}}" download> <i style="color:black" class="fa fa-2x fa-download"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ul ng-if="embedded">
    <li ng-repeat="(k, v) in data.info" style="list-style-position:inside">{{v.callStart|date:"dd/MM/yy à HH'h'mm"}} - {{v.duration}} Sec - {{v.agent}} | {{v.serviceName}}
        <br>
        <audio style="width: 90%" preload="none" ng-src="{{trustUrl(v.fileUrl)}}" controls></audio>
        <a target="_blank" href="{{v.fileUrl}}" download> <i style="color:black" class="fa fa-2x fa-download"></i></a>
    </li>
</ul>
