<div class="card margin">
    <div class="p+">
        <strong ng-click="dsf = !dsf" class="fs-headline displayfact-block">Facture / Devis </strong><a ng-if="data.devisOrigine" href="/devis/{{data.devisOrigine}}"> Devis Original</a>
        <md-content class="autocomplete" style="width: {{embedded ? '27' : '40'}}%;margin-top: -22px;margin-left: 54%;float: left;" layout-padding layout="column" md-input-container flex>
            <md-autocomplete ng-if="displayfact()" md-search-text-change="null" md-selected-item-change="produits.add(selectedProduct)" md-selected-item="selectedProduct" md-search-text="produits.searchText" md-items="item in produits.search(produits.searchText)" md-item-text="item.title" placeholder="Rechercher un produit...">
	      <md-item-template>
		<strong ng-if="item.categorie">{{item.categorie}} -</strong> {{item.ref}} -  {{item.title}} - {{item.pu}}€
              </md-item-template>
            </md-autocomplete>
        </md-content>
        <span class="fs-subhead tc-black-2 display-block">Pour generation de factures/devis</span>
        <br>
        <select ng-if="displayfact()" style="width:40%" class="form-control" ng-model="data.combo" ng-options="cmb.ref as cmb.title group by cmb.categorie for cmb in combo " default-option="Combos">
            <option value="" disabled>Combos</option>
        </select>
        <br>
        <table ng-if="displayfact()" class="table table-bordered produits">
            <thead>
                <tr>
                    <th><i class="fa fa-plus"></i></th>
                    <th>Référence</th>
                    <th>Désignation</th>
                    <th>Q</th>
                    <th>PU</th>
		    <th>PA</th>
                    <th>Montant</th>
                    <th>Modif</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="p in data.produits track by $index">
                    <td style="width:1%">
                        <md-checkbox ng-model="p.showDesc" aria-label="Checkbox 2" class="md-warn md-align-top-left">
                        </md-checkbox>
                    </td>
                    <td style="width:10%">
                        <input ng-focus="p.focus" type="text" class="xref form-control" ng-model="p.ref">
                    </td>
                    <td style="width:40%">
                        <input capitalize type="text" style="width: 93%;display: inline;" placeholder="description" class="form-control" ng-model="p.title" ng-change="changeElemTitle(p)">
                        <!--  <button ng-click="produits.edit($index)" class="btn--no-conflicts btn--l btn--black btn--icon">
                            <i class="fa fa-plus"></i>
                        </button> -->
                    </td>
                    <td style="width:10%">
                        <input type="number" class="form-control" ng-model="p.quantite">
                    </td>
                    <td style="width:10%">
                        <input type="number" class="form-control" ng-model="p.pu">
                    </td>
		    <td style="width:10%">
                      <input type="number" class="form-control" ng-model="p.pa">
                    </td>
                    <td style="width:10%">
                        <input type="text" class="form-control" disabled="true" value="{{p.pu * p.quantite | currency:''}} €">
                    </td>
                    <td style="width:1%">
                        <lx-dropdown position="right" from-top>
                            <button class="btn--no-conflicts btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                                <i class="fa fa-reorder"></i>
                            </button>
                            <lx-dropdown-menu>
                                <ul>
                                    <li><a ng-click="produits.moveDown($index)" class="dropdown-link">Descendre</a></li>
                                    <li><a ng-click="produits.moveTop($index)" class="dropdown-link">Monter</a></li>
                                    <li><a ng-click="produits.remove($index)" class="dropdown-link">Supprimer</a></li>
                                </ul>
                            </lx-dropdown-menu>
                        </lx-dropdown>
                    </td>
                </tr>
                <tr ng-repeat-end ng-if="p.showDesc">
                    <td colspan="5">
                        <textarea class="form-control" elastic ng-model="p.desc" style="height:100%;resize:vertical;" ></textarea>
                    </td>
		    <td colspan="2">
		      <img src="{{p.link}}" style="max-height:150px;">
		    </td>
                </tr>
                <tr class="products data-table__clickable-row" ng-if="data.produits.length">
                    <td colspan="4"></td>
                    <td colspan="1">
                        <strong text-md>
                                 TOTAL HT
                                 <br>
                                 TVA ({{data.tva}}%) 
                                 <br>
                                 TOTAL TTC
                                </strong>
                    </td>
                    <td colspan="2">
                        <strong text-md>
                                 {{produits.total() | currency:''}} €<br>
                                {{produits.total() * (data.tva / 100) | currency:''}} €
                                 <br>
                                 {{produits.total() * (data.tva / 100 + 1) | currency:''}} €
                                </strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card__actions" ng-if="displayfact()">
      <span style="float:left;width: 75%;">
        <!--          <button ng-click="produits.add({quantite: 1,ref: 'AUT001',title: 'Autre',desc: '',pu: 0})" class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple>Ajouter</button> -->
        <button ng-click="createProd()" class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple>Ajout produit</button>
        <button ng-click="Devis(data).devisPreview()" class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple>Voir devis</button>
	<!--   <button ng-click="Intervention(data).facturierPreview()" class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple>Voir facturier</button> -->
	<button  ng-if="model !== 'DEVIS'"  ng-click="Intervention(data).facturePreview()" class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple>Voir Facture</button>
	<button  ng-if="model !== 'DEVIS'"  ng-click="Intervention(data).sendFactureAcquitte(null, true)" class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple>Envoyer Facture Acquittee</button>

        <a href="/devis?i={{data.id}}"ng-if="model !== 'DEVIS' && data.id">
          <button  class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple>
            Créer Devis</button>
        </a>
	<a href="{{model != 'DEVIS' ? '/intervention?i=' + data.id : '/intervention?di=' + data.id}}" ng-if="data.id">
	  <button class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple>
	    {{model != 'DEVIS' ? 'Dupliquer Intervention' : 'Créer Intervention'}}
	  </button>
	</a>
        <input type="Number"  ng-if="data.status === 'ENC' || data.status === 'VRF'" style="width: 130px;float: right;display: inline;" placeholder="Acompte" class="form-control" ng-model="data.acompte">
      </span>
      <span style="width: 150px;float: right;padding-bottom: 7px;">
        <select class="form-control" ng-model="data.tva" ng-options="tva.short_name as tva.long_name for tva in config.tva">
        </select>
      </span>
    </div>
</div>
