<div ng-show="!model" class="row" style="margin:0">
    <div flex-item>
        <div class="card margin">
            <div class="p+">
                <strong class="fs-headline display-block">Categorie</strong>
                <br>
                <button ng-click="callback(cat.short_name);" style="width: 12.5%;min-width:48px;" ng-repeat="cat in ::config.categoriesArray()" class="btn--no-conflicts btn--m {{::cat.color}} btn--flat" lx-ripple>
                    <span class="hidden-lg">{{::cat.short_name}}</span>
                    <span class="hidden-xs hidden-sm hidden-md">{{::cat.long_name}}</span>
                </button>
            </div>
        </div>
    </div>
</div>
