<div>
    <div class="card margin" ng-if="displayReglement !== 'false'">
        <div class="p+" ng-click="showReglement = !showReglement;">
            <strong class="fs-headline display-block">Validation Facture <span ng-if="dialog" text-sm> (Prix Final: {{data.prixFinal}} €)</span></strong>
            <span ng-if="!showReglement" class="fs-subhead tc-black-2 display-inline">
                <span ng-if="!data.compta.reglement.recu">
                    Pas de réglements
                </span>
            <span ng-if="data.compta.reglement.recu">
                    Réglement recu le {{data.compta.reglement.date|date:"dd/MM/yyyy à HH'h'mm"}} par {{data.compta.reglement.login}} ({{data.compta.reglement.montant}} €)
                </span>
            </span>
        </div>
        <div class="p+" ng-if="showReglement">
            <div class="paragraph fs-body-1 mt+">
                <div class="row">
                    <div ng-class="dialog ? 'col-md-4' : 'col-md-2'">
                        <lx-text-field label="Montant Recu TTC">
                            <input ng-model="data.compta.reglement.montantTTC" type="number" ng-disabled="data.compta.reglement.recu">
                        </lx-text-field>
                    </div>
                    <div ng-class="dialog ? 'col-md-4' : 'col-md-2'">
                        <select class="form-control" ng-model="data.tva" ng-disabled="data.compta.reglement.recu" ng-options="tva.short_name as tva.long_name for tva in config.tva"></select>
                    </div>
                    <div ng-class="dialog ? 'col-md-4' : 'col-md-2'">
                        <lx-text-field label="Montant Recu HT">
                            <input ng-model="data.compta.reglement.montant" type="number" disabled="true">
                        </lx-text-field>
                    </div>
                    <div ng-if="!dialog" class="switch" style="float:right;margin-right:30px">
                        <input type="checkbox" id="switch2" ng-model="data.compta.reglement.recu" class="switch__input" disabled="true">
                        <label for="switch2" class="switch__label">Encaissé</label>
                    </div>
                </div>
                <div class="row">
                    <div ng-class="dialog ? 'col-md-4' : 'col-md-2'" ng-if="data.compta.reglement.recu && data.compta.reglement.historique.length">
                        <lx-text-field label="Avoir TTC">
                            <input min="0" ng-disabled="data.compta.reglement.avoir.effectue" ng-model="data.compta.reglement.avoir.montant" type="number">
                        </lx-text-field>
                    </div>
                    <div ng-if="data.compta.reglement.avoir._type" class="switch" style="float:right;margin-right:30px">
                        <input type="checkbox" id="flav" ng-model="data.compta.reglement.avoir.effectue" disabled="true" class="switch__input">
                        <label for="flav" class="switch__label">Effectué</label>
                    </div>
                    <div ng-if="data.compta.reglement.avoir.montant > 0 && data.compta.reglement.historique.length" ng-class="dialog ? 'col-md-4' : 'col-md-2'">
                        <select class="form-control" ng-disabled="data.compta.reglement.avoir.effectue" ng-model="data.compta.reglement.avoir._type" ng-options="ta.short_name as ta.long_name for ta in config.typeAvoir"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" ng-if="data.compta.reglement.montantTTC >= 150">
                    <md-checkbox ng-model="data.compta.info.devisNC" aria-label="_" class="md-warn">
                        Devis non conforme
                    </md-checkbox>
                </div>
                <div class="col-md-3" ng-if="data.tva !== 20">
                    <md-checkbox ng-model="data.compta.info.tvaNC" aria-label="_" class="md-warn">
                        Attestation de TVA Non-conforme
                    </md-checkbox>
                </div>
                <div class="col-md-3">
                    <md-checkbox ng-model="data.compta.info.fournitureNC" aria-label="_" class="md-warn">
                        Cout de fourniture Non Conforme
                    </md-checkbox>
                </div>
                <div class="col-md-3" ng-if="data.reglementSurPlace">
                    <md-checkbox ng-model="data.compta.info.factureNC" aria-label="_" class="md-warn">
                        Facture non conforme
                    </md-checkbox>
                </div>
            </div>
            <br>
            <div class="card" style="padding:30px" ng-if="data.compta.info.fournitureNC" ng-init="data.compta.info.fournitureSmsText = textTemplate.sms.intervention.relanceFourniture(data)">
              <textarea  style="width:300px;display:inline" name="name" ng-model="data.compta.info.fournitureSmsText" class='form-control' rows="8" cols="40"></textarea>
              <div class="col-md-3" ng-if="data.reglementSurPlace">
                <md-checkbox ng-model="data.compta.info.fournitureSMS" aria-label="_" class="md-warn">
                  Envoyer SMS de fourniture manquante
                </md-checkbox>
              </div>
            </div>
            <h4 ng-click="regdisplayHistorique = !regdisplayHistorique"> > Historique ({{data.compta.reglement.historique.length}})</h4>
            <pre ng-if="regdisplayHistorique"><h4>{{data.compta.reglement.historique|json}}</h4></pre>
            <br>
        </div>
    </div>
    <div class="card margin" ng-if="displayPaiement !== 'false'">
        <div class="p+" ng-click="showPaiement = !showPaiement;">
            <strong class="fs-headline display-block">Paiement Sous-Traitant</strong>
            <span ng-if="dialog" text-sm> (Prix Final: {{data.prixFinal}} €)</span>
            <span ng-if="!showReglement" class="fs-subhead tc-black-2 display-inline">
                <span ng-if="!data.compta.paiement.effectue">
                    Pas de paiements
                </span>
            <span ng-if="data.compta.paiement.effectue">
                    Paiement éfféctué le {{data.compta.paiement.date|date:"dd/MM/yyyy à HH'h'mm"}} par {{data.compta.paiement.login}} ({{data.compta.paiement.montant}} €)
                </span>
            </span>
        </div>
        <div class="p+" ng-if="showPaiement">
            <div class="paragraph fs-body-1 mt+" >
                <div class="row" ng-show="data.compta.paiement.historique.length && allowFlush !== true" ng-click="allowFlush = !allowFlush" style="text-align: center;">
                    <h1>MODIFIER LE PAIEMENT</h1>
                </div>
                <div ng-if="!data.compta.paiement.historique.length || allowFlush || data.compta.paiement.ready">
                    <div class="row" ng-if="!data.compta.paiement.historique.length || allowFlush || data.compta.paiement.ready">
                        <div class="col-md-2">
                            <lx-text-field label="Base Paiement">
                                <input ng-model="data.compta.paiement.base" type="number">
                            </lx-text-field>
                        </div>
                        <div class="col-md-3">
                          <select class="form-control" ng-model="data.compta.paiement.mode">
			    <option value="VIR" ng-disabled="!verif">Virement</option>
			    <option value="CHQ">Chèque</option>
			  </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" ng-model="data.compta.paiement.tva" ng-options="tva.short_name as tva.long_name for tva in config.tvaSST"></select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3 col-sm-offset-9">
                            <div class="switch" style="float:right;margin-right:30px" ng-if="data.compta.paiement.base">
                                <input type="checkbox" id="switch1" ng-model="data.compta.paiement.ready" class="switch__input">
                                <label for="switch1" class="switch__label">Flush</label>
                                <span class="switch__help"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <table cellspacing="0" cellpadding="8" class="table table-bordered table-striped" ng-if="data.compta.paiement.base && (!data.compta.paiement.historique.length || allowFlush)">
                            <tr>
                                <th> MONTANT H.T VENTE </th>
                                <th style="width: 121px;"> + {{format(compta.base)}} € </th>
                                <th style="width: 40px;"> COMMISSION </th>
                                <th style="width: 40px;"> REMUNERATION </th>
                            </tr>
                            <tr>
                                <th> Vente déplacement </th>
                                <th> + {{format(compta.baseDeplacement)}} € </th>
                                <th>
                                    <lx-text-field label="Déplacement" style="width:100px">
                                        <input type="number" min="0" max="100" style="width: 75%;display: inline;" class="" ng-model="data.compta.paiement.pourcentage.deplacement"> %
                                    </lx-text-field>
                                </th>
                                <th> {{format(compta.remunerationDeplacement)}} € </th>
                            </tr>
                            <tr>
                                <th> Vente M.O. & Fournitures </th>
                                <th> + {{format(compta.baseMaindOeuvre + compta.venteFourniture)}} €</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th> Coût fournitures </th>
                                <th> - {{format(compta.fourniture.total)}} €</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th> Marge globale </th>
                                <th> = {{format(compta.baseMargeFourniture + compta.baseMaindOeuvre)}} € </th>
                                <th>
                                    <lx-text-field label="Marge" style="width:100px">
                                        <input type="number" min="0" max="100" style="width: 75%;display: inline;" class="" ng-model="data.compta.paiement.pourcentage.maindOeuvre"> %
                                    </lx-text-field>
                                </th>
                                <th> {{format(compta.remunerationMaindOeuvre + compta.remunerationMargeFourniture)}} € </th>
                            </tr>
                            <tr>
                                <th> Remboursement fournitures </th>
                                <th> + {{format(compta.remboursementFourniture)}} € </th>
                                <th></th>
                                <th> {{format(compta.remboursementFourniture)}} € </th>
                            </tr>
                            <tr>
                                <th colspan="2" rowspan="3" style="background:white">
                                </th>
                                <th> TOTAL H.T </th>
                                <th> {{format(compta.montantTotal)}} € </th>
                            </tr>
                            <tr>
                                <th> TVA ({{compta.tvaPaiement}} %) </th>
                                <th> {{format(compta.montantTotalTVA)}} € </th>
                            </tr>
                            <tr>
                                <th> TOTAL T.T.C </th>
                                <th> {{format(compta.montantTotalTTC)}} €</th>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-2">
                        <div class="switch" style="float:right;margin-right:30px">
                            <input type="checkbox" id="switch3" ng-model="data.compta.paiement.dette" class="switch__input">
                            <label for="switch3" class="switch__label switch_red">Dette</label>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row" ng-if="data.compta.paiement.historique.length" ng-repeat="elem in data.compta.paiement.historique">
                    <div class="col-sm-10" ng-init="hist = getPaiement(elem)">
                        <div class="panel panel-success">
                            <div class="panel-heading"><a ng-click="Intervention(data).autoFacture()"> Paiement du {{elem.dateFlush|date:"dd/MM/yyyy à HH'h'mm"}} ({{elem.loginFlush}})</a></div>
                            <div class="panel-body">
                                <!--    <pre>{{hist|json}}</pre> -->
                                <table cellspacing="0" cellpadding="8" class="table green-table table-bordered table-striped">
                                    <tr>
                                        <th> MONTANT H.T VENTE </th>
                                        <th style="width: 121px;"> + {{format(hist.base)}} € </th>
                                        <th style="width: 40px;"> COMMISSION </th>
                                        <th style="width: 40px;"> REMUNERATION </th>
                                    </tr>
                                    <tr>
                                        <th> Vente déplacement </th>
                                        <th> + {{format(hist.baseDeplacement)}} € </th>
                                        <th>
                                            {{hist.pourcentage.deplacement}}%
                                        </th>
                                        <th> {{format(hist.remunerationDeplacement)}} € </th>
                                    </tr>
                                    <tr>
                                        <th> Vente M.O. & Fournitures </th>
                                        <th> + {{format(hist.baseMaindOeuvre + hist.venteFourniture)}} €</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th> Coût fournitures </th>
                                        <th> - {{format(hist.fourniture.total)}} €</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th> Marge globale </th>
                                        <th> = {{format(hist.baseMargeFourniture + hist.baseMaindOeuvre)}} € </th>
                                        <th>
                                            {{hist.pourcentage.maindOeuvre}}%
                                        </th>
                                        <th> {{format(hist.remunerationMaindOeuvre + hist.remunerationMargeFourniture)}} € </th>
                                    </tr>
                                    <tr>
                                        <th> Remboursement fournitures </th>
                                        <th> + {{format(hist.remboursementFourniture)}} € </th>
                                        <th></th>
                                        <th> {{format(hist.remboursementFourniture)}} € </th>
                                    </tr>
                                    <tr>
                                        <th colspan="2" rowspan="3" style="background:white">
                                        </th>
                                        <th> TOTAL H.T </th>
                                        <th> {{format(hist.montantTotal)}} € </th>
                                    </tr>
                                    <tr>
                                        <th> TVA ({{data.tva}} %) </th>
                                        <th> {{format(hist.montantTotalTVA)}} € </th>
                                    </tr>
                                    <tr>
                                        <th> TOTAL T.T.C </th>
                                        <th> {{format(hist.montantTotalTTC)}} €</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
