<div flex-item>
    <div class="card margin">
        <div class="p+" ng-click="showSav = !showSav">
            <strong class="fs-headline display-block">S.A.V</strong>
        </div>
        <div class="p+" ng-if="data.sav.status || showSav">
            <span class="fs-subhead tc-black-2 display-block">Service apres vente</span>
            <br>
            <textarea elastic class="form-control" placeholder="Description" ng-model="data.sav.description"></textarea>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <select class="form-control " ng-model="data.sav.sst" ng-options="sst.id as sst.nomSociete for sst in artisans">
                        <option value='' disabled>- ARTISAN -</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <select class="form-control " ng-model="data.sav.status" ng-options="st.short_name as st.long_name for st in config.savStatus">
                        <option value='' disabled>- STATUS -</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
