<div></div>
<div class="card margin" ng-if="!embedded">
    <div class="p+">
        <strong class="fs-headline display-block">Appels Clients</strong>
        <div class="paragraph fs-body-1 mt+">
            <table class="table table-bordered">
                <tbody>
                    <tr ng-repeat="(k, v) in data.appels">
                        <td>{{v.date|date:"dd/MM/yy à HH'h'mm"}}</td>
                        <td>{{v._type}}</td>
                        <td>{{v.duration}}</td>
                        <td>{{v.status}}</td>
                        <td><a target="_blank" href="/api/axialis/{{v.call_id}}/get">Conversation</a></td>
                        <td>
                            <audio style="width: 90%;" preload="none" controls ng-init="v.audioFile = '/api/axialis/' + v.call_id + '/get'">
                                <source ng-src="{{v.audioFile}}" type="audio/mpeg">
                            </audio>
                            <a target="_blank" href="{{v.audioFile}}" download> <i style="color:black" class="fa fa-2x fa-download"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ul ng-if="embedded">
    <li ng-repeat="(k, v) in data.appels">{{v._type}} - {{v.date|date:"dd/MM/yy à HH'h'mm"}} - {{v.duration}} Sec - {{v.status}}
        <br>
        <audio style="width: 90%" preload="none" controls ng-init="v.audioFile = '/api/axialis/' + v.call_id + '/get'">
            <source ng-src="{{v.audioFile}}" type="audio/mpeg">
        </audio>
        <a target="_blank" href="{{v.audioFile}}" download> <i style="color:black" class="fa fa-2x fa-download"></i></a>
    </li>
</ul>
