<div class="card margin">
  <style>
    table.frntr > tbody > tr > td {
    padding: 10px;
    width: 50px;
    }
    .has {
    background-color: rgba(0, 255, 0, 0.2);
    }
  </style>
  <fieldset ng-disabled="data.validefourn"  ng-class="{has: data.validefourn}">
    <div class="p+" style="min-height:{{small ? '410' : '0'}}px">
        <strong ng-click="dsp = !dsp" class="fs-headline display-block">Fourniture</strong>
        <span class="fs-subhead tc-black-2 display-block">Fourniture</span>
        <div class="paragraph fs-body-1 mt+" ng-if="dsp || data.fourniture.length">
            <div ng-if="small" class="data-table-container" style="width:400px">
                <ul class="list mt++">
                    <li class="list-row list-row--has-separator" ng-repeat="f in data.fourniture">
                        <div class="list-row__content">
                            <table class="frntr table table-bordered">
                                <tbody>
				  <tr>
				    <td><span>Le</span></td>
                                    <td><span><input class="form-control" type="text" value="{{f.date}}"></span></td>
				  </tr>
                                    <tr>
                                        <td><span>BL</span></td>
                                        <td><span><input class="form-control" type="text" ng-model="f.bl" ng-change="fourniture.updateDate($index)"></span></td>
                                    </tr>
                                    <tr>
                                        <td><span>Designation</span></td>
                                        <td><span><input class="form-control" type="text" ng-model="f.title" ng-change="fourniture.updateDate($index)"></span></td>
                                    </tr>
                                    <tr>
                                        <td><span>Quantite</span></td>
                                        <td><span><input class="form-control" type="number" ng-model="f.quantite" ng-change="fourniture.updateDate($index)"></span></td>
                                    </tr>
                                    <tr>
                                        <td><span>Montant</span></td>
                                        <td><span><input class="form-control" type="number" ng-model="f.pu" ng-change="fourniture.updateDate($index)"></span></td>
                                    </tr>
                                    <tr>
                                        <td><span>Fournisseur</span></td>
                                        <td><span>
                                            <select style="width: 170px;" class="form-control" ng-model="f.fournisseur" ng-options="frn.short_name as frn.short_name group by frn.type for frn in config.fournisseur " ng-change="fourniture.updateDate($index)">
                                            </select></span></td>
                                    </tr>
                                    <tr>
                                        <td><span>Modif</span></td>
                                        <td>
                                            <lx-dropdown ng-show="!data.validefourn" position="right" from-top>
                                                <button class="btn--no-conflicts btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                                                    <i class="fa fa-navicon"></i>
                                                </button>
                                                <lx-dropdown-menu>
                                                    <ul>
                                                        <li><a class="dropdown-link">Descendre</a></li>
                                                        <li><a ng-click="fourniture.moveTop($index)" class="dropdown-link">Monter</a></li>
                                                        <li><a ng-click="fourniture.remove($index)" class="dropdown-link">Supprimer</a></li>
                                                    </ul>
                                                </lx-dropdown-menu>
                                            </lx-dropdown>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--                             <br>
                            <span>Designation</span><span e-type="text" style="width:100px" editable-text="f.title">{{f.title}}</span>
                                            <br>
                                            <span>Quantite</span><span e-type="text" style="width:100px" editable-text="f.quantite">{{f.quantite}}</span>
                                            <br> -->
                        </div>
                    </li>
                </ul>
            </div>
            <div ng-if="!small" class="data-table-container">
                <table class="table table-bordered">
                    <thead>
                        <tr>
			  <th>Le</th>
                            <th>BL</th>
                            <th>Désignation</th>
                            <th>Quant.</th>
                            <th>Prix Unit.</th>
                            <th>Montant {{isAuto ? 'TTC' : 'HT'}}</th>
                            <th>Fournisseur</th>
                            <th>Modif</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="f in data.fourniture">
			  <td style="width:25%">
			    <input type="text" class="form-control" ng-disabled="true" value="{{f.date}}"/>
			  </td>
                            <td style="width:8%">
                                <input type="text" class="form-control" ng-model="f.bl" ng-change="fourniture.updateDate($index)"/>
                            </td>
                            <td style="width:16%">
                                <input type="text" class="form-control" ng-model="f.title" ng-change="fourniture.updateDate($index)"/>
                            </td>
                            <td style="width:8%">
                                <input type="number" class="form-control" ng-model="f.quantite" ng-change="fourniture.updateDate($index)"/>
                            </td>
                            <td style="width:10%">
                                <input type="number" class="form-control" step="2" ng-model="f.pu" ng-change="fourniture.updateDate($index)"/>
                            </td>
                            <td style="width:8%">
                                <input type="text" class="form-control" ng-disabled="true" value="{{f.pu * f.quantite}} €" />
                            </td>
                            <td style="width: 14%;" >
                                <select class="form-control" ng-model="f.fournisseur" ng-options="frn.short_name as frn.short_name group by frn.type for frn in config.fournisseur " ng-change="fourniture.updateDate($index)">
                                </select>
                            </td>
                            <td style="width: 1%;">
                                <lx-dropdown ng-show="!data.validefourn" position="right" from-top>
                                    <button class="btn--no-conflicts btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                                        <i class="fa fa-navicon"></i>
                                    </button>
                                    <lx-dropdown-menu>
                                        <ul>
                                            <li><a  ng-click="fourniture.moveDown($index)" class="dropdown-link">Descendre</a></li>
                                            <li><a  ng-click="fourniture.moveTop($index)" class="dropdown-link">Monter</a></li>
                                            <li><a  ng-click="fourniture.remove($index)" class="dropdown-link">Supprimer</a></li>
                                        </ul>
                                    </lx-dropdown-menu>
                                </lx-dropdown>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card__actions" ng-if="dsp || data.fourniture.length">
      <span style="float:left;width:50%">
        <button class="btn--no-conflicts btn--m btn--black btn--flat" ng-click="fourniture.add()" lx-ripple>Ajout Fourniture</button>
      </span>
      <span style="float:left;width:22%">
	<md-switch style="margin-top: 6px;" class="md-primary" md-no-ink aria-label="Switch No Ink" ng-change="validefourni()" ng-model="data.validefourn">
	  <span style="margin-left:30px;" ng-if="data.validefourn">{{datefour}} {{parfour}}</span>
	  <span ng-if="!data.validefourn">Valider Fourniture</span>
	  </md-switch>
	<!--<button class="btn--no-conflicts btn--m btn--black btn--flat" ng-click="validefourn()" lx-ripple>Valider Fourniture</button>-->
      </span>
      <span style="float:right;margin-right:6%">
        <button class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple> TOTAL HT : {{fourniture.total() | currency:''}} €</button>
      </span>
    </div>
</fieldset>
</div>
