<div flex-item class="card {{!data.id ? 'margin' : ''}}" style="box-shadow: 0 0px 0px rgba(0, 0, 0, 0);">
    <div class="p+">
        <strong class="fs-headline display-block">Coordonnées de facturations</strong>
        <md-content class="autocomplete" style="width: 55%;margin-top: -22px;margin-left: 40%;float: left;" layout-padding layout="column" md-input-container flex>
            <md-autocomplete class="address-autocomplete" md-search-text-change="null" md-selected-item-change="changeAddressFacture(selectedAddress)" md-selected-item="selectedAddress" md-search-text="searchText" md-items="item in autocomplete.search(searchText)" placeholder="Addresse de facturation..." md-item-text="item.description">
                <span md-highlight-text="searchText"> {{item.description}}</span>
            </md-autocomplete>
        </md-content>
        <span ng-if="data.date.envoiFacture" class="fs-subhead tc-black-2 display-block">Envoyé le {{data.date.envoiFacture|date:"dd/MM/yy 'à' HH'h'mm"}} </span>
        <span ng-if="!data.date.envoiFacture" class="fs-subhead tc-black-2 display-block">
                                    Facture à envoyer
                                </span>
        <div class="paragraph fs-body-1 mt+">
            <div class="form-group">
                <div class="row" style="margin: 1px 15px;">
                    <div class="col-md-3">
                        <div class="select-style text-field">
                            <select ng-model="data.facture.payeur" ng-change="comptech()" ng-options="f.short_name as f.long_name for f in config.typePayeur">
                            </select>
                            <label ng-class="{'selected' : data.facture.payeur}">Status Client</label>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1" ng-if="data.facture.payeur === 'GRN'">
                        <div class="select-style text-field">
                            <select ng-model="data.facture.compte" ng-change="changeGrandCompte()" ng-disabled="data.facture.compte" ng-options="f.ref as f.nom for f in grndComptes">
                            </select>
                            <label ng-class="{'selected' : data.facture.compte}">Compte</label>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 1px 15px;">
					<div class="col-md-2">
                        <div class="select-style text-field">
                            <select ng-model="data.facture.mailed" ng-change="changeMailed(data.facture.mailed)">
								<option value="OUI">Envoi Mail</option>
								<option value="NON">Pas d'envoi Mail</option>
                            </select>
                            <label ng-class="{'selected' : data.facture.mailed}">Envoi Mail</label>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-1">
                        <div class="select-style text-field">
                            <select ng-model="data.facture.papier" ng-change="changePapier(data.facture.papier)">
                                <option value="OUI">Envoi Papier</option>
                                <option value="NON">Pas d'envoi Papier</option>
                            </select>
                            <label ng-class="{'selected' : data.facture.papier}">Envoi Papier</label>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 8px 15px;">
                    <div class="col-md-4">
                        <lx-text-field label="Nom">
                            <input capitalize type="text" ng-disabled="data.facture.payeur === 'GRN' && !data.facture.compte" ng-model="data.facture.nom">
                        </lx-text-field>
                    </div>
                    <div class="col-md-4">
                        <lx-text-field label="{{data.facture.payeur === 'SOC' ||  data.facture.payeur === 'GRN' ? 'Nom Representant' : 'Prénom'}}">
                            <input capitalize type="text" ng-disabled="data.facture.payeur === 'GRN' && !data.facture.compte" ng-model="data.facture.prenom">
                        </lx-text-field>
                    </div>
                </div>
                <div class="row" style="margin: 8px 15px;">
                    <div class="col-md-4">
                        <lx-text-field label="Téléphone 1">
                            <input capitalize type="text" ng-disabled="data.facture.payeur === 'GRN' && !data.facture.compte" ng-model="data.facture.tel">
                        </lx-text-field>
                    </div>
                    <div class="col-md-4">
                        <lx-text-field label="Téléphone 2">
                            <input capitalize type="text" ng-disabled="data.facture.payeur === 'GRN' && !data.facture.compte" ng-model="data.facture.tel2">
                        </lx-text-field>
                    </div>
                </div>
                <div style="margin: 8px 15px;" class="row">
                    <div class="col-md-8">
                        <lx-text-field label="Email">
                            <input capitalize type="text" ng-disabled="data.facture.payeur === 'GRN' && !data.facture.compte" ng-model="data.facture.email">
                        </lx-text-field>
                    </div>
                </div>
		<div style="margin: 8px 15px;" class="row">
                    <div class="col-md-8">
                        <lx-text-field label="Email n°2">
                            <input capitalize type="text" ng-disabled="data.facture.payeur === 'GRN' && !data.facture.compte" ng-model="data.facture.email2">
                        </lx-text-field>
                    </div>
                </div>
                <div class="row" style="margin: 8px 15px;">
                    <div class="col-md-1">
                        <lx-text-field label="Numero">
                            <input capitalize type="text" ng-disabled="data.facture.payeur === 'GRN' && !data.facture.compte" ng-model="data.facture.address.n">
                        </lx-text-field>
                    </div>
                    <div class="col-md-5">
                        <lx-text-field label="Addresse">
                            <input capitalize type="text" ng-disabled="data.facture.payeur === 'GRN' && !data.facture.compte" ng-model="data.facture.address.r">
                        </lx-text-field>
                    </div>
                    <div class="col-md-2">
                        <lx-text-field label="Code Postal">
                            <input capitalize type="text" ng-disabled="data.facture.payeur === 'GRN' && !data.facture.compte" ng-model="data.facture.address.cp">
                        </lx-text-field>
                    </div>
                    <div class="col-md-4">
                        <lx-text-field label="Ville">
                            <input capitalize type="text" ng-disabled="data.facture.payeur === 'GRN' && !data.facture.compte" ng-model="data.facture.address.v">
                        </lx-text-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
