<div flex-item>
    <div class="card margin">
        <div class="p+">
            <strong class="fs-headline display-block">Commentaires Recouvrement</strong>
        </div>
        <div class="p+">
            <div ng-if="data.compta.recouvrement.priseDeContact.comment.length > 0">
                <p ng-if="data.compta.recouvrement.priseDeContact.conclu == 'remiseCom'" ng-repeat="comment in data.compta.recouvrement.priseDeContact.comment track by $index">Contact n°{{$index + 1}}: {{comment}}. Montant: {{data.compta.recouvrement.priseDeContact.montant}}
                </p>
                <p ng-if="data.compta.recouvrement.priseDeContact.conclu != 'remiseCom'" ng-repeat="comment in data.compta.recouvrement.priseDeContact.comment track by $index">Contact n°{{$index + 1}}: {{comment}}
                </p>
            </div>
    </div>
</div>
</div>
