<div flex-item>
    <div class="card margin">
        <div class="p+">
            <strong class="fs-headline display-block">Simulation Paiement</strong>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <select class="form-control " ng-model="data.sav.sst" ng-options="sst.id as sst.nomSociete for sst in artisans">
                        <option value='' disabled>- ARTISAN -</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <select class="form-control " ng-model="data.sav.status" ng-options="st.short_name as st.long_name for st in config.savStatus">
                        <option value='' disabled>- STATUS -</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
