<div>
  <style>
    .has3{
    background-color:rgba(255,0,0, 0.5);
    }
    .has2{
    background-color:rgba(0,206,209, 0.5);
    }
    .has1{
    background-color:rgba(255,255,0, 0.5);
    }
    </style>
    <div ng-if="routeParamsFilter == 'relanceClient'">
        <span style="margin-right:40px" ng-repeat="month in dateSelectList"><a href="/intervention/list/relanceClient?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a></span>
        <br>
        <br>
    </div>
    <div ng-if="routeParamsFilter.startsWith('relsst')">
        <span style="margin-right:40px" ng-repeat="n in [1, 2, 3, 4]">
        <a href="/intervention/list/relsst{{n}}">{{n}} Semaine</a></span>
        <br>
        <br>
    </div>
    <div class="row">
      <div class="col-md-3" ng-if="routeParamsFilter == 'grandComptes'">
        <div class="select-style text-field">
          <select ng-model="payeurToShow" ng-change="changeCompte()" ng-options="e.ref as e.nom for e in compteList">
          </select>
          <label ng-class="{'selected': payeurToShow}">Grand Compte</label>
        </div>
      </div>
    </div>
    <div class="shadow-box listeInterventions" ng-init="rl = (routeParamsFilter === 'relanceClient')">
        <table style="background:white;cursor:pointer" ng-table="tableParams" class="table table-bordered table-hover table-hover table-xstriped" id="table-list" show-filter="!embedded">
            <tbody id="tbody-list">
                <tr data-id="{{inter.id}}" ng-repeat-start="inter in $data" ng-right-click="rowRightClick($event, inter)" ng-click="rowClick($event, inter, false)" ng-class="{
		        info : contextMenu.active && contextMenu.data.id === inter.id,
                'light-green lighten-4':inter.rc,
                'yellow': rl && inter.l === 1,
                'red': rl && inter.l === 2,
                'blue': rl && inter.l === 3,
		        'purple': rl && inter.l === 4
		        }" md-swipe-left="interSwipe(inter.id)">
                    <td ng-if="routeParamsFilter == 'relanceClient'" style="width:30px;text-align:center;" ng-class="{'has3': routeParamsFilter == 'relanceCheques' && inter.re == 3, 'has2': routeParamsFilter == 'relanceCheques' && inter.re == 2, 'has1': routeParamsFilter == 'relanceCheques' && inter.re == 1}" data-title="smallWin ? 'RR' : 'Recouv. Renforcé'" sortable="'rr'">
                    <span ng-if="inter.rr" class="fa fa-star black-text"> </span>
                    </td>
                    <td ng-if="routeParamsFilter == 'AllLitge' || routeParamsFilter == 'Mylitige'" style="width:30px;text-align:center;" ng-class="{'has3': routeParamsFilter == 'relanceCheques' && inter.re == 3, 'has2': routeParamsFilter == 'relanceCheques' && inter.re == 2, 'has1': routeParamsFilter == 'relanceCheques' && inter.re == 1}" data-title="smallWin ? 'Di' : 'Dialog Compt/Comm'" sortable="'lc'">
                    <span ng-if="inter.lc === true" style="width:40px;" class="fa fa-university black-text"> </span>
                    <span ng-if="inter.lc === false" style="width:40px;"  class="fa fa-money black-text"> </span>

                    </td>
                    <td  ng-if="inter.s !== 5" ng-class="{'has3': routeParamsFilter == 'relanceCheques' && inter.re == 3, 'has2': routeParamsFilter == 'relanceCheques' && inter.re == 2, 'has1': routeParamsFilter == 'relanceCheques' && inter.re == 1}" data-title="'OS'" sortable="'id'" filter="{ 'id': 'text' }">
                        <strong>{{inter.id}}</strong>
                    </td>
                    <td ng-if="inter.s !== 5" ng-class="{'has3': routeParamsFilter == 'relanceCheques' && inter.re == 3, 'has2': routeParamsFilter == 'relanceCheques' && inter.re == 2, 'has1': routeParamsFilter == 'relanceCheques' && inter.re == 1}" data-title="smallWin ? 'T' : 'Télépro'" sortable="'t'" filter="{ 't': 'text' }">
                        <span ng-if="smallWin"> {{inter.t.slice(0, 1)}}_{{inter.t.slice(-1)}}</span>
                        <span ng-if="!smallWin"> {{inter.t}}</span>
                    </td>
                    <td ng-if="inter.s !== 5" ng-class="{'has3': routeParamsFilter == 'relanceCheques' && inter.re == 3, 'has2': routeParamsFilter == 'relanceCheques' && inter.re == 2, 'has1': routeParamsFilter == 'relanceCheques' && inter.re == 1}" ng-init="inter._categorie = config.categoriesHash()[inter.c].long_name" data-title="smallWin ? 'C' : 'Cat.'" sortable="'c'" filter="{ '_categorie': 'text' }">
                        <span ng-if="smallWin" style="width:80px" class="label {{config.categoriesHash()[inter.c].color}}">{{config.categoriesHash()[inter.c].short_name}}</span>
                        <span ng-if="!smallWin" style="width:40px" class="label {{config.categoriesHash()[inter.c].color}}">{{config.categoriesHash()[inter.c].long_name}}</span>
                    </td>
                    <td  ng-if="inter.s !== 5" data-title="smallWin ? 'Aj' : 'Ajout'" ng-class="{'has3': routeParamsFilter == 'relanceCheques' && inter.re == 3, 'has2': routeParamsFilter == 'relanceCheques' && inter.re == 2, 'has1': routeParamsFilter == 'relanceCheques' && inter.re == 1}" sortable="'da'" filter="{ '∆da': 'text' }">
                        {{inter.da | relativeDate:smallWin}}
                    </td>
                    <td variable-length  ng-if="inter.s !== 5" data-title="'Client'" ng-class="{'has3': routeParamsFilter == 'relanceCheques' && inter.re == 3, 'has2': routeParamsFilter == 'relanceCheques' && inter.re == 2, 'has1': routeParamsFilter == 'relanceCheques' && inter.re == 1}" sortable="'n'" filter="{ 'n': 'text' }">
                        {{inter.n}}
                    </td>
                    <td ng-if="inter.s !== 5" variable-length ng-class="{'has3': routeParamsFilter == 'relanceCheques' && inter.re == 3, 'has2': routeParamsFilter == 'relanceCheques' && inter.re == 2, 'has1': routeParamsFilter == 'relanceCheques' && inter.re == 1}" data-title="'Ville'" sortable="'ad'" filter="{ 'ad': 'text' }">
                        {{inter.ad}}
                    </td>
                    <td ng-if="inter.s !== 5" variable-length ng-class="{'has3': routeParamsFilter == 'relanceCheques' && inter.re == 3, 'has2': routeParamsFilter == 'relanceCheques' && inter.re == 2, 'has1': routeParamsFilter == 'relanceCheques' && inter.re == 1}" class="variable-length one-liner" data-title="'Artisan'" sortable="'a'" filter="{ 'a': 'text' }">
                        <i ng-if="(inter.fav && inter.d == 1 && !inter.a && displayUser.service == 'PARTENARIAT') || (inter.fav && inter.d == 2 && !inter.a && displayUser.service == 'PARTENARIAT')" class="fa fa-star"></i>
                        <strong>{{inter.a}}</strong>
                        <strong ng-if="inter.d == 1 && !inter.a" class="red-text darken-1-text">A DEMARCHER</strong>
                        <strong ng-if="inter.d == 2 && !inter.a" class="light-blue-text darken-1-text">EN DEMARCHAGE ({{inter.dm}})</strong>
                        <small text-xxxxs class="{{config.artisanSubStatus[inter.ss].color}}-text">{{config.artisanSubStatus[inter.ss].long_name}}</small>
                    </td>
                    <td ng-if="inter.s !== 5" ng-class="{'has3': routeParamsFilter == 'relanceCheques' && inter.re == 3, 'has2': routeParamsFilter == 'relanceCheques' && inter.re == 2, 'has1': routeParamsFilter == 'relanceCheques' && inter.re == 1}" data-title="smallWin ? 'P' : 'Prevu'" sortable="'di'" filter="{ '∆di': 'text' }">
                        <div ng-show="inter.di[0] != 1">
                            {{inter.di | relativeDate:smallWin}}
                        </div>
                    </td>
                    <td ng-if="inter.s !== 5" ng-class="{'has3': routeParamsFilter == 'relanceCheques' && inter.re == 3, 'has2': routeParamsFilter == 'relanceCheques' && inter.re == 2, 'has1': routeParamsFilter == 'relanceCheques' && inter.re == 1}" data-title="smallWin ? 'Pr' : 'Prix'" sortable="'pa'" filter="{ 'pa': 'text' }">
                        <span ng-if="inter.f === 1" class="fa fa-list"></span>
                        <span ng-if="!smallWin">{{(inter.pa | number:2) || 0}} €</span>
                        <span ng-if="smallWin">{{(inter.pa | number:0) || 0}}€</span>
                        <i ng-if="inter.f.i_fall || inter.f.i_fact" style="margin-left:3px" class="fa fa-envelope-o"></i>
                    </td>
                    <td ng-if="inter.s !== 5" ng-class="{'has3': routeParamsFilter == 'relanceCheques' && inter.re == 3, 'has2': routeParamsFilter == 'relanceCheques' && inter.re == 2, 'has1': routeParamsFilter == 'relanceCheques' && inter.re == 1}" ng-init="inter._status = config.etatsHash()[inter.s];inter._etat = inter._status.long_name" data-title="smallWin ? 'S' : 'Status'" sortable="'s'" filter="{ 's': 'text' }">
                        <span ng-if="!smallWin" style="width:75px" class="label {{inter.s === 4 && inter.ev ? 'black-text' : ''}} {{config.etatsHash()[inter.s].color}} display-block"> 
                        {{config.etatsHash()[inter.s].long_name}}</span>
                        <span ng-if="smallWin" style="width:34px" class="label {{config.etatsHash()[inter.s].color}} display-block">
                        {{config.etatsHash()[inter.s].short_name}}</span>
                    </td>
                    <td ng-class="{'has3': routeParamsFilter == 'relanceCheques' && inter.re == 3, 'has2': routeParamsFilter == 'relanceCheques' && inter.re == 2, 'has1': routeParamsFilter == 'relanceCheques' && inter.re == 1}" ng-if="inter.s !== 5" data-title="'rSST'" sortable="'ps'" filter="{ 'ps': 'text' }">
                        <span ng-if="inter.ps" style="width:70px" class="label display-block {{config.paiementArtisan[inter.ps].color}}">{{config.paiementArtisan[inter.ps].title}}
                    </span>
                    </td>
		    <td ng-if="inter.s !== 5"  ng-class="{'has3': routeParamsFilter == 'relanceCheques' && inter.re == 3, 'has2': routeParamsFilter == 'relanceCheques' && inter.re == 2, 'has1': routeParamsFilter == 'relanceCheques' && inter.re == 1}" data-title="smallWin ? 'Al' : 'Appel'" sortable="'al'">
		      <div style="text-align:center;">
			<span style="width:100%;color: {{inter.al ? 'green' : 'red' }};text-align:center;font-size:1.5em;" class="fa fa-phone-square display-block">
			</span>
		      </div>
		    </td>
                </tr>
                <tr ng-repeat-end ng-if="displaySubRow(inter)" ng-right-click="rowRightClick($event, inter)" md-swipe-left="interSwipe(inter.id)">
                    <td class="drpdwn" colspan="42" style="background-color:white!important">
                        <dropdown-row row="inter" expendedRow="expendedRow"></dropdown-row>
                        <!--   --{{!embedded}}--
                        <span ng-if="!embedded">
                        <lineup-intervention ng-if="!embedded" embedded="true" limit="10" filter="{ai:inter.ai}"></lineup-intervention>
                        </span> -->
                    </td>
                </tr>
            </tbody>
	           <h3>{{inter.a}}</h3>
        </table>
        <div ng-if="!!tableParams && !tableParams.data.length" style="text-align: center;">
            <h1>AUCUNS ELEMENTS</h1></div>
    </div>
    <div class="dropdown-menu--no-conflicts dropdown-menu--right dropdown__menu--is-dropped" style="margin-top: -215px;width: auto; height: auto; opacity: 1;" ng-style="contextMenu.style">
        <div class="dropdown-menu__content ng-scope">
            <ul class="ng-scope">
                <li ng-hide="item.hidden" ng-repeat="item in contextMenu.list">
                    <a ng-mouseover="contextMenu.closeSub()" ng-if="!item.subs" class="dropdown-link" ng-style="item.style" tabindex="0" ng-click="contextMenu.close();contextMenu.click(item)">{{item.title}}</a>
                    <a ng-style="item.style" ng-mouseover="contextMenu.openSub(200)" ng-if="item.subs" class="dropdown-link" tabindex="0"><i no-margin align-left class="fa fa-angle-right"></i>{{item.title}}</a>
                    <a lx-tooltip="{{contextMenu.tooltip(sub)}}" tooltip-position="right" ng-style="sub.style" ng-repeat="sub in item.subs" ng-click="contextMenu.close();contextMenu.click(sub)" ng-hide="sub.hidden" ng-if="contextMenu.mouseOverCM && item.subs" class="dropdown-link"><i no-margin align-left class=" fa fa-angle-double-right"></i>{{sub.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
