<div class="shadow-box">
  <div class="row">
    
      <div ng-if="routeParamsFilter === 'needFacturier'" >
	<div class="col-sm-5">
	  <button class="md-primary black-text md-button md-default-theme">
	    <link  fltr="a_hist" title="Historique d'envoi" model="artisan"></link>
	  </button>
	</div>
      </div>    
      <div class="col-sm-1">
      <div ng-if="routeParamsFilter === 'histEnvoi'">
	<button class="md-primary black-text md-button md-default-theme">
	  <link  fltr="a_fact" title="Demande facturier" model="artisan"></link>
	</button>
      </div>
      </div>
      
      <div class="col-sm-6 " style="text-align:right;margin-left:70px;margin-top: 3px;">
	<button ng-click="ArcCheck(); ActionArt()" ng-if="routeParamsFilter === 'needFacturier' && see === 1" class="fa fa-archive fa-3 fa fa-retweet fa-3 btn--no-conflicts btn--l btn--black btn--fab red" lx-tooltip="Archiver" aria-hidden="true"></button>
	<button ng-click="RelCheck();ActionArt();" ng-if="routeParamsFilter === 'needFacturier' && see === 1" class="fa fa-retweet fa-3 btn--no-conflicts btn--l btn--black btn--fab orange" lx-tooltip="Relancer document" aria-hidden="true"></button>
	<button ng-click="EnvCheck();ActionArt();" ng-if="routeParamsFilter === 'needFacturier' && see === 1" class="fa fa-file-text fa-3 btn--no-conflicts btn--l btn--black btn--fab blue" lx-tooltip="Envoyer Contrat" aria-hidden="true"></button>
	<button ng-click="FacCheck();ActionArt();" ng-if="routeParamsFilter === 'needFacturier' && see === 1" class="fa fa-send fa-3 btn--no-conflicts btn--l btn--black btn--fab green" lx-tooltip="Facturier/Deviseur/Tshirt" aria-hidden="true"></button>
	<button ng-click="RefCheck();ActionArt();" ng-if="routeParamsFilter === 'needFacturier' && see === 1" class="fa fa-times fa-3 btn--no-conflicts btn--l btn--black btn--fab red" lx-tooltip="Refuser" aria-hidden="true"></button>
	<button  class="btn" ng-click="selectAll();">Select All</button>
      </div>
  </div>
  <div class="row" ng-if="routeParamsFilter === 'histEnvoi'">
    <div class="col-md-offset-1 col-md-6"  style="width: 30%;">
      <div class="text-field date-picker">
	<label class="selected">Debut</label>
	<input type="text" pick-a-date="absence.start"  ng-model="select.start"/>
      </div>
    </div>
    <div class="col-md-6" style="width: 30%;">
      <div class="text-field date-picker">
	<label class="selected">Fin</label>
	<input type="text" pick-a-date="absence.end" ng-model="select.end"/>
      </div>
    </div>
    <div style="text-align:right;margin-right:70px;" ng-if="routeParamsFilter === 'histEnvoi' && see === 1">
      <button ng-click="ArcCheck();ActionArt();" class="fa fa-archive fa-3 fa fa-retweet fa-3 btn--no-conflicts btn--l btn--black btn--fab red" lx-tooltip="Archiver" aria-hidden="true"></button>
      <button ng-click="RelCheck();ActionArt();"  class="fa fa-retweet fa-3 btn--no-conflicts btn--l btn--black btn--fab orange" lx-tooltip="Relancer document" aria-hidden="true"></button>
      <button ng-click="EnvCheck();ActionArt();"  class="fa fa-file-text fa-3 btn--no-conflicts btn--l btn--black btn--fab blue" lx-tooltip="Envoyer Contrat" aria-hidden="true"></button>
      <button ng-click="FacCheck();ActionArt();"  class="fa fa-send fa-3 btn--no-conflicts btn--l btn--black btn--fab green" lx-tooltip="Facturier/Deviseur/Tshirt" aria-hidden="true"></button>
    </div>
  </div>
</div>
<div ng-if="delai">
  <table style="background:white;cursor:pointer" ng-table="tableParams" class="table table-bordered table-hover table-hover table-striped" id="table-list" show-filter="true">
    <tbody id="tbody-list">
      <tr data-id="{{::artisan.id}}" ng-repeat-start="delai in delai.data" ng-right-click="rowRightClick($event, delai)" ng-click="rowClick($event, delai, false)" ng-class="{'danger' : delai.cache.bl,success : contextMenu.active && contextMenu.data.id === delai.cache.id, 'warning' : delai.cache.cnd === 1}">
	<td data-title="'Ajout'" sortable="'t'" filter="{ 't': 'text' }">
	  <strong>{{::delai.cache.t}}</strong>
	</td>
	<td data-title="'Ajout'" sortable="'da'" filter="{ 'da': 'text' }">
	  {{delai.cache.da|relativeDate}}
	</td>
	<td data-title="'ID'" sortable="'id'" filter="{ 'id': 'text' }">
	  {{::artisan.id}}
	</td>
	<td variable-length data-title="'Nom Société'" sortable="'n'" filter="{ 'n': 'text' }">
	  <strong>{{::delai.cache.n}}</strong>
	</td>
	<td variable-length data-title="'Artisan'" sortable="'v'" filter="{ 'r': 'text' }">
	  <strong>{{::delai.cache.r}}</strong> {{::delai.cache.p}}
	</td>
	<td variable-length data-title="'Demandé par'"  ng-if="routeParamsFilter === 'needFacturier'" sortable="'fd'" filter="{'fd': 'text'}">
	  <span>{{delai.cache.fd}}  {{delai.cache.fn}}</span>
	</td>
	<td variable-length data-title="'Dernier facturier'" sortable="'df'" filter="{'df': 'text'}">
	  <span>{{delai.cache.df}}</span>
	  <span>{{delai.cache}}</span>
	</td>
	<td variable-length data-title="'Dernier Tshirt'" sortable="'dts'" filter="{'dts': 'text'}">
	  <span>{{delai.cache.dts}}</span>
	  <span>{{delai.cache}}</span>
	</td>
	<td variable-length data-title="'Taille Tshirt'" sortable="'st'" filter="'{'st': 'text'}'">
	  <strong>{{delai.cache.st}}</strong>{{delai.cache}}
	</td>
	<td data-title="'Dossier'" sortable="'f.a_dosc'" filter="{ 'f.a_dosc': 'text' }">
	  <span ng-if="delai.cache.f.a_dosc"  class="label green">COMPLET</span>
	  <span ng-if="!delai.cache.f.a_dosc"  class="label grey">INCOMPLET</span>
	</td>
	<td data-title="'Status'" sortable="'s'" filter="{ 's': 'text' }">
	  <span style="width:80px;" class="label {{::config.etatsArtisan[delai.cache.s].color}}">{{::config.etatsArtisan[delai.cache.s].long_name}}</span>
	</td>
	<td data-title="'sub'" sortable="'ss'" filter="{ 'ss': 'text' }">
	  <span style="width:80px;" class="label {{::config.artisanSubStatus[delai.cache.ss].color}} accent-2">{{::config.artisanSubStatus[delai.cache.ss].long_name}}</span>
	</td>
      </tr>
      <tr ng-repeat-end ng-if="expendedRow && expendedRow === delai.id">
	<td class="drpdwn" colspan="42" style="background-color:white!important">
	  <dropdown-row model="artisan" row="artisan" expendedRow="expendedRow"></dropdown-row>
	</td>
      </tr>
    </tbody>
  </table>
  <div class="dropdown-menu--no-conflicts dropdown-menu--right dropdown__menu--is-dropped" style="margin-top: -215px;width: auto; height: auto; opacity: 1;" ng-style="contextMenu.style">
    <div class="dropdown-menu__content ng-scope">
      <ul class="ng-scope">
	<li ng-hide="item.hidden" ng-repeat="item in contextMenu.list">
	  <a ng-mouseover="contextMenu.closeSub()" ng-if="!item.subs" class="dropdown-link" ng-style="item.style" tabindex="0" ng-click="contextMenu.close();contextMenu.click(item)">{{item.title}}</a>
	  <a ng-style="item.style" ng-mouseover="contextMenu.openSub(300)" ng-if="item.subs" class="dropdown-link" tabindex="0"><i no-margin align-left class="fa fa-angle-right"></i>{{item.title}}</a>
	  <a ng-style="sub.style" ng-repeat="sub in item.subs" ng-click="contextMenu.close();contextMenu.click(sub)" ng-hide="sub.hidden" ng-if="contextMenu.mouseOverCM && item.subs" class="dropdown-link"><i no-margin align-left class=" fa fa-angle-double-right"></i>{{sub.title}}</a>
	</li>
    </ul>
    </div>
  </div>  
</div>
<div ng-if="!delai">
  <table style="background:white;cursor:pointer" ng-table="tableParams" class="table table-bordered table-hover table-hover table-striped" id="table-list" show-filter="true">
    <tbody id="tbody-list">
      <tr data-id="{{::artisan.id}}" ng-repeat-start="artisan in $data" ng-right-click="rowRightClick($event, artisan)" ng-click="rowClick($event, artisan, false)" ng-class="{'danger' : artisan.bl,success : contextMenu.active && contextMenu.data.id === artisan.id, 'warning' : artisan.cnd === 1}">
	<td data-title="'Ajout'" sortable="'t'" filter="{ 't': 'text' }">
	  <strong>{{::artisan.t}}</strong>
	</td>
	<td data-title="'Ajout'" sortable="'da'" filter="{ 'da': 'text' }">
	  {{::artisan.da|relativeDate}}
	</td>
	<td data-title="'ID'" sortable="'id'" filter="{ 'id': 'text' }">
	  {{::artisan.id}}
	</td>
	<td variable-length data-title="'Nom Société'" sortable="'n'" filter="{ 'n': 'text' }">
	  <strong>{{::artisan.n}}</strong>
	</td>
	<td variable-length data-title="'Artisan'" sortable="'v'" filter="{ 'r': 'text' }">
	  <strong>{{::artisan.r}}</strong> {{::artisan.p}}
	</td>
	<td variable-length data-title="'Demandé par'" sortable="'fd'"  ng-if="routeParamsFilter === 'needFacturier'" filter="{'fd': 'text'}">
	  <span>{{artisan.fd}}  {{artisan.fn}}</span>
	</td>
	<td  data-title="'Dernier facturier'" sortable="'df'" filter="{'df': 'text'}">
	  <span>{{artisan.df}}</span>
	</td>
	<td  data-title="'Dernier Tshirt'" sortable="'dts'" filter="{'dts': 'text'}">
	  <span>{{artisan.dts}}</span>
	</td>
	<td data-title="'Taille Tshirt'" sortable="'st'" filter="{'st': 'text'}">
	  <span>{{artisan.st}}</span>
	</td>
	<td data-title="'Dossier'" sortable="'f.a_dosc'" filter="{ 'f.a_dosc': 'text' }">
	  <span ng-if="artisan.f.a_dosc"  class="label green">COMPLET</span>
	  <span ng-if="!artisan.f.a_dosc"  class="label grey">INCOMPLET</span>
	</td>
	<td data-title="'Status'" sortable="'s'" filter="{ 's': 'text' }">
	  <span style="width:80px;" class="label {{::config.etatsArtisan[artisan.s].color}}">{{::config.etatsArtisan[artisan.s].long_name}}</span>
	</td>
	<td data-title="'Sub'" sortable="'ss'" filter="{ 'ss': 'text' }">
	  <span style="width:80px;" class="label {{::config.artisanSubStatus[artisan.ss].color}} accent-2">{{::config.artisanSubStatus[artisan.ss].long_name}}</span>
	</td>
	<td variable-lengtth data-title="'Facturier'">
	  <md-checkbox ng-model="artisan.Action" aria-label="Checkbox 1" class="fab__primary md-warn md-align-top-left" ng-click="$event.stopPropagation();" ng-change="keep();">
	  </md-checkbox>
	</td>
	<td variable-lengtth data-title="'T-shirt'">
	  <md-checkbox ng-model="artisan.ActionTshirt" aria-label="Checkbox 2" class="fab__primary md-warn md-align-top-left" ng-click="$event.stopPropagation();" ng-change="keep();">
	  </md-checkbox>
	</td>
      </tr>
      <tr ng-repeat-end ng-if="expendedRow && expendedRow === artisan.id">
	<td class="drpdwn" colspan="42" style="background-color:white!important">
	  <dropdown-row model="artisan" row="artisan" expendedRow="expendedRow"></dropdown-row>
	</td>
      </tr>
    </tbody>
  </table>
  <div class="dropdown-menu--no-conflicts dropdown-menu--right dropdown__menu--is-dropped" style="margin-top: -215px;width: auto; height: auto; opacity: 1;" ng-style="contextMenu.style">
    <div class="dropdown-menu__content ng-scope">
      <ul class="ng-scope">
	<li ng-hide="item.hidden" ng-repeat="item in contextMenu.list">
	  <a ng-mouseover="contextMenu.closeSub()" ng-if="!item.subs" class="dropdown-link" ng-style="item.style" tabindex="0" ng-click="contextMenu.close();contextMenu.click(item)">{{item.title}}</a>
	  <a ng-style="item.style" ng-mouseover="contextMenu.openSub(300)" ng-if="item.subs" class="dropdown-link" tabindex="0"><i no-margin align-left class="fa fa-angle-right"></i>{{item.title}}</a>
	  <a ng-style="sub.style" ng-repeat="sub in item.subs" ng-click="contextMenu.close();contextMenu.click(sub)" ng-hide="sub.hidden" ng-if="contextMenu.mouseOverCM && item.subs" class="dropdown-link"><i no-margin align-left class=" fa fa-angle-double-right"></i>{{sub.title}}</a>
	</li>
      </ul>
    </div>
  </div>  
</div> 
