<div>
  <style>
    .injonction{
    background-color:rgba(255,0,0, 0.5);
    }
    .perdu{
    background-color:rgba(128,0,128, 0.5);
    }
    .impaye{
    background-color:rgba(0,128,0, 0.5);
    }
    .intervention{
    background-color:rgba(255,165,32, 0.5);
    }
    .prix{
    background-color:rgba(128,128,128, 0.5);
    }    
    </style>

    <div class="shadow-box listeInterventions" ng-init="rl = (routeParamsFilter === 'relanceClient')">
        <table style="background:white;cursor:pointer" ng-table="tableParams" class="table table-bordered table-hover table-hover table-xstriped" id="table-list" show-filter="!embedded">
            <tbody id="tbody-list">
                <tr data-id="{{inter.id}}" ng-repeat-start="inter in $data" ng-right-click="rowRightClick($event, inter)" ng-click="rowClick($event, inter, false)" ng-class="{
		info : contextMenu.active && contextMenu.data.id === inter.id,
                'light-green lighten-4':inter.rc,
                'yellow': rl && inter.l === 1,
                'red': rl && inter.l === 2,
                'blue': rl && inter.l === 3,
		'purple': rl && inter.l === 4
		}" md-swipe-left="interSwipe(inter.id)">
                    <td  ng-class="{'injonction':  inter.ls == 5, 'perdu':  inter.ls == 4, 'impaye': inter.ls == 3, 'intervention': inter.ls == 2, 'prix': inter.ls == 1}" data-title="'OS'" sortable="'id'" filter="{ 'id': 'text' }">
                        <strong>{{inter.id}}</strong>
                    </td>
                    <td   ng-class="{'injonction':  inter.ls == 5, 'perdu':  inter.ls == 4, 'impaye': inter.ls == 3, 'intervention': inter.ls == 2, 'prix': inter.ls == 1}" data-title="smallWin ? 'T' : 'Télépro'" sortable="'t'" filter="{ 't': 'text' }">
                        <span ng-if="smallWin"> {{inter.t.slice(0, 1)}}_{{inter.t.slice(-1)}}</span>
                        <span ng-if="!smallWin"> {{inter.t}}</span>
                    </td>
                    <td ng-class="{'injonction':  inter.ls == 5, 'perdu':  inter.ls == 4, 'impaye': inter.ls == 3, 'intervention': inter.ls == 2, 'prix': inter.ls == 1}" ng-init="inter._categorie = config.categoriesHash()[inter.c].long_name" data-title="smallWin ? 'C' : 'Cat.'" sortable="'c'" filter="{ '_categorie': 'text' }">
                        <span ng-if="smallWin" style="width:80px" class="label {{config.categoriesHash()[inter.c].color}}">{{config.categoriesHash()[inter.c].short_name}}</span>
                        <span ng-if="!smallWin" style="width:40px" class="label {{config.categoriesHash()[inter.c].color}}">{{config.categoriesHash()[inter.c].long_name}}</span>
                    </td>
                    <td  data-title="smallWin ? 'Aj' : 'Ajout'"  ng-class="{'injonction':  inter.ls == 5, 'perdu':  inter.ls == 4, 'impaye': inter.ls == 3, 'intervention': inter.ls == 2, 'prix': inter.ls == 1}" sortable="'da'" filter="{ '∆da': 'text' }">
                        {{inter.da | relativeDate:smallWin}}
                    </td>
                    <td variable-length   data-title="'Client'"  ng-class="{'injonction':  inter.ls == 5, 'perdu':  inter.ls == 4, 'impaye': inter.ls == 3, 'intervention': inter.ls == 2, 'prix': inter.ls == 1}" sortable="'n'" filter="{ 'n': 'text' }">
                        {{inter.n}}
                    </td>
                    <td variable-length  ng-class="{'injonction':  inter.ls == 5, 'perdu':  inter.ls == 4, 'impaye': inter.ls == 3, 'intervention': inter.ls == 2, 'prix': inter.ls == 1}" data-title="'Ville'" sortable="'ad'" filter="{ 'ad': 'text' }">
                        {{inter.ad}}
                    </td>
                    <td variable-length  ng-class="{'injonction':  inter.ls == 5, 'perdu':  inter.ls == 4, 'impaye': inter.ls == 3, 'intervention': inter.ls == 2, 'prix': inter.ls == 1}" class="variable-length one-liner" data-title="'Artisan'" sortable="'a'" filter="{ 'a': 'text' }">
                        <strong>{{inter.a}}</strong>
                        <strong ng-if="inter.d == 1 && !inter.a" class="red-text darken-1-text">A DEMARCHER</strong>
                        <strong ng-if="inter.d == 2 && !inter.a" class="light-blue-text darken-1-text">EN DEMARCHAGE ({{inter.dm}})</strong>
                        <small text-xxxxs class="{{config.artisanSubStatus[inter.ss].color}}-text">{{config.artisanSubStatus[inter.ss].long_name}}</small>
                    </td>

                    <td   ng-class="{'injonction':  inter.ls == 5, 'perdu':  inter.ls == 4, 'impaye': inter.ls == 3, 'intervention': inter.ls == 2, 'prix': inter.ls == 1}" data-title="smallWin ? 'P' : 'Prevu'" sortable="'di'" filter="{ '∆di': 'text' }">
                        <div ng-show="inter.di[0] != 1">
                            {{inter.di | relativeDate:smallWin}}
                        </div>
                    </td>

                    <td   ng-class="{'injonction':  inter.ls == 5, 'perdu':  inter.ls == 4, 'impaye': inter.ls == 3, 'intervention': inter.ls == 2, 'prix': inter.ls == 1}" data-title="smallWin ? 'Pr' : 'Prix'" sortable="'pa'" filter="{ 'pa': 'text' }">
                        <span ng-if="inter.f === 1" class="fa fa-list"></span>
                        <span ng-if="!smallWin">{{(inter.pa | number:2) || 0}} €</span>
                        <span ng-if="smallWin">{{(inter.pa | number:0) || 0}}€</span>
                        <i ng-if="inter.f.i_fall || inter.f.i_fact" style="margin-left:3px" class="fa fa-envelope-o"></i>
                    </td>

		    		<td ng-if="inter.s !== 5"  ng-class="{'injonction':  inter.ls == 5, 'perdu':  inter.ls == 4, 'impaye': inter.ls == 3, 'intervention': inter.ls == 2, 'prix': inter.ls == 1}" ng-init="inter._status = config.etatsHash()[inter.s];inter._etat = inter._status.long_name" data-title="smallWin ? 'S' : 'Status'" sortable="'s'" filter="{ '_etat': 'text' }">
		      			<span ng-if="!smallWin" style="width:75px" class="label {{inter.s === 4 && inter.ev ? 'black-text' : ''}} {{config.etatsHash()[inter.s].color}} display-block">
						{{config.etatsHash()[inter.s].long_name}}</span>
		      			<span ng-if="smallWin" style="width:34px" class="label {{config.etatsHash()[inter.s].color}} display-block">
						{{config.etatsHash()[inter.s].short_name}}</span>
		    		</td>
		    
                    <td  ng-class="{'injonction':  inter.ls == 5, 'perdu':  inter.ls == 4, 'impaye': inter.ls == 3, 'intervention': inter.ls == 2, 'prix': inter.ls == 1}" data-title="'rSST'" sortable="'ps'">
                        <span ng-if="inter.ps" style="width:70px" class="label display-block {{config.paiementArtisan[inter.ps].color}}">{{config.paiementArtisan[inter.ps].title}}
                    	</span>
                    </td>
		    		<td   ng-class="{'injonction':  inter.ls == 5, 'perdu':  inter.ls == 4, 'impaye': inter.ls == 3, 'intervention': inter.ls == 2, 'prix': inter.ls == 1}" data-title="smallWin ? 'Al' : 'Appel'" sortable="'al'">
		      			<div style="text-align:center;">
							<span style="width:100%;color: {{inter.al ? 'green' : 'red' }};text-align:center;font-size:1.5em;" class="fa fa-phone-square display-block">
							</span>
		      			</div>
		   			 </td>
                </tr>
                <tr ng-repeat-end ng-if="displaySubRow(inter)" ng-right-click="rowRightClick($event, inter)" md-swipe-left="interSwipe(inter.id)">
                    <td class="drpdwn" colspan="42" style="background-color:white!important">
                        <dropdown-row row="inter" expendedRow="expendedRow"></dropdown-row>
                        <!--   --{{!embedded}}--
                        <span ng-if="!embedded">
                        <lineup-intervention ng-if="!embedded" embedded="true" limit="10" filter="{ai:inter.ai}"></lineup-intervention>
                        </span> -->
                    </td>
                </tr>
            </tbody>
	           <h3>{{inter.a}}</h3>
        </table>
        <div ng-if="!!tableParams && !tableParams.data.length" style="text-align: center;">
            <h1>AUCUNS ELEMENTS</h1></div>
    </div>
    <div class="dropdown-menu--no-conflicts dropdown-menu--right dropdown__menu--is-dropped" style="margin-top: -215px;width: auto; height: auto; opacity: 1;" ng-style="contextMenu.style">
        <div class="dropdown-menu__content ng-scope">
            <ul class="ng-scope">
                <li ng-hide="item.hidden" ng-repeat="item in contextMenu.list">
                    <a ng-mouseover="contextMenu.closeSub()" ng-if="!item.subs" class="dropdown-link" ng-style="item.style" tabindex="0" ng-click="contextMenu.close();contextMenu.click(item)">{{item.title}}</a>
                    <a ng-style="item.style" ng-mouseover="contextMenu.openSub(200)" ng-if="item.subs" class="dropdown-link" tabindex="0"><i no-margin align-left class="fa fa-angle-right"></i>{{item.title}}</a>
                    <a lx-tooltip="{{contextMenu.tooltip(sub)}}" tooltip-position="right" ng-style="sub.style" ng-repeat="sub in item.subs" ng-click="contextMenu.close();contextMenu.click(sub)" ng-hide="sub.hidden" ng-if="contextMenu.mouseOverCM && item.subs" class="dropdown-link"><i no-margin align-left class=" fa fa-angle-double-right"></i>{{sub.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

