<div class="shadow-box listeInterventions">
  <table style="background:white;cursor:pointer" ng-table="tableParams" class="table table-bordered table-hover table-hover table-xstriped" id="table-list" show-filter="!embedded">
    <tbody id="tbody-list">
      <tr data-id="{{dem.id}}" ng-repeat="dem in $data" ng-class="{'success': dem.validepar && dem.demarchepar}">
        <td ng-init="dem._catego = config.categoriesHash()[dem.cate].long_name" data-title="smallWin ? 'C' : 'Cat.'" sortable="'cate'" filter="{ '_catego': 'text' }">
          <span ng-if="smallWin" style="width:80px" class="label {{config.categoriesHash()[dem.cate].color}}">{{config.categoriesHash()[dem.cate].short_name}}</span>
          <span ng-if="!smallWin" style="width:40px" class="label {{config.categoriesHash()[dem.cate].color}}">{{config.categoriesHash()[dem.cate].long_name}}</span>
        </td>
        <td data-title="smallWin ? 'Dp' : 'Demandé par'" sortable="'id'" filter="{ 'date': 'text' }">
          {{dem.date}} {{dem.login}}
        </td>
        <td variable-length data-title="'Ville'" sortable="'ad'" filter="{ 'ad': 'text' }">
          {{dem.ad}}
        </td>
	<td data-title="smallWin ? 'P' : 'Prospects'" sortable="'id'">
	  <button class="btn--no-conflicts btn--black btn--m btn--flat" ng-click="prospectModif(config.categoriesHash()[dem.cate].short_name, dem.ad)" style="width:100%;" ng-if="$rootScope.user.service === PARTENARIAT">Prospects</button>
	  </td>
	<!--<td data-title="smallWin ? 'Vp' : 'Validé par'" sortable="'id'" filter="{ 'validepar': 'text' }">
	  {{dem.validedate}}  {{dem.validepar}}
	</td>-->
        <td  data-title="'Annonce'">
          <button ng-if="!dem.validepar"  class="btn--no-conflicts btn--black btn--m btn--flat" style="width:100%;" ng-model="vali" ng-click="validate(dem)">Publié</button>
	  <p ng-if="dem.validepar">{{dem.validedate}}  {{dem.validepar}}</p>
        </td>
	<td data-title="'Demarché'">
          <button ng-if="!dem.demarchedate" class="btn--no-conflicts btn--black btn--m btn--flat" style="width:100%;" ng-model="dem.foundOne" ng-click="found(dem)">Demarché</button>
	  <p ng-if="dem.demarchedate">{{dem.demarchedate}}  {{dem.demarchepar}}</p>
        </td>
	<td  variable-length data-title="'Supp'">
	  <button  class="btn--no-conflicts btn--l btn--red btn--icon" style="width:100%;" ng-click="removeDemarch(dem)"><i class="fa fa-remove"></i></button>
	</td>
      </tr>
    </tbody>
  </table>
  <div ng-if="!!tableParams && !tableParams.data.length" style="text-align: center;">
    <h1>AUCUNS ELEMENTS</h1></div>
</div>
