<div>
	<!-- Choix des mois -->
	<div ng-if="routeParamsFilter == 'recouvrementArt' || routeParamsFilter == 'recouvrementArtn' || routeParamsFilter == 'recouvrementCl' || routeParamsFilter == 'recouvrementCln'">
		<span ng-if="routeParamsFilter == 'recouvrementArt'" style="margin-right:40px" ng-repeat="month in dateSelectList">
			<a href="/intervention/list/recouvrementArt?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
		</span>
		<span ng-if="routeParamsFilter == 'recouvrementArtn'" style="margin-right:40px" ng-repeat="month in dateSelectList">
			<a href="/intervention/list/recouvrementArtn?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}&s=1&ps=undefined&rc=0">{{month.t}}</a>
		</span>
		<br>
		<br>
	</div>

	<!-- Liste Intervention -->
	<div class="shadow-box listeInterventions" ng-init="rl = (routeParamsFilter === recouvrementArt)">
		<table style="background:white;cursor:pointer" ng-table="tableParams" class="table table-bordered table-hover table-xstriped" id="table-list" show-filter="!embedded">
			<tbody id="tbody-list">
				<!-- Start repeat liste -->
				<tr data-id="{{inter.id}}" ng-repeat-start="inter in $data" ng-right-click="rowRightClick($event, inter)" ng-click="rowClick($event, inter, false)" md-swipe-left="interSwipe(inter.id)">
					<!-- Inter id -->
					<td ng-if="!inter.f.i_fall && !inter.f.i_fact" data-title="'OS'" sortable="'id'" filter="{ 'id': 'text' }">
						<strong>{{inter.id}}</strong>
					</td>
					<!--  Télépro -->
					<td ng-if="!inter.f.i_fall && !inter.f.i_fact" data-title="smallWin ? 'T' : 'Télépro'" sortable="'t'" filter="{ 't': 'text' }">
						<span ng-if="smallWin">{{inter.t.slice(0, 1)}}_{{inter.t.slice(-1)}}</span>
						<span ng-if="!smallWin">{{inter.t}}</span>
					</td>
					<!-- Catégorie -->
					<td ng-if="!inter.f.i_fall && !inter.f.i_fact" ng-init="inter._categorie = config.categorieHash()[inter.c].long_name" data-title="smallWin ? 'C' : 'Catégorie'" sortable="'c'" filter="{ 'c': 'text' }">
						<span ng-if="smallWin" style="width:80px" class="label {{config.categorieHash()[inter.c].color}}">{{config.categorieHash()[inter.c].short_name}}</span>
						<span ng-if="!smallWin" style="width:40px" class="label {{config.categorieHash()[inter.c].color}}">{{config.categorieHash()[inter.c].long_name}}</span>
					</td>
					<!-- Dâte d'ajout -->
					<td ng-if="!inter.f.i_fall && !inter.f.i_fact" data-title="smallWin ? 'Aj' : 'Ajout'" sortable="'da'" filter="{ 'da': 'text' }">
						{{inter.da | relativeDate:smallWin}}
					</td>
					<!-- Client -->
					<td variable-length ng-if="!inter.f.i_fall && !inter.f.i_fact" data-title="'Client'" sortable="'n'" filter="{ 'n': 'text' }">
						{{inter.n}}
					</td>
					<!-- Adresse -->
					<td variable-length ng-if="!inter.f.i_fall && !inter.f.i_fact" data-title="'Ville'" sortable="'ad'" filter="{ 'ad': 'text' }">
						{{inter.ad}}
					</td>
					<!-- Démarchage -->
					<td variable-length ng-if="!inter.f.i_fall && !inter.f.i_fact" class="variable-length one-liner" data-title="'Artisan'" sortable="'a'" filter="{ 'a': 'text' }">
						<strong>{{inter.a}}</strong>
						<strong ng-if="inter.d == 1 && !inter.a" class="red-text darken-1-text">A DEMARCHER</strong>
						<strong ng-if="inter.d == 2 && !inter.a">EN DEMARCHAGE ({{inter.dm}})</strong>
						<small text-xxxxs class="{{config.artisanSubStatus[inter.ss].color}}-text">{{config.artisanSubStatus[inter.ss].long_name}}</small>
					</td>
					<!-- Dâte d'intervention -->
					<td ng-if="!inter.f.i_fall && !inter.f.i_fact" data-title="smallWin ? 'P' : 'Prevu'" sortable="'di'" filter="{ '∆di': 'text' }">
						<div ng-show="inter.di[0] != 1">
							{{inter.di | relativeDate:smallWin}}
						</div>
					</td>
					<!-- Prix/Facture -->
					<td ng-if="!inter.f.i_fall && !inter.f.i_fact" data-title="smallWin ? 'Pr' : 'Prix'" sortable="'pa'" filter="{ 'pa': 'text' }">
						<span ng-if="inter.f == 1" class="fa fa-list"></span>
						<span ng-if="smallWin">{{(inter.pa | number:0) || 0}}€</span>
						<span ng-if="!smallWin">{{(inter.pa | number:2) || 0}}€</span>
						<i ng-if="inter.f.i_fall || inter.f.i_fact" style="margin-left:3px" class="fa fa-envelope-o"></i>
					</td>
					<!-- Etat -->
					<td ng-if="inter.f != 5 && !inter.f.i_fall && !inter.f.i_fact" ng-init="inter._status = config.etatsHash()[inter.s];inter._etat = inter._status.long_name" 
						data-title="smallWin ? 'S' : 'Status'" sortable="'s'" filter="{ 's': 'text' }">
						<span ng-if="smallWin" style="width:34px" class="label {{config.etatsHash()[inter.s].color}} display-block">{{config.etatsHash()[inter.s].short_name}}</span>
						<span ng-if="!smallWin" style="width:75px" class="label {{inter.s === 4 && inter.ev ? 'black-text' : ''}} {{config.etatsHash()[inter.s].color}} display-block">
							{{config.etatsHash()[inter.s].long_name}}
						</span>
					</td>
					<!-- Paiement Artisan -->
					<td ng-if="!inter.f.i_fall && !inter.f.i_fact" data-title="'rSST'" sortable="'ps'" filter="{ 'ps': 'text' }">
						<span ng-if="inter.ps" style="width:70px" class="label {{config.paiementArtisan[inter.ps].color}} display-block">{{config.paiementArtisan[inter.ps].title}}</span>
					</td>
					<!-- Appel -->
					<td ng-if="!inter.f.i_fall && !inter.f.i_fact" data-title="smallWin ? 'Al' : 'Appel'" sortable="'al'">
						<div style="text-align:center;">
							<span style="width:100%;color: {{inter.al ? 'green' : 'red'}};text-align:center;font-size:1.5em;" class="fa fa-phone-square display-block"></span>
						</div>
					</td>
				</tr>
				<!-- Box information quand on clique gauche souris sur une inter -->
				<tr ng-repeat-end ng-if="displaySubRow(inter)" ng-right-click="rowRightClick($event, inter)" md-swipe-left="interSwipe(inter.id)">
					<td class="drpdwn" colspan="42" style="background-color:white!important">
						<dropdown-row row="inter" expendedRow="expendedRow"></dropdown-row>
					</td>
				</tr>
			</tbody>
				<h3>{{inter.a}}</h3>
		</table>
			<div ng-if="!!tableParams && !tableParams.data.length" style="text-align: center;">
				<h1>AUCUNS ELEMENTS</h1>
			</div>
	</div>
		<div class="dropdown-menu--no-conflicts dropdown-menu--right dropdown__menu--is-dropped" style="margin-top: -215px;width: auto; height: auto;opacity: 1;" ng-style="contextMenu.style">
			<div class="dropdown-menu__content ng-scope">
				<ul class="ng-scope">
					<li ng-hide="item.hidden" ng-repeat="item in contextMenu.list">
						<a ng-mouseover="contextMenu.closeSub()" ng-if="!item.subs" class="dropdown-link" ng-style="item.style" tabindex="0" ng-click="contextMenu.close();contextMenu.click(item)">{{item.title}}</a>
						<a ng-mouseover="contextMenu.openSub(200)" ng-if="item.subs" class="dropdown-link" ng-style="item.style" tabindex="0"><i no-margin align-left class="fa fa-angle-right"></i></a>
						<a 1x-tooltop="{{contextMenu.tooltip(sub)}}" tooltip-position="right" ng-style="sub.style" ng-repeat="sub in item.subs" ng-click="contextMenu.close();contextMenu.click(sub)" 
						ng-hide="sub.hidden" ng-if="contextMenu.mouseOverCM && item.subs" class="dropdrown-link"><i no-margin align-left class="fa fa-angle-double-right"></i>{{sub.title}}</a>
					</li>
				</ul>
			</div>
		</div>
</div>
