<div style="height: 100%">
    <style>
    .enc{
    background-color:rgba(255,144,0, 0.5);
    }
    .encR{
    background-color:rgba(103,103,103, 0.5);
    }
    .resolu{
    background-color:rgba(50,160,0, 0.5);
    }
    .perte{
    background-color:rgba(255,0,0, 0.5);
    }
    </style>
    <!-- Choix des mois -->
    <span ng-if="routeParamsFilter == 'recRelLit'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recRelLit?∆dr={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recLitClos'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recLitClos?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recLitPris'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recLitPris?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recLitPlaintes'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recLitPlaintes?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recLitOpposition'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recLitOpposition?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recLitAutres'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recLitAutres?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recLitRisqueOpposition'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recLitRisqueOpposition?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recLitTarif'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recLitTarif?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recLitQualite'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recLitQualite?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recLitNonPris'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recLitNonPris?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recClientClos'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recClientClos?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recClientNonPris'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recClientNonPris?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recClientPris'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recClientPris?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recRetEnvoi'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recRetEnvoi?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recImpaye'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recImpaye?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recChequePerdu'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recChequePerdu?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recPasDeContact'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recPasDeContact?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recPlaintes'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recPlaintes?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recFactureNonRecu'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recFactureNonRecu?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recTarif'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recTarif?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recQualite'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recQualite?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'recAutres'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/recAutres?∆di={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <span ng-if="routeParamsFilter == 'relRec'" style="margin-right:40px" ng-repeat="month in dateSelectList">
        <a href="/intervention/list/relRec?∆dr={{_.padLeft(month.m, 2, '0')}}/{{month.y}}">{{month.t}}</a>
    </span>
    <br>
    <br>
    </div>
    <div class="shadow-box listeInterventions">
        <table style="background:white;cursor:pointer" ng-table="tableParams" class="table table-bordered table-hover table-hover table-xstriped" id="table-list" show-filter="!embedded">
            <tbody id="tbody-list">
                <tr data-id="{{inter.id}}" ng-repeat-start="inter in $data" ng-right-click="rowRightClick($event, inter)" ng-click="rowClick($event, inter, false)" md-swipe-left="interSwipe(inter.id)">
                    <td  ng-class="{'enc': inter.sr == 'enc', 'encR': inter.sr == 'reg', 'resolu': inter.sr == 'resolu', 'perte': inter.sr == 'perte'}" data-title="'OS'" sortable="'id'" filter="{ 'id': 'text' }">
                        <i ng-if="inter.ly == 4" class="fa fa-star"></i>
                        <strong>{{inter.id}}</strong>
                    </td>
                    <td ng-class="{'enc': inter.sr == 'enc', 'encR': inter.sr == 'reg', 'resolu': inter.sr == 'resolu', 'perte': inter.sr == 'perte'}" data-title="smallWin ? 'T' : 'Télépro'" sortable="'t'" filter="{ 't': 'text' }">
                        <span ng-if="smallWin"> {{inter.t.slice(0, 1)}}_{{inter.t.slice(-1)}}</span>
                        <span ng-if="!smallWin"> {{inter.t}}</span>
                    </td>
                    <td ng-class="{'enc': inter.sr == 'enc', 'encR': inter.sr == 'reg', 'resolu': inter.sr == 'resolu', 'perte': inter.sr == 'perte'}" ng-init="inter._categorie = config.categoriesHash()[inter.c].long_name" data-title="smallWin ? 'C' : 'Cat.'" sortable="'c'" filter="{ '_categorie': 'text' }">
                        <span ng-if="smallWin" style="width:80px" class="label {{config.categoriesHash()[inter.c].color}}">{{config.categoriesHash()[inter.c].short_name}}</span>
                        <span ng-if="!smallWin" style="width:40px" class="label {{config.categoriesHash()[inter.c].color}}">{{config.categoriesHash()[inter.c].long_name}}</span>
                    </td>
                    <td  ng-class="{'enc': inter.sr == 'enc', 'encR': inter.sr == 'reg', 'resolu': inter.sr == 'resolu', 'perte': inter.sr == 'perte'}" data-title="smallWin ? 'Aj' : 'Ajout'" sortable="'da'" filter="{ '∆da': 'text' }">
                        {{inter.da | relativeDate:smallWin}}
                    </td>
                    <td variable-length  ng-class="{'enc': inter.sr == 'enc', 'encR': inter.sr == 'reg', 'resolu': inter.sr == 'resolu', 'perte': inter.sr == 'perte'}" data-title="'Client'" sortable="'n'" filter="{ 'n': 'text' }">
                        {{inter.n}}
                    </td>
                    <td ng-class="{'enc': inter.sr == 'enc', 'encR': inter.sr == 'reg', 'resolu': inter.sr == 'resolu', 'perte': inter.sr == 'perte'}" variable-length data-title="'Ville'" sortable="'ad'" filter="{ 'ad': 'text' }">
                        {{inter.ad}}
                    </td>
                    <td ng-class="{'enc': inter.sr == 'enc', 'encR': inter.sr == 'reg', 'resolu': inter.sr == 'resolu', 'perte': inter.sr == 'perte'}" variable-length class="variable-length one-liner" data-title="'Artisan'" sortable="'a'" filter="{ 'a': 'text' }">
                        <strong>{{inter.a}}</strong>
                        <strong ng-if="inter.d == 1 && !inter.a" class="red-text darken-1-text">A DEMARCHER</strong>
                        <strong ng-if="inter.d == 2 && !inter.a" class="light-blue-text darken-1-text">EN DEMARCHAGE ({{inter.dm}})</strong>
                        <small text-xxxxs class="{{config.artisanSubStatus[inter.ss].color}}-text">{{config.artisanSubStatus[inter.ss].long_name}}</small>
                    </td>
                    <td ng-class="{'enc': inter.sr == 'enc', 'encR': inter.sr == 'reg', 'resolu': inter.sr == 'resolu', 'perte': inter.sr == 'perte'}" data-title="smallWin ? 'DI' : 'D. inter'" sortable="'di'" filter="{ '∆di': 'text' }">
                        <div ng-show="inter.di[0] != 1">
                            {{inter.di | relativeDate:smallWin}}
                        </div>
                    </td>
                    <td ng-if="routeParamsFilter == 'relRec' || routeParamsFilter == 'recRelLit'" ng-class="{'enc': inter.sr == 'enc', 'encR': inter.sr == 'reg', 'resolu': inter.sr == 'resolu', 'perte': inter.sr == 'perte'}" data-title="smallWin ? 'P' : 'Prevu'" sortable="'dr'" filter="{ '∆dr': 'text' }">
                        <div ng-show="inter.dr[0] != 1">
                            {{inter.dr | relativeDate:smallWin}}
                        </div>
                    </td>
                    <td ng-class="{'enc': inter.sr == 'enc', 'encR': inter.sr == 'reg', 'resolu': inter.sr == 'resolu', 'perte': inter.sr == 'perte'}" data-title="smallWin ? 'Pr' : 'Prix'" sortable="'pa'" filter="{ 'pa': 'text' }">
                        <span ng-if="inter.f === 1" class="fa fa-list"></span>
                        <span ng-if="!smallWin">{{(inter.pa | number:2) || 0}} €</span>
                        <span ng-if="smallWin">{{(inter.pa | number:0) || 0}}€</span>
                        <i ng-if="inter.f.i_fall || inter.f.i_fact" style="margin-left:3px" class="fa fa-envelope-o"></i>
                    </td>
                    <td ng-class="{'enc': inter.sr == 'enc', 'encR': inter.sr == 'reg', 'resolu': inter.sr == 'resolu', 'perte': inter.sr == 'perte'}" ng-init="inter._status = config.etatsHash()[inter.s]" data-title="smallWin ? 'SI' : 'Status I'" sortable="'s'" filter="{ 's': 'text' }">
                        <span ng-if="!smallWin" style="width:75px" class="label {{inter.s === 4 && inter.ev ? 'black-text' : ''}} {{config.etatsHash()[inter.s].color}} display-block"> 
                        {{config.etatsHash()[inter.s].long_name}}</span>
                        <span ng-if="smallWin" style="width:34px" class="label {{config.etatsHash()[inter.s].color}} display-block"> 
                        {{config.etatsHash()[inter.s].short_name}}</span>
                    </td>
                    <td ng-if="routeParamsFilter == 'recLitClos' || routeParamsFilter == 'recLitPris' || routeParamsFilter == 'recRelLit' || routeParamsFilter == 'recLitAutres' || routeParamsFilter == 'recLitOpposition' || routeParamsFilter == 'recLitPlaintes'" ng-class="{'enc': inter.sr == 'enc', 'encR': inter.sr == 'reg', 'resolu': inter.sr == 'resolu', 'perte': inter.sr == 'perte'}" data-title="smallWin ? 'SL' : 'Status L'" sortable="'sr'" filter="{ 'sr': 'text' }" style="text-align: center">
                        <span ng-if="smallWin && inter.sr == 'enc'" style="text-align: center; width:75px; background-color: orange; border-radius: 3px;" class="label">ENC</span>
                        <span ng-if="!smallWin && inter.sr == 'enc'" style="text-align: center; width:34px; background-color: orange; border-radius: 3px;" class="label">En Cours</span>
                        <span ng-if="smallWin && inter.sr == 'reg'" style="text-align: center; width:75px; background-color: grey; border-radius: 3px;" class="label">ENCR</span>
                        <span ng-if="!smallWin && inter.sr == 'reg'" style="text-align: center; width:34px; background-color: grey; border-radius: 3px;" class="label">En Cours R</span>
                        <span ng-if="smallWin && inter.sr == 'resolu'" style="text-align: center; width:75px; background-color: #4CAF50; border-radius: 3px;" class="label">RES</span>
                        <span ng-if="!smallWin && inter.sr == 'resolu'" style="text-align: center; width:34px; background-color: #4CAF50; border-radius: 3px;" class="label">Résolu</span>
                        <span ng-if="smallWin && inter.sr == 'perte'" style="text-align: center; width:75px; background-color: red; border-radius: 3px;" class="label">PRT</span>
                        <span ng-if="!smallWin && inter.sr == 'perte'" style="text-align: center; width:34px; background-color: red; border-radius: 3px;" class="label">Perte</span>
                    </td>
                    <td ng-if="routeParamsFilter == 'relRec' || routeParamsFilter == 'recClientClos' || routeParamsFilter == 'recClientPris' || routeParamsFilter == 'recPasDeContact' || routeParamsFilter == 'recRetEnvoi' || routeParamsFilter == 'recPlaintes' || routeParamsFilter == 'recOpposition' || routeParamsFilter == 'recChequePerdu' || routeParamsFilter == 'recImpaye' || routeParamsFilter == 'recFactureNonRecu' || routeParamsFilter == 'recTarif' || routeParamsFilter == 'recQualite' || routeParamsFilter == 'recAutres'" ng-class="{'enc': inter.sr == 'enc', 'encR': inter.sr == 'reg', 'resolu': inter.sr == 'resolu', 'perte': inter.sr == 'perte'}" data-title="smallWin ? 'SR' : 'Status R'" sortable="'sr'" filter="{ 'sr': 'text' }" style="text-align: center">
                        <span ng-if="smallWin && inter.sr == 'enc'" style="text-align: center; width:75px; background-color: orange; border-radius: 3px;" class="label">ENC</span>
                        <span ng-if="!smallWin && inter.sr == 'enc'" style="text-align: center; width:34px; background-color: orange; border-radius: 3px;" class="label">En Cours</span>
                        <span ng-if="smallWin && inter.sr == 'reg'" style="text-align: center; width:75px; background-color: grey; border-radius: 3px;" class="label">ENCR</span>
                        <span ng-if="!smallWin && inter.sr == 'reg'" style="text-align: center; width:34px; background-color: grey; border-radius: 3px;" class="label">En Cours R</span>
                        <span ng-if="smallWin && inter.sr == 'resolu'" style="text-align: center; width:75px; background-color: #4CAF50; border-radius: 3px;" class="label">RES</span>
                        <span ng-if="!smallWin && inter.sr == 'resolu'" style="text-align: center; width:34px; background-color: #4CAF50; border-radius: 3px;" class="label">Résolu</span>
                        <span ng-if="smallWin && inter.sr == 'perte'" style="text-align: center; width:75px; background-color: red; border-radius: 3px;" class="label">PRT</span>
                        <span ng-if="!smallWin && inter.sr == 'perte'" style="text-align: center; width:34px; background-color: red; border-radius: 3px;" class="label">Perte</span>
                    </td>
                    <td ng-class="{'enc': inter.sr == 'enc', 'encR': inter.sr == 'reg', 'resolu': inter.sr == 'resolu', 'perte': inter.sr == 'perte'}" data-title="'rSST'" sortable="'ps'" filter="{ 'ps': 'text' }">
                        <span ng-if="inter.ps" style="width:70px" class="label display-block {{config.paiementArtisan[inter.ps].color}}">{{config.paiementArtisan[inter.ps].title}}
                    </span>
                    </td>
		    <td ng-class="{'enc': inter.sr == 'enc', 'encR': inter.sr == 'reg', 'resolu': inter.sr == 'resolu', 'perte': inter.sr == 'perte'}"  data-title="smallWin ? 'Al' : 'Appel'" sortable="'al'">
		      <div style="text-align:center;">
			<span style="width:100%;color: {{inter.al ? 'green' : 'red' }};text-align:center;font-size:1.5em;" class="fa fa-phone-square display-block">
			</span>
		      </div>
		    </td>
                </tr>
                <tr ng-repeat-end ng-if="displaySubRow(inter)" ng-right-click="rowRightClick($event, inter)" md-swipe-left="interSwipe(inter.id)">
                    <td class="drpdwn" colspan="42" style="background-color:white!important">
                        <dropdown-row row="inter" expendedRow="expendedRow"></dropdown-row>
                    </td>
                </tr>
            </tbody>
	           <h3>{{inter.a}}</h3>
        </table>
        <div ng-if="!!tableParams && !tableParams.data.length" style="text-align: center;">
            <h1>AUCUNS ELEMENTS</h1></div>
    </div>
    <div class="dropdown-menu--no-conflicts dropdown-menu--right dropdown__menu--is-dropped" style="margin-top: -215px;width: auto; height: auto; opacity: 1;" ng-style="contextMenu.style">
        <div class="dropdown-menu__content ng-scope">
            <ul id="ulDropMenu" class="ng-scope">
                <li ng-hide="item.hidden" ng-repeat="item in contextMenu.list">
                    <a ng-mouseover="contextMenu.closeSub()" ng-if="!item.subs" class="dropdown-link" ng-style="item.style" tabindex="0" ng-click="contextMenu.close();contextMenu.click(item)">{{item.title}}</a>
                    <a ng-style="item.style" ng-mouseover="contextMenu.openSub(200)" ng-if="item.subs" class="dropdown-link" tabindex="0"><i no-margin align-left class="fa fa-angle-right"></i>{{item.title}}</a>
                    <a lx-tooltip="{{contextMenu.tooltip(sub)}}" tooltip-position="right" ng-style="sub.style" ng-repeat="sub in item.subs" ng-click="contextMenu.close();contextMenu.click(sub)" ng-hide="sub.hidden" ng-if="contextMenu.mouseOverCM && item.subs" class="dropdown-link"><i no-margin align-left class=" fa fa-angle-double-right"></i>{{sub.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
