<div id="main-navbar" class="navbar navbar-inverse" role="navigation" ng-class="{'red':root.displayUser.login != root.user.login}">
    <!-- Main menu toggle -->
    <button type="button" ng-click="root.toggleSidebarMode()" id="main-menu-toggle">
    <i ng-class="{'fa-toggle-on':root.sideBarIsClosed, 'fa-toggle-off':!root.sideBarIsClosed}" class="fa fa-2x"></i>
    <span class="hide-menu-text">HIDE MENU</span></button>
    <div class="navbar-inner">
        <!-- Main navbar header -->
        <div class="navbar-header" style='background: transparent;'>
            <!-- Logo -->
            <a href="/" class="navbar-brand">
                <div>
                    <img style="margin: 0 auto;" src="/img/logo_cutted.png">
                </div>
                EdisonServices
            </a>
            <!-- Main navbar toggle -->
            <button type="button" ng-init="collapseNav = true" ng-click="collapseNav = !collapseNav" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>
        </div>
        <!-- / .navbar-header -->
        <div id="main-navbar-collapse" class="{{collapseNav ? 'collapse' : ''}} navbar-collapse main-navbar-collapse">
            <div>
                <ul class="nav navbar-nav" ng-if="!searchFocus && !vm.phoneWin">
                    <li class="dropdown" ng-class="{open:selectedTab == model.title}" ng-click="select(model.title)" ng-repeat="model in tabContainer.ordered()" id="{{model.title}}" ng-click="openSubTab(model)">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{_.capitalize(model.title)}} ({{model.tabs.length}})</a>
                        <ul ng-if="selectedTab == model.title" class="dropdown-menu">
                            <li ng-repeat="t in model.tabs">

                            <a href="{{t.path}}">
                                  <!--   <i class="fa fa-close red-text" ng-click="t.close()"></i>&nbsp;&nbsp; - &nbsp;&nbsp; -->{{t.title}}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <!-- / .navbar-nav -->
                <div class="right clearfix">
                    <ul class="nav navbar-nav pull-right right-navbar-nav">
                        <!-- /3. $END_NAVBAR_ICON_BUTTONS -->
                        <li>
                            <form class="navbar-form pull-left">
                               <input type="text" class="form-control" placeholder="Recherche..." ng-enter="search(searchItem)" ng-model="searchItem">
                            </form>
                        </li>
                        <li class="dropdown" ng-click="userDropdown = !userDropdown">
                            <a class="dropdown-toggle user-menu" data-toggle="dropdown">
                                <img ng-click="root.displayUser = root.user;userDropdown = !userDropdown" src="/api/user/{{root.displayUser.login}}/profile">
                                <span bold>{{_.capitalize(root.displayUser.login)}}</span>
                            </a>
                            <ul ng-class="{'display-block' : userDropdown}" class="dropdown-menu open" style="{{root.phoneWin ? 'border-color: rgb(86, 151, 228);' : ''}}">
                                <li style="{{root.phoneWin ? 'background-color: rgb(65, 140, 228);' : ''}}"><a ng-click="logout()"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- / .navbar-nav -->
                </div>
                <!-- / .right -->
            </div>
        </div>
        <!-- / #main-navbar-collapse -->
    </div>
    <!-- / .navbar-inner -->
</div>
