<div flex-item>
    <div class="card margin">
        <md-list>
            <a href="https://trello.com/b/bJFh6icB/tasklist" target="_blank">
                <md-subheader class="md-no-sticky">Liste des taches <span style="float:right">
            	Ajouter
            </span></md-subheader>
            </a>
            <md-list-item ng-repeat="task in tasklist.checkItems" ng-click="check(task)" ng-class="{'barred':task.checked}">
                <p> {{ task.name }}</p>
                <md-checkbox class="md-secondary" ng-model="task.checked"></md-checkbox>
            </md-list-item>
        </md-list>
    </div>
</div>
