body {
    font-family: "Helvetica", "Segoe UI", Helvetica, Arial, sans-serif;
    background: rgb(204, 204, 204);
}

.bar-code-text {
    width: 112px;
    font-size: 8px;
    text-align: center;
}

page[size="A4"] {
    position: relative;
    background: white;
    font-size: 14px;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 0.5cm;
}

[vertical-align] {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

[small-text] {
    font-size: 7px;
}

header {
    margin-top: 1.5cm;
    margin-left: 11cm;
    line-height: 12px;
    display: block;
    margin-bottom: 1cm;
    text-align: left;
}

.align-right {
    text-align: right;
}

.border {
    background: #85C82B !important;
    -webkit-print-color-adjust: exact;
    height: 1123px;
    width: 39px;
    position: absolute;
    float: right;
    margin-left: 755px;
}

.logo {
    margin-top: 15px;
    margin-left: 20px;
    width: 20%;
    margin-bottom: -20px;
}

.left {
    height: 100%;
    width: 49%;
    display: inline-block;
}

.right {
    height: 100%;
    width: 49%;
    float: right;
}

.code {
    margin-top: 0.55cm;
    margin-right: 0.5cm;
    float: right;
    height: 1.8cm;
    width: 3.8cm;
}

.code img {
    margin-top: 30px;
    width: 80%;
    height: 60%
}

.code .text {
    margin-left: 25px;
    font-size: 10px;
}

.code .texttop {
    margin-left: 30px;
    font-size: 10px;
    margin-bottom: -20px;
}

.container {
    padding-top: 0.5cm;
    padding-left: 2cm;
    padding-right: 2cm;
}

.body {
    text-align: justify;
    padding-right: 1cm;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.text-center {
    text-align: center
}

.full-width {
    width: 99%;
}

h1 {
    font-size: 16px;
    display: inline-block;
}

h2 {
    font-size: 12px;
}

.panel-title {
    border: 1px solid #85C82B;
    margin-bottom: 0.2cm;
    border-left: 10px solid #85C82B;
    padding-left: 8px;
}

.panel {
    padding: 10px;
    border: 1px solid black;
}

p,
li {
    font-size: 13px;
    word-wrap: break-word;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    border: 1px solid black;
    font-size: 11px;
}

.no-border {
    border: 0px;
    border-right: 1px solid black;
}

.border-title {
    border-left: 1px solid black;
}

.tbl-bg {
    background: #F5F5F5 !important;
    -webkit-print-color-adjust: exact;
}

.bg-green {
    background: #85C82B !important;
    -webkit-print-color-adjust: exact;
}

@media print {
    body,
    page[size="A4"] {
        margin: 0;
        box-shadow: 0;
    }
    footer {
        margin-top: -30px;
    }
}

footer {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    font-size: 8.6px;
    text-align: center;
}

.spacer,
.spacer-md {
    height: 0.5cm;
}

.spacer-lg {
    height: 0.7cm;
}

.spacer-xl {
    height: 1cm;
}

.spacer-sm {
    height: 0.3cm;
}

.spacer-xs {
    height: 0.2cm;
}

.spacer-xxs {
    height: 0.1cm;
}

.spacer-xxxs {
    height: 0.05cm;
}

*[close] {
    line-height: 0;
}

*[strong] {
    font-weight: bold;
}

*[center] {
    text-align: center
}

.separateur {
    border-bottom: 1px solid black;
}

.justify {
    text-align: justify;
}

p {
    font-weight: normal;
}

p .align-right {
    margin-left: 11cm;
    text-align: left;
}
