<!-- <div>
    <div class="shadow-box listeInterventions">
        <div class="row" style="margin:20px">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="data-table-container">
                    <header class="data-table-header">
                        <div class="data-table-header__label">
                            <span class="fs-title">Résultats Interventions pour "{{vm.routeParams.query}}"</span>
                        </div>
                    </header>
                    <table class="table table-condensed table-hover">
                        <tbody>
                            <tr ng-repeat="intervention in vm.data.intervention" ng-click="vm.open('/intervention/' + intervention.id)">
                                <td>{{intervention.id}} - 
                                {{intervention.client.civilite}} {{intervention.client.prenom}} <strong>{{intervention.client.nom}}</strong> - 
                                
                                    <span style="width:100px" class="label {{vm.config.categories[intervention.categorie].color}}">{{vm.config.categories[intervention.categorie].long_name}}</span>
                                 - 
                                
                                    <span style="width:100px" class="label {{vm.config.etats[intervention.status].color}}">{{vm.config.etats[intervention.status].long_name}}</span>
                                 - 
                                {{intervention.date.intervention|date:"dd/MM/yy à HH'h'mm"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" style="margin:20px">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="data-table-container">
                    <header class="data-table-header">
                        <div class="data-table-header__label">
                            <span class="fs-title">Résultats Devis pour "{{vm.routeParams.query}}"</span>
                        </div>
                    </header>
                    <table class="table table-condensed table-hover">
                        <tbody>
                            <tr ng-repeat="devis in vm.data.devis" ng-click="vm.open('/devis/' + devis.id)">
                                <td>{{devis.id}} - 
                                {{devis.client.civilite}} {{devis.client.prenom}} <strong>{{devis.client.nom}}</strong> - 
                                
                                    <span style="width:100px" class="label {{vm.config.categories[devis.categorie].color}}">{{vm.config.categories[devis.categorie].long_name}}</span>
                                 - 
                                
                                    <span style="width:100px" class="label {{vm.config.etatsDevis[devis.status].color}}">{{vm.config.etatsDevis[devis.status].long_name}}</span>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
         <div class="row" style="margin:20px">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="data-table-container">
                    <header class="data-table-header">
                        <div class="data-table-header__label">
                            <span class="fs-title">Résultats Artisan pour "{{vm.routeParams.query}}"</span>
                        </div>
                    </header>
                    <table class="table table-condensed table-hover">
                        <tbody>
                            <tr ng-repeat="artisan in vm.data.artisan" ng-click="vm.open('/artisan/' + artisan.id)">
                                <td>{{artisan.id}} - {{artisan.nomSociete}}
                                {{artisan.civilite}} {{artisan.prenom}} <strong>{{artisan.nom}}</strong> - 
                                
                                    <span style="width:100px" class="label {{vm.config.artisanSubStatus[artisan.subStatus].color}}">{{vm.config.artisanSubStatus[artisan.subStatus].long_name}}</span>
                                 - 
                                
                                    <span style="width:100px" class="label {{vm.config.etatsArtisan[artisan.status].color}}">{{vm.config.etatsArtisan[artisan.status].long_name}}</span>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div>
    <div class="shadow-box listeInterventions">
        <div class="row" style="margin:20px">
            <div class="col-sm-4">
                <div class="mt++">
                    <span class="fs-title display-block mb">Interventions</span>
                    <div class="divider divider--dark"></div>
                    <ul class="list mt++">
                        <li class="list-row list-row--has-separator" ng-click="vm.open('/intervention/' + intervention.id)" ng-repeat="intervention in vm.data.intervention|orderBy:'-id'">
                            <div class="list-row__primary">
                                <i class="icon icon--l icon--green icon--circled fa fa-file-text-o"></i>
                            </div>
                            <div class="list-row__content">
                                <span class="display-block"><strong>{{intervention.id}}</strong> - {{intervention.client.civilite}} {{intervention.client.prenom}} <strong>{{intervention.client.nom}}</strong></span>
                                <span class="display-block fs-body-1 tc-black-2">
                             <span style="width:100px" class="label {{vm.config.categories[intervention.categorie].color}}">{{vm.config.categories[intervention.categorie].short_name}}</span> -
                                <span style="width:100px" class="label {{vm.config.etats[intervention.status].color}}">{{vm.config.etats[intervention.status].short_name}}</span> - {{intervention.date.intervention|date:"dd/MM/yy à HH'h'mm"}}</span> <span ng-if="intervention.artisan.id"><a href="/artisan/{{intervention.artisan.id}}/recap">{{intervention.artisan.nomSociete}}</a></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mt++">
                    <span class="fs-title display-block mb">Devis</span>
                    <div class="divider divider--dark"></div>
                    <ul class="list mt++">
                        <li class="list-row list-row--has-separator" ng-click="vm.open('/devis/' + devis.id)" ng-repeat="devis in vm.data.devis|orderBy:'-id'">
                            <div class="list-row__primary">
                                <i class="icon icon--l icon--blue icon--circled fa fa-file-o"></i>
                            </div>
                            <div class="list-row__content">
                                <span class="display-block"><strong>{{devis.id}}</strong> - {{devis.client.civilite}} {{devis.client.prenom}} <strong>{{devis.client.nom}}</strong></span>
                                <span class="display-block fs-body-1 tc-black-2">
                             <span style="width:100px" class="label {{vm.config.categories[devis.categorie].color}}">{{vm.config.categories[devis.categorie].long_name}}</span>
                                <span style="width:100px" class="label {{vm.config.etatsDevis[devis.status].color}}">{{vm.config.etatsDevis[devis.status].long_name}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mt++">
                    <span class="fs-title display-block mb">Artisans</span>
                    <div class="divider divider--dark"></div>
                    <ul class="list mt++">
                        <li class="list-row list-row--has-separator" ng-click="vm.open('/artisan/' + artisan.id + '/recap')" ng-repeat="artisan in vm.data.artisan|orderBy:'-id'">
                            <div class="list-row__primary">
                                <i class="icon icon--l icon--brown icon--circled fa fa-2x fa-map-marker"></i>
                            </div>
                            <div class="list-row__content">
                                <span class="display-block"><strong>{{artisan.id}}</strong> {{artisan.representant.prenom}} <strong>{{artisan.representant.nom}}</strong></span>
                                <span class="display-block fs-body-1 tc-black-2">
                                {{artisan.nomSociete}} -
                                <span style="width:100px" class="label {{vm.config.etatsArtisan[artisan.status].color}}">{{vm.config.etatsArtisan[artisan.status].long_name}}</span>
 <span style="width:100px" class="label {{vm.config.artisanSubStatus[artisan.subStatus].color}}">{{vm.config.artisanSubStatus[artisan.subStatus].long_name}}</span>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
