<div>
    <div class="shadow-box listeInterventions" center>
      <h2>
	<img src="https://www.dropbox.com/s/9chrarvey2dfvu2/logo_app2.png?raw=1" ng-if="vm.sst.lydia && vm.sst.smartphone === 'Smartphone'" style="width:20px;margin-bottom:5px;" class="fa fa-mobile"></img>
	<img src="https://www.dropbox.com/s/w1h075ukh58aowv/78199-cellphone-crossed.png?raw=1" ng-if="vm.sst.smartphone === 'Mobile'" style="width:20px;margin-bottom:5px;" class="fa fa-mobile"></img>
	<span ng-if="vm.sst.smartphone === 'Smartphone' && !vm.sst.lydia" style="margin-left:10px;font-size:1.2em;" class="fa fa-mobile"></span>
	<span ng-if="vm.sst.star" class="fa fa-star yellow-text"> </span>
	  <a style="color:black" href="/artisan/{{vm.sst.id}}">{{vm.sst.representant.civillite}} {{vm.sst.representant.prenom}} {{vm.sst.representant.nom}}</a> &nbsp;&nbsp;&nbsp;&nbsp;
	  <a ng-click="vm.callSst(vm.sst.telephone.tel1, vm.sst.id)">{{vm.sst.telephone.tel1}}</a> 
	  <a ng-click="vm.callSst(vm.sst.telephone.tel2, vm.sst.id)">- {{vm.sst.telephone.tel2}}</a>
	  <span style="width:90px;margin-top:4px" class="label fs-body-2 {{config.etatsArtisan[vm.sst.status].color}}">{{config.etatsArtisan[vm.sst.status].long_name}}</span>
	  <span style="width:90px;margin-top:4px" class="label fs-body-2 {{config.artisanOrigine[vm.sst.origin].color}}">{{config.artisanOrigine[vm.sst.origin].long_name}}</span>
	  <span style="width:90px;margin-top:4px" class="label fs-body-1  {{config.artisanSubStatus[vm.sst.subStatus].color}} accent-2">{{config.artisanSubStatus[vm.sst.subStatus].long_name}}</span>
	  <span style="width:90px;margin-top:4px" class="label fs-body-1 red accent-2" ng-if="vm.sst.blocked">Palier</span>
	</h2>
        <div class="row" style="">
            <div class="col-sm-4 contactSize" ng-if="selectedIndex !== 1 && !vm.recap" style="padding-top: 29px;">
                <input type="text" ng-model="vm.tableFilter" ng-change="vm.reloadData()" class="form-control">
                <div when-scroll-ends="vm.loadMore()">
                    <ul class="list mt++">
                        <li class="list-row list-row--has-separator" ng-repeat="artisan in vm.tableData | orderBy:'-da' | limitTo:vm.tableLimit " ng-right-click="vm.rowRightClick($event, artisan)" ng-click="vm.rowClick($event, artisan, false)" ng-class="{success : vm.vm.contextMenu.active && vm.vm.contextMenu.data.id === artisan.id, greyed : expendedRow === artisan.id}">
                            <div class="list-row__content">
                                <span><strong>{{artisan.n}}</strong> - {{artisan.tl}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="selectedIndex === 1 && !recap ? 'col-sm-8' : 'col-sm-12'">
                <div style="cursor:default!important">
                    <md-content class="md-padding" ng-init="va = vm.sst" style="margin: 10px;">
                        <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>
                            <md-tab label="Informations">
                                <md-content class="md-padding" ng-right-click="vm.rowRightClick($event, vm.sst)">
                                    <div class="col-sm-6" style="height:580px">
                                        <div class="row" style="margin-top:30px">
                                            <div class="col-sm-6 card" style="padding:20px">
                                                <div class="md-display-1">Interventions</div>
                                                <br>
                                                <div class="ct-chart" style="height:300px"></div>
                                                <br>
                                                <span class="fa fa-square" style="margin-left:5px;color:#F44336"></span> Annuler
                                                <span class="fa fa-square" style="margin-left:25px;color:#4CAF50"></span> Payé
                                                <span class="fa fa-square" style="margin-left:25px;color:#ff9800"></span> En Cours
                                            </div>
                                            <div class="col-sm-6">
                                                Gains depuis le {{vm.sst.date.ajout|date:"dd/MM/yyyy"}} (représente la totalité des paiement effectué) :
                                                <div class="md-display-2"> {{(vm.stats.paye.paye)|frnbr}} €</div>
                                                <br> Chiffre d’affaire (représente la totalité des montants:
                                                <div class="md-display-2"> {{(vm.stats.paye.final)|frnbr}} €</div>
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <span class="label" style="width:100px;margin-top:5px;display:block" ng-class="{'green':vm.sst.document[file].ok, 'red':!vm.sst.document[file].ok}" ng-repeat="(k, file) in config.artisanFiles" ng-if="file == 'contrat' || file == 'kbis' || file == 'cni' || file == 'rib'">{{file}}</span> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <span style="width:90px;margin-top:4px" class="label fs-body-2 {{config.etatsArtisan[vm.sst.status].color}}">{{config.etatsArtisan[vm.sst.status].long_name}}</span>
                                        <span style="width:90px;margin-top:4px" class="label fs-body-2 {{config.artisanOrigine[vm.sst.origin].color}}">{{config.artisanOrigine[vm.sst.origin].long_name}}</span>
                                        <span style="width:90px;margin-top:4px" class="label fs-body-1  {{config.artisanSubStatus[vm.sst.subStatus].color}} accent-2">{{config.artisanSubStatus[vm.sst.subStatus].long_name}}</span>
                                        <span style="width:90px;margin-top:4px" class="label fs-body-1 red accent-2" ng-if="vm.sst.blocked">Palier</span>
                                        <span class="fs-title display-block">Ajouté le {{vm.sst.date.ajout|date:"dd/MM/yy"}} par {{vm.sst.login.ajout}}</span>
                                        <br>
                                        <span class="fs-subhead display-block">{{vm.sst.address.n}} {{vm.sst.address.r}}, {{vm.sst.address.cp}} {{vm.sst.address.v}}</span>
                                        <img ng-src="{{vm.getStaticMap()}}" class="img-thumbnail" />
                                        <p class="md-display-1">P. Déplacement : <strong>{{vm.sst.pourcentage.deplacement}} %</strong></p>
                                        <p class="md-display-1">P. Main d'oeuvre : <strong>{{vm.sst.pourcentage.maindOeuvre}} %</strong></p>
                                        <span class="display-block md-title"> 

                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Interventions" data-position="0">
                                <md-content class="md-padding">
                                    <h1 class="md-display-2">Liste des Interventions</h1>
                                    <lineup-intervention ng-if="selectedIndex === 1"></lineup-intervention>
                                </md-content>
                            </md-tab>
                            <md-tab label="Activites" data-position="1">
                                <md-content class="md-padding">
                                    <historique-sst  data="vm.sst"></historique-sst>
                                </md-content>
                            </md-tab>
			    <md-tab label="Commentaires" data-position="2">
			      <md-content class="md-padding">
				<activite-sst  data="vm.sst"></activite-sst>
			      </md-content>
			    </md-tab>
                            <md-tab label="Appels"  data-position="3">
                                <md-content class="md-padding">
                                  <calls-sst data="vm.sst"></calls-sst>
                                </md-content>
                            </md-tab>
                            <!--<md-tab label="Signalement"  data-position="4">
                                <md-content>
                                    <signalement exit="bv.init()" data="vm" ng-if="vm.sst"></signalement>
                                </md-content>
                            </md-tab>--!>
                            <md-tab label="Stats" data-position="5">
                                <md-content class="md-padding">
                                    <h1 class="md-display-2">Stats</h1>
                                    <div class="row" style="height:500px">
                                        <canvas id="bar" class="chart chart-bar" chart-options="vm.sstChart.options" chart-data="vm.sstChart.data" chart-labels="vm.sstChart.labels" height="200"width="700" chart-colours="vm.sstChart.colours">
                                        </canvas>
                                    </div>
                                    <!--  <artisan-recap id="vm.sst.id"></artisan-recap> -->
                                </md-content>
                            </md-tab>
                            <md-tab label="Paiements"  data-position="6">
                                <md-content class="md-padding">
                                  <historique-paiement-sst data="vm.sst"></historique-paiement-sst>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
            </div>
            <div class="dropdown-menu--no-conflicts dropdown-menu--right dropdown__menu--is-dropped" style="margin-top: -215px;width: auto; height: auto; opacity: 1;" ng-style="vm.contextMenu.style">
                <div class="dropdown-menu__content ng-scope">
                    <ul class="ng-scope">
                        <li ng-hide="item.hidden" ng-repeat="item in vm.contextMenu.list">
                            <a ng-mouseover="vm.contextMenu.closeSub()" ng-if="!item.subs" class="dropdown-link" ng-style="item.style" tabindex="0" ng-click="vm.contextMenu.close();vm.contextMenu.click(item)">{{item.title}}</a>
                            <a ng-style="item.style" ng-mouseover="vm.contextMenu.openSub(300)" ng-if="item.subs" class="dropdown-link" tabindex="0"><i no-margin align-left class="fa fa-angle-right"></i>{{item.title}}</a>
                            <a lx-tooltip="{{vm.contextMenu.tooltip(sub)}}" tooltip-position="right" ng-style="sub.style" ng-repeat="sub in item.subs" ng-click="vm.contextMenu.close();vm.contextMenu.click(sub)" ng-hide="sub.hidden" ng-if="vm.contextMenu.mouseOverCM && item.subs" class="dropdown-link"><i no-margin align-left class=" fa fa-angle-double-right"></i>{{sub.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
