<div>
  <div class="row">
    <div class="col-sm-8">
      <lineup-artisan></lineup-artisan>
    </div>
    <div class="col-sm-4">
      <edison-map hidebar="hide" draw="true" xmarkers="vm.confirmedArtisans" searchOnly="true" height="small"></edison-map>
    </div>
  </div>
</div>
