<div style="margin-top: -15px;">
    <div class="card" style="width:100%">
        <input type="number" ng-model="vm.offsetX" class="form-control" placeholder="Offset X" style="width:100px">
        <input type="number" ng-model="vm.offsetY" class="form-control" placeholder="Offset Y" style="width:100px">
        <div style="height:90%;padding:20px;overflow:scroll">
            <table class="table table-condensed  table-hover table-bordered">

                <body>
                    <tr ng-repeat="av in avoirs" ng-click="av.checked = !av.checked;">
                        <td><a href="/intervention/{{av.id}}">{{av.id}}</td>
                        <td style="width:100px">
                            <input type="number" class="form-control" ng-model="av.numeroCheque" placeholder="numeroCheque">
                        </td>
                        <td>{{av.client.civilite}} {{av.client.nom}}</td>
                        <td>{{av.compta.reglement.montant}} € </td>
                        <td>{{config.avoir(av.compta.reglement.avoir._type).long_name}}</td>
                        <td>{{av.compta.reglement.avoir.montant}} € </td>
                         <td>
                            <md-checkbox aria-label="dsq" style="padding: 0px;" ng-checked="av.checked">
                            </md-checkbox>
                        </td>
                    </tr>
                </body>
            </table>
        </div>
        <div style="margin-top: 19px;">
            <md-button class="md-raised" ng-click="vm.print()">Imprimer Documents</md-button>
            <md-button class="md-raised" ng-click="vm.printChq()">Imprimer Lettre-Cheques</md-button>
            <md-button class="md-raised">Upload Scan</md-button>
            <md-button class="md-raised md-warn" ng-click="vm.flush()">FLUSH</md-button>
            <md-button class="md-raised md-primary" ng-click="vm.reloadAvoir()">Reload</md-button>
        </div>
    </div>
</div>
