<md-dialog aria-label="Mango (Fruit)">
<div style="border:3px solid red;">
  <md-dialog-content class="sticky-container" >
    <md-subheader class="md-sticky-no-effect" style="text-align:center;">Veuillez donner une raison d'archivage pour </md-subheader>
    <h3 style="text-align:center;">{{nomA}}</h3>
    <div style="padding:15px">
      
      <textarea class="form-control" placeholder="Commentez ..." style="height: 200px;width:400px;" ng-model="causeArchive"></textarea>
    </div>

    
  <div class="md-actions" layout="row">
    <md-button ng-click="answer()" class="md-primary black-text">
      Annuler
    </md-button>
    <md-button ng-click="answer(true)" class="md-primary black-text">
      Valider
    </md-button>
  </div>
</div>
</md-dialog>

