<md-dialog aria-label="Mango (Fruit)" style="  width: 350px;height: 200px;margin-left:55px;">
  <md-dialog-content class="sticky-container" style="height: 100%">
    <div style="padding:15px;">
      <p>Quel numéro de {{data.name}} souhaitez vous appeler?</p>
      <md-checkbox ng-model="tel1" ng-change="unselect(2)">Tel1: {{data.tel1}}</md-checkbox>
      <md-checkbox ng-show="data.tel2" ng-model="tel2" ng-change="unselect(1)">Tel2: {{data.tel2}}</md-checkbox>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="answer(true);" class="md-primary black-text">
      Annuler
    </md-button>
    <md-button ng-click="answer(false);" class="md-primary black-text">
      Valider
    </md-button>
  </div>
</md-dialog>
