<md-dialog aria-label="Mango (Fruit)" style="width:400px;height:500px;;">
  <md-dialog-content class="sticky-container" style="height: 100%;">
    <br>
    <div>
      Etes vous sur de vouloir annuler le retard de {{data.login}} le {{data.day}}?
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="answer(true);" class="md-primary black-text">
      Annuler
    </md-button>
    <md-button ng-click="answer();" class="md-primary black-text">
      Valider
    </md-button>
  </div>
</md-dialog>
