<md-dialog aria-label="Mango (Fruit)" style="  width: 700px;height: 600px;">
    <md-dialog-content class="sticky-container" style="height: 100%">
        <md-subheader class="md-sticky-no-effect">Changer l'image</md-subheader>
        <div style="padding:15px">
	  <img src="{{link}}" style="max-height:250px;">
          <br>
          <textarea ng-model="link" columns="1" elastic class="form-control"></textarea>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="answer(true);" class="md-primary black-text">
            Annuler
        </md-button>
        <md-button ng-click="answer(false);" class="md-primary black-text">
            Valider
        </md-button>
    </div>
</md-dialog>
