<md-dialog aria-label="Mango (Fruit)" style="  width: 400px;height: 300px;">
    <md-dialog-content class="sticky-container" style="height: 100%;">
        <md-subheader class="md-sticky-no-effect"><h3>{{options.title}}</h3> <h5>({{options.subTitle}})</h5></md-subheader>
        <div style="padding:15px">
            <md-input-container flex>
                <label>Description de l'appel</label>
                <textarea class="text-modal" ng-model="text" columns="4"></textarea>
            </md-input-container>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="answer(false, text);" class="md-primary black-text">
            Pas de réponse
        </md-button>
        <md-button ng-click="answer(true, text);" class="md-primary black-text">
            Réponse
        </md-button>
    </div>
</md-dialog>
