<md-dialog aria-label="Mango (Fruit)" style="width:400px;height:500px;;">
  <md-dialog-content class="sticky-container" style="height: 100%;">
    <br>
    <div ng-repeat="com in history"><span style="font-weight:bold;">{{com.login}} le {{com.date | date:"dd/MM/yy"}}</span>: "{{com.text}}"</div>
    <div style="padding:15px">
      <textarea style="height:100%;" class="form-control" placeholder="Commentaire..." ng-model="comment" columns="1"></textarea>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="answer(true);" class="md-primary black-text">
      Annuler
    </md-button>
    <md-button ng-click="answer();" class="md-primary black-text">
      Valider
    </md-button>
  </div>
</md-dialog>
