<style type="text/css">

	#textId {
		font-weight: bold;
		font-size: 17px;
		padding-top: 12%;
		text-align: center;
	}

	#textPlace {
		text-align: center;
		border-radius: 4px;
		min-height: 50px;
		width: 40%;
		margin-left: 30%;
		margin-top: 2%;
	}
</style>
<md-dialog style="height: 400px; width: 400px;background-color: #C9C9C9">
	<md-dialog-content style="height: 100%">
		<div style="padding: 10px 10px 10px 10px; background-color: #FFFFFF; height: 80px; text-align: center; border-radius: 4px;">
			<h1 style="padding-top: 10px;">Ajout d'un litige</h1>
		</div>
		<div id="tabLit" style="background-color: #FFFFFF; border-radius: 4px; height: 200px; width: 400; margin-top: 20px">
			<p id="textId">Id de l'intervention</p>
			<textarea id="textPlace" name="textPlace" ng-model="idLitige"></textarea>
		</div>
		<div class="md-actions" layout="row" style="background-color: #FFFFFF; position: absolute; bottom: 0; right: 0; left: 0;">
			<md-button ng-click="answer(false)" class="md-primary black-text">
				Annuler
			</md-button>
			<md-button ng-click="answer(true)" class="md-primary black-text">
				Valider
			</md-button>
		</div>
	</md-dialog-content>
</md-dialog>