<style>
.tableClass {
	height: 34px;
	vertical-align: middle;
	text-align: center;
	background-color: #A50000;
	border: 1px solid black
}
</style>
<md-dialog style="height: 500px">
	<md-dialog-content class="sticky-container" style="height: 100%;background:#C4C4C4;overflow:scroll;width: 1000px">
	<table class="table" style="width: 75%; cursor: pointer; margin-top: 4%; margin-left: 10%">
		<caption style="color: black; text-align: center; font-size: 150%; font-weight: bold; background-color: #650000">DECAISSEMENT</caption>
		<thead>
			<tr>
				<th class="tableClass" style="width: 15%">N°CHQ</th>
				<th class="tableClass" style="width: 20%">Date de saisie</th>
				<th class="tableClass" style="width: 20%">Mode</th>
				<th class="tableClass" style="width: 10%">Montant</th>
				<th class="tableClass" style="width: 15%">Tx TVA</th>
				<th class="tableClass" style="width: 20%">Motif</th>
				<th class="tableClass" style="width: 1%">Sup</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="cheque in data.compta.decaissement">
				<td class="tableClass" style="width: 20%">
					<input type="text" class="form-control" ng-model="cheque.num">
				</td>
				<td class="tableClass" style="width: 20%">
					<input ng-if="cheque.dateSaisie" type="text" class="form-control" pick-a-date="cheque.dateSaisie">
                    <input ng-if="!cheque.dateSaisie" type="text" class="form-control" ng-model="cheque.dateSaisie" pick-a-date="dateSaisie">
				</td>
				<td class="tableClass" style="width: 15%">
					<select class="form-control" ng-model="cheque.mode">
						<option value="virement">Virement</option>
						<option value="cheque">Chèque</option>
						<option value="autre">Autre</option>
					</select>
				</td>
				<td class="tableClass" style="width: 10%">
					<input type="text" class="form-control" ng-model="cheque.montant">
				</td>
				<td class="tableClass" style="width: 15%">
					<select class="form-control" ng-model="cheque.tva">
						<option value="0">0%</option>
						<option value="10">10%</option>
						<option value="20">20%</option>
					</select>
				</td>
				<td class="tableClass" style="width: 20%">
					<select class="form-control" ng-model="cheque.motif">
                        <option value="opposition">Opposition</option>
                        <option value="sansProvision">Sans provision</option>
                        <option value="avoir">Avoir</option>
                        <option value="autre">Autre</option>
                    </select>
				</td>
				<td class="tableClass" style="width:1%">
					<button class="btn--no-conflicts btn--l btn--red btn--icon" ng-click="remove(cheque)">
						<i class="fa fa-remove"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	</md-dialog-content>
	<div class="md-actions card" layout="row">
		<md-button ng-click="add();" class="md-primary white-text blue">
			Ajouter ligne
		</md-button>
		<md-button ng-click="answer(false);" class="md-primary white-text red">
			Annuler
		</md-button>
		<md-button ng-click="answer(true);" class="md-primary white-text green">
			Valider
		</md-button>
	</div>
</md-dialog>