<md-dialog aria-label="Mango (Fruit)" style=";height: 540px;">
    <md-dialog-content class="sticky-container" style="height: 100%;background:#C4C4C4;overflow:scroll;width: 500px">
        <div style="padding-left: 15px;padding-right: 15px;">
            <br>
            <div class="row" style="margin:0">
                <div class="p+" style="padding-bottom: 55px!important;">
                    <div class="row" style="padding:15px">
                        <input type="text" class="form-control" ng-model="resp.location" placeholder="Sur quel page je me trouve">
                    </div>
                    <div class="row" style="padding:15px">
                        <input type="text" class="form-control" ng-model="resp.what" placeholder="Qu’est se que j'essaie de faire">
                    </div>
                    <div class="row" style="padding:15px">
                        <input type="text" class="form-control" ng-model="resp.on" placeholder="Sur quoi (OS/ID)">
                    </div>
                    <div class="row" style="padding:15px">
                        <input type="text" class="form-control" ng-model="resp.event" placeholder="Qu'est se qu'il se passe ?">
                    </div>
                    <div class="row" style="padding:15px">
                        <textarea class="form-control" ng-model="resp.comment" placeholder="Commentaire" rows="4"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="answer(true);" class="md-primary black-text">
            Annuler
        </md-button>
        <md-button ng-click="answer();" class="md-primary black-text">
            Valider
        </md-button>
    </div>
</md-dialog>
