<md-dialog aria-label="Mango (Fruit)">
  <md-dialog-content class="sticky-container">
    <md-subheader class="md-sticky-no-effect" style="text-align:center;">{{rep}}<br><span style="text-align:center;"> possede - t- il un smartphone ?</span></md-subheader>
    <div style="padding:15px">
      <md-button ng-click="answer('Smartphone')" class="md-primary black-text">
	Smartphone
      </md-button>
      <md-button ng-click="answer('Mobile')" class="md-primary black-text">
	Mobile
      </md-button>
      <md-button ng-click="answer('Non demandé')" class="md-primary black-text">
	Non demandé
      </md-button>
     <!-- <select class="form-control" ng-model="demande" ng-options="smarts.label as smarts.label for smarts in choicedemande" default-option="Non demandé">
      </select>-->
    </div>
  </md-dialog-content>
</md-dialog>
