<md-dialog aria-label="Mango (Fruit)" style="  width: 36%;max-height:700px">
    <md-dialog-content class="sticky-container">
        <md-subheader class="md-sticky-no-effect">Editer ligne</md-subheader>
        <div style="padding:15px">
            <md-input-container flex>
                <label>Description</label>
                <textarea ng-model="produit.desc" columns="4"></textarea>
            </md-input-container>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="mdDialog.cancel();" class="md-primary black-text">
            Annuler
        </md-button>
        <md-button ng-click="answer(produit);" class="md-primary black-text">
            Valider
        </md-button>
    </div>
</md-dialog>
