<style>
.tableClass2 {
	height: 34px;
	vertical-align: middle;
	text-align: center;
	background-color: #008636;
	border: 1px solid black
}
</style>
<md-dialog style="height: 500px">
	<md-dialog-content class="sticky-container" style="height: 100%;background:#C4C4C4;overflow:scroll;width: 1000px">
	<table class="table" style="width: 75%; cursor: pointer; margin-top: 4%; margin-left: 10%">
		<caption style="color: black; text-align: center; font-size: 150%; font-weight: bold; background-color: #003816">ENCAISSEMENT</caption>
		<thead>
			<tr>
				<th class="tableClass2" style="width: 15%; border-bottom: 1px solid black">N°CHQ</th>
				<th class="tableClass2" style="width: 20%; border-bottom: 1px solid black">Date de saisie</th>
				<th class="tableClass2" style="width: 25%; border-bottom: 1px solid black">Date d'encaissement</th>
				<th class="tableClass2" style="width: 20%; border-bottom: 1px solid black">Mode</th>
				<th class="tableClass2" style="width: 10%; border-bottom: 1px solid black">Montant</th>
				<th class="tableClass2" style="width: 15%; border-bottom: 1px solid black">Tx TVA</th>
				<th class="tableClass2" style="width: 1%; border-bottom: 1px solid black">Multi</th>
				<th class="tableClass2" style="width: 1%; border-bottom: 1px solid black">Sup</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="cheque in data.compta.encaissement">
				<td class="tableClass2" style="width: 15%">
					<input type="text" class="form-control" ng-model="cheque.num">
				</td>
				<td class="tableClass2" style="width: 20%">
					<input ng-if="cheque.dateSaisie" type="text" class="form-control" pick-a-date="cheque.dateSaisie">
                    <input ng-if="!cheque.dateSaisie" type="text" class="form-control" ng-model="cheque.dateSaisie" pick-a-date="dateSaisie">
				</td>
				<td class="tableClass2" style="width: 25%">
					<input ng-if="cheque.dateEncaissement" type="text" class="form-control" pick-a-date="cheque.dateEncaissement">
                    <input ng-if="!cheque.dateEncaissement" type="text" class="form-control" ng-model="cheque.dateEncaissement" pick-a-date="dateEncaissement">
				</td>
				<td class="tableClass2" style="width: 15%">
					<select class="form-control" ng-model="cheque.mode">
						<option value="virement">Virement</option>
						<option value="cheque">Chèque</option>
						<option value="autre">Autre</option>
					</select>
				</td>
				<td class="tableClass2" style="width: 10%">
					<input type="text" class="form-control" ng-model="cheque.montant">
				</td>
				<td class="tableClass2" style="width: 15%">
					<select class="form-control" ng-model="cheque.tva">
						<option value="0">0%</option>
						<option value="10">10%</option>
						<option value="20">20%</option>
					</select>
				</td>
				<td class="tableClass2" style="width:1%">
                    <input type="checkbox" class="form-control" ng-model="cheque.mult">
                </td>
				<td class="tableClass2" style="width:1%">
					<button class="btn--no-conflicts btn--l btn--red btn--icon" ng-click="remove($index)">
						<i class="fa fa-remove"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	</md-dialog-content>
	<div class="md-actions card" layout="row">
		<md-button ng-click="add();" class="md-primary white-text blue">
			Ajouter ligne
		</md-button>
		<md-button ng-click="answer(false);" class="md-primary white-text red">
			Annuler
		</md-button>
		<md-button ng-click="answer(true);" class="md-primary white-text green">
			Valider
		</md-button>
	</div>
</md-dialog>