<style>
    .crossDel {
        vertical-align: middle;
        color: #F44336;
        text-decoration: none;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
</style>
<md-dialog aria-label="Mango (Fruit)" style="width: 800px; height: 600px">
    <md-dialog-content class="sticky-container" style="width: 100%; height: 100%; border-left: 2px solid #C2C3C3; float: right">
        <div style="padding-left: 15px;padding-right: 15px;">
            <md-subheader class="md-sticky-no-effect">Envoyer l'intervention</md-subheader>
            <div class="row" ng-if="showAcquitte">
                <div class="col-sm-6">
                    <md-checkbox ng-model="acquitte">
                        <div class="hidden-sm hidden-md">
                            Facture acquittée
                        </div>
                    </md-checkbox>
                </div>
                <div class="col-sm-6">
                    <div class="text-field date-picker">
                        <label class="selected">Date d'intervention</label>
                        <input type="text" pick-a-date="date"/>
                    </div>
                </div>
            </div>
            <md-input-container flex>
                <label>Mail Envoi Facture</label>
                <textarea ng-model="text" columns="1" md-maxlength="250"></textarea>
            </md-input-container>
            <p style="font-weight: bold; font-size: 12px; color: #8F8F8F">Pièces Jointes</p>
            <br>
            <div>
                <ul style="padding-left: 15px" ng-repeat="name in showName">
                    <li style="text-align: center; position: relative; top: 50%">{{name}}
                        <button ng-if="showName.length > 0" class="crossDel" ng-click="deletePJ($index)">
                        <i class="fa fa-remove"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <input style="display:inline; position: fixed; bottom: 0; left: 0; padding: 0px 15px 15px 15px" accept=".json,.pdf,.txt" onchange="angular.element(this).scope().joinFile(this)" type="file" name="fileId"/>
        <md-button ng-click="answer(true);" class="md-primary black-text">
            Annuler
        </md-button>
        <md-button ng-click="answer(false);" class="md-primary black-text">
            Valider
        </md-button>
    </div>
</md-dialog>