<md-dialog aria-label="Mango (Fruit)" style="width: 258px;height: 455px;background-color:rgba(0,0,0,0);box-shadow:none">
  <div style="background:url(/img/Phone.png);height:100%;">
      <md-dialog-content class="sticky-container" style="height: 100%;">
	<div style="padding-left:17px;padding-right:17px;padding-top:75px;padding-bottom:0px;height:73%;">
          <select ng-show="data.files && data.files.length" style="width:100%" class="form-control" ng-model="addedFile" ng-options="f as f for f in data.files">
          </select>
          <textarea style="height:100%;resize:none;border:none;font-family:Helvetica, sans-serif;font-weight:bold!important;font-size:13px!important;" class="form-control" ng-model="smsText" columns="1"></textarea>
        </div>
      </md-dialog-content>
      <div style="margin-left:10px;margin-right:10px;">
        <md-button ng-click="answer(true);" class="md-primary black-text" style="float:left;font-family:Helvetica, sans-serif">
          Annuler
        </md-button>
        <md-button ng-click="answer(false);" class="md-primary black-text" style="float:right;font-family:Helvetica, sans-serif">
          Valider
        </md-button>
      </div>
  </div>
</md-dialog>
