<md-dialog aria-label="Mango (Fruit)" style="  width: 950px;height: 500px;">
    <md-dialog-content class="sticky-container" style="height: 100%;">
        <md-subheader class="md-sticky-no-effect">Liste des Envois facturier/deviseur/tshirt</md-subheader>
        <div style="padding:15px">
            <md-checkbox ng-model="facturier" aria-label="Checkbox 1">
                Facturier
            </md-checkbox>
            <md-checkbox ng-model="deviseur" aria-label="Checkbox 1">
                Deviseur
            </md-checkbox>
		<md-checkbox ng-model="tshirt" aria-label="Checkbox 1">
                Tshirt
            </md-checkbox>
            <div style="max-height: 450px;overflow:scroll">
                <div class="data-table-container">
                    <table class="data-table data-table--has-primary data-table--has-secondary">
                        <thead>
                            <tr>
                                <th width="30%">Type</th>
                                <th width="10%">Login</th>
                                <th width="20%">V1</th>
                                <th width="20%">Date</th>
				<th width="20%">Date T-shirt</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="data-table__clickable-row" ng-repeat="f in sst.historique.pack|reverse">
                                <td>
                                    <span ng-if="f.facturier">Facturier</span>
                                    <span ng-if="f.facturier && f.deviseur"> + </span>
                                    <span ng-if="f.deviseur">Deviseur</span>
					<span ng-if="f.facturier && f.deviseur && f.tshirt"> + </span>
                                    <span ng-if="f.tshirt">T-shirt</span>
                                </td>
                                <td>
                                    <span>{{f.login}}</span>
                                </td>
                                  <td>
                                    <span>{{f.text}}</span>
                                </td>
                                <td>
                                    <span ng-if="f.facturier">{{f.date| date:"dd/MM/yyyy 'à' HH'h'mm"}}</span>
                                </td>
				<td>
					<span ng-if="f.tshirt">{{f.dateTshirt| date:"dd/MM/yyyy 'à' HH'h'mm"}}</span>
				</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="answer(true);" class="md-primary black-text">
            Annuler
        </md-button>
		<md-button ng-click="doublePrint(sst.id);" class="md-primary black-text" ng-if="facturier && tshirt">
            Imprimer Facturier et Tshirt
        </md-button>
        <md-button ng-click="printFact(sst.id);" class="md-primary black-text" ng-if="facturier && tshirt === false">
            Imprimer Facturier
        </md-button>
            <md-button ng-click="printTshirt(sst.id);" class="md-primary black-text" ng-if="tshirt && facturier === false">
                Imprimer Tshirt
            </md-button>
		<md-button ng-click="answer('factTshirt');" class="md-primary black-text" ng-if="facturier && tshirt">
            Envoyer Facturier et tshirt
        </md-button>
        <md-button ng-click="answer('facturier');" class="md-primary black-text" ng-if="facturier && tshirt === false">
            Envoyer Facturier
        </md-button>
		<md-button ng-click="answer('tshirt');" class="md-primary black-text" ng-if="tshirt && facturier === false">
            Envoyer Tshirt
        </md-button>
    </div>
</md-dialog>
