<md-dialog aria-label="Mango (Fruit)" style="  width: 260px;height: 500px;">
    <md-dialog-content class="sticky-container" style="height: 100%">
        <div style="padding:15px;height:70%">
                <select ng-show="xfiles && xfiles.length" style="width:100%" class="form-control"  ng-model="addedFile" ng-options="f as f for f in xfiles" >
                </select>
                <br>
                <pre ng-if="addedFile">{{addedFile}}</pre>
            <br>
                <textarea style="height:100%" class="form-control" ng-model="smsText" columns="1" ></textarea>
        </div>
    <br>
    <br>
    <pre>
        {{smsText.length}} Char. | {{Math.ceil(smsText.length / 160)}} credits
    </pre>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="answer(true);" class="md-primary black-text">
            Annuler
        </md-button>
        <md-button ng-click="answer(false);" class="md-primary black-text">
            Valider
        </md-button>
    </div>
</md-dialog>
