


<md-dialog aria-label="Mango (Fruit)" style="  width: 36%;height:300px">
    <md-dialog-content class="sticky-container">
        <div>
          <br>
          <br>
          <br>
          <br>
            <input type="password" class="form-control" placeholder="Mot de Passe" ng-model="password">
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="answer(produit);" class="md-primary black-text">
            Valider
        </md-button>
    </div>
</md-dialog>
