<md-dialog aria-label="Mango (Fruit)">
    <md-dialog-content class="sticky-container" style="width:{{window.innerWidth > 1400 ? '1000' : '400'}}px">
        <md-subheader class="md-sticky-no-effect">Ajout d'un produit</md-subheader>
        <div style="padding:15px">
            <!--  <select ng-model="absenceTime" ng-options="ind.value as ind.prod.title for ind in absence">
            </select> -->
            <div class="row" ng-if="window.innerWidth > 1400">
                <div class="col-lg-2">
                    <input type="text" class="form-control" maxlength="6" placeholder="Réference" ng-model="prod.ref">
                </div>
                <div class="col-lg-7">
                    <input type="text" class="form-control" maxlength="100" placeholder="Designation" ng-model="prod.title">
                </div>
                <div class="col-lg-1">
                    <input type="number" class="form-control" maxlength="2" max="10" type="number " placeholder="Qt." ng-model="prod.quantite">
                </div>
                <div class="col-lg-2">
                    <input type="number" class="form-control" type="number " placeholder="Prix" ng-model="prod.pu">
                </div>
            </div>
            <div class="row" ng-if="window.innerWidth < 1400" style="padding: 14px;">
                <input type="text" class="form-control" maxlength="6" placeholder="Réference" ng-model="prod.ref">
                <br>
                <input type="text" class="form-control" maxlength="100" placeholder="Designation" ng-model="prod.title">
                <br>
                <input type="number" class="form-control"  max="10" type="number " placeholder="Qt." ng-model="prod.quantite">
                <br>
                <input type="number" class="form-control"type="number " placeholder="Prix" ng-model="prod.pu">
            </div>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="answer(true)" class="md-primary black-text">
            Annuler
        </md-button>
        <md-button ng-click="answer()" class="md-primary black-text">
            Valider
        </md-button>
    </div>
</md-dialog>
