<md-dialog aria-label="Alert Dialog" ng-class="dialog.css" class="_md md-default-theme md-transition-in" role="alertdialog" tabindex="-1" aria-describedby="dialogContent_48" style="text-align: center;">
   <md-dialog-content class="md-dialog-content" role="document" tabindex="-1" id="dialogContent_48" style="order: 0; margin-bottom: -20px;" >
		<h1 class="md-title ng-binding">L'artisan n'a pas récuperé de règlement sur place</h1>
        <h2 style="font-size: 13px;">Un mail type va être envoyé à l'artisan avec la raison du refus de la mise à jour.<br> Vous devrez obligatoirement mettre à jour l'intervention par téléphone avec lui.</h2>
	</md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="answer(false);" class="md-primary">
            Annuler
        </md-button>
        <md-button ng-click="answer(true);" class="md-primary">
            Ok
        </md-button>
    </div>
</md-dialog>