<style type="text/css">
.pad-dest {
	padding: 3px;
}
</style>
<md-dialog style="height: 700px; width: 600 px;">
	<md-dialog-content>
		<md-subheader class="md-sticky-no-effect" style="text-align:center;">Veuillez selectionner les destinataires pour : <strong>{{signal.nom}}</strong></md-subheader>
		<h3 style="text-align:center;"></h3>
		<div style="padding:15px; width:600px; margin:0 auto;">
			<div>
				<h3 style="text-align:center;">Spécial :</h3>
				<br>
				<label class="pad-dest">
					<input type="checkbox" ng-model="signal.dest.special.ajoutI">Créateur Inter
				</label>
				<label class="pad-dest">
					<input type="checkbox" ng-model="signal.dest.special.envoiI">Envoi Inter
				</label>
				<label class="pad-dest">
					<input type="checkbox" ng-model="signal.dest.special.verifI">Vérifié Inter
				</label>
				<label class="pad-dest">
					<input type="checkbox" ng-model="signal.dest.special.annulI">Annulé Inter
				</label>
				<label class="pad-dest">
					<input type="checkbox" ng-model="signal.dest.special.ajoutA">Ajout Artisan
				</label>
			</div>
			<div>
				<br>
				<h3 style="text-align:center;">Service :</h3>
				<br>
				<label class="pad-dest">
					<input class="padding-dest" type="checkbox" ng-model="signal.dest.service.commerc">Commercial
				</label>
				<label class="pad-dest">
					<input class="padding-dest" type="checkbox" ng-model="signal.dest.service.partena">Partenariat
				</label>
				<label class="pad-dest">
					<input class="padding-dest" type="checkbox" ng-model="signal.dest.service.compta">Comptabilité
				</label>
				<label class="pad-dest">
					<input class="padding-dest" type="checkbox" ng-model="signal.dest.service.recouv">Recouvrement
				</label>
			</div>
			<div>
				<br>
				<h3 style="text-align:center;">Users :</h3>
				<br>
				<label ng-repeat="user in signal.dest.users" style="padding:5px;">
					<input type="checkbox" ng-model="signal.dest.users[$index].send">{{user._id}}
				</label>
			</div>
		</div>
		<div class="md-actions" layout="row">
			<md-button ng-click="answer(false)" class="md-primary black-text">
				Annuler
			</md-button>
			<md-button ng-click="answer(true)" class="md-primary black-text">
				Valider
			</md-button>
		</div>
	</md-dialog-content>
</md-dialog>
