<md-dialog style="height: 600px; width: 500 px; max-width: 500px;">
	<md-dialog-content>
		<!-- Pop up destinataires -->
		<div ng-if="typeT == 0">
			<h3 style="text-align:center;">Destinataires</h3>
			<div style="padding:15px;width:500px;margin:0 auto;">	
				<ul ng-repeat="user in showDest" style="width:30%; margin: 0 auto;">
					<li style="text-align:center">{{user}}</li>
				</ul>
			</div>
			<div class="md-actions" layout="row">
				<md-button ng-click="answer(false, null)" class="md-primary black-text">Back</md-button>
			</div>
		</div>
		<!-- Pop up résolution signalement -->
		<div ng-if="typeT == 1">
			<h3 style="text-align:center;">Raison du signalement.</h3>
			<h3 style="text-align:center;">{{signal.inter_id}}</h3>
			<br>
			<p style="text-align:center;font-size:13px;">{{signal.raison}}</p>
			<br>
			<br>
			<h3 style="text-align:center;">Veuillez commenter pour résoudre.</h3>
			<div style="padding:15px">
				<textarea class="form-control" placeholder="Commentez..." style="height:200px;width:300px;margin: 0 auto" ng-model="resolve"></textarea>
				<md-button ng-click="answer(false, null)" class="md-primary black-text">Annuler</md-button>
				<md-button ng-click="answer(true, resolve)" class="md-primary black-text">Valider</md-button>
			</div>
		</div>
		<!-- Pop up lire resolution signalement -->
		<div ng-if="typeT == 2">
				<h3 style="text-align:center;">Raison du signalement.</h3>
				<h3 style="text-align:center;">{{signal.inter_id}}</h3>
				<br>
				<p style="text-align:center;font-size:13px;">{{signal.raison}}</p>
				<br>
				<br>
				<h3 style="text-align:center;">Résolu par {{signal.login.done}}</h3>
				<div style="padding:15px">
				<textarea class="form-control" placeholder="Commentez..." style="height:200px;width:300px;margin: 0 auto" ng-model="resolve"></textarea>
				<md-button ng-click="answer(false, null)" class="md-primary black-text">Back</md-button>
			</div>
		</div>
	</md-dialog-content>
</md-dialog>
