<md-dialog style="height: 600px; width: 600px;">
  <md-dialog-content>
    <md-subheader class="md-sticky-no-effect" style="text-align:center;">Veuillez donner une raison pour : </md-subheader>
    <h3 style="text-align:center;">{{nomA}}</h3>
    <div style="padding:15px;">
      <textarea class="form-control" placeholder="Commentez ..." style="height:150px;width:400px;margin:0 auto;" ng-model="commentaire"></textarea>
    </div>
    <div class="md-actions" layout="row">
      <md-button ng-click="answer()" class="md-primary black-text">
	Annuler
      </md-button>
      <md-button ng-click="answer(true)" class="md-primary black-text">
	Valider
      </md-button>
    </div>
  </md-dialog-content>

  <!--<md-dialog-content>
    <div class="content">
      <h2 class="md-title" style="padding-bottom: 25px; text-align: center;"> Veuillez Saisir le commentaire </h2>
      <textarea style="height:157px; width: 300px; margin-top: 25px; resize:none;border:none;font-family:Helvetica, sans-serif;font-weight:bold!important;font-size:13px!important; border: 1px solid black; display: block; margin-left: auto; margin-right : auto;" ng-model="commentaire" placeholder="Commentez..."></textarea>
      <div class="md-actions" style="padding-top: 80px;">
	<md-button ng-click="answer();" class="md-primary black-text">
	  Annuler
	</md-button>
	<md-button ng-click="answer(true);" class="md-primary black-text">
	  Valider
	</md-button>
      </div>
    </div>
  </md-dialog-content>-->
</md-dialog>
