<style type="text/css">

	#dateArea {
		width: 90%;
		padding-left: 12%;
		margin-top: 5%;
		text-align: center;
	}

	.text-field {
		padding-top: 3%!important;
		position: relative;
		border-radius: 3px;
	}

	.text-field:before {
		position: relative;
	}

	.picker {
		position: relative;
	}

	.divTabCheck {
		margin-top: 5%;
	}

	.tabCheck {
		float: left;
		padding-left: 18%;
	}

	#tabCheckBis {
		float: left;
		padding-left: 35%;
	}

	.tabCheck2 {
		margin-left: 60%;
	}

	#divTabCheck2 {
		margin-top: 5%;
	}

	#tabCheck3 {
		float: left;
		padding-left: 4%;
	}

	#tabCheck4 {
		margin-left: 62%;
	}

	#divTabCheck3 {
		margin-top: 5%;
	}

	#tabCheckBis2 {
		padding-left: 32%;
	}

	.caseAremplir {
		margin-top: 1%;
		padding-left: 2%;
	}

	#tabCheck6 {
		padding-left: 30%;
	}

	#textPart {
		margin-bottom: 10px;
		font-size: 16px;
	    width: 100%;
	    text-align: center;
	}

	.spanCheck {
		padding-left: 20%;
	}

	.spanCheck2 {
		padding-left: 25%;
	}

	.spanCheck3 {
		padding-left: 20%;
	}

	#textPlace {
		border-radius: 4px;
		min-height: 100px;
		width: 90%;
		margin-left: 5%;
		margin-top: 5%;
	}

	form#formCheck .checkboxes {
	    display: inline;
	    font-size: 16px;
	    width: 100%;
	    text-align: center;
	}

	form#updateProfile .checkboxes input[type='checkbox'] 
	{
		margin-left:-18px;
	}
</style>
<md-dialog style="height: 900px; width: 450px;background-color: #C9C9C9">
	<md-dialog-content style="height: 100%">
		<div style="padding: 10px 10px 10px 10px; background-color: #FFFFFF; height: 80px; text-align: center; border-radius: 4px;">
			<h1 style="padding-top: 10px;">Prise de contact n°{{data.compta.recouvrement.priseDeContact.comment[0] ? data.compta.recouvrement.priseDeContact.comment.length + 1 : 1}}</h1>
		</div>
		<div style="background-color: #FFFFFF; border-radius: 4px; height: 800px; width: 450; margin-top: 20px">
			<form id="formCheck">
				<div class="divTabCheck" ng-if="data.compta.recouvrement.litige.status != 2">
					<p id="textPart">Cause du recouvrement :</p>
					<div class="tabCheck">
						<span><input type="checkbox" value="retEnvoi" ng-change="changeBox(0, 'retEnvoi')" ng-model="causeRec['retEnvoi']">Retard envoi</span><br>
						<span><input type="checkbox" value="impaye" ng-change="changeBox(0, 'impaye')" ng-model="causeRec['impaye']">Impaye</span><br>
						<span><input type="checkbox" value="tarif" ng-change="changeBox(0, 'tarif')" ng-model="causeRec['tarif']">Tarif</span><br>
						<span><input type="checkbox" value="qualite" ng-change="changeBox(0, 'qualite')" ng-model="causeRec['qualite']">Qualité</span><br>
						<span><input type="checkbox" value="plaintes" ng-change="changeBox(0, 'plaintes')" ng-model="causeRec['plaintes']">Plaintes</span><br>
					</div>
					<div class="tabCheck2">
						<span><input type="checkbox" value="chequePerdu" ng-change="changeBox(0, 'chequePerdu')" ng-model="causeRec['chequePerdu']">Cheque Perdu</span><br>
						<span><input type="checkbox" value="pasDeContact" ng-change="changeBox(0, 'pasDeContact')" ng-model="causeRec['pasDeContact']">Pas de Contact</span><br>
						<span><input type="checkbox" value="factNonRecu" ng-change="changeBox(0, 'factNonRecu')" ng-model="causeRec['factNonRecu']">Facture Non Reçu</span><br>
						<span><input type="checkbox" value="autres" ng-change="changeBox(0, 'autres')" ng-model="causeRec['autres']">Autres</span>
					</div>
				</div>
				<div class="divTabCheck" ng-if="data.compta.recouvrement.litige.status == 2">
					<p id="textPart">Cause du litige :</p>
					<div class="tabCheck">
						<span><input type="checkbox" value="tarif" ng-change="changeBox(0, 'tarif')" ng-model="causeRec['tarif']">Tarif</span><br>
						<span><input type="checkbox" value="qualite" ng-change="changeBox(0, 'qualite')" ng-model="causeRec['qualite']">Qualité</span><br>
						<span><input type="checkbox" value="opposition" ng-change="changeBox(0, 'opposition')" ng-model="causeRec['opposition']">Opposition</span><br>
						<span><input type="checkbox" value="plaintes" ng-change="changeBox(0, 'plaintes')" ng-model="causeRec['plaintes']">Plaintes</span><br>
					</div>
					<div class="tabCheck2">
						<span><input type="checkbox" value="riskOpposition" ng-change="changeBox(0, 'riskOpposition')" ng-model="causeRec['riskOpposition']">Risque d'Opposition</span><br>
						<span><input type="checkbox" value="demandeSav" ng-change="changeBox(0, 'demandeSav')" ng-model="causeRec['demandeSav']">Demande de SAV</span><br>
						<span><input type="checkbox" value="autres" ng-change="changeBox(0, 'autres')" ng-model="causeRec['autres']">Autres</span><br>
					</div>
				</div>
				<div>
					<textarea placeholder="Commentaire" id="textPlace" ng-model="comment"></textarea>
				</div>
				<div class="divTabCheck" ng-if="data.compta.recouvrement.litige.status != 2">
					<p id="textPart">Conclusion :</p>
					<div id="tabCheck3">
						<span><input type="checkbox" value="demandeSav" ng-change="changeBox(1, 'demandeSav')" ng-model="conclu['demandeSav']">Demande de SAV</span><br>
						<span><input type="checkbox" value="remiseCom" ng-change="changeBox(1, 'remiseCom')" ng-model="conclu['remiseCom']">Remise commercial</span><br>
						<span><input type="checkbox" value="lettreDesist" ng-change="changeBox(1, 'lettreDesist')" ng-model="conclu['lettreDesist']">Lettre de désistement</span><br>
						<span><input type="checkbox" value="remiseEnc" ng-change="changeBox(1, 'remiseEnc')" ng-model="conclu['remiseEnc']">Remise à l'encaissement</span><br>
						<span><input type="checkbox" value="injTribProx" ng-change="changeBox(1, 'injTribProx')" ng-model="conclu['injTribProx']">Injonction tribunal de proximité</span><br>
						<span><input type="checkbox" value="injTribCom" ng-change="changeBox(1, 'injTribCom')" ng-model="conclu['injTribCom']">Injonction tribunal de commerce</span><br>
					</div>
					<div id="tabCheck4">
						<span><input type="checkbox" value="protAcc" ng-change="changeBox(1, 'protAcc')" ng-model="conclu['protAcc']">Protocole d'accord</span><br>
						<span><input type="checkbox" value="demeure" ng-change="changeBox(1, 'demeure')" ng-model="conclu['demeure']">Mise en demeure</span><br>
						<span><input type="checkbox" value="lettreOppo" ng-change="changeBox(1, 'lettreOppo')" ng-model="conclu['lettreOppo']">Lettre opposition</span><br>
						<span><input type="checkbox" value="factRenv" ng-change="changeBox(1, 'factRenv')" ng-model="conclu['factRenv']">Facture renvoyée</span><br>
						<span><input type="checkbox" value="regClient" ng-change="changeBox(1, 'regClient')" ng-model="conclu['regClient']">Règlement client</span><br>
						<span><input type="checkbox" value="negoc" ng-change="changeBox(1, 'negoc')" ng-model="conclu['negoc']">En négociation</span><br>
					</div>
					<p ng-if="conclu['lettreDesist'] === true || conclu['lettreOppo'] === true || conclu['remiseCom'] === true || conclu['demeure'] === true || conclu['protAcc'] === true" id="textPart">Remplir case(s): </p>
					<div class="caseAremplir">
						<textarea ng-if="conclu['lettreDesist'] === true || conclu['lettreOppo'] === true" placeholder="N° Cheque" ng-model="data.compta.recouvrement.priseDeContact.numCheque"></textarea>
						<textarea ng-if="conclu['lettreDesist'] === true" placeholder="Banque" ng-model="data.compta.recouvrement.priseDeContact.banque"></textarea>
						<textarea ng-if="conclu['lettreDesist'] === true || conclu['remiseCom'] === true || conclu['demeure'] === true" placeholder="Montant" ng-model="data.compta.recouvrement.priseDeContact.montant"></textarea>
						<textarea ng-if="conclu['lettreDesist'] === true" placeholder="Emis le" ng-model="data.compta.recouvrement.priseDeContact.emisLe"></textarea>
						<textarea ng-if="conclu['protAcc'] === true" placeholder="Somme Globale" ng-model="data.compta.recouvrement.priseDeContact.sommeGlob"></textarea>
					</div>
				</div>
				<div class="divTabCheck" ng-if="data.compta.recouvrement.litige.status == 2">
					<p id="textPart">Conclusion :</p>
					<div id="tabCheck3">
						<span><input type="checkbox" value="demeure" ng-change="changeBox(1, 'demeure')" ng-model="conclu['demeure']">Mise en demeure</span><br>
						<span><input type="checkbox" value="lettreOppo" ng-change="changeBox(1, 'lettreOppo')" ng-model="conclu['lettreOppo']">Lettre opposition</span><br>
						<span><input type="checkbox" value="regClient" ng-change="changeBox(1, 'regClient')" ng-model="conclu['regClient']">Règlement client</span><br>
						<span><input type="checkbox" value="envRec" ng-change="changeBox(1, 'envRec')" ng-model="conclu['envRec']">Envoi en recouvrement</span><br>
					</div>
					<div id="tabCheck4">
						<span><input type="checkbox" value="demandeSav" ng-change="changeBox(1, 'demandeSav')" ng-model="conclu['demandeSav']">Demande de SAV</span><br>
						<span><input type="checkbox" value="remiseCom" ng-change="changeBox(1, 'remiseCom')" ng-model="conclu['remiseCom']">Remise commercial</span><br>
						<span><input type="checkbox" value="negoc" ng-change="changeBox(1, 'negoc')" ng-model="conclu['negoc']">Négociation</span><br>
						<span><input type="checkbox" value="protAcc" ng-change="changeBox(1, 'protAcc')" ng-model="conclu['protAcc']">Protocole d'accord</span><br>
					</div>
					<p ng-if="conclu['lettreDesist'] === true || conclu['lettreOppo'] === true || conclu['remiseCom'] === true || conclu['demeure'] === true || conclu['protAcc'] === true" id="textPart">Remplir case(s): </p>
					<div class="caseAremplir">
						<textarea ng-if="conclu['lettreDesist'] === true || conclu['lettreOppo'] === true" placeholder="N° Cheque" ng-model="data.compta.recouvrement.priseDeContact.numCheque"></textarea>
						<textarea ng-if="conclu['lettreDesist'] === true" placeholder="Banque" ng-model="data.compta.recouvrement.priseDeContact.banque"></textarea>
						<textarea ng-if="conclu['lettreDesist'] === true || conclu['remiseCom'] === true || conclu['demeure'] === true" placeholder="Montant" ng-model="data.compta.recouvrement.priseDeContact.montant"></textarea>
						<textarea ng-if="conclu['lettreDesist'] === true" placeholder="Emis le" ng-model="data.compta.recouvrement.priseDeContact.emisLe"></textarea>
						<textarea ng-if="conclu['protAcc'] === true" placeholder="Somme Globale" ng-model="data.compta.recouvrement.priseDeContact.sommeGlob"></textarea>
					</div>
				</div>
				<div ng-if="data.compta.recouvrement.litige.status != 2" class="divTabCheck">
					<p id="textPart">Status de recouvrement :</p>
					<div id="tabCheck6">
						<span><input type="checkbox" value="enc" ng-change="changeBox(2, 'enc')" ng-model="status['enc']">En cours</span><br>
						<span><input type="checkbox" value="reg" ng-change="changeBox(2, 'reg')" ng-model="status['reg']">En cours de règlement</span><br>
						<span><input type="checkbox" value="res" ng-change="changeBox(2, 'resolu')" ng-model="status['resolu']">Résolu</span><br>
						<span><input type="checkbox" value="prt" ng-change="changeBox(2, 'perte')" ng-model="status['perte']">Perte</span><br>
					</div>
				</div>
				<div ng-if="data.compta.recouvrement.litige.status == 2 && conclu['envRec'] === false" class="divTabCheck">
					<p id="textPart">Status du litige :</p>
					<div id="tabCheck6">
						<span><input type="checkbox" value="enc" ng-change="changeBox(2, 'enc')" ng-model="status['enc']">En cours</span><br>
						<span><input type="checkbox" value="reg" ng-change="changeBox(2, 'reg')" ng-model="status['reg']">En cours de règlement</span><br>
						<span><input type="checkbox" value="res" ng-change="changeBox(2, 'resolu')" ng-model="status['resolu']">Résolu</span><br>
						<span><input type="checkbox" value="prt" ng-change="changeBox(2, 'perte')" ng-model="status['perte']">Perte</span><br>
					</div>
				</div>
				<div id="dateArea" ng-if="status['reg'] === true || conclu['regClient'] || conclu['factRenv'] || conclu['lettreDesist'] || conclu['protAcc'] || conclu['remiseCom']">
					<div>
	                    <button class="date-picker text-field" type="text" pick-a-date="data.compta.recouvrement.priseDeContact.dateRelance">Date de relance</button>
	                </div>
                </div>
			</form>
		</div>
		<div class="md-actions" layout="row" style="background-color: #FFFFFF; position: absolute; bottom: 0; right: 0; left: 0;">
			<md-button ng-click="reset(true)" class="md-primary black-text">
				Reset
			</md-button>
			<md-button ng-click="answer(false)" class="md-primary black-text">
				Annuler
			</md-button>
			<md-button ng-click="answer(true)" class="md-primary black-text">
				Valider
			</md-button>
		</div>
	</md-dialog-content>
</md-dialog>