<style type="text/css">

	.tabCheckBis {
		position: absolute;
		padding-left: 20%;
	}

	#tabCheckBis2 {
		position: absolute;
		margin-left: 52%;
	}

	.tabCheckBis3 {
		position: absolute;
		margin-left: 58%;
	}

	#tabCheckBis4 {
		position: absolute;
		margin-left: 35%;
	}

	.textPart {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	#textPart2 {
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 16px;
	    width: 100%;
	    text-align: center;
	}

	.spanCheck {
		padding-left: 20%;
	}

	.spanCheck2 {
		padding-left: 25%;
	}

	.spanCheck3 {
		padding-left: 20%;
	}

	form#formCheck .checkboxes {
	    display: inline;
	    font-size: 16px;
	    width: 100%;
	    text-align: center;
	}

	form#updateProfile .checkboxes input[type='checkbox']
	{
		margin-left:-18px;
	}
</style>
<md-dialog style="height: 700px; width: 450px;background-color: #C9C9C9">
	<md-dialog-content style="height: 100%">
		<div style="padding: 10px 10px 10px 10px; background-color: #FFFFFF; height: 80px; text-align: center; border-radius: 4px;">
			<h1 style="padding-top: 10px;">Prise en charge</h1>
		</div>
		<div style="background-color: #FFFFFF; border-radius: 4px; height: 500px; width: 450; margin-top: 20px">
			<form id="formCheck">
				<br>
				<div class="checkboxes">
					<span class="spanCheck"><input type="checkbox" value="societe" ng-model="societe">Société</span>
					<span class="spanCheck"><input type="checkbox" value="particulier" ng-model="particulier">Particulier</span>
				</div>
				<div class="checkboxes">
					<p class="textPart">Avons-nous un devis signé ?</p>
					<span class="spanCheck2"><input type="checkbox" value="yes" ng-change="changeBox(0, 'yes')" ng-model="devis['yes']">Oui</span>
					<span class="spanCheck2"><input type="checkbox" value="no" ng-change="changeBox(0, 'no')" ng-model="devis['no']">Non</span>
				</div>
				<div class="checkboxes">
					<p class="textPart">Avons-nous un mail d'intervention ?</p>
					<span class="spanCheck2"><input type="checkbox" value="yes" ng-change="changeBox(1, 'yes')" ng-model="mailInter['yes']">Oui</span>
					<span class="spanCheck2"><input type="checkbox" value="no" ng-change="changeBox(1, 'no')" ng-model="mailInter['no']">Non</span>
				</div>
				<div class="checkboxes">
					<p class="textPart">Coordonnée facturation identique ?</p>
					<span class="spanCheck2"><input type="checkbox" value="yes" ng-change="changeBox(2, 'yes')" ng-model="coordIdent['yes']">Oui</span>
					<span class="spanCheck2"><input type="checkbox" value="no" ng-change="changeBox(2, 'no')" ng-model="coordIdent['no']">Non</span>
				</div>
				<div ng-if="data.compta.recouvrement.litige.status != 1">
					<p id="textPart2">Cause du recouvrement :</p>
					<div class="tabCheckBis">
						<span><input type="checkbox" value="retEnvoi" ng-change="changeBox(3, 'retEnvoi')" ng-model="causeRec['retEnvoi']">Retard envoi</span><br>
						<span><input type="checkbox" value="impaye" ng-change="changeBox(3, 'impaye')" ng-model="causeRec['impaye']">Impaye</span><br>
						<span><input type="checkbox" value="tarif" ng-change="changeBox(3, 'tarif')" ng-model="causeRec['tarif']">Tarif</span><br>
						<span><input type="checkbox" value="qualite" ng-change="changeBox(3, 'qualite')" ng-model="causeRec['qualite']">Qualité</span><br>
						<span><input type="checkbox" value="plaintes" ng-change="changeBox(3, 'plaintes')" ng-model="causeRec['plaintes']">Plaintes</span><br>
					</div>
					<div class="tabCheckBis3">
						<span><input type="checkbox" value="chequePerdu" ng-change="changeBox(3, 'chequePerdu')" ng-model="causeRec['chequePerdu']">Cheque Perdu</span><br>
						<span><input type="checkbox" value="pasDeContact" ng-change="changeBox(3, 'pasDeContact')" ng-model="causeRec['pasDeContact']">Pas de Contact</span><br>
						<span><input type="checkbox" value="factNonRecu" ng-change="changeBox(3, 'factNonRecu')" ng-model="causeRec['factNonRecu']">Facture Non Reçu</span><br>
						<span><input type="checkbox" value="autres" ng-change="changeBox(3, 'autres')" ng-model="causeRec['autres']">Autres</span>
					</div>
				</div>
				<div ng-if="data.compta.recouvrement.litige.status == 1">
					<p id="textPart2">Cause du litige :</p>
					<div class="tabCheckBis">
						<span><input type="checkbox" value="tarif" ng-change="changeBox(3, 'tarif')" ng-model="causeRec['tarif']">Tarif</span><br>
						<span><input type="checkbox" value="qualite" ng-change="changeBox(3, 'qualite')" ng-model="causeRec['qualite']">Qualité</span><br>
						<span><input type="checkbox" value="opposition" ng-change="changeBox(3, 'opposition')" ng-model="causeRec['opposition']">Opposition</span><br>
						<span><input type="checkbox" value="plaintes" ng-change="changeBox(3, 'plaintes')" ng-model="causeRec['plaintes']">Plaintes</span><br>
					</div>
					<div class="tabCheckBis3">
						<span><input type="checkbox" value="riskOpposition" ng-change="changeBox(3, 'riskOpposition')" ng-model="causeRec['riskOpposition']">Risque d'Opposition</span><br>
						<span><input type="checkbox" value="demandeSav" ng-change="changeBox(3, 'demandeSav')" ng-model="causeRec['demandeSav']">Demande de SAV</span><br>
						<span><input type="checkbox" value="autres" ng-change="changeBox(3, 'autres')" ng-model="causeRec['autres']">Autres</span><br>
					</div>
				</div>
			</form>
		</div>
		<div class="md-actions" layout="row" style="background-color: #FFFFFF; position: absolute; bottom: 0; right: 0; left: 0;">
			<md-button ng-click="answer(false)" class="md-primary black-text">
				Annuler
			</md-button>
			<md-button ng-click="answer(true)" class="md-primary black-text">
				Valider
			</md-button>
		</div>
	</md-dialog-content>
</md-dialog>
