<md-dialog aria-label="Mango (Fruit)" style="  width: 350px;height: 200px;">
  <md-dialog-content class="sticky-container" style="height: 100%">
    <div style="padding:15px;">
      <p>Veuillez indiquer le statut de cet artisan avant de quitter la page</p>
      <select ng-model="statutPro" ng-options="op.short_name as op.long_name for op in config.prospectHash()">
      </select>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="answer(true);" class="md-primary black-text">
      Annuler
    </md-button>
    <md-button ng-click="answer(false);" class="md-primary black-text">
      Valider
    </md-button>
  </div>
</md-dialog>
