<md-dialog aria-label="Mango (Fruit)" style=";height: 640px;">
    <md-dialog-content class="sticky-container" style="height: 100%;background:#C4C4C4;overflow:scroll;width: 1200px">
        <div style="padding-left: 15px;padding-right: 15px;">
            <br>
            <style>
            info-litige>[flex-item]>div {
                height: 428px;
            }
            </style>
            <div class="p+" style="padding-bottom: 55px!important;">
                <div class="row" style="margin:0">
                    <div class="col-sm-3">
                        <div class="card margin" style="height:100%">
                            <div class="p+" style=" height: 428px;">
                                <button ng-click="data.recouvrement.level = 0" style="display: block;width:100%" ng-class="{'grey':data.recouvrement.level === 0}" class="btn--no-conflicts btn--m lighten-3 btn--raised" lx-ripple>Pas de Contact</button>
                                <button ng-click="data.recouvrement.level = 1" style="display: block;width:100%" ng-class="{'yellow':data.recouvrement.level === 1}" class="btn--no-conflicts btn--m  btn--raised" lx-ripple>Facture Recu</button>
                                <button ng-click="data.recouvrement.level = 2" style="display: block;width:100%" ng-class="{'red':data.recouvrement.level === 2}" class="btn--no-conflicts btn--m  btn--raised" lx-ripple>Litige</button>
                                <button ng-click="data.recouvrement.level = 3" style="display: block;width:100%" ng-class="{'blue':data.recouvrement.level === 3} " class="btn--no-conflicts btn--m  btn--raised" lx-ripple>Reglement Envoyé</button>
				<button ng-click="data.recouvrement.level = 4" style="display: block;width:100%" ng-class="{'purple':data.recouvrement.level === 4} " class="btn--no-conflicts btn--m  btn--raised" lx-ripple>Chèque perdu</button>
				
                            </div>
                        </div>
                    </div>
                    <div ng-class="data.recouvrement.level === 2 ? 'col-sm-5' : 'col-sm-9'">
                        <info-comment height="310" data="data"></info-comment>
                    </div>
                    <div ng-if="data.recouvrement.level === 2"class="col-sm-4">
                        <info-litige height="310" data="data"></info-litige>
                    </div>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="answer(true);" class="md-primary black-text">
            Annuler
        </md-button>
        <md-button ng-click="answer(false);" class="md-primary black-text">
            Valider
        </md-button>
    </div>
</md-dialog>
