<md-dialog aria-label="Alert Dialog" ng-class="dialog.css" class="_md md-default-theme md-transition-in" role="alertdialog" tabindex="-1" aria-describedby="dialogContent_48" style="text-align: center;">
   <md-dialog-content class="md-dialog-content" role="document" tabindex="-1" id="dialogContent_48" style="order: 0; margin-bottom: -20px;" >
		<h1 class="md-title ng-binding">Refus Validation Intervention</h1>
        <h2 style="font-size: 13px;">Merci d'expliquer les raisons de ce refus : </h2>
        <textarea id="refusText" style="margin-top: 13px; width: 260px; height: 90px; border-radius: 5px;"></textarea>
	</md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="answer(false);" class="md-primary">
            Annuler
        </md-button>
        <md-button ng-click="answer(true);" class="md-primary">
            Ok
        </md-button>
    </div>
</md-dialog>