<md-dialog aria-label="Mango (Fruit)" style="  width: 700px;height: 600px;">
    <md-dialog-content class="sticky-container" style="height: 100%">
        <md-subheader class="md-sticky-no-effect">Envoyer l'intervention</md-subheader>
        <div style="padding:15px">
            <md-checkbox ng-model="options.signe" aria-label="Checkbox 1">
                Contrat Signé
            </md-checkbox>
            <br>
            <textarea ng-model="options.text" columns="4" elastic class="form-control"></textarea>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="answer(true);" class="md-primary black-text">
            Annuler
        </md-button>
        <a href="/api/artisan/{{options.data.id}}/contrat?signe={{options.signe}}&html=true" target="_blank" >
            <md-button class="md-primary black-text">
                Prévisualiser
            </md-button>
        </a>
        <md-button ng-click="answer(false);" class="md-primary black-text">
            Valider
        </md-button>
    </div>
</md-dialog>
