<md-dialog aria-label="Mango (Fruit)" style="  width: 78%;height: 500px;">
    <md-dialog-content class="sticky-container" style="height: 100%;">
        <md-subheader class="md-sticky-no-effect">Liste des Appels</md-subheader>
        <div style="padding:15px">
            <div style="max-height: 370px;overflow:scroll">
                <div class="data-table-container">
                    <table class="data-table data-table--has-primary data-table--has-secondary">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Login</th>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Text</th>
                            </tr>
                            <tr>
                                <td colspan="5" class="divider divider--dark"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="data-table__clickable-row" ng-repeat="sms in sst.sms">
                                <td style="width:20px">
                                    <i ng-show="sms.status === 200" class="icon icon--l icon--grey icon--circled mdi mdi-comment-check-outline green"></i>
                                    <i ng-show="sms.status === 300" class="icon icon--l icon--grey icon--circled mdi mdi-comment-remove-outline red"></i>
                                    <i ng-show="sms.status === 0" class="icon icon--l icon--grey icon--circled mdi mdi-comment-processing-outline orange"></i>
                                    <i ng-show="sms.status === 100" class="icon icon--l icon--grey icon--circled mdi mdi-comment-alert-outline orange"></i>
                                </td>
                                <td style="width:20px">
                                    <span>{{sms.login}}</span>
                                </td>
                                <td style="width:20px">
                                    <span>{{sms.date| date:"dd/MM à HH:mm" }}</span>
                                </td>
                                <td style="width:20px">
                                    <span>{{sms.type}}</span>
                                </td>
                                <td style="width:100%">
                                    <span style="  white-space: pre-line;">{{sms.text}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="answer();" class="md-primary black-text">
            OK
        </md-button>
    </div>
</md-dialog>
