<style type="text/css">

	#divTabCheck {
		margin-top: 5%;
	}

	#tabCheck {
		float: left;
		padding-left: 30%;
		padding-top: 13%;
	}

	form#formCheck .checkboxes {
	    display: inline;
	    font-size: 16px;
	    width: 100%;
	    text-align: center;
	}

	form#updateProfile .checkboxes input[type='checkbox'] 
	{
		margin-left:-18px;
	}
</style>
<md-dialog style="height: 400px; width: 400px;background-color: #C9C9C9">
	<md-dialog-content style="height: 100%">
		<div style="padding: 10px 10px 10px 10px; background-color: #FFFFFF; height: 80px; text-align: center; border-radius: 4px;">
			<h1 style="padding-top: 10px;">Status de recouvrement</h1>
		</div>
		<div style="background-color: #FFFFFF; border-radius: 4px; height: 200px; width: 400; margin-top: 20px">
			<form id="formCheck">
				<div id="divTabCheck">
					<div id="tabCheck">
						<span><input type="checkbox" value="enc" ng-change="changeBox('enc')" ng-model="status['enc']">En cours</span><br>
						<span><input type="checkbox" value="reg" ng-change="changeBox('reg')" ng-model="status['reg']">En cours de règlement</span><br>
						<span><input type="checkbox" value="res" ng-change="changeBox('resolu')" ng-model="status['resolu']">Résolu</span><br>
						<span><input type="checkbox" value="prt" ng-change="changeBox('perte')" ng-model="status['perte']">Perte</span><br>
					</div>
				</div>
			</form>
		</div>
		<div class="md-actions" layout="row" style="background-color: #FFFFFF; position: absolute; bottom: 0; right: 0; left: 0;">
			<md-button ng-click="answer(false)" class="md-primary black-text">
				Annuler
			</md-button>
			<md-button ng-click="answer(true)" class="md-primary black-text">
				Valider
			</md-button>
		</div>
	</md-dialog-content>
</md-dialog>