<md-dialog aria-label="Mango (Fruit)" style="  width: {{options.width || '34%'}};height:{{options.height || '60%'}};">
    <md-dialog-content class="sticky-container" style="height: 100%">
        <md-subheader class="md-sticky-no-effect">{{options.title}}</md-subheader>
        <div style="padding:15px">
            <md-input-container flex>
                <label>{{options.title}}</label>
                <textarea ng-model="options.text" columns="1" md-maxlength="250"></textarea>
            </md-input-container>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="answer(true);" class="md-primary black-text">
            Annuler
        </md-button>
        <md-button ng-click="answer();" class="md-primary black-text">
            Valider
        </md-button>
    </div>
</md-dialog>
