<md-dialog aria-label="Mango (Fruit)" style=";height: 730px;">
    <md-dialog-content class="sticky-container" style="height: 100%;background:#C4C4C4;width: 1200px">
        <div class="row" style="margin-top: 21px;">
            <div class="col-sm-9">
                <info-compta dialog="true" display-paiement="true" display-reglement="false" data="data"></info-compta>
            </div>
            <div class="col-sm-3">
                <info-comment data="data"></info-comment>
            </div>
        </div>
        <div class="row">
            <info-fourniture ng-if="displayFourniture === true" data="data" small="false" display="true"></info-fourniture>
        </div>
        <div class="row">
            <div class="card" style="padding:40px">
                <div class="col-md-3" ng-if="data.compta.reglement.montantTTC >= 150">
                    <md-checkbox ng-model="data.compta.info.devisNC" aria-label="_" class="md-warn">
                        Devis non conforme
                    </md-checkbox>
                </div>
                <div class="col-md-3" ng-if="data.tva !== 20">
                    <md-checkbox ng-model="data.compta.info.tvaNC" aria-label="_" class="md-warn">
                        Attestation de TVA Non-conforme
                    </md-checkbox>
                </div>
                <div class="col-md-3">
                    <md-checkbox ng-model="data.compta.info.fournitureNC" aria-label="_" class="md-warn">
                        Cout de fourniture Non Conforme
                    </md-checkbox>
                </div>
                <div class="col-md-3" ng-if="data.reglementSurPlace">
                    <md-checkbox ng-model="data.compta.info.factureNC" aria-label="_" class="md-warn">
                        Facture non conforme
                    </md-checkbox>
                </div>
            </div>
        </div>

        <div class="card" style="padding:30px" ng-if="data.compta.info.fournitureNC" ng-init="data.compta.info.fournitureSmsText = textTemplate.sms.intervention.relanceFourniture(data)">
          <textarea  style="width:300px;display:inline" name="name" ng-model="data.compta.info.fournitureSmsText" class='form-control' rows="8" cols="40"></textarea>
          <div class="col-md-3" ng-if="data.reglementSurPlace">
            <md-checkbox ng-model="data.compta.info.fournitureSMS" aria-label="_" class="md-warn">
              Envoyer SMS de fourniture manquante
            </md-checkbox>
          </div>
        </div>
    </md-dialog-content>
    <div class="md-actions card" layout="row">
        <md-button ng-click="displayFourniture = !displayFourniture" class="md-primary black-text">
            + Fourniture
        </md-button>
        <md-button ng-click="answer(null);" class="md-primary white-text red">
            Annuler
        </md-button>
        <md-button ng-click="preview()" class="md-primary white-text orange">
            Preview
        </md-button>
        <md-button ng-click="answer(true);" class="md-primary white-text green">
            Valider
        </md-button>
    </div>
</md-dialog>
