<md-dialog aria-label="Mango (Fruit)" style=";height: 730px;">
  <md-dialog-content class="sticky-container" style="height: 100%;background:#C4C4C4;overflow:scroll;width: 1200px">
    <div class="row" style="margin-top: 21px;">
      <div class="col-sm-9">
        <info-compta dialog="true" display-paiement="false" data="data"></info-compta>
      </div>
      <div class="col-sm-3">
        <info-comment data="data"></info-comment>
      </div>
    </div>
    <div class="row">
      <info-fourniture ng-if="displayFourniture === true" data="data" small="false" display="true"></info-fourniture>
    </div>
  </md-dialog-content>
  <div class="md-actions card" layout="row">
    <md-button ng-click="displayFourniture = !displayFourniture" class="md-primary black-text">
	+ Fourniture
    </md-button>
    <md-button ng-click="answer(null);" class="md-primary white-text red">
      Annuler
    </md-button>
    <md-button ng-click="answer(false);" ng-if="data.compta.reglement.recu" class="md-primary white-text orange">
      dé-valider
    </md-button>
    <md-button ng-click="answer(true);" class="md-primary white-text green">
            Valider
    </md-button>
  </div>
</md-dialog>
