<md-dialog aria-label="Alert Dialog" ng-class="dialog.css" class="_md md-default-theme md-transition-in" role="alertdialog" tabindex="-1" aria-describedby="dialogContent_48" style="text-align: center;">
   <md-dialog-content class="md-dialog-content" role="document" tabindex="-1" id="dialogContent_48" style="order: 0;">
		<h2 class="md-title ng-binding">Attention !</h2>
		<div ng-if="::!dialog.mdHtmlContent" class="md-dialog-content-body ng-scope">
			<p class="ng-binding">Êtes-vous sûr de vouloir valider l'intervention ?</p>
		</div>
	</md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="answer(false);" class="md-primary">
            Non
        </md-button>
        <md-button ng-click="answer(true);" class="md-primary">
            Oui
        </md-button>
    </div>
</md-dialog>