<md-dialog aria-label="Mango (Fruit)" style=";height: 740px;">
    <md-dialog-content class="sticky-container" style="height: 100%;background:#C4C4C4;overflow:scroll;width: 500px">
        <div style="padding-left: 15px;padding-right: 15px;">
            <br>
            <div class="row" style="margin:0">
                <div class="card margin">
                    <div class="p+" style="padding-bottom: 55px!important;">
                        <strong ng-click="dsp = !dsp" class="fs-headline display-block">Verification</strong>
                       <br>
                        <div class="col-sm-4" style="padding-left:0;">
                            <lx-text-field label="Prix Annoncé">
                                <input eurofilter ng-model="data.prixAnnonce" ng-disabled="true">
                            </lx-text-field>
                        </div>
                        <div class="col-sm-4" style="padding-left:0">
                            <lx-text-field label="Prix Final">
                                <input eurofilter ng-model="data.prixFinal">
                            </lx-text-field>
                        </div>
                        <div class="col-sm-4">
                            <div class="select-style text-field">
                                <select ng-model="data.modeReglement" ng-options="mr.short_name as mr.long_name for mr in config.modeDeReglements">
                                </select>
                                <label ng-class="{'selected' : data.modeReglement}">
                                    <div class="hidden-sm hidden-md">
                                        Mode de Reglement
                                    </div>
                                    <div class="hidden-lg hidden-xs ">
                                        Mode Regl.
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <credit-card inline="false" class="margin" model="data" ng-if="data.modeReglement === 'CB'"></credit-card>
            <info-fourniture  data="data" small="true" display="true"></info-fourniture>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="answer(true);" class="md-primary black-text">
            Annuler
        </md-button>
        <md-button ng-click="answer(false);" class="md-primary black-text">
            Valider
        </md-button>
    </div>
</md-dialog>
