<div class="row card" style="overflow: scroll;" style="min-height:599px;margin:100px">
  <div class="row">
    <div style="padding:20px" class="col-sm-2">
      <select class="form-control" ng-model="selectedYear" ng-options="mth as mth for mth in vm.yearSelect">
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-sm-offset-1" style="margin:10px;">
      <table class="table table-striped table-bordered">
	<thead>
          <tr>
            <td>Comptes</td>
	    <td>Janvier</td>
	    <td>Février</td>
	    <td>Mars</td>
	    <td>Avril</td>
	    <td>Mai</td>
	    <td>Juin</td>
	    <td>Juillet</td>
	    <td>Août</td>
	    <td>Septembre</td>
	    <td>Octobre</td>
	    <td>Novembre</td>
	    <td>Décembre</td>
	    <td>Total</td>
          </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="key in vm.info | toArray | orderBy:'total':true track by $index">
	    <td>{{key.name}}</td>
	    <td ng-repeat="elems in vm.years[key.ref] track by $index">{{elems.toFixed(2)}}</td>
	    <td>{{key.total.toFixed(2)}}</td>
	  </tr>
	</tbody>
      </table>
    </div>
    <br>
    <br>
  </div>
</div>
