<div class="row card" style="overflow: scroll;" style="min-height:599px;margin:100px">

  <div style="margin:70px;">
    <div>
      <div class="row">
	<div class="col-sm-1">
	  <button ng-click="vm.Csv()" class="btn">Export</button>
	</div>
	<div class="col-sm-5">
	  <div class="col-sm-9">
	    <select style="width: 100%;"  class="form-control"  ng-model="choice">
	      <option ng-repeat="f in vm.files">{{f.replace('/CommissionsPartenariat/', '')}}</option>
	    </select>
	  </div>
	  <div class="col-sm-3">
	    <button class="btn" ng-click="vm.onChanges();" lx-ripple>DDL</button>
	  </div>
	</div>
	<div class="col-sm-offset-2 col-sm-2">
	  <button class="btn" ng-click="vm.validateArt();" lx-ripple>Sauvegarde des fiches artisans</button>
	</div>
      </div>
      <br>
      <table class="table table-striped table-bordered" ng-init="vm.sb = '-step'">
	<thead>
          <tr>
            <td>Date Ajout</td>
            <td>Ajouté Par</td>
            <td>Société</td>
	    <td>Status</td>
	    <td>SubStatus</td>
            <td ng-click="vm.xsort('-nbrIntervention')">Nombre d'inters total</td>
            <td ng-click="vm.xsort('-oldStep')">Comission Payés</td>
            <td ng-click="vm.xsort('-step')">Intervention avec comission à payer</td>
            <td ng-click="vm.xsort('-step')">Comission</td>
            <td ng-click="vm.xsort('-nbrComissionPotentiel')">Potentiel</td>
          </tr>
	</thead>
	<tbody>

          <tr ng-repeat="sst in vm.data|orderBy:vm.sb">
            <td>{{sst.date.ajout|date:"dd/MM/yy"}}</td>
	    <td>{{sst.login.ajout}}</td>
	    <td><a href="/artisan/{{sst.id}}/recap">{{sst.nomSociete}} </a> </td>
	    <td> <span style="width:80px;" class="label {{::config.etatsArtisan[sst.status].color}}">{{sst.status}}</span></td>
	    <td><span style="width:80px;" class="label {{::config.artisanSubStatus[sst.subStatus].color}} accent-2">{{sst.subStatus}}</span></td>
	    <td>{{sst.nbrIntervention}}</td>
            <td>{{sst.totalPaye / 10}}</td>
            <td>{{sst.nbrComissionImpaye + (sst.nbrComissionPaye % 10)}}</td>
            <td>{{sst.step}}</td>
            <td class="blue-text">{{sst.nbrComissionPotentiel}}</td>
          </tr>
	</tbody>
      </table>

      <br>
      <br>
    </div>
  </div>
  <div style="text-align: center;">

    <div style="margin-top: 0px;">

    </div>
  </div>
</div>
