<div class="card">
    <div class="p+" style="width:95%">
        <div class="row">
            <div style="padding:40px" class="col-sm-3">
                <select class="form-control" ng-model="selectedDate" ng-options="ds as ds.t for ds in vm.dateSelect">
                </select>
            </div>
            <div style="padding:40px" class="col-sm-3">
                <select class="form-control" ng-model="selectedUser" ng-options="usr.login as usr.login for usr in usrs">
                </select>
            </div>
            <div style="padding:40px" class="col-sm-3">
               <a target="_blank" href="/api/intervention/commissionsTabs?l={{selectedUser}}&m={{selectedDate.m}}&y={{selectedDate.y}}"><button class="btn btn-success">GENERER</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                <table class="table table-bordered">
                    <tbody>
                        <tr ng-repeat="l in list" ng-class="{'success' : l.exception1, 'warning' : l.exception2}">
                            <td><a href="/intervention/{{l.id}}">{{l.id}}</td>
                            <td>{{l.categorie}}</td>
                            <td>{{l.compta.reglement.montant}}</td>
                            <td>{{vm.xcalc(l)}} €</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><b>{{total.all| number:2}} € </b></td>
                            <td><b>{{total.com| number:2}} € </b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
