<div class="card margin">
    <div class="p+" style="width:95%">
        <div class="row">
            <div class="col-md-2">
                <input placeholder="Rechercher..." type="text" ng-model="search" class="form-control">
            </div>
	    	<div class="col-md-2">
	      		<select style="width:100%;margin-left:20px;display: inline;" ng-model="objSearch.categorie" class="form-control" ng-change="vm.reset(true)">
					<option ng-repeat="elem in cat">{{elem}}</option>
	      		</select>
	    	</div>
	    	<div class="col-md-2">
	      		<button ng-click="vm.remCat()" class="btn btn-danger">
					Supprimer Catégorie
	      		</button>
	    	</div>
	    	<div class="col-md-2">
	      		<select style="width:100%;margin-left:20px;display: inline;" ng-model="objSearch.scategorie" class="form-control" ng-change="vm.reset(false)">
					<option ng-repeat="elem in scat[objSearch.categorie]">{{elem}}</option>
	      		</select>
	    	</div>
	    	<div class="col-md-4">
	      		<div style="text-align: center;">
					<input type="file" style="display: inline;" onchange="editProducts.prototype.changeFile(this)" name="Products" accept=".csv"/>&nbsp;
					<button class="btn btn-danger" style="display: inline" ng-click="vm.importProducts();" lx-ripple>Go</button>
	      		</div>
	    	</div>
		</div>
        <br>
		<div class="row" style="margin-left:0px;">
	  		<span class="fa fa-arrow-circle-left fa-3x" style="float:left;" ng-click="vm.dec()"/>
	  		<span class="fa fa-arrow-circle-right fa-3x" style="float:right;" ng-click="vm.inc()"/>
		</div>
		<div ng-repeat="p in pl | filter:search | filter:objSearch | limitTo:50:startLimit as filteredData track by $index" class="row table-bordered" style="margin-left:0px;display:flex;position:relative;">
	  		<div class="col-md-2 table-bordered">
	    		<img src="{{p.link}}" style="max-height: 250px;display:block; margin-left:auto; margin-right:auto;"/>
	  		</div>
	  		<div class="col-md-9 table-bordered" style="padding:0px;flex:1;">
	    		<div class="row" style="margin:0px;margin-bottom:5px;margin-top:15px;">
	      			<div class="col-md-12">
						<lx-text-field label="Titre">
		  					<input capitalize type="text" ng-model="p.title">
						</lx-text-field>
	      			</div>
	    		</div>
	    	<div class="row" style="margin:0px;margin-bottom:5px;">
	      		<div class="col-md-2">
					<lx-text-field label="Reférence">
		  				<input capitalize type="text" ng-model="p.ref">
					</lx-text-field>
	      		</div>
	      		<div class="col-md-5">
					<lx-text-field label="Catégorie">
		  				<input capitalize type="text" ng-model="p.categorie">
					</lx-text-field>
	      		</div>
	      		<div class="col-md-5">
					<lx-text-field label="Sous Catégorie">
		  				<input capitalize type="text" ng-model="p.scategorie">
					</lx-text-field>
	     		</div>
	    	</div>
	    	<div class="row" style="margin:0px;">
	      		<div class="col-md-4">
					<lx-text-field label="Prix Public">
		  				<input eurofilter ng-model="p.pu">
					</lx-text-field>
	      		</div>
	      		<div class="col-md-4">
					<lx-text-field label="Prix d'Achat">
		  				<input eurofilter ng-model="p.pa">
					</lx-text-field>
	      		</div>
	      		<div class="col-md-4">
					<lx-text-field label="Marge">
		  				<input eurofilter ng-model="p.marge">
					</lx-text-field>
	      		</div>
	    	</div>
	    	<div class="row" style="margin:0px;" ng-if="p.single">
	      		<div class="col-md-12">
					<md-input-container flex>
		  			<label>Description</label>
		  			<textarea columns="1" capitalize ng-model="p.desc"></textarea>
					</md-input-container>
	      		</div>
	    	</div>
	  	</div>
	  	<div class="col-md-1 table-bordered" style="flex:0 auto;">
	  		<div>
	      		<button class="btn--no-conflicts btn--l btn--blue btn--icon" ng-click="vm.editImage(p)">
					<i class="fa fa-pencil"></i>
	      		</button>
	      		<button class="btn--no-conflicts btn--l btn--red btn--icon" ng-click="vm.remove(p)">
					<i class="fa fa-remove"></i>
	      		</button>
	      		<button class="btn--no-conflicts btn--l btn--red btn--icon" style="padding-left:11px">
					<md-checkbox ng-model="p.single" ng-change="p.open = p.single" aria-label="Checkbox 2" class="md-warn">
					</md-checkbox>
	      		</button>
	    	</div>
	  	</div>
	</div>
	<div class="row" style="margin-left:20px;margin-right:10px;">
	  	<span class="fa fa-arrow-circle-left fa-3x" style="float:left;" ng-click="vm.dec()"/>
	  	<span class="fa fa-arrow-circle-right fa-3x" style="float:right;" ng-click="vm.inc()"/>
	</div>
    <div class="fab" style="position: fixed;right: 40px;z-index: 999;top: 87%;">
      <button ng-click="vm.save()" class="btn--no-conflicts btn--l btn--black btn--fab green"><i class="fa fa-check"></i></button>
    </div>
    <div class="fab" style="position: fixed;right: 100px;z-index: 999;top: 87%;">
      <button ng-click="vm.newProd()" class="btn--no-conflicts btn--l btn--black btn--fab blue"><i class="fa fa-plus"></i></button>
    </div>
</div>
