<div class="card margin">
  <div class="p+" style="width:95%">
    <div class="row">
      <div class="col-sm-4">
	<button class="md-primary black-text md-button md-default-theme">
	  <link url="/tools/editUsers" title="Paramètres basiques"></link>
	</button>
      </div>
      <div class="col-sm-offset-4 col-sm-4">
	<button class="md-primary black-text md-button md-default-theme">
	  <link url="/tools/editAcquittance" title="Paramètres d'emargement"></link>
	</button>
      </div>
    </div>
        <table class="table table-bordered tbls-usrs">
            <thead>
                <tr>
                    <th>Login</th>
                    <th>Privilegié</th>
                    <th>Peut voir les statistiques</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in usrs | filter:search track by $index">
                    <td>
                        <input type="text" class="form-control" ng-model="p.login">
                    </td>
		    <td style="width:1%">
                        <md-checkbox ng-model="p.priv" aria-label="Checkbox 2" class="md-warn md-align-top-left">
                        </md-checkbox>
                    </td>
		    <td style="width:1%">
                        <md-checkbox ng-model="p.obs" aria-label="Checkbox 2" class="md-warn md-align-top-left">
                        </md-checkbox>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="fab" style="position: fixed;right: 40px;z-index: 999;top: 87%;">
        <button ng-click="vm.save()" class="btn--no-conflicts btn--l btn--black btn--fab green"><i class="fa fa-check"></i></button>
    </div>
</div>
