<div class="card margin">
    <div class="p+" style="width:95%">
        <div class="row">
            <div class="col-sm-4">
                <input placeholder="Rechercher..." type="text" ng-model="search" class="form-control">
            </div>
        </div>
        <br>
        <table class="table table-bordered produits">
            <thead>
                <tr>
                    <th>P</th>
                    <th>Titre</th>
                    <th>Categorie</th>
                    <th>Text Mail</th>
                    <th>Supp.</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="p in pl | filter:search track by $index">
                    <td style="width:1%" ng-click="p.open = !p.open">
                        <span style="padding:4px 2px;" ng-class="{'rotate-90':p.open}" class="fa fa-2x fa-angle-right rotate"></span>
                    </td>
                    <td style="width: 265px;">
                        <input class="form-control" ng-model="p.title">
                    </td>
                    <td style="width:120px">
                       <input type="text" style="width: 93%;display: inline;" placeholder="Categorie" class="form-control" ng-model="p.categorie">
                    </td>
                    <td style="width: 367px;">
                        <input class="form-control" ng-model="p.text" >
                    </td>
                    <td style="width:1%">
                        <button class="btn--no-conflicts btn--l btn--red btn--icon" ng-click="vm.remove(p)">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat-end class="grey lighten-3">
                    <td ng-if="p.open"></td>
                    <td ng-if="p.open" colspan="3">
                        <produits embedded="true" ng-if="p.open" data="p"></produits>
                    </td>
                    <td ng-if="p.open">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="fab" style="position: fixed;right: 40px;z-index: 999;top: 87%;">
        <button ng-click="vm.save()" class="btn--no-conflicts btn--l btn--black btn--fab green"><i class="fa fa-check"></i></button>
    </div>
    <div class="fab" style="position: fixed;right: 100px;z-index: 999;top: 87%;">
        <button ng-click="pl.push(vm.extend({open:true}))" class="btn--no-conflicts btn--l btn--black btn--fab blue"><i class="fa fa-plus"></i></button>
    </div>
</div>
