<div class="card margin">
    <div class="p+" style="width:95%">
        <div class="row">
            <div class="col-sm-4">
                <input placeholder="Rechercher..." type="text" ng-model="search" class="form-control">
            </div>
        </div>
        <br>
        <table class="table table-bordered produits">
            <thead>
                <tr>
                    <th>Fournisseur</th>
                    <th>Supp.</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat-start="p in pl">
                    <td ng-click="p.open = !p.open">
                      <h3>{{p.name}}</h3>
                    </td>
                    <td style="width:1%">
                        <button class="btn--no-conflicts btn--l btn--red btn--icon" ng-click="vm.remove(p)">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat-end ng-if="p.open" class="grey lighten-3">
                    <td>
                        <div class="row" style="margin: 8px 15px;">
                            <div class="col-md-4">
                                <lx-text-field label="Nom">
                                    <input capitalize type="text" ng-model="p.name">
                                </lx-text-field>
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="fab" style="position: fixed;right: 40px;z-index: 999;top: 87%;">
        <button ng-click="vm.save()" class="btn--no-conflicts btn--l btn--black btn--fab green"><i class="fa fa-check"></i></button>
    </div>
    <div class="fab" style="position: fixed;right: 100px;z-index: 999;top: 87%;">
        <button ng-click="pl.unshift({open:true})" class="btn--no-conflicts btn--l btn--black btn--fab blue"><i class="fa fa-plus"></i></button>
    </div>
</div>