<div class="row card" style="overflow: scroll;" style="min-height:599px;margin:100px">
  <div class="row">
    <div class="col-sm-4">
	<button class="md-primary black-text md-button md-default-theme">
	  <link url="/tools/editUsers" title="Paramètres basiques"></link>
	</button>
    </div>
    <div class="col-sm-4">
      <button class="md-primary black-text md-button md-default-theme">
	<link url="/tools/editPriv" title="Privilèges"></link>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="margin:10px;">
      <table class="table table-striped table-bordered">
	<thead>
	  <tr>
	    <td>Logins</td>
	    <td>Nom</td>
	    <td>Prénom</td>
	    <td>N°</td>
	    <td>Rue</td>
	    <td>CP</td>
	    <td>Ville</td>
	    <td ng-repeat="day in vm.weekDays()">{{day}}</td>
	    <td>Retard</td>
	    <td>Absence</td>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td colspan="16" style="text-align: center;">INTERVENTION</td>
	  </tr>
	  <tr ng-repeat-start="userList in users" ng-if="userList.service === 'INTERVENTION' && userList.activated === true" style="background-color: rgba(0,255,0,0.2);">
	    <td style="width:6%;">{{userList.login}}</td>
	    <td><input type="text" class="form-control" ng-model="userList.nom"></td>
	    <td><input type="text" class="form-control" ng-model="userList.prenom"></td>
	    <td><input type="text" class="form-control" ng-model="userList.address.n"></td>
	    <td><input type="text" class="form-control" ng-model="userList.address.r"></td>
	    <td><input type="text" class="form-control" ng-model="userList.address.cp"></td>
	    <td><input type="text" class="form-control" ng-model="userList.address.v"></td>
	    <td style="width:6%;" ng-repeat="day in userList.hours track by $index"><input ng-model="userList.hours[$index]" class="form-control" type="time" style="width:100px; height: 30px;"></input></td>
	    <td style="width:1%"><md-checkbox style="text-align:center;" ng-model="userList.late" aria-label="Checkbox 2" class="md-warn md-align-top-left"></md-checkbox></td>
	    <td style="width:1%"><md-checkbox aria-label="Checkbox 2" ng-model="userList.abs" class="md-warn md-align-top-left"></md-checkbox></td>
	  </tr>
	  <tr ng-repeat-end  ng-if="userList.service === 'INTERVENTION' && userList.activated === true" >
	    <td style="width:6%;background-color: rgba(255,0,0,0.2);">{{userList.login}}</td>
	    <td style="background-color: rgba(255,0,0,0.2)"><input type="text" class="form-control" ng-model="userList.nom"></td>
	    <td style="background-color: rgba(255,0,0,0.2)"><input type="text" class="form-control" ng-model="userList.prenom"></td>
	    <td style="background-color: rgba(255,0,0,0.2)"><input type="text" class="form-control" ng-model="userList.address.n"></td>
	    <td style="background-color: rgba(255,0,0,0.2)"><input type="text" class="form-control" ng-model="userList.address.r"></td>
	    <td style="background-color: rgba(255,0,0,0.2)"><input type="text" class="form-control" ng-model="userList.address.cp"></td>
	    <td style="background-color: rgba(255,0,0,0.2)"><input type="text" class="form-control" ng-model="userList.address.v"></td>
	    <td style="width:6%;background-color: rgba(255,0,0,0.2);" ng-repeat="day in userList.hours track by $index"><input ng-model="userList.hoursf[$index]" class="form-control" type="time" style="width:100px; height: 30px;"></input></td>
	    <td style="width:1%;background-color: rgba(255,0,0,0.2);"><md-checkbox style="text-align:center;" ng-model="userList.late" aria-label="Checkbox 2" class="md-warn md-align-top-left"></md-checkbox></td>
	    <td style="width:1%;background-color: rgba(255,0,0,0.2);"><md-checkbox aria-label="Checkbox 2" ng-model="userList.abs" class="md-warn md-align-top-left"></md-checkbox></td>
	  </tr>
	  <tr>
	    <td colspan="16" style="text-align: center;">PARTENARIAT</td>
	  </tr>
	  <tr ng-repeat-start="userList in users" ng-if="userList.service === 'PARTENARIAT' && userList.activated === true">
	    <td style="width:6%;background-color: rgba(0,255,0,0.2);">{{userList.login}}</td>
	    <td style="background-color: rgba(0,255,0,0.2);"><input type="text" class="form-control" ng-model="userList.nom"></td>
	    <td style="background-color: rgba(0,255,0,0.2);"><input type="text" class="form-control" ng-model="userList.prenom"></td>
	    <td style="background-color: rgba(0,255,0,0.2);"><input type="text" class="form-control" ng-model="userList.address.n"></td>
	    <td style="background-color: rgba(0,255,0,0.2);"><input type="text" class="form-control" ng-model="userList.address.r"></td>
	    <td style="background-color: rgba(0,255,0,0.2);"><input type="text" class="form-control" ng-model="userList.address.cp"></td>
	    <td style="background-color: rgba(0,255,0,0.2);"><input type="text" class="form-control" ng-model="userList.address.v"></td>
	    <td style="width:6%;background-color: rgba(0,255,0,0.2);" ng-repeat="day in userList.hours track by $index"><input ng-model="userList.hours[$index]" class="form-control" type="time" style="width:100px; height: 30px;"></input></td>
	    <td style="width:1;background-color: rgba(0,255,0,0.2);%"><md-checkbox style="text-align:center;" ng-model="userList.late" aria-label="Checkbox 2" class="md-warn md-align-top-left"></md-checkbox></td>
	    <td style="width:1%;background-color: rgba(0,255,0,0.2);"><md-checkbox aria-label="Checkbox 2" ng-model="userList.abs" class="md-warn md-align-top-left"></md-checkbox></td>
	  </tr>
	  <tr ng-repeat-end ng-if="userList.service === 'PARTENARIAT' && userList.activated === true">
	    <td style="width:6%;background-color: rgba(255,0,0,0.2);">{{userList.login}}</td>
	    <td style="background-color: rgba(255,0,0,0.2)"><input type="text" class="form-control" ng-model="userList.nom"></td>
	    <td style="background-color: rgba(255,0,0,0.2)"><input type="text" class="form-control" ng-model="userList.prenom"></td>
	    <td style="background-color: rgba(255,0,0,0.2)"><input type="text" class="form-control" ng-model="userList.address.n"></td>
	    <td style="background-color: rgba(255,0,0,0.2)"><input type="text" class="form-control" ng-model="userList.address.r"></td>
	    <td style="background-color: rgba(255,0,0,0.2)"><input type="text" class="form-control" ng-model="userList.address.cp"></td>
	    <td style="background-color: rgba(255,0,0,0.2)"><input type="text" class="form-control" ng-model="userList.address.v"></td>
	    <td style="width:6%;background-color:rgba(255,0,0,0.2);" ng-repeat="day in userList.hours track by $index"><input ng-model="userList.hoursf[$index]" class="form-control" type="time" style="width:100px; height: 30px;"></input></td>
	    <td style="width:1%;background-color: rgba(255,0,0,0.2)"><md-checkbox style="text-align:center;" ng-model="userList.late" aria-label="Checkbox 2" class="md-warn md-align-top-left"></md-checkbox></td>
	    <td style="width:1%;background-color: rgba(255,0,0,0.2)"><md-checkbox aria-label="Checkbox 2" ng-model="userList.abs" class="md-warn md-align-top-left"></md-checkbox></td>
	  </tr>
	  
	  <tr>
	    <td colspan="16" style="text-align: center;">COMPTABILITE</td>
	  </tr>
	  <tr ng-repeat-start="userList in users" ng-if="userList.service === 'COMPTABILITE' && userList.activated === true" style="background-color: rgba(0,255,0,0.2);">
	    <td style="width:6%;">{{userList.login}}</td>
	    <td><input type="text" class="form-control" ng-model="userList.nom"></td>
	    <td><input type="text" class="form-control" ng-model="userList.prenom"></td>
	    <td><input type="text" class="form-control" ng-model="userList.address.n"></td>
	    <td><input type="text" class="form-control" ng-model="userList.address.r"></td>
	    <td><input type="text" class="form-control" ng-model="userList.address.cp"></td>
	    <td><input type="text" class="form-control" ng-model="userList.address.v"></td>
	    <td style="width:6%;" ng-repeat="day in userList.hours track by $index"><input ng-model="userList.hours[$index]" class="form-control" type="time" style="width:100px; height: 30px;"></input></td>
	    <td style="width:1%"><md-checkbox style="text-align:center;" ng-model="userList.late" aria-label="Checkbox 2" class="md-warn md-align-top-left"></md-checkbox></td>
	    <td style="width:1%"><md-checkbox aria-label="Checkbox 2" ng-model="userList.abs" class="md-warn md-align-top-left"></md-checkbox></td>
	  </tr>
	  <tr ng-repeat-end ng-if="userList.service === 'COMPTABILITE' && userList.activated === true">
	    <td style="width:6%;background-color: rgba(255,0,0,0.2)">{{userList.login}}</td>
	    <td style="background-color: rgba(255,0,0,0.2)"><input type="text" class="form-control" ng-model="userList.nom"></td>
	    <td style="background-color: rgba(255,0,0,0.2)"><input  type="text" class="form-control" ng-model="userList.prenom"></td>
	    <td style="background-color: rgba(255,0,0,0.2)"><input  type="text" class="form-control" ng-model="userList.address.n"></td>
	    <td style="background-color: rgba(255,0,0,0.2)"><input  type="text" class="form-control" ng-model="userList.address.r"></td>
	    <td style="background-color: rgba(255,0,0,0.2)"><input  type="text" class="form-control" ng-model="userList.address.cp"></td>
	    <td style="background-color: rgba(255,0,0,0.2)"><input  type="text" class="form-control" ng-model="userList.address.v"></td>
	    <td style="width:6%;background-color: rgba(255,0,0,0.2);" ng-repeat="day in userList.hours track by $index"><input ng-model="userList.hoursf[$index]" class="form-control" type="time" style="width:100px; height: 30px;"></input></td>
	    <td style="width:1%;background-color: rgba(255,0,0,0.2)"><md-checkbox style="text-align:center;" ng-model="userList.late" aria-label="Checkbox 2" class="md-warn md-align-top-left"></md-checkbox></td>
	    <td style="width:1%;background-color: rgba(255,0,0,0.2)"><md-checkbox aria-label="Checkbox 2" ng-model="userList.abs" class="md-warn md-align-top-left"></md-checkbox></td>
	  </tr>
	  
	</tbody>
      </table>
    </div>
    <br>
    <br>
  </div>
  <div class="fab" style="position: fixed;right: 40px;z-index: 999;top: 87%;">
    <button ng-click="vm.save()" class="btn--no-conflicts btn--l btn--black btn--fab green"><i class="fa fa-check"></i></button>
  </div>
</div>


