<div class="row card" style="overflow: scroll;" style="min-height:599px;margin:100px">
  <div class="row">
    <div style="padding:20px" class="col-sm-2">
      <select class="form-control" ng-model="selectedYear" ng-options="mth as mth for mth in vm.yearSelect">
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-sm-offset-1" style="margin:10px;">
      <table class="table table-striped table-bordered">
	<thead>
          <tr>
            <td></td>
	    <td ng-repeat="fourn in vm.config.fournisseurEdison()">{{fourn}}</td>
          </tr>
	</thead>
	<tbody>
	  <tr>
	    <td>Janvier</td>
	    <td ng-repeat="fourn in vm.config.fournisseurEdison()">{{vm.years[fourn][0].toFixed(2)}}</td>
	  </tr>
	  <tr>
	    <td>Février</td>
	    <td ng-repeat="fourn in vm.config.fournisseurEdison()">{{vm.years[fourn][1].toFixed(2)}}</td>
	  </tr>
	  <tr>
	    <td>Mars</td>
	    <td ng-repeat="fourn in vm.config.fournisseurEdison()">{{vm.years[fourn][2].toFixed(2)}}</td>
	  </tr>
	  <tr>
	    <td>Avril</td>
	    <td ng-repeat="fourn in vm.config.fournisseurEdison()">{{vm.years[fourn][3].toFixed(2)}}</td>
	  </tr>
	  <tr>
	    <td>Mai</td>
	    <td ng-repeat="fourn in vm.config.fournisseurEdison()">{{vm.years[fourn][4].toFixed(2)}}</td>
	  </tr>
	  <tr>
	    <td>Juin</td>
	    <td ng-repeat="fourn in vm.config.fournisseurEdison()">{{vm.years[fourn][5].toFixed(2)}}</td>
	  </tr>
	  <tr>
	    <td>Juillet</td>
	    <td ng-repeat="fourn in vm.config.fournisseurEdison()">{{vm.years[fourn][6].toFixed(2)}}</td>
	  </tr>
	  <tr>
	    <td>Août</td>
	    <td ng-repeat="fourn in vm.config.fournisseurEdison()">{{vm.years[fourn][7].toFixed(2)}}</td>
	  </tr>
	  <tr>
	    <td>Septembre</td>
	    <td ng-repeat="fourn in vm.config.fournisseurEdison()">{{vm.years[fourn][8].toFixed(2)}}</td>
	  </tr>
	  <tr>
	    <td>Octobre</td>
	    <td ng-repeat="fourn in vm.config.fournisseurEdison()">{{vm.years[fourn][9].toFixed(2)}}</td>
	  </tr>
	  <tr>
	    <td>Novembre</td>
	    <td ng-repeat="fourn in vm.config.fournisseurEdison()">{{vm.years[fourn][10].toFixed(2)}}</td>
	  </tr>
	  <tr>
	    <td>Decembre</td>
	    <td ng-repeat="fourn in vm.config.fournisseurEdison()">{{vm.years[fourn][11].toFixed(2)}}</td>
	  </tr>
	</tbody>
      </table>
    </div>
    <br>
    <br>
  </div>
</div>
