<div class="card margin">
  <div class="p+" style="width:95%">
    <div class="row">
      <div class="col-md-4">
        <input placeholder="Rechercher..." type="text" ng-model="search" class="form-control">
      </div>
    </div>
    <div class="row" style="margin-left:0px;">
      <span class="fa fa-arrow-circle-left fa-3x" style="float:left;" ng-click="vm.dec()"/>
      <span class="fa fa-arrow-circle-right fa-3x" style="float:right;" ng-click="vm.inc()"/>
    </div>
    <div class="row">
      <info-ovh ng-repeat="number in vm.numberList | filter:search | limitTo:10:startLimit as filteredData track by $index" data="vm.numbersData[number]">
      </info-ovh>
    </div>
    <div class="row" style="margin-left:20px;margin-right:10px;">
      <span class="fa fa-arrow-circle-left fa-3x" style="float:left;" ng-click="vm.dec()"/>
      <span class="fa fa-arrow-circle-right fa-3x" style="float:right;" ng-click="vm.inc()"/>
    </div>
  </div>
</div>
