<div class="row card" style="overflow: scroll;" style="min-height:599px;margin:100px">
  <div style="min-height:800px;">
    
    <div class="row">
      <div class="col-md-offset-1 col-md-4" style="padding:20px;">
	<md-autocomplete md-input-maxlength="13" md-selected-item="vm.List" md-selected-item-change="vm.onSelect(num)" md-search-text="vm.Search" md-items="num in vm.search(vm.Search)" md-item-text="num">
	  <md-item-template>
	    <span>{{num}}</span>
	  </md-item-template>
	</md-autocomplete>
      </div>
    </div>
    <div class="row" style="padding:20px;">
      <div class="col-md-2">
	<select ng-model="vm.account" style="width:100%;margin-left:20px;display: inline;" class="form-control">
	  <option ng-repeat="account in vm.accountList" value="{{account}}">{{vm.accountName[account]}}</option>
	</select>	
      </div>
      <div class="col-md-3">
	<select ng-if="vm.account" ng-model="vm.number" style="width:100%;margin-left:20px;display: inline;" class="form-control">
	  <option ng-repeat="number in vm.numberList[vm.account]" value="{{number}}">{{vm.numberInfo[number]}} - {{number}}</option>
	</select>
      </div>
      <div class="col-md-1">
	<button ng-if="vm.account" class="btn" ng-click="vm.resetNumber()">Reset Number</button>
      </div>
    </div>

    <div class="row" ng-if="vm.account">
      <div class="col-sm-4" style="padding:20px;">
	<select style="width:100%;margin-left:20px;display: inline;" class="form-control" ng-model="vm.mode">
	  <option value="day">Jour</option>
	  <option value="week">Semaine</option>
	  <option value="month">Mois</option>
	</select>
      </div>
      <div ng-if="vm.mode === 'day'">
	<div style="padding:10px" class="col-sm-3">
	  <div class="text-field date-picker">
	    <label class="selected">Jour</label>
	    <input type="text" pick-a-date="vm.date2" ng-model="vm.date"/>
	  </div>
	</div>
	<div style="padding:20px" class="col-sm-2">
	  <button class="btn" style="display: inline" ng-click="vm.ovhCharge();" lx-ripple>Charger Jour</button>
	</div>
      </div>
      <div ng-if="vm.mode === 'week'">      
	<div style="padding:20px" class="col-sm-2">
	  <select ng-model="selectedWeek" style="width:100%;margin-left:20px;display: inline;" class="form-control">
	    <option ng-repeat="week in vm.dateSelect">{{week}}</option>
	  </select>
	</div>
	<div style="padding:20px" class="col-sm-2">
	  <button class="btn" style="display: inline" ng-click="vm.ovhChargeMultiple('week', selectedWeek);" lx-ripple>Charger Semaine</button>
	</div>
      </div>
      <div ng-if="vm.mode === 'month'">      
	<div style="padding:20px" class="col-sm-2">
	  <select ng-model="selectedMonth" style="width:100%;margin-left:20px;display: inline;" class="form-control">
	    <option ng-repeat="month in vm.dateSelect2">{{month}}</option>
	  </select>
	</div>
	<div style="padding:20px" class="col-sm-2">
	  <button class="btn" style="display: inline" ng-click="vm.ovhChargeMultiple('month', selectedMonth);" lx-ripple>Charger Mois</button>
	</div>
      </div>
    </div>

    <div id="timedProgress" style="position:fixed;top: 50%;left: 57%;z-index: 12222;">
      <span ng-if="vm.loading">{{vm.counter}}</span>
    </div>

    <div class="row">
      <div class="col-sm-12" style="margin:10px;">
	<h2 style="text-align: center">{{vm.loadedAcc}} {{vm.loadedNum}}</h2>
	<table ng-table="vm.prStats" class="table table-striped" show-filter="false">
	  <tr ng-repeat="ligne in $data">
	    <td title="'Ligne Téléphonique'" sortable="'name'">
              {{ligne.name}}
	    </td>
	    <td title="'Appels Uniques'" sortable="'recU'">
	      {{ligne.recU}}
	    </td>
	    <td title="'OS crées'" sortable="'at'">
	      <div class="dropdown2" style="width: 100%">
		<div style="border-right-style:solid;border-right-width:1px;border-right-color:rgb(178,178,178);display:inline;padding-right:8px;">{{ligne.at}}</div>
		<div style="border-right-style:solid;display:inline;border-right-color:rgb(178,178,178);padding-left:8px;padding-right:8px">{{ligne.atN}}</div>
		<div class="dropdown2-content" style="height: {{(ligne.atL.length > 10 ? 10 : ligne.atL.length) * 20 + 12}}px;overflow-y: scroll">
		  <p class="dropdown2-hover" ng-repeat="inter in ligne.atL" ng-click="vm.changeLink('intervention', inter)">{{inter}}</p>
		</div>
	      </div>
	    </td>
	    <td title="'OS annulées'" sortable="'osa'">
	      <div class="dropdown2" style="width: 100%">
		<div style="border-right-style:solid;border-right-width:1px;border-right-color:rgb(178,178,178);display:inline;padding-right:8px;">{{ligne.osa}}</div>
		<div style="padding-left:8px;display:inline;">{{ligne.osaN}}</div>
		<div class="dropdown2-content" style="height: {{(ligne.osaL.length > 10 ? 10 : ligne.osaL.length) * 20 + 12}}px;overflow-y: scroll">
		  <p class="dropdown2-hover" ng-repeat="inter in ligne.osaL" ng-click="vm.changeLink('intervention', inter)">{{inter}}</p>
		</div>
	      </div>
	    </td>
	    <td title="'OS à programmer'" sortable="'osp'">
	      <div class="dropdown2" style="width: 100%">
		<div style="border-right-style:solid;border-right-width:1px;border-right-color:rgb(178,178,178);display:inline;padding-right:8px;">{{ligne.osp}}</div>	      
		<div style="padding-left:8px;display:inline;">{{ligne.ospN}}</div>
		<div class="dropdown2-content" style="height: {{(ligne.ospL.length > 10 ? 10 : ligne.ospL.length) * 20 + 12}}px;overflow-y: scroll">
		  <p class="dropdown2-hover" ng-repeat="inter in ligne.ospL" ng-click="vm.changeLink('intervention', inter)">{{inter}}</p>
		</div>
	      </div>
	    </td>
	    <td title="'Devis crées'" sortable="'dev'">
	      <div class="dropdown2" style="width: 100%">
		<div style="border-right-style:solid;border-right-width:1px;border-right-color:rgb(178,178,178);display:inline;padding-right:8px;">{{ligne.dev}}</div>	      
		<div style="padding-left:8px;display:inline;">{{ligne.devN}}</div>
		<div class="dropdown2-content" style="height: {{(ligne.devL.length > 10 ? 10 : ligne.devL.length) * 20 + 12}}px;overflow-y: scroll">
		  <p class="dropdown2-hover" ng-repeat="devis in ligne.devL" ng-click="vm.changeLink('devis', devis)">{{devis}}</p>
		</div>
	      </div>
	    </td>
	    <td title="'Chiffre d\'affaire'" sortable="'total'">
	      {{ligne.total}}
	    </td>
	  </tr>
	</table>
      </div>
    </div>
  </div>
</div>
