<style type="text/css">
.border-div {
	border: 1px solid black;
	border-radius: 5px;
}
</style>
<div class="card margin">
	<div class="p+" style="width:100%;">
		<div class="row">
			<!-- Download Vcf --!>
			<div class="col-sm-12">
				<strong class="fs-headline display-inline">
					<span>Download Vcf</span>
				</strong>
				<br>
				<div style="text-align:center">
					<a class="btn btn-danger" style="display:inline;" target="_blank" href="/api/artisan/dllVcfArtisan?download=true" download 1x-ripple>Dll Vcf Artisan</a>
					<a class="btn btn-danger" style="display:inline;" target="_blank" href="/api/artisan/dllVcfClient?download=true" download 1x-ripple>Dll Vcf Client</a>
				</div>
			</div>
		</div>
	</div>
</div>
