<div class="card" ng-show="showAll">
    <div class="row">
        <div style="padding:40px" class="col-sm-3">
            <select class="form-control" ng-model="selectedDate" ng-options="ds as ds.t for ds in vm.dateSelect">
            </select>
        </div>
         <div style="padding:40px" class="col-sm-3">
            <select class="form-control" ng-model="selectedType" ng-options="ds as ds for ds in vm.typeSelect">
            </select>
        </div>
         <div style="padding:40px" class="col-sm-3">
            <select class="form-control" ng-model="selectedDivider" ng-options="ds as ds for ds in vm.dividerSelect">
            </select>
        </div>
    </div>
    <div class="row">
        <div id="chartContainer" class="col-sm-11">
        </div>
    </div>
    <div class="row">
        <div style="padding:40px" class="col-sm-3">
            <select class="form-control" ng-model="selectedDate.y" ng-options="mth as mth for mth in vm.yearSelect">
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div id="chartContainer2">
            </div>
        </div>
          <div class="col-sm-2">
            RECU: {{totalYear.recu.toLocaleString('en-US').replaceAll(',', ' ')}} €<br>
            POTENTIEL: {{totalYear.potentiel.toLocaleString('en-US').replace(',', ' ')}} €
        </div>
        <div class="col-sm-10">
            <div id="chartContainer3">
            </div>
        </div>
        
            <div class="row">
        <div style="padding:40px" class="col-sm-3">
            <select class="form-control" ng-model="selectedDate3" ng-options="ds as ds.t for ds in vm.dateSelect3">
            </select>
        </div>
        <div style="padding:40px" class="col-sm-3">
            <select class="form-control" ng-model="selectedDate2.y" ng-options="mth as mth for mth in vm.yearSelect2">
            </select>
        </div>
        </div>
        <div class="col-sm-10">
            <div id="chartContainer4">
            </div>
        </div>

    </div>
</div>
