<div class="card">
    <div class="row">
        <div style="padding:40px" class="col-sm-3">
            <select class="form-control" ng-model="selectedDate" ng-options="ds as ds.t for ds in vm.dateSelect">
            </select>
        </div>
    </div>
    <div class="row">
        <div id="chartContainer" class="col-sm-4">
        </div>
    </div>
    <div class="row">
        <div style="padding:40px" class="col-sm-3">
            <select class="form-control" ng-model="selectedYear" ng-options="mth as mth for mth in vm.yearSelect">
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div id="chartContainer2">
            </div>
        </div>
        <div class="col-sm-2">
            RECU: {{totalYear.recu.toLocaleString('en-US').replaceAll(',', ' ')}} €<br>
            POTENTIEL: {{totalYear.potentiel.toLocaleString('en-US').replace(',', ' ')}} €
        </div>
    </div>
</div>
