<div class="container" style=" margin: auto;max-width: 1200px;">
  
  <style>
    .has{
    background-color: rgba(0,255,0,0.5);
    }
  </style>
    <div class="row">
        <div class="col-sm-12 " style="height:100%" ng-click="vm.leftClick($event)" ng-right-click="vm.rightClick($event)">
            <div class="form-horizontal" style="overflow:hidden;height:100%" novalidate>
                <div class="card" style="padding:20px">
                    <div class="p+">
                        <div style="float:left;width:40%">
                            <strong class="fs-headline display-block">Fiche de SST</strong>
                            <span ng-if="vm.data.login" class="fs-subhead tc-black-2 display-block">Ajoute le {{vm.data.date.ajout| date:"dd/MM à HH:mm"}} par {{vm.data.login.ajout}}</span>
                        </div>
                        <div style="float:right;width:40%">
                            <button ng-if="vm.data.id" class="btn--no-conflicts btn--l {{vm.config.etatsArtisan[vm.data.status].color}} white-text btn--flat" lx-ripple><strong>{{vm.config.etatsArtisan[vm.data.status].long_name}}</strong></button>
                            <button ng-if="vm.data.id" class="btn--no-conflicts btn--l {{vm.config.artisanSubStatus[vm.data.subStatus].color}} accent-2 white-text btn--flat" lx-ripple><strong>{{vm.config.artisanSubStatus[vm.data.subStatus].long_name}}</strong></button>
                            
                            <button ng-if="vm.data.origin == 'DEM'" ng-click="vm.data.origin = 'CAND'" class="btn--no-conflicts btn--l white-text  {{vm.data.origin === 'DEM' ? 'blue' : 'grey' }} btn--flat" lx-ripple><strong>DÉMARCHÉ</strong></button>
                            <button  ng-if="vm.data.origin == 'CAND'" ng-click="vm.data.origin = 'DEM'" class="btn--no-conflicts btn--l white-text  {{vm.data.origin === 'CAND' ? 'yellow darken' : 'grey' }} btn--flat" lx-ripple><strong>CANDIDAT</strong></button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card" style="padding:20px">
                    <strong class="fs-headline display-block">Societé</strong>
                    <div class="p+">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="select-style text-field">
                                    <select ng-model="vm.data.formeJuridique" ng-options="fj.short_name as fj.long_name group by fj.type for fj in vm.config.formeJuridiqueHash()">
                                    </select>
                                    <label ng-class="{'selected' : vm.data.formeJuridique}">
                                        Forme Juridique
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <lx-text-field label="Nom Société">
                                    <input capitalize ng-model="vm.data.nomSociete">
                                </lx-text-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="select-style text-field">
                                    <select ng-model="vm.data.representant.civilite" ng-options="civ.short_name as civ.long_name for civ in config.civilites">
                                    </select>
                                    <label ng-class="{'selected' : vm.data.representant.civilite}">Civilité</label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <lx-text-field label="Nom Representant">
                                    <input capitalize ng-model="vm.data.representant.nom">
                                </lx-text-field>
                            </div>
                            <div class="col-sm-5">
                                <lx-text-field label="Prenom Representant">
                                    <input capitalize ng-model="vm.data.representant.prenom">
                                </lx-text-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <lx-text-field label="Email">
                                    <input capitalize type="text" ng-model="vm.data.email">
                                </lx-text-field>
                            </div>
                            <div class="col-sm-3">
                                <lx-text-field label="Téléphone 1">
                                    <input capitalize type="text" ng-model="vm.data.telephone.tel1">
                                </lx-text-field>
                            </div>
                            <div class="col-sm-3">
                                <lx-text-field label="Téléphone 2">
                                    <input capitalize type="text" ng-model="vm.data.telephone.tel2">
                                </lx-text-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <lx-text-field label="Siret">
                                    <input type="text" ng-model="vm.data.siret">
                                </lx-text-field>
                            </div>
                            <div class="col-sm-4">
                                <lx-text-field label="IBAN" error="!vm.validIBAN(vm.data.IBAN)">
                                    <!--     <input type="text" ng-model="iban"/> -->
                                    <input type="text" ng-disabled="vm.data.verifRIB" ng-model="vm.data.IBAN" ng-class="{has: vm.data.verifRIB}">
                                </lx-text-field>
                            </div>
                            <div class="col-sm-3">
                                <lx-text-field label="BIC">
                                    <input type="text" ng-model="vm.data.BIC">
                                </lx-text-field>
                            </div>
            			    <div class="col-sm-3">
                              <div class="select-style text-field">
                                <select  ng-model="vm.data.smartphone" ng-options="smarts.label as smarts.label for smarts in vm.smart">
                                </select>
                                <label ng-class="{'selected' : 'vm.data.smartphone'}">Smartphone</label>
                              </div>
                            </div>
            			    <div class="col-sm-3"  style="width:200px"  ng-if="vm.data.smartphone === vm.smart[0].label">
            			      <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="vm.data.lydia" style="padding: 0px;margin-top: 5px;">
            				Lydia
            			      </md-switch>
            			    </div>
            			    <div class="col-sm-3"  style="width:200px"  ng-if="vm.data.smartphone === vm.smart[0].label">
            			      <button class="btn" md-no-ink ng-click="vm.sendIns()">
            				Envoyer instruction Lydia
            			      </button>
            			    </div>
            			    <div class="col-sm-3" style="width:200px">
            			      <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-if="user.login === 'benjamin_b' || user.login === 'vincent_q'" ng-model="vm.data.verifRIB" style="padding: 0px;margin-top: 5px;">
            				Verifier RIB
            			      </md-switch>
            			    </div>
                            <div class="col-sm-3" style="width:200px">
                                <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="vm.data.majInternet" style="padding: 0px;margin-top: 5px;">
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mise à jour par Internet
                                </md-switch>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	    <br>
	    <div class="card" style="padding:20px">
              <div class="p+">
                <strong class="fs-headline display-block">Disponibilité</strong>
                <br>
                <div class="row">
		  <div class="col-sm-3" style="width:200px">
		    <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="vm.data.samedi" style="padding: 0px;margin-top: 5px;">
		      Samedi
		    </md-switch>
		  </div>
		  <div class="col-sm-3" style="width:200px">
		    <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="vm.data.dimanche" style="padding: 0px;margin-top: 5px;">
		      Dimanche
		    </md-switch>
		  </div>
		  <div class="col-sm-3" style="width:200px">
		    <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="vm.data.soir" style="padding: 0px;margin-top: 5px;">
		      Soir
		    </md-switch>
		  </div>
		</div>
	      </div>
	    </div>
            <br>
            <artisan-categorie model="vm.data"></artisan-categorie>
            <br>
            <div class="card" style="padding:20px">
                <div class="p+">
                    <strong class="fs-headline display-block">Adresse</strong>
                    <edison-map show-address="true" is-new="vm.isNew" height="big" data="vm.data" client="vm.data"></edison-map>
                    <br>
                </div>
            </div>
            <br>
	    <div class="card" style="padding:20px">
	      <div class="p+">
		<strong class="fs-headline display-block">Alerte Facturier</strong>
		<br>
		<div class="row">
		  <div class="col-sm-3">
		    <lx-text-field label="Intervalle facture">
		      <input type="number" ng-model="vm.data.intervalfacture">
		    </lx-text-field>
		  </div>
			<div class="col-sm-3">
				<div class="select-style text-field">
					<select ng-model="vm.data.sizeTshirt">
						<option value="aucun">Aucun</option>
						<option value="L">L</option>
						<option value="XL">XL</option>
						<option value"XXL">XXL</option>
					</select>
					<label ng-class="{'selected' : vm.data.sizeTshirt}">Taille T-Shirt</label>
				</div>	
		  </div>
		</div>
	      </div>
	    </div>
	    <br>
            <div class="card" style="padding:20px">
                <div class="p+">
                    <strong class="fs-headline display-block">Pourcentages</strong>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <lx-text-field label="Déplacement">
                                <input type="number" step="5" ng-model="vm.data.pourcentage.deplacement">
                            </lx-text-field>
                        </div>
                        <div class="col-sm-3">
                            <lx-text-field label="Main D'oeuvre">
                                <input type="number" step="5" ng-model="vm.data.pourcentage.maindOeuvre">
                            </lx-text-field>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                         <div class="col-sm-3">
                            <lx-text-field label="Zone de Chalandise">
                                <input type="number" ng-model="vm.data.zoneChalandise">
                            </lx-text-field>
                        </div>
                        <div class="col-sm-3">
                            <lx-text-field label="Seuil (en €)">
                                <input type="number" step="5" ng-model="vm.data.seuil" ng-change="vm.checklimit()">
                            </lx-text-field>
                        </div>
                       <div class="col-sm-3">
                            <!--      <md-switch style="margin-top: 6px;" class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="vm.data.aSurveiller">
                                A Surveiller
                            </md-switch>
                            <br> -->
							<lx-text-field label="Seuil Rupture (en €)">
                                <input type="number" step="5" ng-model="vm.data.seuilRupture" ng-change="vm.checklimitRupture()">
                            </lx-text-field>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="vm.data.newOs" style="padding: 0px;margin-top: 5px;">
                                SMS Axialis
                            </md-switch>
                        </div>
                        <div class="col-sm-3">
                            <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="vm.data.star" style="padding: 0px;margin-top: 5px;" ng-click="vm.checkConflict('star')">
                                Star
                            </md-switch>
                        </div>
                        <div class="col-sm-3">
                            <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="vm.data.oneShot" style="padding: 0px;margin-top: 5px;" ng-click="vm.checkConflict('one')">
                                OneShot
                            </md-switch>
                        </div>
			<div class="col-sm-3" ng-if="$root.user.login === 'yohann_r'">
			  <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="vm.data.hsCommission" style="padding: 0px;margin-top: 5px;">
			    Hors Commission
			  </md-switch>
			</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" style="margin:0">
                <div class="col-sm-6" style="padding-left:0">
                    <div class="card" id="fileUpload" ng-if="vm.data.id">
                        <div class="p+">
                            <strong class="fs-headline display-block">Documents</strong>
                            <span class="fs-subhead tc-black-2 display-block">Documents</span>
                            <div id="fileUploadProgress"></div>
                            <div class="data-table-container">
                                <table class="data-table data-table--has-primary data-table--has-secondary">
                                    <thead>
                                        <tr>
                                            <th style="font-weight:bold">Nom</th>
                                            <!--       <th style="font-weight:bold">Info</th> -->
                                            <th style="font-weight:bold">OK</th>
                                            <th style="font-weight:bold">Voir</th>
                                            <th style="font-weight:bold">Ajouté</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="products data-table__clickable-row" ng-repeat="file in vm.config.artisanFiles">
                                            <td>
                                                <span>{{file}}</span>
                                            </td>
                                            <!--             <td>
                                                <span class="display-block fs-body-1 tc-black-2" ng-if="vm.data.document[file]">
                                                 {{vm.data.document[file].date | date:"dd/MM/yy"}}
                                                 {{vm.data.document[file].login}}</span>
                                            </td> -->
                                            <td>
                                                <md-checkbox aria-label=" lp" ng-model="vm.data.document[file].ok">
                                                </md-checkbox>
                                            </td>
                                            <td>
                                                <a ng-if="vm.fileExist(file)" target="_blank" href="/api/document/preview?name=artisan/{{vm.data.id}}/{{vm.fileExist(file)}}">
                                                    <button class="btn--no-conflicts btn--m btn--green  btn--raised" lx-ripple>Voir</button>
                                                </a>
                                            </td>
                                            <td>
                                                <lx-file-input style="display:none" id="file_{{file}}" label="Upload" value="fileUploadText" change="vm.onArtisanFileUpload(e, file)"></lx-file-input>
                                                <button ng-click="vm.artisanClickTrigger(file)" class="btn--no-conflicts btn--m btn--blue  btn--raised" lx-ripple>Upload</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="padding-right:0">
                    <div class="card margin">
                        <div class="p+">
                            <strong class="fs-headline display-block">Commentaires</strong>
                            <div class="paragraph fs-body-1 mt+" style="height:100%">
                                <ul style="padding-bottom:20px;margin-left: 0px;">
                                    <li class="list-row" ng-repeat="com in vm.data.comments | reverse">
                                        <div class="list-row__content">
                                            <span class="display-block">{{com.text}}</span>
                                            <span class="display-block fs-body-1 tc-black-2">{{com.date  |  date:"dd/MM/yy"}} - {{com.login}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card__actions">
                            <input style="border: 0;width:100%" type="text" placeholder="Commentaire..." ng-model="vm.commentText" ng-enter="vm.addComment()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="fab" style="float: right;position: fixed;right: 70px;z-index: 999;top: 87%;">
                <button ng-click="vm.saveArtisan({})" class="fab__primary btn--no-conflicts btn--xl btn--blue btn--fab" lx-ripple lx-tooltip="Enregistrer" tooltip-position="top">
                    <i class="fa fa-cloud-upload"></i>
                </button>
                <div class="fab__actions fab__actions--left">
                    <button ng-click="vm.saveArtisan({contrat:true, signe:true})" class="btn--no-conflicts btn--l btn--black btn--fab green" lx-ripple lx-tooltip="Contrat Signé" tooltip-position="top"><i class="fa fa-send"></i></button>
                    <button ng-if="(vm.user.root == true || (vm.seuilResp < vm.data.seuil) == true)" ng-click="vm.saveArtisan({contrat:true})" class="btn--no-conflicts btn--l btn--black btn--fab orange" lx-ripple lx-tooltip="Envoyer Contrat" tooltip-position="top"><i class="fa fa-send-o"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown-menu--no-conflicts dropdown-menu--right dropdown__menu--is-dropped" style="margin-top: -215px;width: auto; height: auto; opacity: 1;" ng-style="vm.contextMenu.style">
        <div class="dropdown-menu__content ng-scope">
            <ul class="ng-scope">
                <li ng-hide="item.hidden" ng-repeat="item in vm.contextMenu.list">
                    <a ng-mouseover="vm.contextMenu.closeSub()" ng-if="!item.subs" class="dropdown-link" ng-style="item.style" tabindex="0" ng-click="vm.contextMenu.close();vm.contextMenu.click(item)">{{item.title}}</a>
                    <a ng-style="item.style" ng-mouseover="vm.contextMenu.openSub(300)" ng-if="item.subs" class="dropdown-link" tabindex="0"><i no-margin align-left class="fa fa-angle-right"></i>{{item.title}}</a>
                    <a ng-style="sub.style" ng-repeat="sub in item.subs" ng-click="vm.contextMenu.close();vm.contextMenu.click(sub)" ng-hide="sub.hidden" ng-if="vm.contextMenu.mouseOverCM && item.subs" class="dropdown-link"><i no-margin align-left class=" fa fa-angle-double-right"></i>{{sub.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
