<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Edison Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <base href="/">
    <script src="/dist/js/vendor.js"></script>
    <script src="/dist/js/dist.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="/dist/css/vendor.min.css" rel="stylesheet" type="text/css">
    <link href="/dist/css/dist.min.css" rel="stylesheet" type="text/css">
</head>

<body ng-app="edison" ng-controller="MainController as vm" style="background: #f4f4f4 url(/img/mooning.png);" class="ng-cloak main-menu-fixed main-navbar-fixed theme-adminflare" ng-class="{'mmc' : sideBarIsClosed}">
    <div ng-if="vm.selectedModel" style="background-color:white;top:{{vm.selectedModel.top + 35}}px;left:{{vm.selectedModel.left}}px;width:300px;z-index:999999;position:absolute;box-shadow: rgba(0, 0, 0, 0.4) 3px 5px 12px;">
        <ul ng-repeat="tab in vm.selectedModel.tabs" style="padding:4px">
            <a class="dropdown-link" style="text-decoration: none!important;" href="{{tab.path}}{{tab.hash ? ('#' + tab.hash) : ''}}">{{tab.title}}</a>
        </ul>
    </div>
    <div id="main-wrapper" ng-hide="loadingData">
        <main-navbar></main-navbar>
        <side-bar ng-if="displayUser.login && interventionsStats" ng-mouseenter="toggleSidebar(false)" ng-mouseleave="toggleSidebar(true)">
            <div style="padding: 11px 33px;" class="menu-content animated fadeIn">
                <a style="height: 31px;padding: 4px;" class="btn btn-primary btn-block btn-outline dark" ng-click="addIntervention()">Ajout d'une intervention</a>
            </div>
            <div style="padding: 11px 33px;" class="menu-content animated fadeIn" ng-if="displayUser.service === 'INTERVENTION'">
                <a href="/devis" style="height: 31px;padding: 4px;" class="btn btn-primary btn-block btn-outline dark">Ajout d'un devis</a>
            </div>	
            <div style="padding: 11px 33px;" class="menu-content animated fadeIn" ng-if="displayUser.service === 'PARTENARIAT'">
                <a href="/artisan" style="height: 31px;padding: 4px;" class="btn btn-primary btn-block btn-outline dark">Ajout d'un artisan</a>
            </div>
            <div style="padding: 11px 33px;" class="menu-content animated fadeIn" ng-if="displayUser.service === 'RECOUVREMENT' || displayUser.admin === true">
                <span style="height: 31px;padding: 4px;" class="btn btn-primary btn-block btn-outline dark" ng-click="vm.createLitige()">Ajout d'un litige</span>
            </div>
			<div style="padding: 11px 33px;" class="menu-content animated fadeIn">
				<a href="/listeSignalements?&user={{displayUser.login}}&type=1&service={{displayUser.service}}" style="height: 31px;padding: 4px;" class="btn btn-primary btn-block btn-outline dark">
					Mes Signalements <span style="padding: 0px 4px 1px 3px; min-width: 18px; max-height: 20px; border-radius: 3px; float:right; background-color: #D25A4B; color: white; font-size: 12px;">{{signCount}}</span>
				</a>
            </div>
	    <drop-down ng-if="vm.phoneWin" id="service-ajout" title="Service Ajout" icon="circle">
	      <a ng-click="addIntervention()">Ajout d'une intervention</a>
	      <a ng-if="displayUser.service === 'INTERVENTION'" href="/devis">Ajout d'un devis</a>
	      <a ng-if="displayUser.service === 'PARTENARIAT'" href="/artisan">Ajout d'un artisan</a>
	    </drop-down>
            <drop-down id="service-intervention" title="Service Intervention" icon="circle" open-default="displayUser.service === 'INTERVENTION'">
              <link fltr="i_all" no-counter="true" icon="th-list" title="Liste Interventions" ng-if="user.login !== 'fredtest'"></link>
                <drop-down title="Mes Interventions" icon="calendar" open-default="displayUser.service === 'INTERVENTION'">
                    <link fltr="i_tall" icon="th-list" color="default" text-white="true" bold="true" title="{{dateFormat}}" login="{{displayUser.login}}"></link>
                    <link fltr="i_tenv" icon="th-list" login="{{displayUser.login}}"></link>
                    <link fltr="i_apr" icon="th-list" color="primary" login="{{displayUser.login}}"></link>
                    <link fltr="i_avr" icon="th-list" color="warning" login="{{displayUser.login}}"></link>
                    <link fltr="i_fact" icon="th-list" color="danger" login="{{displayUser.login}}"></link>
                    <link icon="th-list" fltr="i_evr" title="En attente de vérif" color="warning" login={{displayUser.login}}></link>
                    <link icon="th-list" fltr="i_daf" title="Devis à Faire" color="default" login={{displayUser.login}}></link>
                </drop-down>
                <drop-down title="Mes Factures" icon="dollar">
                    <link fltr="i_fact" icon="th-list" color="danger" login="{{displayUser.login}}"></link>
                    <link fltr="i_carl" icon="th-list" color="warning" login="{{displayUser.login}}"></link>
                </drop-down>
                <drop-down icon="hospital-o" title="Mes Devis" open-default="true">
                    <link fltr="d_all" no-counter="true" model="devis" icon="th-list" title="Tous les Devis" color="default"></link>
                    <link fltr="d_tall" model="devis" text-white="true" bold="true" title="{{dateFormat}}" color="success" icon="th-list" login="{{displayUser.login}}"></link>
                    <link fltr="d_aev" model="devis" icon="th-list" color="danger" login="{{displayUser.login}}"></link>
                    <link fltr="d_att" model="devis" icon="th-list" color="warning" login="{{displayUser.login}}"></link>
                </drop-down>
                <drop-down icon="share" open-default="userStats.i_sav.total" title="Mes S.A.V">
                    <link fltr="i_sav" icon="th-list" title="SAV en cours" color="danger"></link>
                </drop-down>
                <drop-down icon="bolt" open-default="userStats.i_litEnc.total" title="Mes Litiges">
                    <link ng-if="displayUser.service === 'COMPTABILITE'" fltr="i_lit" title="Tous les litiges" icon="th-list"></link>
                    <link fltr="i_litEnc" login="{{displayUser.login}}" icon="th-list" color="danger"></link>
                </drop-down>
            </drop-down>

            <drop-down id="service-partenariat" title="Service Partenariat" icon="circle" open-default="displayUser.service === 'PARTENARIAT'">
                <drop-down icon="truck" title="Interventions">
                    <link fltr="i_nwno" icon="university" title="Pas de Contact/New" no-counter="true"></link>
                    <link fltr="i_mar" icon="university" title="Market" no-counter="true"></link>
                    <link fltr="i_pan" icon="shopping-cart" login="{{displayUser.login}}" hash-model="dm" title="Mon Panier" i></link>
                    <link fltr="i_newapr" color="primary" icon="th-list"></link>
                    <link fltr="i_potapr" color="primary" icon="th-list"></link>
                    <link fltr="i_pavrf" icon="th-list"></link>
                    <link fltr="i_paenv" color="primary"  icon="th-list" hash-model="ev" login="{{displayUser.login}}"></link>
                    <link fltr="i_tut" icon="th-list"></link>
                    <link fltr="i_hist" icon="history" title="Historique" no-counter="true"></link>
                </drop-down>
                <drop-down icon="briefcase" title="Management">
                    <link fltr="a_tut" icon="th-list" model="artisan" title="Sst sous-tutelle"></link>
                    <link fltr="i_chq" icon="calendar" title="Relances cheques"></link>
                    <link fltr="a_fact" icon="clipboard" title="Demande facturier" model="artisan"></link>
                </drop-down>
                <drop-down icon="truck" title="Artisans" icon="truck">
                    <link fltr="a_all" icon="book" url="/artisan/contact#informations" model="artisan" no-counter="true" title="Repertoire"></link>
                    <link fltr="a_all" icon="th-list" model="artisan" login='{{displayUser.login}}' no-counter="true" title="Mes Artisans"></link>
                    <drop-down icon="database" title="Paliers">
                        <link fltr="a_pal1" icon="th-list" model="artisan"></link>
                        <link fltr="a_pal2" icon="th-list" model="artisan"></link>
                        <link fltr="a_pal3" icon="th-list" model="artisan"></link>
                        <link fltr="a_pal4" icon="th-list" model="artisan"></link>
					</drop-down>
                    <drop-down icon="truck" title="Tous les Artisans" icon="truck">
                    	<link icon="th-list" model="artisan" login='{{displayUser.login}}' no-counter="true" title="All" url="/artisan/list"></link>
		       			<link icon="th-list" model="artisan" login='{{displayUser.login}}' no-counter="true" title="Star" url="/artisan/list/map"></link>
                        <link icon="th-list" model="artisan" login='{{displayUser.login}}' no-counter="true" title="New" url="/artisan/list?ss=NEW"></link>
                        <link icon="th-list" model="artisan" login='{{displayUser.login}}' no-counter="true" title="Hot" url="/artisan/list?ss=HOT"></link>
                        <link icon="th-list" model="artisan" login='{{displayUser.login}}' no-counter="true" title="OneShot" url="/artisan/list?ss=ONE"></link>
                        <link icon="th-list" model="artisan" login='{{displayUser.login}}' no-counter="true" title="Formation" url="/artisan/list?ss=FORM"></link>
                        <link icon="th-list" model="artisan" login='{{displayUser.login}}' no-counter="true" title="Confirmé" url="/artisan/list?ss=CONF"></link>
                        <link icon="th-list" model="artisan" login='{{displayUser.login}}' no-counter="true" title="Regulier" url="/artisan/list?ss=REG"></link>
                        <link icon="th-list" model="artisan" login='{{displayUser.login}}' no-counter="true" title="Quarantaine" url="/artisan/list?ss=QUA"></link>
                    </drop-down>
                </drop-down>
				<drop-down icon="wrench" title="Utilitaire">
             	    <link fltr="a_all" icon="user" url="/utils/demarchage" no-counter="true" title="Demarchage"></link>
		  			<link fltr="a_all" icon="map" url="/utils/mapDemarchage" no-counter="true" title="Map Demarchés"></link>
		  			<simple-link ng-if="user.root" icon="wrench" title="Import Prospect" url="/tools/import"></simple-link>
                </drop-down>
            </drop-down>

            <drop-down  id="service-comptabilite" title="Service Comptabilité" icon="circle" open-default="displayUser.service === 'COMPTABILITE'">
                <simple-link icon="credit-card" title="Relances Client" fltr="i_carl" url="/intervention/list/relanceClient?ss=new"></simple-link>
                <simple-link icon="bank" title="Relances Grands Comptes" fltr="i_carl" url="/intervention/list/grandComptes"></simple-link>
                <simple-link icon="money" title="Relances Artisan" fltr="i_relsst1" url="/intervention/list/relsst1"></simple-link>
                <simple-link icon="dollar" title="Liste Paiements Att." url="/compta/lpa"></simple-link>
                <simple-link icon="tags" title="Avoirs" url="/compta/avoirs"></simple-link>
				<simple-link icon="th-list" fltr="i_litst" title="Recouvrement Litige" url="/intervention/list/litst"></simple-link>
				<simple-link icon="th-list" fltr="i_lsav" title="Liste SAV" url="/intervention/list/SAV"></simple-link>
				<simple-link icon="th-list" title="Fournitures" url="/compta/fournitures"></simple-link>
				<simple-link icon="th-list" title="CA Grand comptes" url="/compta/chiffreGrandComptes"></simple-link>
                <simple-link icon="database" title="Archives Reglements Clt." url="/compta/archivesReglement"></simple-link>
                <simple-link icon="database" title="Archive Paiements Sst." url="/compta/archivesPaiement"></simple-link>
                <simple-link icon="database" title="Remise de Cheques" url="/compta/remiseCheques"></simple-link>
                <link icon="dollar" title="Intervenant à payer" fltr="i_iar"></link>
            </drop-down>

			<drop-down ng-if="displayUser.service === 'RECOUVREMENT' || displayUser.service === 'COMPTABILITE' || user.admin"  id="service-recouvrement" title="Service Recouvrement" icon="circle" open-default="displayUser.service === 'RECOUVREMENT'">
				<drop-down icon="th-list" title="Recouvrement Artisan">
					<simple-link icon="th-list" title="Pris en charge" url="/intervention/list/recouvrementArt"></simple-link>
					<simple-link icon="th-list" title="Non pris en charge" url="/intervention/list/recouvrementArtn?s=1&ps=undefined&rc=0"></simple-link>
				</drop-down>
				<drop-down icon="th-list" title="Recouvrement Client">
                    <link ng-if="user.admin || displayUser.service === 'RECOUVREMENT'" icon="th-list" fltr="i_rcnp" color="danger" title="Non pris"></link>
                    <drop-down ng-if="user.admin || displayUser.service === 'RECOUVREMENT'" icon="th-list" title="Pris en Charge">
                        <link icon="th-list" fltr="i_rcp" color="warning" title="All"></link>
                        <link icon="th-list" fltr="i_rcpre" color="warning" title="Retard envoi"></link>
                        <link icon="th-list" fltr="i_rcpi" color="warning" title="Impaye"></link>
                        <link icon="th-list" fltr="i_rcppdc" color="warning" title="No contact"></link>
					   <link icon="th-list" fltr="i_rcpcp" color="warning" title="Cheque perdu"></link>
                       <link icon="th-list" fltr="i_rcpfnr" color="warning" title="Fact. non reçu"></link>
                       <link icon="th-list" fltr="i_rcpt" color="warning" title="Tarif"></link>
                       <link icon="th-list" fltr="i_rcpq" color="warning" title="Qualité"></link>
                       <link icon="th-list" fltr="i_rcpa" color="warning" title="Autres"></link>
                    </drop-down>
                    <link ng-if="user.admin || displayUser.service === 'RECOUVREMENT' || displayUser.service === 'COMPTABILITE'" icon="th-list" fltr="i_relrec" color="warning" title="Relances"></link>
                    <link ng-if="user.admin || displayUser.service === 'RECOUVREMENT'" icon="th-list" fltr="i_rcc" title="Clos"></link>
				</drop-down>
                <drop-down icon="th-list" title="Litige">
                    <link ng-if="user.admin || displayUser.service === 'RECOUVREMENT'" icon="th-list" fltr="i_rlnp" color="danger" title="Litige Non Pris"></link>
                    <drop-down ng-if="user.admin || displayUser.service === 'RECOUVREMENT'" icon="th-list" title="Pris en Charge">
                        <link icon="th-list" fltr="i_rlp" color="warning" title="All"></link>
                        <link icon="th-list" fltr="i_rlpt" color="warning" title="Tarif"></link>
                       <link icon="th-list" fltr="i_rlpq" color="warning" title="Qualité"></link>
                        <link icon="th-list" fltr="i_rlpopp" color="warning" title="Opposition"></link>
                       <link icon="th-list" fltr="i_rlpp" color="warning" title="Plaintes"></link>
                       <link icon="th-list" fltr="i_rlpropp" color="warning" title="Risque d'Opp"></link>
                       <link icon="th-list" fltr="i_rlpa" color="warning" title="Autres"></link>
                    </drop-down>
                    <link ng-if="user.admin || displayUser.service === 'RECOUVREMENT' || displayUser.service === 'COMPTABILITE'" icon="th-list" fltr="i_rellit" color="warning" title="Relances"></link>
                    <link ng-if="user.admin || displayUser.service === 'RECOUVREMENT'" icon="th-list" fltr="i_rlc" title="Clos"></link>
                </drop-down>
                <simple-link icon="wrench" title="Stats" url="/statistiques" ></simple-link>
		<simple-link ng-if="user.admin || user.login == 'arnaud_b'" icon="dollar" title="Commissions Recouvrement" url="/tools/comRecouvrement"></simple-link>
		<simple-link ng-if="user.admin || user.login == 'arnaud_b'" icon="dollar" title="Commissions Litiges" url="/tools/comLitiges"></simple-link>
		<!--  <link icon="th-list" fltr="i_rce" color="warning" title="Recouvrement Client Encaissement"></link>
                <link icon="th-list" fltr="i_rle" color="warning" title="{{dateFormat2}}"></link>-->

                <drop-down ng-if="user.admin || displayUser.service === 'RECOUVREMENT'" icon="th-list" title="Recouvrement Client Encaissement">
                  <link icon="th-list" fltr="i_rce" color="warning" title="All"></link>
                  <link icon="th-list" fltr="i_rce1" color="warning" title="{{dateFormat2}}"></link>
                  <link icon="th-list" fltr="i_rce2" color="warning" title="{{dateFormat3}}"></link>
                  <link icon="th-list" fltr="i_rce3" color="warning" title="{{dateFormat4}}"></link>
                  <link icon="th-list" fltr="i_rce4" color="warning" title="{{dateFormat5}}"></link>
                  <link icon="th-list" fltr="i_rce5" color="warning" title="{{dateFormat6}}"></link>
                  <link icon="th-list" fltr="i_rce6" color="warning" title="{{dateFormat7}}"></link>
                  <link icon="th-list" fltr="i_rce7" color="warning" title="{{dateFormat8}}"></link>
                  <link icon="th-list" fltr="i_rce8" color="warning" title="{{dateFormat9}}"></link>
                  <link icon="th-list" fltr="i_rce9" color="warning" title="{{dateFormat10}}"></link>
                  <link icon="th-list" fltr="i_rce10" color="warning" title="{{dateFormat11}}"></link>
                  <link icon="th-list" fltr="i_rce11" color="warning" title="{{dateFormat12}}"></link>
                  <link icon="th-list" fltr="i_rce12" color="warning" title="{{dateFormat13}}"></link>
                </drop-down>
                <drop-down ng-if="user.admin || displayUser.service === 'RECOUVREMENT'" icon="th-list" title="Encaissement Litige">
                  <link icon="th-list" fltr="i_rle" color="warning" title="All"></link>
                  <link icon="th-list" fltr="i_rle1" color="warning" title="{{dateFormat2}}"></link>
                  <link icon="th-list" fltr="i_rle2" color="warning" title="{{dateFormat3}}"></link>
                  <link icon="th-list" fltr="i_rle3" color="warning" title="{{dateFormat4}}"></link>
                  <link icon="th-list" fltr="i_rle4" color="warning" title="{{dateFormat5}}"></link>
                  <link icon="th-list" fltr="i_rle5" color="warning" title="{{dateFormat6}}"></link>
                  <link icon="th-list" fltr="i_rle6" color="warning" title="{{dateFormat7}}"></link>
                  <link icon="th-list" fltr="i_rle7" color="warning" title="{{dateFormat8}}"></link>
                  <link icon="th-list" fltr="i_rle8" color="warning" title="{{dateFormat9}}"></link>
                  <link icon="th-list" fltr="i_rle9" color="warning" title="{{dateFormat10}}"></link>
                  <link icon="th-list" fltr="i_rle10" color="warning" title="{{dateFormat11}}"></link>
                  <link icon="th-list" fltr="i_rle11" color="warning" title="{{dateFormat12}}"></link>
                  <link icon="th-list" fltr="i_rle12" color="warning" title="{{dateFormat13}}"></link>
                </drop-down>
            </drop-down>
            <drop-down  id="service-outil" title="Outils" icon="circle">
				<simple-link icon="wrench" title="Vcf" url="/tools/vcf"></simple-link>
                <simple-link ng-if="user.root" icon="wrench" title="Comissions Partenariat" url="/partenariat/comissions"></simple-link>
                <simple-link ng-if="user.root && user.login !== 'yohann_r'" icon="wrench" title="Statistique" url="/statsnew/ca"></simple-link>
				<simple-link ng-if="user.root && user.login !== 'yohann_r'" icon="wrench" title="Partenariat commercial" url="/statspart/ca"></simple-link>
                <simple-link ng-if="user.root" icon="wrench" title="Produits" url="/tools/editProducts"></simple-link>
                <simple-link ng-if="user.root" icon="wrench" title="Combos" url="/tools/editCombos"></simple-link>
                <simple-link ng-if="user.admin && (user.login == 'simon_b' || user.login == 'benjamin_b' || user.login == 'vincent_q' || user.login =='yohann_r')" icon="wrench" title="Utilisateurs" url="/tools/editUsers"></simple-link>
                <simple-link ng-if="user.root" icon="wrench" title="Grand Comptes" url="/tools/editComptes"></simple-link>
                <drop-down ng-if="user.root || user.admin" id="service-outil" title="Outils VerifInter" icon="wrench">
                    <simple-link icon="wrench" title="Fournisseur" url="/tools/editFournisseur"></simple-link>
                    <simple-link icon="wrench" title="Raison" url="/tools/editRaison"></simple-link>
                </drop-down>
                <simple-link ng-if="user.root" icon="wrench" title="Signalements" url="/tools/editSignalements"></simple-link>
				<simple-link ng-if="user.root" icon="wrench" title="Emargement" url="/tools/emargement"></simple-link>
                <simple-link ng-if="user.admin && (user.login == 'simon_b' || user.login == 'benjamin_b' || user.login == 'vincent_q')" icon="wrench" title="Outils Admin" url="/tools/outilsGeneraux"></simple-link>
				<simple-link ng-if="user.root" icon="wrench" title="Outil OVH" url="/tools/ovh"></simple-link>
                <simple-link ng-if="user.root && user.login !== 'yohann_r'" icon="dollar" title="Commissions" url="/tools/commissions"></simple-link>
            </drop-down>
        </side-bar>
        <div class="page-header" style="background: #f4f4f4 url(/img/mooning.png);">
            <div id="content-wrapper" ng-click="closeContextMenu($event);">
                <div ng-view style="margin-top: 16px;">
                </div>
                <div id="globalProgress" style="position:fixed;top: 50%;left: 57%;z-index: 12222;">
                    <span ng-if="globalProgressCounter">{{globalProgressCounter}}</span>
                </div>
            </div>
        </div>
        <div id="main-menu-bg"></div>
    </div>
    <!-- / #main-wrapper -->
    <div ng-show="loadingData || true" class="animate-loading">
        <div class="spinner">
        </div>
    </div>
    <footer ng-if="displayUser.service === 'INTERVENTION'" class="footer sticky-footer">
      <i class="fa fa-arrow-left" style="position:absolute;margin-top:7px" ng-click="vm.changeStatsTeleproBfm(2)"></i>
      <i class="fa fa-arrow-right" style="float:right;margin-top:7px" ng-click="vm.changeStatsTeleproBfm(1)"></i>
        <ul list-justify>
            <li style="margin:0px 10px;padding:5px" ng-repeat="(key, value) in vm.statsTeleproBfm.slice(vm.indexStatsTeleproBfm, (vm.indexStatsTeleproBfm + 5))">
                <span class="badge white black-text" style="font-size:15px">{{_.capitalize(value.login).slice(0, -2)}}</span>
                <a href="/intervention/list/ajd#{{value.login}}"><span class="badge">{{value.total}} Points</span></a>
                <a href="/intervention/list/ajd#{{value.login}}"><span class="badge">{{value.ajout}}</span></a>
                <a href="/intervention/list/envoyeAjd#{{value.login}}"><span class="badge orange">{{value.envoi}}</span></a>
                <a href="/intervention/list/verifieAjd?vf={{value.login}}"><span class="badge green">{{value.verif}}</span></a>
                <a href="/intervention/list/aVerifier#{{value.login}}"><span class="badge brown">{{value.averif}}</span></a>
                <a href="/intervention/list/annuleAjd#{{value.login}}"><span class="badge red">{{value.annul}}</span></a>
                <a href="/intervention/list/aProgrammer#{{value.login}}"><span class="badge blue">{{value.aprog}}</span></a>
            </li>
        </ul>
    </footer>
</body>
<!--<script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAKrpq0Dh9GdHSaZ5317eTAnRs_kJb2mKI"></script>-->
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyBGo5nCcsiGyoZNYojubPsO5-7lzELLxcU"></script>
<script src="/dist/js/shared.js"></script>
<script src="https://api.trello.com/1/client.js?key=5a9e1889d35e915be9d70f3950005704"></script>
<script type="text/javascript">
//  window.PixelAdmin.start(init);
String.prototype.replaceAll = function(target, replacement) {
    return this.split(target).join(replacement);
}
_.templateSettings.interpolate = /{{([\s\S]+?)}}/g;
</script>

</html>
