<div style="margin-top: -15px;">
    <div class="card" style="width:100%">
    <input type="number" ng-model="vm.offsetX" class="form-control" placeholder="Offset X" style="width:100px">
    <input type="number" ng-model="vm.offsetY" class="form-control" placeholder="Offset Y" style="width:100px">

        <div style="height:90%;padding:20px;overflow:scroll">
        <div ng-if="!!lpa && !lpa.length" style="text-align: center;">
            <h1>AUCUNS ELEMENTS</h1></div>
            <table class="table table-condensed  table-hover table-bordered">

                <body>
                    <tr ng-repeat-start="artisan in lpa" class="orange lighten-5">
                        <td colspan="2" variable-length>
                            <h2>
                            <a style="color:black" href="/artisan/{{artisan.id}}/recap#interventions">{{artisan.id}} - {{artisan.nomSociete}}</a>
                            </h2></td>
                        <td colspan="3">
                            <input ng-if="artisan.list.getList()[0].mode === 'CHQ'" type="text" class="form-control" ng-model="artisan.numeroCheque" ng-change="vm.updateNumeroCheque($index, artisan.id)">
                        </td>
                        <td colspan="12"></td>
                    </tr>
                    <tr>
                        <td><i>Numero OS</i></td>
                        <td variable-length><i>Ajout</i></td>
                        <td variable-length><i>Mode</i></td>
                        <td variable-length><i>Type</i></td>
                        <td variable-length><i>Base</i></td>
                        <td ng-if="vm.user.login !== 'benjamin_b'" variable-length><i>Montant</i></td>
                        <td ng-if="vm.user.login !== 'benjamin_b'" variable-length><i>Legacy</i></td>
                        <td ng-if="vm.user.login !== 'benjamin_b'" variable-length><i>Balance</i></td>
                        <td variable-length><i>Final</i></td>
                        <td variable-length><i>Payer</i></td>
                    </tr>
                    <tr ng-repeat="item in artisan.list.getList()" ng-click="vm.selectToggle(artisan, item)" ng-right-click="vm.rowRightClick($event, item)" ng-class="{info : vm.contextMenu && vm.contextMenu.active && vm.contextMenu.data.id === item.id, success:item.numeroCheque}">
                        <td ng-click="item.checked = !item.checked;"><a style="color:black" href="/intervention/{{item.id}}">{{ item.id }}</a></td>
                        <td>{{ item.login}} ({{item.date|date:"dd/MM/yy à H'h'mm"}})</td>
                        <td>{{ item.mode }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.montant.base}} €</td>
                        <td ng-if="vm.user.login !== 'benjamin_b'">{{ item.montant.total}} €</td>
                        <td ng-if="vm.user.login !== 'benjamin_b'">{{ item.montant.legacy ? (item.montant.legacy + ' €') : "" }}</td>
                        <td ng-if="vm.user.login !== 'benjamin_b'">{{ item.montant.balance }} €</td>
                        <td>{{ item.montant.final }} €</td>
                        <td>
                            <md-checkbox aria-label="dsq" style="padding: 0px;" ng-checked="item.checked">
                            </md-checkbox>
                        </td>
                    </tr>
                    <tr ng-click="!vm.search.d && vm.checkArtisan(artisan);vm.reloadList(artisan)">
                        <td colspan="3"><strong>Somme</strong></td>
                        <td></td>
                        <td><strong>{{artisan.total.base}} €</strong></td>
                        <td ng-if="vm.user.login !== 'benjamin_b'"><strong>{{artisan.total.montant}} €</strong></td>
                        <td ng-if="vm.user.login !== 'benjamin_b'"><strong>{{artisan.total.legacy}} €</strong></td>
                        <td ng-if="vm.user.login !== 'benjamin_b'"><strong>{{artisan.total.balance}} €</strong></td>
                        <td><strong>{{artisan.total.final}} €</strong></td>
                        <td>
                            <md-checkbox aria-label="dsq" style="padding: 0px;" ng-checked="artisan.checked">
                            </md-checkbox>
                        </td>
                    </tr>
                    <tr ng-repeat-end>
                        <td colspan="51"> <span style="color:white">-</span> </td>
                    </tr>
                </body>
            </table>
        </div>
        <div style="margin-top: 19px;">
            <md-button ng-click="vm.print('documents')" class="md-raised">Documents</md-button>
            <md-button ng-click="vm.print('lettreCheques')" class="md-raised">Lettre Cheques</md-button>
            <md-button ng-click="vm.print('virement')" class="md-raised">Virements</md-button>
            <md-button ng-click="vm.print('excel')" class="md-raised">Excel</md-button>
            <md-button ng-click="vm.clickTrigger('.input-file__input')" class="md-raised">Upload Scan</md-button>
            <lx-file-input style="display:none" id="fileInput" label="Upload" value="fileUploadText" change="vm.onFileUpload(e)"></lx-file-input>
            <md-button ng-if="!vm.search.d" class="md-raised md-warn" ng-click="vm.flush()">FLUSH</md-button>
            <md-button class="md-raised md-warn" ng-click="vm.flushMail()">ENVOYER MAILS</md-button>
            <md-button class="md-raised md-primary" ng-click="vm.reloadLPA()">Reload</md-button>
        </div>
    </div>
    <div class="dropdown-menu--no-conflicts dropdown-menu--right dropdown__menu--is-dropped" style="margin-top: -215px;width: auto; height: auto; opacity: 1;" ng-style="vm.contextMenu.style">
        <div class="dropdown-menu__content ng-scope">
            <ul class="ng-scope">
                <li ng-hide="item.hidden" ng-repeat="item in vm.contextMenu.list">
                    <a ng-mouseover="vm.contextMenu.closeSub()" ng-if="!item.subs" class="dropdown-link" ng-style="item.style" tabindex="0" ng-click="vm.contextMenu.close();vm.contextMenu.click(item)">{{item.title}}</a>
                    <a ng-style="item.style" ng-mouseover="vm.contextMenu.openSub(200)" ng-if="item.subs" class="dropdown-link" tabindex="0"><i no-margin align-left class="fa fa-angle-right"></i>{{item.title}}</a>
                    <a lx-tooltip="{{vm.contextMenu.tooltip(sub)}}" tooltip-position="right" ng-style="sub.style" ng-repeat="sub in item.subs" ng-click="vm.contextMenu.close();vm.contextMenu.click(sub)" ng-hide="sub.hidden" ng-if="vm.contextMenu.mouseOverCM && item.subs" class="dropdown-link"><i no-margin align-left class=" fa fa-angle-double-right"></i>{{sub.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
