<style type="text/css">
.btn-ancien {
	background-color: #ffffff;
	border: 2px solid #a08d00;
	border-radius: 6px;
	padding: 6px 18px;
	text-align: center;
	display: inline-block; 
	text-decoration: none; 
	font-size: 12px; 
	color: #a08d00;
}

.btn-ancienh:hover {
	background-color: #a08d00;
	text-decoration: none;
	color: white;
}

.btn-resolu {
	background-color: #ffffff;
	border: 2px solid #006A0E;
	border-radius: 6px;
	padding: 6px 18px;
	text-align: center;
	display: inline-block; 
	text-decoration: none; 
	font-size: 12px; 
	color: #006A0E;
}

.btn-resoh:hover {
	background-color: #006A0E;
	text-decoration: none;
	color: white;
}

.btn-recu {
	background-color: #ffffff;
	border: 2px solid #af0e00;
	border-radius: 6px;
	padding: 6px 18px;
	text-align: center;
	display: inline-block; 
	text-decoration: none; 
	font-size: 12px; 
	color: #af0e00;
}

.btn-recuh:hover {
	background-color: #af0e00;
	text-decoration: none;
	color: white;
}

.btn-emis {
	background-color: #ffffff;
	border: 2px solid #0a68ff;
	border-radius: 6px;
	padding: 6px 18px;
	text-align: center;
	display: inline-block; 
	text-decoration: none; 
	font-size: 12px; 
	color: #0a68ff;
}

.btn-emish:hover {
	background-color: #0a68ff;
	text-decoration: none;
	color: white;
}

.btn-resolve {
	background-color: #4CAF50;
	border: none;
	border-radius: 6px;
	padding: 6px 18px;
	text-align: center;
	display: inline-block; 
	text-decoration: none; 
	font-size: 12px; 
	color: white;
}

.btn-hovered:hover {
	background-color: #006A0E;
	text-decoration: none;
	color: white;
}

#head {
	padding: 20px;
	display:block;
	width:100%;
	margin:10px 0;
	clear:both;
	height:35px;
}

.subhead1 {
	width:38%;
	margin-right:2%;
	height:35px;
	float:left;
}

.subhead2 {
	width:12%;
	height:35px;
	float:left;
	margin:0 0% 0 2%;
}
</style>
<div class="card margin">
    <div class="p+" style="width:95%;min-height:800px">
      	<div class="row">
		<div id="head" style="padding:20px;padding-top:0px;">
				<div class="subhead1">
	  				<strong ng-if="dataUrl.type == 0" class="fs-headline display-inline">Signalements émis par {{vm.selectedUser}}</strong>
					<strong ng-if="dataUrl.type == 1" class="fs-headline display-inline">Signalements reçu par {{vm.selectedUser}}</strong>
					<strong ng-if="dataUrl.type == 2" class="fs-headline display-inline">Signalements résolu par {{vm.selectedUser}}</strong>
					<strong ng-if="dataUrl.type == 3" class="fs-headline display-inline">Anciens signalements avant maj.</strong>
				</div>
				<div class="subhead2">
					<a href="/listeSignalements?&user={{displayUser.login}}&type=1&service={{displayUser.service}}" ng-if="dataUrl.type != 1" class="btn-recu btn-recuh">Reçu</a>
					<a href="/listeSignalements?&user={{displayUser.login}}&type=1&service={{displayUser.service}}" ng-if="dataUrl.type == 1" style="background-color: #af0e00; color: white;" class="btn-recu btn-recuh">
						Reçu<br><span style="font-size: 30px; font-weight: bold;">{{pl.length}}</span></a>
				</div>
				<div class="subhead2">
					<a href="/listeSignalements?&user={{displayUser.login}}&type=0&service={{displayUser.service}}" ng-if="dataUrl.type != 0" class="btn-emis btn-emish">Emis</a>
					<a href="/listeSignalements?&user={{displayUser.login}}&type=0&service={{displayUser.service}}" ng-if="dataUrl.type == 0" style="background-color: #0a68ff; color: white;" class="btn-emis btn-emish">
						Emis<br><span style="font-size: 30px; font-weight: bold;">{{pl.length}}</span></a>
				</div>
				<div class="subhead2">
					<a href="/listeSignalements?&user={{displayUser.login}}&type=2&service={{displayUser.service}}" ng-if="dataUrl.type != 2" class="btn-resolu btn-resoh">Résolu</a>
					<a href="/listeSignalements?&user={{displayUser.login}}&type=2&service={{displayUser.service}}" ng-if="dataUrl.type == 2" style="background-color: #006A0E; color: white;" class="btn-resolu btn-resoh">
						Résolu<br><span style="font-size: 30px; font-weight: bold;">{{pl.length}}</span></a>
				</div>	
				<div class="subhead2">
					<a href="/listeSignalements?&user={{displayUser.login}}&type=3&service={{displayUser.service}}" ng-if="dataUrl.type != 3" class="btn-ancien btn-ancienh">Ancien</a>
					<a href="/listeSignalements?&user={{displayUser.login}}&type=3&service={{displayUser.service}}" ng-if="dataUrl.type == 3" style="background-color: #a08d00; color: white;" class="btn-ancien btn-ancienh">
						Ancien<br><span style="font-size: 30px; font-weight: bold;">{{pl.length}}</span></a>
				</div>	
			</div>
			<div>
				<div ng-if="dataUrl.type != 3" style="padding:40px; text-align:center" class="col-sm-3">
					<h3>User</h3>
					<select class="form-control" ng-change="vm.changeSelected()" ng-options="user.login as user.login for user in users | filter:user.service=dataUrl.service" ng-model="vm.selectedUser"></select>
				</div>
				<div ng-if="dataUrl.type == 0 || dataUrl.type == 2 || dataUrl.type == 3" style="padding:40px; text-align:center" class="col-sm-3">
					<h3>Month</h3>
					<select class="form-control" ng-change="vm.changeMonth()" ng-options="ds as ds for ds in vm.selectMonth" ng-model="vm.selectedMonth"></select>
				</div>
				<div ng-if="dataUrl.type == 0 || dataUrl.type == 2 || dataUrl.type == 3" style="padding:40px; text-align:center" class="col-sm-3">
					<h3>Year</h3>
					<select class="form-control" ng-change="vm.changeYear()" ng-options="mth as mth for mth in vm.selectYear" ng-model="vm.selectedYear"></select>
				</div>
				<div ng-if="(dataUrl.root === true || dataUrl.admin === true) && dataUrl.type == 3" style="padding:40px; text-align:center" class="col-sm-3">
					<h3>Service</h3>
					<select class="form-control" ng-change="vm.changeService()" ng-options="serv as serv for serv in vm.selectService" ng-model="vm.selectedService"></select>
				</div>

			</div>
        	<div class="row" style="margin: 0;">
          		<table class="table table-hover">
            		<thead>
              			<tr>
                			<td><strong>Date</strong></td>
                			<td><strong>Emis par</strong></td>
							<td><strong>Reçu par</strong></td>
							<td><strong>Level</strong></td>
               	 			<td><strong>Intervention</strong></td>
               	 			<td><strong>Inter ajouter par</strong></td>
               	 			<td><strong>Inter vérifié par</strong></td>
                			<td><strong>Artisan</strong></td>
                			<td><strong>Signalement</strong></td>
							<td ng-if="dataUrl.type != 2"><strong>Résoudre</strong></td>
							<td ng-if="dataUrl.type == 2"><strong>Résolution</strong></td>
              			</tr>
            		</thead>
            		<tbody>
              			<tr ng-repeat="p in pl | reverse">
                			<td style="font-size: 12px">{{p.date.ajout|date:"dd/MM/yy"}}</td>
                			<td style="font-size: 12px">{{p.login.ajout}}</td>
							<td><button style="font-size: 12px" class="btn" ng-click="vm.showDest(p)">Dest</button></td>
							<td style="font-size: 12px">{{p.level}}</td>
                			<td style="font-size: 12px"><a href="/intervention/{{p.inter_id}}">{{p.inter_id}}</a></td>
                			<td style="font-size: 12px">{{p.addBy}}</td>
                			<td style="font-size: 12px">{{p.verifBy}}</a></td>
                			<td style="font-size: 12px"><a href="/artisan/{{p.sst_id}}/recap#historique">{{p.sst_nom}}</a>&nbsp;<span ng-if="p.isStar" class="fa fa-star"></span></td>
                			<td style="font-size: 12px">{{p.nom}}</td>
							<td ng-if="dataUrl.type != 2 && p.ok === false"><button style="font-size: 12px" class="btn btn-danger" ng-click="vm.resolveSig(p)">Résoudre</button></td>
							<td ng-if="(dataUrl.type == 0 && p.ok === true) || (dataUrl.type == 2 && p.ok === true) || (dataUrl.type == 3 && p.ok === true)"><button class="btn-resolve btn-hovered" ng-click="vm.showResolve(p)">Lire Résolution</button></td>
              			</tr>
            		</tbody>
        		</table>
        	</div>
  		</div>
      	<div ng-if="pl.length === 0" style="text-align: center;">
        	<h1 style="margin-top:100px" text-xxxxl>AUCUNS SIGNALEMENTS</h1>
      	</div>
    </div>
</div>
