<div class="container" style=" margin: auto;max-width: 1200px;">
    <div class="row">
        <div class="col-md-12 " style="height:100%">
            <div class="form-horizontal" style="overflow:hidden;height:100%" novalidate>
                <info-client data="vm.data" model="vm.data.client"></info-client>
                <br>
                <info-categorie model="vm.data.categorie" change="vm.searchArtisans(newCategorie)"></info-categorie>
                <br>
                <div class="row" style="margin:0">
                    <div class="card">
                        <div class="p+">
                            <button ng-click="vm.data.categorie = undefined" style="font-weight:900;float:left" class="btn--no-conflicts btn--m {{config.categories[vm.data.categorie].color}} btn--flat" lx-ripple> {{config.categories[vm.data.categorie].long_name}}</button>
                            <div class="fs-body-1 mt+" style="padding-top:10px">
                                <edison-map fourn="vm.fournCoord" is-new="vm.isNew" height="big" data="vm.data" client="vm.data.client" xmarkers="vm.nearestArtisans"></edison-map>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <produits display="true" model="DEVIS" data="vm.data"></produits>
            <br>
            <div class="card" ng-if="vm.data.id">
                <div class="p+">
                    <strong class="fs-headline display-block" ng-click="displayHIST = !displayHIST">Historique</strong>
                    <span class="fs-subhead tc-black-2 display-block">Historique des envois</span>
                    <div class="paragraph fs-body-1 mt+">
                        <div class="data-table-container" ng-show="vm.data.historique.length || displayHIST">
                            <table class="data-table data-table--has-primary data-table--has-secondary">
                                <thead>
                                    <tr>
                                        <th style="font-weight:bold">Login</th>
                                        <th style="font-weight:bold">Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="data-table__clickable-row" ng-repeat="h in vm.data.historique">
                                        <td>
                                            <span>{{h.login}}</span>
                                        </td>
                                        <td>
                                            <span>{{vm.moment(h.date).format('LLLL')}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fab" style="float: right;position: fixed;right: 70px;z-index: 999;top: 87%;">
        <button ng-click="vm.saveDevis({})" class="fab__primary btn--no-conflicts btn--xl btn--blue btn--fab" lx-ripple lx-tooltip="Enregistrer" tooltip-position="top">
            <i class="fa" ng-class="vm.data.id ? 'fa-circle-o' : 'fa-plus'"></i>
        </button>
        <div class="fab__actions fab__actions--left">
            <button ng-if="vm.data.status && vm.data.status !== 'TRA'" ng-click="vm.saveDevis({transfert:true})" class="btn--no-conflicts btn--l btn--black btn--fab green" lx-ripple lx-tooltip="Transferer" tooltip-position="top"><i class="fa fa-plus"></i></button>
            <button ng-if="vm.data.status" ng-click="vm.saveDevis({annulation:true})" class="btn--no-conflicts btn--l btn--black btn--fab red" lx-ripple lx-tooltip="Annuler" tooltip-position="top"><i class="fa fa-close"></i></button>
            <button ng-click="vm.saveDevis({envoi:true})" class="btn--no-conflicts btn--l btn--black btn--fab orange" lx-ripple lx-tooltip="Envoyer" tooltip-position="top"><i class="fa fa-send"></i></button>
        </div>
    </div>
</div>
