<div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
	<div class="p+" style='overflow:hidden;'>
	  <div class="col-md-3">
	    <strong class="fs-headline display-block">Informations Client n°{{vm.inter.id}}</strong>
	  </div>
	  <div class="col-md-2">
	    <p style="float:left;line-height:32px;">Ville:&nbsp {{vm.inter.client.address.cp}} - {{vm.inter.client.address.v}}</p>
	  </div>
	  <div class="col-md-3">
	    <p style="float:left;line-height:32px;">Description:&nbsp {{vm.inter.description}}</p>
	  </div>
	  <div class="col-md-2">
	    <p style="float:left;line-height:32px;">Remarques:&nbsp {{vm.inter.remarque}}</p>
	  </div>
	  <div class="col-md-2">
	    <p style="float:left;line-height:32px;">
	      Categorie:&nbsp
	      <span style="width:80px;" class="label {{config.categories[vm.inter.categorie].color}}">
		{{config.categories[vm.inter.categorie].long_name}}
	      </span>
	    </p>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
	<div class="p+" style='overflow:hidden;' slimscroll="{height:650}" style="height: 650px;">
	  <strong class="fs-headline display-block">Prospects</strong>
	  <span class="fs-subhead tc-black-2 display-block select-style-neutral">
	    <div  class="paragraph map-box fs-body-1 mt+">
	      <table ng-if="vm.nearestArtisans.length" class="table table-condensed" style="color:black">
		<tbody>
		  <tr><td colspan="12" style="text-align:center;border-top: 0px;"><h4 style="margin: 0;">Prospects</h4></td></tr>
		  <tr ng-repeat="sst in vm.nearestArtisans"
		      ng-class="{'success':sst.id == vm.data.sst.id}"
		      ng-click="vm.selectArtisan(sst);">
		    <td id-sst="{{sst.id}}" variable-length style="text-align:left">
		      <small no-click ng-if="!sst.statutProspect.long_name" class="grey-text">A Démarcher</small>
		      <small no-click ng-if="sst.statutProspect.long_name" style="width:80px;" class="{{sst.statutProspect.color}}-text">{{sst.statutProspect.long_name}}</small>
		      {{sst.nomSociete.toUpperCase()}}
		    </td>
		    <td no-click ng-class="{'red-text': sst.zoneChalandise < sst.distance}">{{sst.distance}} km</td>
		  </tr>

		</tbody>
	      </table>
	      <h3 ng-if="!vm.nearestArtisans">
		AUCUNS ARTISAN
	      </h3>
	    </div>
	</div>
      </div>
    </div>
    <div class="{{vm.showmap ? 'col-md-5' : 'col-md-9'}}">
      <div  slimscroll="{height:650}" style="height:650">
	<div class="card">

	  <div class="p+" style='overflow:hidden;'>
	    <h3 ng-if="!vm.data.artisan">
	      AUCUN PROSPECT SELECTIONNE
	    </h3>
	    <div ng-if="vm.data.artisan">
	      <div style="display:inline;">
		<strong class="fs-headline">Informations Prospect</strong>&nbsp&nbsp
		<button ng-click="vm.callSst(vm.data.artisan.telephone.tel1, vm.data.artisan.id)" class="form-control btn btn-success" style="width:130px;">Appeler</button>
	      </div>
	      <br>
	      <div class="col-sm-12" style="padding-right:0px;padding-left:0px;">
		<div class="card">
		  <div class="p+">
		    <strong class="fs-headline display-block">Statut</strong>
		    <br>
		    <div style="text-align: center">
		      <button ng-click="vm.toggleCategorie(cat);" style="width: 20%;line-height:20px;border:1px solid;border-color: #888888; height:60px !important;dislay: inline-block;" ng-repeat="cat in ::config.prospectArray()" class="btn--no-conflicts btn--m {{vm.findColor(cat)}} btn--flat" lx-ripple>{{::cat.long_name}}</button>
		    </div>
		  </div>
		</div>
		<br>
	      </div>
	      <br>
	      <div class="col-sm-12" style="padding-right:0px;padding-left:0px;">
		<div class="card" style="padding:20px">
		  <strong class="fs-headline display-block">Societé</strong>
		  <div class="p+">
		    <div class="row">
		      <div class="col-sm-4">
			<div class="select-style text-field">
			  <select ng-model="vm.data.artisan.formeJuridique" ng-options="fj.short_name as fj.long_name group by fj.type for fj in vm.config.formeJuridiqueHash()">
			  </select>
			  <label ng-class="{'selected' : vm.data.artisan.formeJuridique}">
			    Forme Juridique
			  </label>
			</div>
		      </div>
		      <div class="col-sm-6">
			<div>
			  <lx-text-field label="Nom Société">
			    <input capitalize ng-model="vm.data.artisan.nomSociete">
			  </lx-text-field>
			</div>
		      </div>
		    </div>
		    <div class="row">
		      <div class="col-sm-2">
			<div class="select-style text-field">
			  <select ng-model="vm.data.artisan.representant.civilite" ng-options="civ.short_name as civ.short_name for civ in config.civilites">
			  </select>
			  <label ng-class="{'selected' : vm.data.artisan.representant.civilite}">Civilité</label>
			</div>
		      </div>
		      <div class="col-sm-5">
			<lx-text-field label="Nom Representant">
			  <input capitalize ng-model="vm.data.artisan.representant.nom">
			</lx-text-field>
		      </div>
		      <div class="col-sm-5">
			<lx-text-field label="Prenom Representant">
			  <input capitalize ng-model="vm.data.artisan.representant.prenom">
			</lx-text-field>
		      </div>
		    </div>
		    <div class="row">
		      <div class="col-sm-5">
			<lx-text-field label="Email">
			  <input capitalize type="text" ng-model="vm.data.artisan.email">
                        </lx-text-field>
		      </div>
		      <div class="col-sm-3">
			<lx-text-field label="Téléphone 1">
			  <input capitalize type="text" ng-model="vm.data.artisan.telephone.tel1">
			</lx-text-field>
		      </div>
		      <div class="col-sm-3">
			<lx-text-field label="Téléphone 2">
			  <input capitalize type="text" ng-model="vm.data.artisan.telephone.tel2">
			</lx-text-field>
		      </div>
		    </div>
		    <div class="row">
		      <div class="col-sm-3">
			<lx-text-field label="Siret">
			  <input type="text" ng-model="vm.data.artisan.siret">
			</lx-text-field>
		      </div>
		      <div class="col-sm-4">
			<lx-text-field label="IBAN" error="!vm.validIBAN(vm.data.artisan.IBAN)">
			  <!--     <input type="text" ng-model="iban"/> -->
			  <input type="text" ng-model="vm.data.artisan.IBAN">
			</lx-text-field>
		      </div>
		      <div class="col-sm-3">
			<lx-text-field label="BIC">
			  <input type="text" ng-model="vm.data.artisan.BIC">
			</lx-text-field>
		      </div>
		    </div>
		  </div>
		</div>
		<br>
	      </div>
	      <div class="col-sm-12" style="padding-right:0px;padding-left:0px;">
		<artisan-categorie model="vm.data.artisan" isshort="short"></artisan-categorie>
		<br>
	      </div>
	      <div class="col-sm-12" style="padding-right:0px;padding-left:0px;">
		<div class="card"  style="padding:20px">
		  <strong class="fs-headline display-block">Adresse</strong>
		  <div class="row">
		    <div class="col-sm-3">
		      <lx-text-field label="Numero">
			<input capitalize type="text" ng-model="vm.data.artisan.address.n">
		      </lx-text-field>
		    </div>
		    <div class="col-sm-3">
		      <lx-text-field label="Adresse">
			<input capitalize type="text" ng-model="vm.data.artisan.address.r">
		      </lx-text-field>
		    </div>
		    <div class="col-sm-3">
		      <lx-text-field label="Code Postal">
			<input capitalize type="text" ng-model="vm.data.artisan.address.cp">
		      </lx-text-field>
		    </div>
		    <div class="col-sm-3">
		      <lx-text-field label="Ville">
			<input capitalize type="text" ng-model="vm.data.artisan.address.v">
		      </lx-text-field>
		    </div>
		  </div>
		</div>
		<br>
	      </div>
	      <div class="col-sm-12" style="padding-right:0px;padding-left:0px;">
		<div class="card margin">
		  <div class="p+">
		    <strong class="fs-headline display-block">Informations Supplémentaires</strong>
		    </br>
		    <div ng-if="vm.data.artisan.infoSup.Multi">MULTI: &nbsp&nbsp{{vm.data.artisan.infoSup.Multi ? vm.data.artisan.infoSup.Multi : "Aucune Info"}}</div>
		    <div ng-if="vm.data.artisan.infoSup.Site1">SITE 1: &nbsp&nbsp<a href="{{vm.data.artisan.infoSup.Site1}}">{{vm.data.artisan.infoSup.Site1 ? vm.data.artisan.infoSup.Site1 : "Aucune Info"}}</a></div>
		    <div ng-if="vm.data.artisan.infoSup.Site2">SITE 2: &nbsp&nbsp<a href="{{vm.data.artisan.infoSup.Site2}}" target="_blank">{{vm.data.artisan.infoSup.Site2 ? vm.data.artisan.infoSup.Site2 : "Aucune Info"}}</a></div>
		    <div ng-if="vm.data.artisan.infoSup.Site3">SITE 3: &nbsp&nbsp<a href="{{vm.data.artisan.infoSup.Site3}}">{{vm.data.artisan.infoSup.Site3 ? vm.data.artisan.infoSup.Site3 : "Aucune Info"}}</a></div>
		  </div>
		</div>
	      </div>
	      <div class="col-sm-12" style="padding-right:0px;padding-left:0px;">
		<div class="card margin">
		  <div class="p+">
		    <strong class="fs-headline display-block">Commentaires</strong>
		    <div class="paragraph fs-body-1 mt+" style="height:100%">
		      <ul style="padding-bottom:20px;margin-left: 0px;">
			<li class="list-row" ng-repeat="com in vm.data.artisan.comments | reverse">
			  <div class="list-row__content">
			    <span class="display-block">{{com.text}}</span>
			    <span class="display-block fs-body-1 tc-black-2">{{com.date  |  date:"dd/MM/yy"}} - {{com.login}}</span>
			  </div>
			</li>
		      </ul>
		    </div>
		  </div>
		  <div class="card__actions">
		    <input style="border: 0;width:100%" type="text" placeholder="Texte..." ng-model="vm.commentText" ng-enter="vm.addComment()">
		  </div>
		</div>
	      </div>
	      <div class="col-sm-12" style="padding-right:0px;padding-left:0px;">
		<calls-sst ispro="true" data="vm.data.artisan"></calls-sst>
	      </div>
	      <div style="text-align:right;">
		<button class="form-control btn btn-success" ng-click="vm.save()" style="width:130px;">Sauvegarder</button>&nbsp
		<button class="form-control btn btn-success" ng-click="vm.move()" style="width:130px;">Transférer</button>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="col-sm-4" ng-if="vm.inter.client && vm.showmap">
      <br>
      <edison-map first-address="firstAddress" is-new="vm.isNew" data="vm.data" client="vm.inter.client" xmarkers="vm.nearestArtisans" ispro="true" marker-click="vm.selectArtisan(sst);vm.showInterList()" search-rev="true" height="small"></edison-map>
    </div>
  </div>
</div>
<div class="dropdown-menu--no-conflicts dropdown-menu--right dropdown__menu--is-dropped" style="margin-top: -215px;width: auto; height: auto; opacity: 1;" ng-style="vm.contextMenu.style">
  <div class="dropdown-menu__content">
    <ul>
      <li ng-hide="item.hidden" ng-repeat="item in vm.contextMenu.list">
	<a ng-mouseover="vm.contextMenu.closeSub()" ng-if="!item.subs" class="dropdown-link" ng-style="item.style" tabindex="0" ng-click="vm.contextMenu.close();vm.contextMenu.click(item)">{{item.title}}</a>
	<a ng-style="item.style" ng-mouseover="vm.contextMenu.openSub(200)" ng-if="item.subs" class="dropdown-link" tabindex="0"><i no-margin align-left class="fa fa-angle-right"></i>{{item.title}}</a>
	<a lx-tooltip="{{vm.contextMenu.tooltip(sub)}}" tooltip-position="right" ng-style="sub.style" ng-repeat="sub in item.subs" ng-click="vm.contextMenu.close();vm.contextMenu.click(sub)" ng-hide="sub.hidden" ng-if="vm.contextMenu.mouseOverCM && item.subs" class="dropdown-link"><i no-margin align-left class=" fa fa-angle-double-right"></i>{{sub.title}}</a>
      </li>
    </ul>
  </div>
</div>
