<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <style type="text/css">
        p,
        li {
            font-size: 11px;
        }

        .panel-inter {
            height: 225px;
        }

        .block-panel-inter {
            height: 320px;
        }
    </style>
</head>

<body>
    <page size="A4">
        <div class="border"></div>
        <div class="container" style="padding-left: 1cm;padding-top:0px">
            <div>
                <img class="logo" src="data:image/png;base64,{{logo}}" />
                <div class="code"> <div class="text" style="position: absolute; margin-top: 14px;"> {{id}} - {{sst.id}} </div> {{barcode}} <div style="font-size: 10px; width: 200%; margin-left: -20%;"> {{client.nom}} {{client.prenom}} - {{dateSlash}} </div> </div>
            </div>
            <div class="spacer"></div>
            <div class="row">
                <p style="text-align: right;"> {{datePlain}} </p>
                <div class="spacer"></div>
                <center><h1> Ordre de service n° {{id}} - {{sst.nomSociete}} </h1></center>
            </div>
            <div class="spacer-xs"></div>
            <div class="row">
                <p>
                    Monsieur,
                    <br> Suite à notre conversation téléphonique, nous vous prions de bien vouloir intervenir auprès de notre client, dont les coordonnées et la description de l'intervention figurent ci-dessous.
                </p>
                <div class="block-panel-inter">
                    <div class="left">
                        <div class="panel-title">
                            <div class="corner-left"></div>
                            <h2>DETAILS DE L'INTERVENTION</h2>
                        </div>
                        <div class="panel panel-inter" style="height: 250px;padding: 0px 9px;">
                            <h2> COORDONNEES DU CLIENT :</h2>
                            <p close strong <% if(client.nom.length + client.prenom.length >= 29) { %> small-text <% } %> > {{client.nom}} {{client.prenom}}</p>
                            <p close>{{tels}}</p>
                            <p close <% if(client.address.n.length + client.address.r.length + precisions.length >= 29) { %> small-text <% } %> > {{client.address.n}} {{client.address.r}} {{precisions}}</p>
                            <p close <% if(client.address.cp.length + client.address.v.length >= 29) { %> small-text <% } %> > {{client.address.cp}} {{client.address.v}}</p>
                            <div class="separateur"></div>
                            <h2> DESCRIPTION DE L'INTERVENTION : </h2>
                            <p>
                                <p strong <% if(description >= 29) { %> small-text <% } %> >{{description}}</p>
                                <p close >Date: {{date}}</p>
                                <p close> Heure: {{heure}}</p>
                            </p>
                            <p> Prix annoncé: {{prixAnnonce}} € HT </h2>
                                <p strong close>{{mr}}</p>
                            </div>
                        </div>
                        <div class="right">
                            <div class="panel-title">
                                <div class="corner-left"></div>
                                <h2>LOCALISATION DU CLIENT</h2>
                            </div>
                            <div class="panel panel-inter text-center" style="padding:0; height: 250px;overflow:hidden">
                                <img style="margin-top:1px" src="https://maps.googleapis.com/maps/api/staticmap?format=jpg&zoom=13&size=330x273&markers={{client.address.lt}}, {{client.address.lg}}&key=AIzaSyAqBJQFYhCOUalxHgF1L0mhw8lGME-A1mY" />
                            </div>
                        </div>
                    </div>
                    <div class="panel-title">
                        <div class="corner-left"></div>
                        <h2>REMARQUES</h2>
                    </div>
                    <textarea style="border:1px dotted gray;" class="full-width" rows="4" value=""> {{remarque}}</textarea>
                    <div class="spacer-sm"></div>
                    <div class="panel-title">
                        <div class="corner-left"></div>
                        <h2>CONSEILS</h2>
                    </div>
                    <ol>
                        <li> <u><strong>Vous ne devez pas vous présenter en tant que SOUS-TRAITANT.</strong></u> </li>
                        <li> Ne jamais partir <u><strong>sans le règlement de l'intervention</strong></u> (Chèque à l'ordre d'EDISON Services). </li>
                        <li> Si vous n'avez pas de facturier EDISON Services, vous pouvez prendre l'adresse mail du client, une facture lui sera ensuite envoyée.</li>
                        <li> Le prix d'intervention annoncé au client reste une <u><strong>estimation de la prestation</strong></u>, si la nature de l'intervention se trouve être différente ou plus longue, il faut en avertir le client et appliquer une mise à jour des prix de facturation.</li>
                    </ol>
                    <div class="panel-title">
                        <div class="corner-left"></div>
                        <h2>LISTE DES TACHES</h2>
                    </div>
                    <ul type="square">
                        <li> Faire signer <strong>un devis et une facture</strong> pour chaque intervention. </li>
                        <li> Faire signer l'attestation de TVA simplifié. </li>
                        <li> Récuperer le réglement sur place. </li>
                        <li> Envoyer l'ensemble des pièces à EDISON Services - Service comptabilité - 42 rue de Maubeuge 75009, Paris</li>
                    </ul>
                </div>
            </div>
        </page>
        <footer style="margin-top: -40px;">
           <p style="font-size:8px;text-align:center;margin-bottom: 0.5cm;">Tel.09.72.42.30.00 - Fax. 09.72.39.33.46 - Siège social : S.A.R.L EDISON SERVICES - 42 rue de Maubeuge 75009 Paris - 753 805 035 00064 - 4321A - FR88753805035 - Au capital de 4000 euros</p>
        </footer>
    </body>

    </html>
