<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">

    <style type="text/css">
        p {
            text-align: justify;
        }
    </style>
</head>

<body>
    <page size="A4">
        <div class="border"></div>
        <div class="container">
            <img class="logo" src="data:image/png;base64,{{logo}}" />

            <div class="spacer"></div>

            <h1><strong>COMMENT FONCTIONNE NOTRE COLLABORATION ?</strong></h1><br><br>

            <strong>1. Demande d’intervention chez notre client</strong><br>
            <p>
                Nous traitons la demande d’intervention de notre client de la manière suivante :
                <ul>
                    <li>Identification du problème</li>
                    <li>Chiffrage de la prestation</li>
                    <li>Délais d’intervention</li>
                </ul>
            </p>
            <p>
                <strong>a. Contact téléphonique</strong><br>
                Nous vous contactons par téléphone pour vous demander vos disponibilités et nous vous proposons
                d’intervenir. Suite à votre accord verbal, nous vous envoyons un ordre de service écrit.
            </p>
            <p>
                <strong>b. Ordre de service</strong><br>
                Vous recevez un ordre de service par E-mail ainsi que les coordonnées de notre client directement sur votre
                téléphone par SMS.
            </p>
            <p>
                <strong>c. Confirmation de l’intervention</strong><br>
                Dès réception de l’ordre de service, vous devez prendre contact avec notre client pour confirmer un horaire de
                rendez-vous et vérifier auprès de lui la nature du problème.
            </p>

            <strong> 2. Intervention chez le client </strong><br>
            <p>
                <strong>a. Vérification de la prestation annoncée</strong><br>
                Avant de réaliser l’intervention, vous vérifier que la prestation annoncée en terme matériel, main d’œuvre soit
                correct. Dans le cas contraire, vous prévenez le client que le prix d’intervention final sera différent et vous lui
                demandez son accord avant d’intervenir.
            </p>
            <p>
                <strong>b. Réalisation de l’intervention</strong><br>
                La réalisation de l’intervention doit se faire dans les règles de l’art et vous devez faire constater la résolution du
                problème au client avant de lui réaliser sa facture.
            </p>
            <p>
                <strong>c. Facture et règlement </strong><br>

                Sur place, vous disposez d’une facture et d'un devis imprimé ou d’un carnet de facture (réservé aux

                partenaires) vous permettant d’éditer la facture directement sur place.

                Il est obligatoire de faire signer le devis avant travaux et la facture au client ainsi que l’attestation de TVA

                simplifiée.

                Vous récupérez également le règlement sur place.
            </p>


            <strong>3. Transmission des documents au service comptabilité</strong><br>
            <p>
                Après chaque intervention, vous devez nous transmettre par la poste les documents suivants :
                <ul>
                    <li>Devis avant travaux du client (signée)</li>
                    <li>Facture du client (signée)</li>
                    <li>Attestation de TVA (signée)</li>
                    <li>Règlement du client (à l’ordre d’EDISON Services)</li>
                </ul>
            </p>
            <p>
                <strong>a. Envoi des documents au siège</strong><br>
                Merci de nous transmettre les documents à cette adresse :
                <strong>
                    <ul style="list-style-type:none; ">
                        <li>Edison Services FRANCE</li>
                        <li>Service comptabilité</li>
                        <li>32 rue Fernand Pelloutier – 92110 Clichy</li>
                    </ul>
                </strong>
                <small><strong>Attention ! Il est fortement conseillé de mettre vos coordonnées au dos de chaque enveloppe.</strong></small>
            </p>

        </div>
    </page>
    <footer>
        <small>
            {{footer}}
        </small>
    </footer>

    <page size="A4">
        <div class="border"></div>
        <div class="container">
            <img class="logo" src="data:image/png;base64,{{logo}}" />

            <div class="spacer"></div>

            <p>
                <strong>b. Délais de traitement</strong><br>
                Dès réception des documents, un délai de traitement de 72h00 à 7 jours est nécessaire pour vous envoyer le
                règlement de l’intervention (par chèque ou par virement bancaire).
            </p>

            <strong>4. Paiement du partenaire</strong><br>

            <p>
                <strong>a. Règlement par virement ou chèque</strong><br>
                Si votre règlement se fait par chèque bancaire, vous recevrez à votre adresse une attestation de paiement
                imprimé accompagnée du règlement par chèque (délais 7 jours).<br>
                Si votre règlement se fait par virement bancaire, vous recevrez sur votre adresse e-mail, une attestation de
                paiement. (Délais 72h00).
            </p>
            <p>
                <strong>b. Envoi de votre facture au siège</strong><br>

                Lorsque vous recevez votre règlement, vous devez nous envoyer votre facture (mail ou poste) qui correspond
                au montant du règlement.<br>
                Exemple : Vous recevez un règlement de 70 €, vous devez nous envoyer une facture « prestation de service +
                numéro de l’ordre de service » au montant de 70 €.<br><br>
                Merci de nous transmettre votre facture à cette adresse : comptabilite@edison-services.fr<br>
            </p>
        </div>
    </page>
    <footer>
        <small>
            {{footer}}
        </small>
    </footer>
</body>

</html>
