<li ng-class="{'open':isopen}" class="mm-dropdown  mm-dropdown-root" style="cursor:pointer">
    <a ng-click="toggleSidebar($event)">
        <i class="menu-icon fa fa-{{icon}}"></i>
        <span class="mm-text">{{title}}</span>
    </a>
    <ul class="mmc-dropdown-delay animated fadeInLeft" ng-style="dropDownStyle" ng-transclude>
    </ul>
</li>

