<div id="main-menu" role="navigation">
    <div id="main-menu-inner">
      <ul  slimscroll="{height:900}" class="navigation" ng-transclude>
      </ul>
    </div>
    <ul ng-show="sidebarSM.display" id="mmc-ul" ng-class="{'mmc-dropdown-open-ul' : sidebarSM.display}" class="mmc-dropdown-delay animated fadeInLeft " style="top: 90.1909790039063px;">
        <div class="mmc-wrapper" style="overflow: hidden; position: relative; max-height: auto; width: auto;">

            </li>
        </div>
    </ul>
</div>
