<div class="row card" style="overflow: scroll;" style="min-height:599px;margin:100px">
  <div class="row">
    <div style="padding:20px" class="col-sm-2">
      <select class="form-control" ng-model="selectedWeek" ng-options="mth as mth for mth in vm.dateSelect">
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-sm-offset-1" style="margin:10px;">
      <table class="table table-striped table-bordered">
	<thead>
          <tr>
	    <td ng-repeat="day in vm.weekDays()">{{day}}</td>
          </tr>
	</thead>
	<tbody>
	  <tr>
	    <td colspan="10" style="text-align: center;">INTERVENTION</td>
	  </tr>
	  <tr ng-repeat="userList in vm.userList" ng-if="userList.service === 'INTERVENTION'">
	    <td>{{userList.login}}</td>
	    <td ng-repeat="log in vm.log[userList.login] track by $index" style="{{vm.late[userList.login][$index] > 15 && vm.excused[userList.login][$index] === false ? 'color:#FF0000' : ''}}" ng-click="vm.cancel(userList.login, $index, vm.late[userList.login][$index], vm.excused[userList.login][$index])">{{log}}</td>
	    <td>{{vm.total[userList.login]}} Minutes</td>
	    <td>{{vm.time[userList.login]}}</td>
	  </tr>
	  <tr>
	    <td colspan="10" style="text-align: center;">PARTENARIAT</td>
	  </tr>
	  <tr ng-repeat="userList in vm.userList" ng-if="userList.service === 'PARTENARIAT'">
	    <td>{{userList.login}}</td>
	    <td ng-repeat="log in vm.log[userList.login] track by $index">{{log}}</td>
	    <td>-</td>
	    <td>-</td>
	  </tr>
	  <tr>
	    <td colspan="10" style="text-align: center;">COMPTABILITE</td>
	  </tr>
	  <tr ng-repeat="userList in vm.userList" ng-if="userList.service === 'COMPTABILITE'">
	    <td>{{userList.login}}</td>
	    <td ng-repeat="log in vm.log[userList.login] track by $index">{{log}}</td>
	    <td>-</td>
	    <td>-</td>
	  </tr>
	  <tr>
	    <td colspan="10" style="text-align: center;">RECOUVREMENT</td>
	  </tr>
	  <tr ng-repeat="userList in vm.userList" ng-if="userList.service === 'RECOUVREMENT'">
	    <td>{{userList.login}}</td>
	    <td ng-repeat="log in vm.log[userList.login] track by $index">{{log}}</td>
	    <td>-</td>
	    <td>-</td>
	  </tr>
	</tbody>
      </table>
    </div>
    <br>
    <br>
  </div>
</div>
