<style type="text/css">
.border-div {
	border: 1px solid black;
	border-radius: 5px;
}
</style>
<div class="card margin">
    <div class="p+" style="width:100%">
        <div class="row">
			<div class="col-sm-12 border-div">
		  		<strong class="fs-headline display-inline">
		    		<span>Transformation Status</span>
		  		</strong>
    	      	</br>
		  		<div style="text-align:center;">
					<input style="display:inline;" accept=".json" onchange="general.prototype.changeFile(this)" type="file" name="fileId"/>&nbsp;
					<br>
					<br>
					<h3>Selectionner le nouveau status</h3>
					<select name="New status" ng-model="typeSt">
						<option value="SAV">SAV</option>
						<option value="VRF">Verifié</option>
						<option value="ENC">En Cours</option>
						<option value="APR">A Programmer</option>
						<option value="AVR">A Vérifier</option>
						<option value="EVR">En Attente de Verification</option>
						<option value="ANN">Annuler</option>
						<option value="DVG">Devis Gratuit</option>
						<option value="PRT">Perte</option>
						<option value="RGL">Régul</option>
					</select>
					<br>
					<br>
					<button class="btn btn-danger" style="display:inline;" ng-click="vm.statusTrans();" 1x-ripple>Transfo Status</button>
	 	 		</div>
			</div>

			<div class="col-sm-12 border-div">
	  			<strong class="fs-headline display-inline">
	    			<span>Switch function</span>
	  			</strong>
	  			<br>
	  			<div style="text-align:center;">
	    			<button class="btn btn-danger" style="display:inline;" ng-click="vm.switchTest();" 1x-ripple>Switch Test</button>
	  			</div>
			</div>

			<div class="col-sm-12 border-div">
	  			<strong class="fs-headline display-inline">
	    			<span>Change prise en charge</span>
	  			</strong>
	  			<br>
	  			<div style="text-align:center;">
	    			<button class="btn btn-danger" style="display:inline;" ng-click="vm.changePriseEnCharge();" 1x-ripple>Change prise en charge</button>
	  			</div>
			</div>

			<div class="col-sm-12 border-div">
	  			<strong class="fs-headline display-inline">
	    			<span>Liste Interventions</span>
	  			</strong>
	  			<br>
	  			<div style="text-align:center;">
	  				<input style="display:inline;" accept=".json" onchange="general.prototype.changeFile(this)" type="file" name="fileRequest"/>&nbsp;
	  				<br>
					<br>
	    			<button class="btn btn-danger" style="display:inline;" ng-click="vm.listInter();" 1x-ripple>Liste Inter</button>
	  			</div>
			</div>

			<div class="col-sm-12 border-div">
	  			<strong class="fs-headline display-inline">
	    			<span>Relances ALL</span>
	  			</strong>
	  			<br>
	  			<div style="text-align:center;">
	    			<button class="btn btn-danger" style="display:inline;" ng-click="vm.relanceAuto7h();" lx-ripple>Relance Auto devis</button>
	  			</div>
			</div>
			
			<div class="col-sm-12 border-div">
				<strong class="fs-headline display-inline">
					<span>Mail Artisan inter à verifier</span>
				</strong>
				<br>
				<div style="text-align:center">
					<button class="btn btn-danger" style="display:inline;" ng-click="vm.mailAverif();" 1x-ripple>Envoi Mail</button>
				</div>
			</div>

			<div class="col-sm-12 border-div">
				<strong class="fs-headline display-inline">
					<span>Transfo Signalement</span>
				</strong>
				<br>
				<div style="text-align:center">
					<select name="New Sign" ng-model="typeSig">
						<option value="artisanT">Artisan</option>
						<option value="interneT">Interne</option>
					</select>
					<br>
					<br>
					<button class="btn btn-danger" style="display:inline;" ng-click="vm.transfo(typeSig);" 1x-ripple>Transfo Sign</button>
				</div>
			</div>

			<div class="col-sm-12 border-div">
				<strong class="fs-headline display-inline">
					<span>Flush true all inter(Ne pas utiliser sauf sur serv test)</span>
				</strong>
				<br>
				<div style="text-align:center">
					<button class="btn btn-danger" style="display:inline;" ng-click="vm.flushTrue();" 1x-ripple>Flush True</button>
				</div>
			</div>
			<div class="col-sm-12 border-div">
				<strong class="fs-headline display-inline">
					<span>Get les données des clients où le nom de la facture est le même que celui de l'adresse d'intervention</span>
				</strong>
				<br>
				<div style="text-align:center">
					<button class="btn btn-danger" style="display:inline;" ng-click="vm.getDatasOnFactureAndClientNames();" 1x-ripple>Get Datas</button>
				</div>
			</div>
			<div class="col-sm-12 border-div">
				<strong class="fs-headline display-inline">
					<span>Reload Cache</span>
				</strong>
				<br>
				<div style="text-align:center">
					<button class="btn btn-danger" style="display:inline;" ng-click="vm.ReloadCache();" 1x-ripple>Reload Cache</button>
				</div>
			</div>

			<div class="col-sm-12 border-div">
	  			<strong class="fs-headline display-inline">
	    			<span>Importer</span>
	  			</strong>
	  			<br>
	  			<div style="text-align:center;">
	    			<input type="file" ng-model="file" style="display: inline;" onchange="general.prototype.changeFile(this)"  name="Artisans" accept=".csv"/>&nbsp;
	  	  			<button class="btn btn-danger" style="display:inline;" ng-click="vm.importRIB(this);" lx-ripple>Importer les RIB</button>
	  			</div>
			</div>

		</div>
    </div>
</div>

