<div class="card margin">
  <div class="p+" style="width:100%">
    <div class="row">
      <div class="col-sm-12">
	<strong class="fs-headline display-inline">
	  <span>Import</span>
	</strong>
	<br>
	<div class="col-sm-6">
	  <div style="text-align: center;">
	    <input type="file" style="display: inline;" onchange="ImportController.prototype.changeFileGeoloc(this)" name="Geoloc" accept=".csv"/>&nbsp;
	    <button class="btn btn-danger" style="display: inline" ng-click="vm.geoloc();" lx-ripple>Go</button>
	  </div>
	</div>
	<div class="col-sm-6">
	  <table class="table table-bordered table-hover table-striped">
	    <thead>
	      <tr>
		<td>Login</td>
		<td>Nom</td>
		<td>Date</td>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="elems in vm.hist">
		<td>{{elems.login}}</td>
		<td>{{elems.name}}</td>
		<td>{{elems.date | date:"dd/MM/yy"}}</td>
	      </tr>     
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
  </div>
</div>
<div class="card margin">
  <div class="p+" style="width:100%">
    <div class="col-sm-12">
      <strong class="fs-headline display-inline">
	<span>Instructions</span>
      </strong>
      <br>
      <a class="btn" target="_self" href="/docs/TemplateImport.csv" download="Template Import.csv">Modèle CSV</a>
      <a class="btn" target="_self" href="/docs/Instructions.txt">Instructions</a>
      <br>
      <br>
    </div>
  </div>
</div>
