<div class="shadow-box listeInterventions">
  <div class="col-md-4">
    <select style="width:100%;margin-left:20px;display: inline;" ng-model="categorie" class="form-control" ng-change="vm.changeCat()">
      <option ng-repeat="elem in vm.cat" value="{{elem.order}}">{{elem.long_name}}</option>
    </select>
  </div>
  <br>
  <edison-map hidesearch="hide" draw="true" circle="true" xmarkers="vm.confirmedArtisans" height="small" bigger="true"></edison-map>
</div>
