<div>
  <!-- INTERVENTION -->
  <div ng-if="user.service === 'INTERVENTION' || user.service === 'COMPTABILITE'">
    <div class="row">
      <div class="col-sm-6">
	<div class="shadow-box" style="min-height:500px">
          <div style="padding:20px;overflow: hidden;">
            <strong class="fs-headline display-inline">
              <span>Classement</span>
              <span>
		<select style="width:200px;margin-left:20px;display: inline;" class="form-control" ng-model="vm.dateChoice" ng-options="f as f.nom for f in vm.dateSelect" ng-change="vm.reloadDashboardStats(vm.dateChoice)"></select></span>
            </strong>
            <br>
            <br>
            <table ng-table="vm.tableParams" class="table table-striped" show-filter="false">
              	<tr ng-repeat="user in $data" ng-class="{success:$index === 0}" ng-if="user.total || user.averif || user.annul">
					<td title="'Login'" sortable="'login'">
			                  {{_.capitalize(user.login).slice(0, -2)}}
					</td>
					<td title="'Total'" sortable="'total'">
			                  <strong>{{user.total}}</strong>
					</td>
					<td title="'Ajout.'" sortable="'ajout'">
			                  {{user.ajout}}
					</td>
					<td title="'Envoi'" sortable="'envoi'">
			                  {{user.envoi}}
					</td>
					<td title="'Verif'" sortable="'verif'">
			                  {{user.verif}}
					</td>
					<td title="'€'" sortable="'sum'">
			                  {{user.sum}}
					</td>
					<td title="'Ann.'" sortable="'annul'">
			                  -{{user.annul}}
					</td>
					<td title="'A Verif.'" sortable="'averif'">
			                  -{{user.averif}}
					</td>
              	</tr>
            </table>
          </div>
	</div>
      </div>
      <div class="col-sm-6">
	<div class="shadow-box" style="padding:20px;overflow: hidden;min-height:288px">
          <strong class="fs-headline display-inline">Commissions</strong>
          <table class="table">
            <thead>
              <tr>
		<td>Mois</td>
		<td>C.A Potentiel</td>
		<td>Com Potentiel</td>
		<td>C.A Réel</td>
		<td>Com Réel</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(k, v) in vm.stats.monthComission|orderBy:'_id'">
		<td>{{v._id}}</td>
		<td>{{v.sum_pot + v.sum_VT_pot|frnbr}} €</td>
		<td><b>{{(v.sum_pot + v.sum_VT_pot) * 0.01|frnbr}} €</b></td>
		<td>{{v.sum_reel + v.sum_VT_reel|frnbr}} €</td>
		<td><b>{{(v.sum_reel + v.sum_VT_reel) * 0.01|frnbr }} €</b></td>
              </tr>
            </tbody>
          </table>
	</div>
	<br>
	<div class="shadow-box" style="padding:20px;overflow: hidden;min-height:192px">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
		<div class="panel-heading" style="min-height: 83px;">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-comments fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge">{{userStats.i_tall.total}}</div>
                      <div>Inter ajouté</div>
                    </div>
                  </div>
		</div>
		<a href="#">
                  <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
		</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-success">
		<div class="panel-heading" style="min-height: 83px;">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-support fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge">{{userStats.i_tenv.total}}</div>
                      <div>Inters envoyés</div>
                    </div>
                  </div>
		</div>
		<a href="#">
                  <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
		</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-danger">
		<div class="panel-heading" style="min-height: 83px;">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-tasks fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge">{{user.maxInterAverif - userStats.i_avr.total}}</div>
                      <div>Credits Restants</div>
                    </div>
                  </div>
		</div>
		<a href="#">
                  <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
		</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="panel success panel-warning">
		<div class="panel-heading" style="min-height: 83px;">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-shopping-cart fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge">{{userStats.i_avr.total}}</div>
                      <div>Interventions à vérifié</div>
                    </div>
                  </div>
		</div>
		<a href="#">
                  <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
		</a>
              </div>
            </div>
          </div>
	</div>
      </div>
    </div>
    <br>
    <div class="row" ng-show="user.root == true || user.service == 'INTERVENTION'">
      <div class="col-sm-6">
	<div class="shadow-box" style="padding:20px;">
	  <div class="row">
	    <div style="padding:20px" ng-if="selectedDivider != 'ajout'" class="col-sm-4">
	      <select class="form-control" ng-model="$parent.$parent.selectedDate" ng-options="ds as ds.t for ds in vm.dateselects">
	      </select>
	    </div>
	    <div style="padding:20px" class="col-sm-4">
	      <select class="form-control" ng-model="$parent.selectedType" ng-show="user.admin == true" ng-options="ds as ds for ds in vm.typeSelect">
	      </select>
	    </div>
	    <div style="padding:20px" class="col-sm-4">
	      <select class="form-control" ng-model="$parent.selectedDivider" ng-show="user.admin == true || user.priv === true" ng-options="ds as ds for ds in vm.dividerSelect">
	      </select>
	    </div>
	  </div>
	  <div class="row">
	    <div id="chartContainer" class="col-sm-11"></div>
	  </div>
	</div>
      </div>
      <div class="col-sm-6">
	<div class="shadow-box" style="padding:20px;">
	  <div class="row">
	    <div style="padding:20px" ng-if="selectedDivider != 'ajout'" class="col-sm-6">
	      <select class="form-control" ng-model="$parent.$parent.selectedYear" ng-options="mth as mth for mth in vm.yearSelect">
	      </select>
	    </div>
	    <div style="padding:20px" ng-if="selectedDivider == 'ajout'" class="col-sm-6">
	      <select class="form-control" ng-model="$parent.$parent.selectedSubDate" ng-options="ds as ds.t for ds in vm.dateselects">
	      </select>
	    </div>
	    <div style="padding:20px" ng-if="selectedDivider == 'ajout'" class="col-sm-6">
	      <select class="form-control" ng-model="$parent.$parent.selectedSubType" ng-options="ca as ca for ca in vm.subTypeSelect">
	      </select>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-sm-10">
	      <div id="chartContainer2">
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <br>
    <div class="row"  ng-if="user.service === 'COMPTABILITE'">
      <div class="col-sm-6">
	<div class="shadow-box" style="min-height:500px">
	  <div style="padding:20px;overflow: hidden;">
	    <strong class="fs-headline display-inline">
	      <span>Stats Recouvrement De la Semaine</span>
	    </strong>
	    <br>
	    <br>
	    <table ng-table="vm.tableParams" class="table table-striped" show-filter="false">
	      <tr ng-repeat="person in vm.nbrStats" ng-class="{success:$index === 0}" >
		<td title="'Login'" sortable="'login'" style="text-align:center">
		  {{person.name}}
		</td>
		<td title="'Facture Recu'" sortable="'factrecu'" style="text-align:center">
		  {{person.factrecu}}
		</td>
		<td title="'Litige'" sortable="'litige'" style="text-align:center">
		  {{person.litige}}
		</td>
		<td title="'Reglement Envoye'" sortable="'envoye'" style="text-align:center">
		  {{person.envoye}}
		</td>
		<td title="'Reglement Recu'" sortable="'reglrecu'" style="text-align:center">
		  {{person.reglrecu}}
		</td>
	      </tr>
	    </table>
	  </div>
	</div>
      </div>
      
      <div class="col-sm-6">
	<div class="shadow-box" style="min-height:500px">
	  <div style="padding:20px;overflow-x: scroll;">
	    <strong class="fs-headline display-inline">
	      <span>Stats Litige</span>
	    </strong>
	    <br>
	    <br>
	    <table ng-table="vm.tableParams" class="table table-striped" show-filter="false">
	      <tr ng-repeat="personY in vm.nbrYearStats" ng-class="{success:$index === 0}" >
		<td title="'Login'" sortable="'login'" style="text-align:center">
		  {{personY.name}}
		</td>
		<td title="'Janvier'"  sortable="'janvier'" style="text-align:center">
		  <a href="/intervention/list/Mylitige?∆di=01%{{personY.redirect}}">{{personY.janvier}}</a>
		</td>
		<td title="'Fevrier'" sortable="'fevrier'" style="text-align:center">
		  <a href="/intervention/list/Mylitige?∆di=02%{{personY.redirect}}">{{personY.fevrier}}</a>
		</td>
		<td title="'Mars'" sortable="'mars'" style="text-align:center">
		  <a href="/intervention/list/Mylitige?∆di=03%{{personY.redirect}}">{{personY.mars}}</a>
		</td>
		<td title="'Avril'" sortable="'avril'" style="text-align:center">
		  <a href="/intervention/list/Mylitige?∆di=04%{{personY.redirect}}">{{personY.avril}}</a>
		</td>
		<td title="'Mai'" sortable="'mai'" style="text-align:center">
		  <a href="/intervention/list/Mylitige?∆di=05%{{personY.redirect}}">{{personY.mai}}</a>
		</td>
		<td title="'Juin'" sortable="'juin'" style="text-align:center">
		  <a href="/intervention/list/Mylitige?∆di=06%{{personY.redirect}}">{{personY.juin}}</a>
		</td>
		<td title="'Juillet'" sortable="'juiillet'" style="text-align:center">
		  <a href="/intervention/list/Mylitige?∆di=07%{{personY.redirect}}">{{personY.juiillet}}</a>
		</td>
		<td title="'Août'" sortable="'aout'" style="text-align:center">
		  <a href="/intervention/list/Mylitige?∆di=08%{{personY.redirect}}">{{personY.aout}}</a>
		</td>
		<td title="'Septembre'" sortable="'septembre'" style="text-align:center">
		  <a href="/intervention/list/Mylitige?∆di=09%{{personY.redirect}}">{{personY.septembre}}</a>
		</td>
		<td title="'Octobre'" sortable="'octobre'" style="text-align:center">
		  <a href="/intervention/list/Mylitige?∆di=10%{{personY.redirect}}">{{personY.octobre}}</a>
		</td>
		<td title="'Novembre'" sortable="'novembre'" style="text-align:center">
		  <a href="/intervention/list/Mylitige?∆di=11%{{personY.redirect}}">{{personY.novembre}}</a>
		</td>
		<td title="'Decembre'" sortable="'decembre'" style="text-align:center">
		  <a href="/intervention/list/Mylitige?∆di=12%{{personY.redirect}}">{{personY.decembre}}</a>
		</td>
	      </tr>
	    </table>
	  </div>
	</div>
      </div>
    </div>
  </div>    


  <!-- PARTENARIAT -->
  <div ng-if="user.service === 'PARTENARIAT'">
    <div class="row">
      <div class="col-sm-7">
	<div class="card" style="padding:20px;padding-top:0px;">
	  <div class="p+">
	    <div class="row">
	      <strong class="col-md-6 fs-headline display-inline">
		<span>Statistiques de démarchage</span>
	      </strong>
	      <div class="col-md-3">
		<div class="text-field date-picker">
		  <label class="selected">Debut</label>
		  <input type="text" pick-a-date="vm.partDate.start" ng-model="partDate.start"/>
		</div>
	      </div>
	      <div class="col-md-3">
		<div class="text-field date-picker">
		  <label class="selected">Fin</label>
		  <input type="text" pick-a-date="vm.partDate.end" ng-model="partDate.end"/>
		</div>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-sm-12" style="text-align:center;">
		<table ng-table="vm.prStats" class="table table-striped" show-filter="false">
		  <tr ng-repeat="user in $data">
		    <td title="'Login'" ng-click="vm.artisanLink(user.login)" sortable="'login'" style="text-decoration: underline;">
                      {{_.capitalize(user.login).slice(0, -2)}}
		    </td>
		    <td title="'Prospects Contactés'" sortable="'contact'">
                      {{user.contact}}
		    </td>
		    <td title="'Artisans Ajoutés'" sortable="'ajout'">
                      {{user.ajout}}
		    </td>
		    <td title="'Sst Act'" sortable="'actif'">
                      {{user.actif}}
		    </td>
		    <td title="'Dossier Ok'" sortable="'complets'">
                      {{user.complets}}
		    </td>
		    <td title="'Archivés'" sortable="'archive'">
                      {{user.archive}}
		    </td>
		  </tr>
		</table>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-sm-5">
	<div class="card" style="padding:20px;padding-top:0px;">
	  <div class="p+">
	    <div class="row">
	      <strong class="col-md-6 fs-headline display-inline">
		<span>Statistiques d'Inter</span>
	      </strong>
	      <div class="col-md-3">
		<div class="text-field date-picker">
		  <label class="selected">Debut</label>
		  <input type="text" pick-a-date="vm.partDate2.start" ng-model="partDate2.start"/>
		</div>
	      </div>
	      <div class="col-md-3">
		<div class="text-field date-picker">
		  <label class="selected">Fin</label>
		  <input type="text" pick-a-date="vm.partDate2.end" ng-model="partDate2.end"/>
		</div>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-sm-12" style="text-align:center;">
		<table ng-table="vm.prStatsInt" class="table table-striped" show-filter="false">
		  <tr ng-repeat="user in $data">
		    <td title="'Login'" sortable="'login'" ng-click="vm.paEnvoi(user.login)" style="text-decoration: underline;">
                      {{_.capitalize(user.login).slice(0, -2)}}
		    </td>
		    <td title="'News Env'" sortable="'news'">
                      {{user.news}}
		    </td>
		    <td title="'Pot Env'" sortable="'pot'">
                      {{user.pot}}
		    </td>
		    <td title="'Annul'" sortable="'ann'">
                      {{user.ann}}
		    </td>
		    <td title="'Vérif'" sortable="'ver'">
                      {{user.ver}}
		    </td>
		  </tr>
		</table>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6">	  
	<div class="shadow-box" style="padding:20px;min-height:192px">
          <div class="row">
            <div class="col-lg-3 col-md-6">
	      <div class="panel panel-primary">
		<div class="panel-heading" style="min-height: 83px;">
                  <div class="row">
                    <div class="col-xs-3">
		      <i class="fa fa-comments fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
		      <div class="huge">{{userStats.i_tall.total}}</div>
		      <div>Inter ajouté</div>
                    </div>
                  </div>
		</div>
		<a href="#">
                  <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
		</a>
	      </div>
            </div>
            <div class="col-lg-3 col-md-6">
	      <div class="panel panel-success">
		<div class="panel-heading" style="min-height: 83px;">
                  <div class="row">
                    <div class="col-xs-3">
		      <i class="fa fa-support fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
		      <div class="huge">{{userStats.i_tenv.total}}</div>
		      <div>Inters envoyés</div>
                    </div>
                  </div>
		</div>
		<a href="#">
                  <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
		</a>
	      </div>
            </div>
            <div class="col-lg-3 col-md-6">
	      <div class="panel panel-danger">
		<div class="panel-heading" style="min-height: 83px;">
                  <div class="row">
                    <div class="col-xs-3">
		      <i class="fa fa-tasks fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
		      <div class="huge">{{user.maxInterAverif - userStats.i_avr.total}}</div>
		      <div>Credits Restants</div>
                    </div>
                  </div>
		</div>
		<a href="#">
                  <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
		</a>
	      </div>
            </div>
            <div class="col-lg-3 col-md-6">
	      <div class="panel success panel-warning">
		<div class="panel-heading" style="min-height: 83px;">
                  <div class="row">
                    <div class="col-xs-3">
		      <i class="fa fa-shopping-cart fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
		      <div class="huge">{{userStats.i_avr.total}}</div>
		      <div>Interventions à vérifié</div>
                    </div>
                  </div>
		</div>
		<a href="#">
                  <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
		</a>
	      </div>
            </div>
          </div>
	</div>
      </div>
    </div>
  </div>
</div>
