<div>
    <div class="shadow-box listeInterventions">
        <div class="data-table-container">
            <header class="data-table-header">
                <div class="data-table-header__label">
                    <span class="fs-title">{{vm.title}} - <a target="_blank" href="/api/artisan/comptes?m={{remise._id.mth}}&download=true" download>Comptes Tiers Artisans</a></span>
                </div>
            </header>
            <table class="table">
                <tbody ng-if="vm.type === 'remise'">
                    <h1 ng-if="vm.type === 'remise'" style="margin-left: 45%; font-weight: bold">En Cours</h1>
                    <tr>
                        <td>{{vm.moment().format('llll')}}</td>
                        <td><a target="_blank" href="/api/remise/ecritureRemise?d={{remise.dateRemise}}" >Voir Ecriture</a></td>
                        <td><a target="_blank" href="/api/remise/ecritureRemise?d={{remise.dateRemise}}&download=true" download >Telecharger Ecriture</a></td>
                        <td><a target="_blank" href="/api/remise/printRemise?d={{remise.dateRemise}}" >Voir remise</a></td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <tbody ng-if="vm.type === 'remise'">
                    <h1 ng-if="vm.type === 'remise'" style="margin-left: 45%; font-weight: bold">Archives</h1>
                    <tr ng-repeat="remise in vm.data.list">
                        <td>{{vm.moment(remise.dateRemise).format('llll')}}</td>
                        <td><a target="_blank" href="/api/remise/ecritureRemise?d={{remise.dateRemise}}" >Voir Ecriture</a></td>
                        <td><a target="_blank" href="/api/remise/ecritureRemise?d={{remise.dateRemise}}&download=true" download >Telecharger Ecriture</a></td>
                        <td><a target="_blank" href="/api/remise/printRemise?d={{remise.dateRemise}}" >Voir remise</a></td>
                    </tr>
                </tbody>
                <tbody ng-if="vm.type === 'paiement'">
                    <tr ng-repeat="remise in vm.data|orderBy:'-timestamp'">
                        <td>{{vm.moment(remise.timestamp).format('llll')}}</td>
                        <td><a target="_blank" href="/api/intervention/ecritureSST?d={{remise.timestamp}}" >Voir Ecriture</a></td>
                        <td><a target="_blank" href="/api/intervention/ecritureSST?d={{remise.timestamp}}&download=true" download >Telecharger Ecriture</a></td>
                        <td><a href="/compta/lpa?d={{remise.timestamp}}" >Flush History</a></td>
                    </tr>
                </tbody>
                <tbody ng-if="vm.type === 'reglement'">
                    <tr ng-repeat="remise in vm.data|orderBy:'-date'">
                        <td>{{vm.moment(remise.date).format('MMMM YYYY');}}</td>
                        <td><a target="_blank" href="/api/intervention/ecritureReglements?m={{remise._id.mth}}&y={{remise._id.yr}}" >Voir Ecriture </a></td>
                          <td><a target="_blank" href="/api/intervention/comptes?m={{remise._id.mth}}&y={{remise._id.yr}}&download=true" download>Comptes Tiers Client</a></td>
                        <td><a target="_blank" href="/api/intervention/ecritureReglements?m={{remise._id.mth}}&y={{remise._id.yr}}&download=true" download >Telecharger Ecriture</a></td>
                    </tr>
                </tbody>
            </table>
            <md-button ng-if="vm.type === 'remise'" class="md-raised md-primary" ng-click="vm.addCheques()">Add Cheques</md-button>
            <md-button ng-if="vm.type === 'remise'" class="md-raised md-warn" ng-click="vm.validateRemise()">Validation Remise</md-button>
        </div>
    </div>
</div>
